<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/default_layout}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>이슈 및 민원현황 통계</title>
    <link th:href="@{/css/common.css}" rel="stylesheet" />
    <link rel="stylesheet" href="/css/stats/issueStatus.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css">
</head>

<th:block layout:fragment="content">
    <!-- 이슈 및 민원현황 통계 -->
    <div class="issueStatusWrappers">
        <!-- <div class="issueStatusHeader"></div> -->
        <main id="issueStatus">
            <div class="mainTitle">
                <h1>이슈 및 민원현황 통계</h1>
            </div>
            <!-- 상단부분 -->
            <form id="queryForm" onSubmit="return false;">
            <section class="privateUseSectionBoxs">
                <div class="privateUseSectionCont">
                    <div class="privateUseSectionContDevide selectSection">
                        <!-- select -->
                        <div class="selectLargeWrap">
                            <div class="selectWrap">
                                <p class="selectTitle miniTitle">
                                    권리확보
                                </p>
                                <div class="selectContentArea">
                                    <div class="hiddenSelectBox">
                                        <select name="SEARCH_PERMITTED" id="issueStatusSelectBox01_1" hidden>
                                            <option value="">전체</option>
                                            <option value="지상권">지상권</option>
                                            <option value="점용">점용</option>
                                            <option value="미설정">미설정</option>
                                            <option value="회사토지">회사토지</option>
                                        </select>
                                    </div>
                                    <!--보여지는 셀렉박스-->
                                    <div class="customSelectBox">
                                        <button class="customSelectView">전체</button>
                                        <ul class="customSelectBtns"></ul>
                                    </div>
                                </div>
                            </div>
                            <div class="selectWrap">
                                <p class="selectTitle miniTitle">
                                    계약여부
                                </p>
                                <div class="selectContentArea">
                                    <div class="hiddenSelectBox">
                                        <select name="SEARCH_REGISTED" id="issueStatusSelectBox01_2" hidden>
                                            <option value="">전체</option>
                                            <option value="Y">계약 체결/허가증 보유</option>
                                            <option value="N">계약 미체결/허가증 미보유</option>
                                        </select>
                                    </div>
                                    <!--보여지는 셀렉박스-->
                                    <div class="customSelectBox">
                                        <button class="customSelectView">전체</button>
                                        <ul class="customSelectBtns"></ul>
                                    </div>
                                </div>
                            </div>
                            <div class="inputWrap">
                                <p class="selectTitle miniTitle">
                                    민원 발생일자
                                </p>

                                <div class="dateInputBox">
                                    <div class="dateInputWrap">
                                        <input type="date" name="SEARCH_START_DAY" data-placeholder="24/01/01" />
                                    </div>
                                    <span class="dateBar"></span>
                                    <div class="dateInputWrap">
                                        <input type="date" name="SEARCH_END_DAY" data-placeholder="24/06/26" />
                                    </div>
                                </div>
                            </div>
                            <div class="selectWrap">
                                <p class="selectTitle miniTitle">
                                    발생지사
                                </p>
                                <div class="selectContentArea">
                                    <div class="hiddenSelectBox">
                                        <select name="SEARCH_JISA" id="issueStatusSelectBox01_3" hidden>
                                            <option value="">전체</option>
                                            <option th:each="val:${jisaList}" th:value="${val.jm_jisa_name}" th:text="${val.jm_jisa_name}"></option>
                                        </select>
                                    </div>
                                    <!--보여지는 셀렉박스-->
                                    <div class="customSelectBox">
                                        <button class="customSelectView">전체</button>
                                        <ul class="customSelectBtns"></ul>
                                    </div>
                                </div>
                            </div>
                            <div class="selectWrap">
                                <p class="selectTitle miniTitle">
                                    민원 진행현황
                                </p>
                                <div class="selectContentArea">
                                    <div class="hiddenSelectBox">
                                        <select name="SEARCH_STATUS" id="issueStatusSelectBox01_4" hidden>
                                            <option value="">전체</option>
                                            <option value="">임시저장</option>
                                            <option value="">민원발생</option>
                                            <option value="">대응방안수립</option>
                                            <option value="">협의중</option>
                                            <option value="">완료</option>
                                        </select>
                                    </div>
                                    <!--보여지는 셀렉박스-->
                                    <div class="customSelectBox">
                                        <button class="customSelectView">전체</button>
                                        <ul class="customSelectBtns"></ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="privateUseSectionContDevide selectSection selectSectionBetween">
                        <!-- select -->
                        <div class="selectPlace">
                            <p class="selectTitle miniTitle">이슈유형</p>

                            <div class="selectLargeWrap">
                                <div class="selectWrap">
                                    <div class="selectContentArea">
                                        <div class="hiddenSelectBox">
                                            <select name="SEARCH_CODE_1" id="issueStatusSelectBox02_1" hidden>
                                                <option value="전체">대분류</option>
                                            </select>
                                        </div>
                                        <!--보여지는 셀렉박스-->
                                        <div class="customSelectBox">
                                            <button class="customSelectView">대분류</button>
                                            <ul class="customSelectBtns" id="depth1Codes"></ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="selectWrap">
                                    <div class="selectContentArea">
                                        <div class="hiddenSelectBox">
                                            <select name="SEARCH_CODE_2" id="issueStatusSelectBox02_2" hidden>
                                                <option value="">중분류</option>
                                            </select>
                                        </div>
                                        <!--보여지는 셀렉박스-->
                                        <div class="customSelectBox">
                                            <button class="customSelectView">중분류</button>
                                            <ul class="customSelectBtns" id="depth2Codes"></ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="selectWrap">
                                    <div class="selectContentArea">
                                        <div class="hiddenSelectBox">
                                            <select name="SEARCH_CODE_3" id="issueStatusSelectBox02_3" hidden>
                                                <option value="">세분류</option>
                                            </select>
                                        </div>
                                        <!--보여지는 셀렉박스-->
                                        <div class="customSelectBox">
                                            <button class="customSelectView">세분류</button>
                                            <ul class="customSelectBtns" id="depth3Codes"></ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--privateUseSectionBtns-->
                        <div class="privateUseSectionBtnBoxs">
                            <button class="viewBtn issueStatusBtn">조회하기</button>
                        </div>
                    </div>


                </div>
            </section>
            </form>

            <!-- table부분 -->
            <div class="tableArea">
                <div class="contWrap contentScr">
                    <div class="depth1" id="depth1Div">
                        <table>
                            <caption class="hiddenCaption">이슈 및 민원현황 통계</caption>

                            <thead>
                                <tr>
                                    <th rowspan="2">
                                        <p>등기여부</p>
                                    </th>
                                    <th rowspan="2">
                                        <p>계약여부</p>
                                    </th>
                                    <th colspan="3">
                                        <p>관로부지 ISSUE 세부유형</p>
                                    </th>
                                    <th rowspan="2">
                                        <p>잠재여부 관리필지</p>
                                    </th>
                                    <th rowspan="2">
                                        <p>민원발생건수</p>
                                    </th>
                                </tr>
                                <tr>
                                    <th>
                                        <p>대분류</p>
                                    </th>
                                    <th>
                                        <p>중분류</p>
                                    </th>
                                    <th>
                                        <p>세분류</p>
                                    </th>
                                </tr>
                            </thead>

                            <tbody id="tbody1">
                            </tbody>
                        </table>
                    </div>
                    <div class="depth2" id="depth2Div" hidden>
                        <table>
                            <caption class="hiddenCaption">이슈 및 민원현황 통계</caption>

                            <thead>
                                <tr>
                                    <th rowspan="2">
                                        <p>등기여부</p>
                                    </th>
                                    <th rowspan="2">
                                        <p>계약여부</p>
                                    </th>
                                    <th colspan="3">
                                        <p>관로부지 ISSUE 세부유형</p>
                                    </th>
                                    <th rowspan="2">
                                        <p>잠재여부 관리필지</p>
                                    </th>
                                    <th rowspan="2">
                                        <p>민원발생건수</p>
                                    </th>
                                </tr>
                                <tr>
                                    <th>
                                        <p>대분류(계약대상 및 종류)</p>
                                    </th>
                                    <th>
                                        <p>중분류(권리현황)</p>
                                    </th>
                                    <th>
                                        <p>세분류</p>
                                    </th>
                                </tr>
                            </thead>

                            <tbody id="tbody2">
                                <!-- 지상권 미설정 -->
                                <!-- 등기불가사유 존재 끝 -->
                            </tbody>
                        </table>
                    </div>
                    <div class="depth3" id="depth3Div" hidden>
                        <table>
                            <caption class="hiddenCaption">이슈 및 민원현황 통계</caption>

                            <thead>
                                <tr>
                                    <th rowspan="2">
                                        <p>점용여부</p>
                                    </th>
                                    <th rowspan="2">
                                        <p>계약여부</p>
                                    </th>
                                    <th colspan="3">
                                        <p>관로부지 ISSUE 세부유형</p>
                                    </th>
                                    <th rowspan="2">
                                        <p>잠재여부 관리필지</p>
                                    </th>
                                    <th rowspan="2">
                                        <p>민원발생건수</p>
                                    </th>
                                </tr>
                                <tr>
                                    <th>
                                        <p>대분류(납부여부)</p>
                                    </th>
                                    <th>
                                        <p>중분류(부과<span class="smallSpan">(고지)</span>여부 및 권리변동)</p>
                                    </th>
                                    <th>
                                        <p>세분류</p>
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="tbody3">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </main>
    </div>

    <!--잠재이슈 등록 필지 조회 팝업-->
    <div id="issueStatusParcelPopupWrapper" class="potential_issue_Popup">
    </div>

    <!--민원발생 필지 조회-->
    <div id="issueStatusComplaintPopupWrapper" class="potential_issue_Popup">
    </div>




        <!-- script -->
        <!-- <script type="module" src="/components/surfaceMain.js"></script> -->
        <script src="../../js/stats/issueStatus.js"></script>
</th:block>

</html>