<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>이슈 및 민원현황 통계</title>
    <link th:href="@{/css/common.css}" rel="stylesheet" />
    <link rel="stylesheet" href="/css/stats/issueStatus.css">
</head>
<body>
<!-- 이슈 및 민원현황 통계 -->
<div class="issueStatusWrappers">
    <div class="issueStatusHeader"></div>
    <main id="issueStatus">
        <div class="mainTitle">
            <h1>이슈 및 민원현황 통계</h1>
        </div>
        <!-- 상단부분 -->
        <section class="privateUseSectionBoxs">
            <div class="privateUseSectionCont">
                <div class="privateUseSectionContDevide selectSection">
                    <!-- select -->
                    <div class="selectLargeWrap">
                        <div class="selectWrap">
                            <p class="selectTitle miniTitle">
                                권리확보
                            </p>
                            <div class="selectContentArea">
                                <div class="hiddenSelectBox">
                                    <select id="issueStatusSelectBox01_1" hidden>
                                        <option value="전체">전체</option>
                                        <option value="전체1">전체1</option>
                                        <option value="전체2">전체2</option>
                                        <option value="전체3">전체3</option>
                                        <option value="전체4">전체4</option>
                                        <option value="전체5">전체5</option>
                                        <option value="전체6">전체6</option>
                                    </select>
                                </div>
                                <!--보여지는 셀렉박스-->
                                <div class="customSelectBox">
                                    <button class="customSelectView">전체</button>
                                    <ul class="customSelectBtns"></ul>
                                </div>
                            </div>
                        </div>
                        <div class="selectWrap">
                            <p class="selectTitle miniTitle">
                                계약여부
                            </p>
                            <div class="selectContentArea">
                                <div class="hiddenSelectBox">
                                    <select id="issueStatusSelectBox01_2" hidden>
                                        <option value="전체">전체</option>
                                        <option value="전체1">전체1</option>
                                        <option value="전체2">전체2</option>
                                        <option value="전체3">전체3</option>
                                        <option value="전체4">전체4</option>
                                        <option value="전체5">전체5</option>
                                        <option value="전체6">전체6</option>
                                    </select>
                                </div>
                                <!--보여지는 셀렉박스-->
                                <div class="customSelectBox">
                                    <button class="customSelectView">전체</button>
                                    <ul class="customSelectBtns"></ul>
                                </div>
                            </div>
                        </div>
                        <div class="inputWrap">
                            <p class="selectTitle miniTitle">
                                민원 발생일자
                            </p>

                            <div class="dateInputBox">
                                <div class="dateInputWrap">
                                    <input
                                            type="date"
                                            data-placeholder="24/01/01"
                                            required
                                            aria-required="true" />
                                </div>
                                <span class="dateBar"></span>
                                <div class="dateInputWrap">
                                    <input
                                            type="date"
                                            data-placeholder="24/06/26"
                                            required
                                            aria-required="true" />
                                </div>
                            </div>
                        </div>
                        <div class="selectWrap">
                            <p class="selectTitle miniTitle">
                                발생지사
                            </p>
                            <div class="selectContentArea">
                                <div class="hiddenSelectBox">
                                    <select id="issueStatusSelectBox01_3" hidden>
                                        <option value="전체">전체</option>
                                        <option value="전체1">전체1</option>
                                        <option value="전체2">전체2</option>
                                        <option value="전체3">전체3</option>
                                        <option value="전체4">전체4</option>
                                        <option value="전체5">전체5</option>
                                        <option value="전체6">전체6</option>
                                    </select>
                                </div>
                                <!--보여지는 셀렉박스-->
                                <div class="customSelectBox">
                                    <button class="customSelectView">전체</button>
                                    <ul class="customSelectBtns"></ul>
                                </div>
                            </div>
                        </div>
                        <div class="selectWrap">
                            <p class="selectTitle miniTitle">
                                민원 진행현황
                            </p>
                            <div class="selectContentArea">
                                <div class="hiddenSelectBox">
                                    <select id="issueStatusSelectBox01_4" hidden>
                                        <option value="전체">전체</option>
                                        <option value="전체1">전체1</option>
                                        <option value="전체2">전체2</option>
                                        <option value="전체3">전체3</option>
                                        <option value="전체4">전체4</option>
                                        <option value="전체5">전체5</option>
                                        <option value="전체6">전체6</option>
                                    </select>
                                </div>
                                <!--보여지는 셀렉박스-->
                                <div class="customSelectBox">
                                    <button class="customSelectView">전체</button>
                                    <ul class="customSelectBtns"></ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="privateUseSectionContDevide selectSection selectSectionBetween">
                    <!-- select -->
                    <div class="selectPlace">
                        <p class="selectTitle miniTitle">이슈유형</p>

                        <div class="selectLargeWrap">
                            <div class="selectWrap">
                                <div class="selectContentArea">
                                    <div class="hiddenSelectBox">
                                        <select id="issueStatusSelectBox02_1" hidden>
                                            <option value="전체">전체</option>
                                            <option value="전체1">전체1</option>
                                            <option value="전체2">전체2</option>
                                            <option value="전체3">전체3</option>
                                            <option value="전체4">전체4</option>
                                            <option value="전체5">전체5</option>
                                            <option value="전체6">전체6</option>
                                        </select>
                                    </div>
                                    <!--보여지는 셀렉박스-->
                                    <div class="customSelectBox">
                                        <button class="customSelectView">대분류</button>
                                        <ul class="customSelectBtns"></ul>
                                    </div>
                                </div>
                            </div>
                            <div class="selectWrap">
                                <div class="selectContentArea">
                                    <div class="hiddenSelectBox">
                                        <select id="issueStatusSelectBox02_2" hidden>
                                            <option value="전체">전체</option>
                                            <option value="전체1">전체1</option>
                                            <option value="전체2">전체2</option>
                                            <option value="전체3">전체3</option>
                                            <option value="전체4">전체4</option>
                                            <option value="전체5">전체5</option>
                                            <option value="전체6">전체6</option>
                                        </select>
                                    </div>
                                    <!--보여지는 셀렉박스-->
                                    <div class="customSelectBox">
                                        <button class="customSelectView">중분류</button>
                                        <ul class="customSelectBtns"></ul>
                                    </div>
                                </div>
                            </div>
                            <div class="selectWrap">
                                <div class="selectContentArea">
                                    <div class="hiddenSelectBox">
                                        <select id="issueStatusSelectBox02_3" hidden>
                                            <option value="전체">전체</option>
                                            <option value="전체1">전체1</option>
                                            <option value="전체2">전체2</option>
                                            <option value="전체3">전체3</option>
                                            <option value="전체4">전체4</option>
                                            <option value="전체5">전체5</option>
                                            <option value="전체6">전체6</option>
                                        </select>
                                    </div>
                                    <!--보여지는 셀렉박스-->
                                    <div class="customSelectBox">
                                        <button class="customSelectView">세분류</button>
                                        <ul class="customSelectBtns"></ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--privateUseSectionBtns-->
                    <div class="privateUseSectionBtnBoxs">
                        <button class="viewBtn issueStatusBtn">조회하기</button>
                    </div>
                </div>


            </div>
        </section>

        <!-- table부분 -->
        <div class="tableArea">
            <div class="contWrap contentScr">
                <div class="depth1">
                    <table>
                        <caption class="hiddenCaption">이슈 및 민원현황 통계</caption>

                        <thead>
                        <tr>
                            <th rowspan="2">
                                <p>등기여부</p>
                            </th>
                            <th rowspan="2">
                                <p>계약여부</p>
                            </th>
                            <th colspan="3">
                                <p>관로부지 ISSUE 세부유형</p>
                            </th>
                            <th rowspan="2">
                                <p>잠재여부 관리필지</p>
                            </th>
                            <th rowspan="2">
                                <p>민원발생건수</p>
                            </th>
                        </tr>
                        <tr>
                            <th>
                                <p>대분류</p>
                            </th>
                            <th>
                                <p>중분류</p>
                            </th>
                            <th>
                                <p>세분류</p>
                            </th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr>
                            <td rowspan="2">
                                <p>지상권 설정</p>
                            </td>
                            <td rowspan="2">
                                <p>계약 체결</p>
                            </td>
                            <td>
                                <p>계약조건 불만족</p>
                            </td>
                            <td>
                                <p>지가상승으로 인한 과거설정지료 과소</p>
                            </td>
                            <td>
                                <p>추가보상 요구</p>
                            </td>
                            <td class="parcelPopupOpen">
                                <p class="textunderline">4,555</p>
                            </td>
                            <td class="complaintPopupOpen">
                                <p class="textunderline">2</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>지상권설정 오류</p>
                            </td>
                            <td>
                                <p>오류매설 및 존치기간 이의제기</p>
                            </td>
                            <td>
                                <p>철거 또는 추가보상 요구</p>
                            </td>
                            <td class="parcelPopupOpen">
                                <p class="textunderline">0</p>
                            </td>
                            <td class="complaintPopupOpen">
                                <p class="textunderline">0</p>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="depth2">
                    <table>
                        <caption class="hiddenCaption">이슈 및 민원현황 통계</caption>

                        <thead>
                        <tr>
                            <th rowspan="2">
                                <p>등기여부</p>
                            </th>
                            <th rowspan="2">
                                <p>계약여부</p>
                            </th>
                            <th colspan="3">
                                <p>관로부지 ISSUE 세부유형</p>
                            </th>
                            <th rowspan="2">
                                <p>잠재여부 관리필지</p>
                            </th>
                            <th rowspan="2">
                                <p>민원발생건수</p>
                            </th>
                        </tr>
                        <tr>
                            <th>
                                <p>대분류(계약대상 및 종류)</p>
                            </th>
                            <th>
                                <p>중분류(권리현황)</p>
                            </th>
                            <th>
                                <p>세분류</p>
                            </th>
                        </tr>
                        </thead>

                        <tbody>
                        <!-- 지상권 미설정 -->
                        <tr>
                            <td rowspan="21">
                                <p>지상권 미설정</p>
                            </td>
                            <td rowspan="13">
                                <p>계약 체결</p>
                            </td>
                            <td rowspan="9">
                                <p>토지 소유자와 계약</p>
                            </td>
                            <td rowspan="3">
                                <p>소유자 변경 없음</p>
                            </td>
                            <td>
                                <p>등기진행 누락</p>
                            </td>
                            <td class="parcelPopupOpen">
                                <p class="textunderline">1,000</p>
                            </td>
                            <td class="complaintPopupOpen">
                                <p class="textunderline">10</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>타권리와의 충돌</p>
                            </td>
                            <td class="parcelPopupOpen">
                                <p class="textunderline">1,000</p>
                            </td>
                            <td class="complaintPopupOpen">
                                <p class="textunderline">10</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>계약서 미날인</p>
                            </td>
                            <td class="parcelPopupOpen">
                                <p class="textunderline">1,000</p>
                            </td>
                            <td class="complaintPopupOpen">
                                <p class="textunderline">10</p>
                            </td>
                        </tr>
                        <!-- 소유자 변경없음 끝, 소유자 변경 발생 시작 -->
                        <tr>
                            <td rowspan="3">
                                <p>소유자 변경 발생</p>
                            </td>
                            <td>
                                <p>변경일로 부터 5년 이내</p>
                            </td>
                            <td class="parcelPopupOpen">
                                <p class="textunderline">1,000</p>
                            </td>
                            <td class="complaintPopupOpen">
                                <p class="textunderline">10</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>변경일로 부터 20년 이내</p>
                            </td>
                            <td class="parcelPopupOpen">
                                <p class="textunderline">1,000</p>
                            </td>
                            <td class="complaintPopupOpen">
                                <p class="textunderline">10</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>변경일로 부터 20년 초과</p>
                            </td>
                            <td class="parcelPopupOpen">
                                <p class="textunderline">1,000</p>
                            </td>
                            <td class="complaintPopupOpen">
                                <p class="textunderline">10</p>
                            </td>
                        </tr>
                        <!-- 소유자 변경 발생 끝, 권리상실 시작 -->
                        <tr>
                            <td rowspan="3">
                                <p>권리상실</p>
                            </td>
                            <td>
                                <p>토지개발사업 편입 / 지상권 소멸</p>
                            </td>
                            <td class="parcelPopupOpen">
                                <p class="textunderline">1,000</p>
                            </td>
                            <td class="complaintPopupOpen">
                                <p class="textunderline">10</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>등기공무원의 지상권 이기누락(소실)</p>
                            </td>
                            <td class="parcelPopupOpen">
                                <p class="textunderline">1,000</p>
                            </td>
                            <td class="complaintPopupOpen">
                                <p class="textunderline">10</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>해지업무 착오로 인한 지상권 소실</p>
                            </td>
                            <td class="parcelPopupOpen">
                                <p class="textunderline">1,000</p>
                            </td>
                            <td class="complaintPopupOpen">
                                <p class="textunderline">10</p>
                            </td>
                        </tr>
                        <!-- 권리상실, 토지 소유자와 계약 끝, 토지 소유자가 아닌 자와 계약 시작 -->
                        <tr>
                            <td rowspan="4">
                                <p>토지소유자가 아닌자와 계약</p>
                            </td>
                            <td rowspan="4">
                                <p>계약자 변경 발생</p>
                            </td>
                            <td>
                                <p>사실을 안날, 3년 이내</p>
                            </td>
                            <td class="parcelPopupOpen">
                                <p class="textunderline">1,000</p>
                            </td>
                            <td class="complaintPopupOpen">
                                <p class="textunderline">10</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>계약일로 부터 10년 이내</p>
                            </td>
                            <td class="parcelPopupOpen">
                                <p class="textunderline">1,000</p>
                            </td>
                            <td class="complaintPopupOpen">
                                <p class="textunderline">10</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>계약일로 부터 20년 이내</p>
                            </td>
                            <td class="parcelPopupOpen">
                                <p class="textunderline">1,000</p>
                            </td>
                            <td class="complaintPopupOpen">
                                <p class="textunderline">10</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>계약일로 부터 20년 초과</p>
                            </td>
                            <td class="parcelPopupOpen">
                                <p class="textunderline">1,000</p>
                            </td>
                            <td class="complaintPopupOpen">
                                <p class="textunderline">10</p>
                            </td>
                        </tr>
                        <!-- 계약자 변경 발생, 토지 소유자가 아닌 자와 계약, 계약체결 끝 , 계약 미체결 시작 -->
                        <tr>
                            <td rowspan="8">
                                <p>계약 미체결</p>
                            </td>
                            <td rowspan="3">
                                <p>기공승낙서 존재</p>
                            </td>
                            <td rowspan="2">
                                <p>소유자 변경 없음</p>
                            </td>
                            <td>
                                <p>보상금 지급(일부지급 포함)</p>
                            </td>
                            <td class="parcelPopupOpen">
                                <p class="textunderline">1,000</p>
                            </td>
                            <td class="complaintPopupOpen">
                                <p class="textunderline">10</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>보상금 미지급</p>
                            </td>
                            <td class="parcelPopupOpen">
                                <p class="textunderline">1,000</p>
                            </td>
                            <td class="complaintPopupOpen">
                                <p class="textunderline">10</p>
                            </td>
                        </tr>
                        <!-- 소유자변경 없음 끝, 소유자 변경 발생 시작 -->
                        <tr>
                            <td>
                                <p>소유자 변경 발생</p>
                            </td>
                            <td>
                                <p>보상금 지급 / 미지급</p>
                            </td>
                            <td class="parcelPopupOpen">
                                <p class="textunderline">1,000</p>
                            </td>
                            <td class="complaintPopupOpen">
                                <p class="textunderline">10</p>
                            </td>
                        </tr>
                        <tr>
                            <td rowspan="5">
                                <p>기공승낙서 미존재</p>
                            </td>
                            <td>
                                <p>토지소유자 협의없이 매설</p>
                            </td>
                            <td>
                                <p>오류 / 무단매설</p>
                            </td>
                            <td class="parcelPopupOpen">
                                <p class="textunderline">1,000</p>
                            </td>
                            <td class="complaintPopupOpen">
                                <p class="textunderline">10</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>토지개발사업 편입</p>
                            </td>
                            <td>
                                <p>송유관 매설부지의 권리 변경</p>
                            </td>
                            <td class="parcelPopupOpen">
                                <p class="textunderline">1,000</p>
                            </td>
                            <td class="complaintPopupOpen">
                                <p class="textunderline">10</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>토지소유자 변경</p>
                            </td>
                            <td>
                                <p>국유지의 용도폐지(사유지)</p>
                            </td>
                            <td class="parcelPopupOpen">
                                <p class="textunderline">1,000</p>
                            </td>
                            <td class="complaintPopupOpen">
                                <p class="textunderline">10</p>
                            </td>
                        </tr>
                        <tr>
                            <td rowspan="2">
                                <p>등기불가사유 존재</p>
                            </td>
                            <td>
                                <p>지번 확인 불가</p>
                            </td>
                            <td class="parcelPopupOpen">
                                <p class="textunderline">1,000</p>
                            </td>
                            <td class="complaintPopupOpen">
                                <p class="textunderline">10</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>소유자 확인 불가</p>
                            </td>
                            <td class="parcelPopupOpen">
                                <p class="textunderline">1,000</p>
                            </td>
                            <td class="complaintPopupOpen">
                                <p class="textunderline">10</p>
                            </td>
                        </tr>
                        <!-- 등기불가사유 존재 끝 -->
                        </tbody>
                    </table>
                </div>
                <div class="depth3">
                    <table>
                        <caption class="hiddenCaption">이슈 및 민원현황 통계</caption>

                        <thead>
                        <tr>
                            <th rowspan="2">
                                <p>점용여부</p>
                            </th>
                            <th rowspan="2">
                                <p>계약여부</p>
                            </th>
                            <th colspan="3">
                                <p>관로부지 ISSUE 세부유형</p>
                            </th>
                            <th rowspan="2">
                                <p>잠재여부 관리필지</p>
                            </th>
                            <th rowspan="2">
                                <p>민원발생건수</p>
                            </th>
                        </tr>
                        <tr>
                            <th>
                                <p>대분류(납부여부)</p>
                            </th>
                            <th>
                                <p>중분류(부과<span class="smallSpan">(고지)</span>여부 및 권리변동)</p>
                            </th>
                            <th>
                                <p>세분류</p>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td rowspan="4">
                                <p>점용</p>
                            </td>
                            <td rowspan="4">
                                <p>허가증 보유</p>
                            </td>
                            <td rowspan="4">
                                <p>점용료 미납부</p>
                            </td>
                            <td rowspan="2">
                                <p>미 부과</p>
                            </td>
                            <td>
                                <p>영구 무상점용</p>
                            </td>
                            <td>
                                <p class="textunderline">1,000</p>
                            </td>
                            <td>
                                <p class="textunderline">10</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>소액 미청구</p>
                            </td>
                            <td>
                                <p class="textunderline">1,000</p>
                            </td>
                            <td>
                                <p class="textunderline">10</p>
                            </td>
                        </tr>
                        <!-- 미부과 끝 -->
                        <tr>
                            <td rowspan="2">
                                <p>미 고지</p>
                            </td>
                            <td>
                                <p>점용기간 미경과, 연납부 기한 경과</p>
                            </td>
                            <td>
                                <p class="textunderline">1,000</p>
                            </td>
                            <td>
                                <p class="textunderline">10</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>점용기간 경과</p>
                            </td>
                            <td>
                                <p class="textunderline">1,000</p>
                            </td>
                            <td>
                                <p class="textunderline">10</p>
                            </td>
                        </tr>
                        <!-- 미고지 끝 -->
                        <tr>
                            <td rowspan="3">
                                <p>미점용</p>
                            </td>
                            <td rowspan="3">
                                <p>허가증 미보유</p>
                            </td>
                            <td rowspan="3">
                                <p>점용료 미납부</p>
                            </td>
                            <td>
                                <p>미 고지</p>
                            </td>
                            <td>
                                <p>점용허가 재검증</p>
                            </td>
                            <td>
                                <p class="textunderline">1,000</p>
                            </td>
                            <td>
                                <p class="textunderline">10</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>토지소유자 변경</p>
                            </td>
                            <td>
                                <p>사지의 국유지 편입</p>
                            </td>
                            <td>
                                <p class="textunderline">1,000</p>
                            </td>
                            <td>
                                <p class="textunderline">10</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>신규발견</p>
                            </td>
                            <td>
                                <p>ILI 조사결과 확인</p>
                            </td>
                            <td>
                                <p class="textunderline">1,000</p>
                            </td>
                            <td>
                                <p class="textunderline">10</p>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
</div>
<div class="issueStatusParcelPopupWrapper"></div>
<div class="issueStatusComplaintPopupWrapper"></div>


<!-- script -->
<script type="module" src="/components/surfaceMain.js"></script>
<script src="../../js/stats/issueStatus.js"></script>
</body>
</html>