<script src="/vendor/jquery/jquery.min.js"></script>
<link rel="stylesheet" href="/assets/css/popup/issuePopup.css">
<div id="searchResultsPopup1">
    <div class="popupWrap active" id="popupWrap" style="width:60%">
        <h2>
            <p>민원발생 필지 조회</p>
            <span class="topCloseBtn"></span>
        </h2>
        <div class="potential_issue_classification">
            <p>
                <span th:text="${depth1name}"></span>
                <span class="double_arrow"></span>
                <span th:text="${depth2name}"></span>
                <span class="double_arrow"></span>
                <span th:text="${depth3name}"></span>
            </p>
<!--            <button>-->
<!--                <p>엑셀 다운로드</p>-->
<!--                <figure>-->
<!--                    <img src="/assets/media/popup/images/download.png" alt="download" />-->
<!--                </figure>-->
<!--            </button>-->
        </div>
        <section class="potential_sec1">
            <p class="potential_total_num">
                <span>총 검색 건 수</span>
                <span class="num_blue" id="totalCount"></span>
                <span>건</span>
            </p>
            <!-- 민원발생 테이블 -->
            <div class="popupCont">
                <ul class="popTitles">
                    <li class="popTitle05">순번</li>
                    <li class="popTitle07">발생지사</li>
                    <li class="popTitle07">발생일자</li>
                    <li class="popTitle06">민원명</li>
                    <li class="popTitle07">민원상태</li>
                    <li class="popTitle06">주소</li>
                    <li class="popTitle07">대표필지여부</li>
                    <li class="popTitle07">권리확보</li>
                    <li class="popTitle01">계약여부</li>
                </ul>


                <!-- 민원발생 테이블 내용 추가되는 부분 -->
                <div class="popContentBox" id="resultList">
                </div>
            </div>
        </section>
        <section>
            <div class="pilji_info_Popup_boardPageBoxs">
                <ul>
                    <li class="arrowLeftWrapper">
                        <button onclick="firstPage()">
                            <img
                                    src="/assets/media/popup/images/arrowRightLine02.png"
                                    alt="preBtnImg"
                            />
                        </button>
                        <button onclick="prevPage()">
                            <img
                                    src="/assets/media/popup/images/arrowRightLine01.png"
                                    alt="preBtnImg"
                            />
                        </button>
                    </li>
                    <li class="pageCountBoxs" id="pagination">
                        <p>1</p>
                    </li>
                    <li class="arrowRightWrapper">
                        <button onclick="nextPage()">
                            <img
                                    src="/assets/media/popup/images/arrowRightLine01.png"
                                    alt="nextBtnImg"
                            />
                        </button>
                        <button onclick="lastPage()">
                            <img
                                    src="/assets/media/popup/images/arrowRightLine02.png"
                                    alt="nextBtnImg"
                            />
                        </button>
                    </li>
                </ul>
            </div>
        </section>

        <div class="lastBtnBox btnWrap">
            <button class="backbtn finalBtn" id="popupCloseBtn"  style="background: #919191;">닫기</button>
        </div>
    </div>
</div>
<script>
    var pageNum = 0;
    var pageNo = 1;
    var totalCount = 0;
    var jisa = '[[${jisa}]]';
    var depth1 = '[[${depth1code}]]';
    var depth2 = '[[${depth2code}]]';
    var depth3 = '[[${depth3code}]]';
    var resultData = [];

    function loadData() {
        var allData = 'jisa=' + jisa + '&pageNum=' + pageNo + '&pageCnt=10';
        allData += '&SEARCH_CODE_1=' + depth1 + '&SEARCH_CODE_2=' + depth2 + '&SEARCH_CODE_3=' + depth3;

        $.ajax({
            url: "/statics/selectMinwonPnuByCode?" + allData,
            data: JSON.stringify(allData),
            async: true,
            type: "POST",
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            success: function (response) {
              console.log(response);
<!--              if (response.success = "Y") {-->
                totalCount = response.TOTALCNT;
                resultData = response.dataList;

                $('#totalCount').html(totalCount);
                pageNum = Math.floor(totalCount / 10);
                if (totalCount % 10 > 0) {
                    pageNum += 1;
                }

                display();
<!--              }-->
            },
            error: function () {
            }
        });
    }
    loadData();

    function display() {
        var startIdx = (pageNo - 1) * 10;

        var resultStr = '';
        for (var i = 0; i < resultData.length; i++) {
            var row = resultData[i];

            var seq = (pageNo - 1) * 10 + 1 + i;
            var juso = row.mp_sido_nm + ' ' + row.mp_sgg_nm + ' ' + row.mp_emd_nm + ' ' + row.mp_jibun;
            resultStr += '<ul class="popContents">';
            resultStr += '<li class="popContent05"><p>'+(seq)+'</p></li>';
            resultStr += '<li class="popContent07"><p>'+row.mm_jisa+'</p></li>';
            resultStr += '<li class="popContent07"><p>'+row.mw_occur_date+'</p></li>';
            resultStr += '<li class="popContent06"><p>'+row.mm_mw_title+'</p></li>';
            resultStr += '<li class="popContent07"><p>'+row.status_str+'</p></li>';
            resultStr += '<li class="popContent06"><p>'+juso+'</p></li>';
            resultStr += '<li class="popContent07"><p>'+row.mp_rep_yn+'</p></li>';
            resultStr += '<li class="popContent07"><p>'+row.mp_registed_yn+'</p></li>';
            resultStr += '<li class="popContent01"><p>'+row.mp_permitted_yn+'</p></li>';
            resultStr += '</ul>';
        }

        $('#resultList').html(resultStr);

        // pagination
        var pagiStr = '';
        var startNo = Math.floor((pageNo - 1) / 5) * 5 + 1;
        var endNo = startNo + 5 < pageNum + 1 ? startNo + 5 : pageNum + 1;
        for (var i = startNo; i < endNo; i++) {
            if (i == pageNo) {
                pagiStr += '<p class="active" onclick="goPage(' + i + ')">' + i + '</p>';
            } else {
                pagiStr += '<p onclick="goPage(' + i + ')">' + i + '</p>';
            }
        }
        $('#pagination').html(pagiStr);
    }

    function prevPage() {
        if (pageNo > 1) {
            pageNo -= 1;
            loadData();
        }
    }

    function nextPage() {
        if (pageNo < pageNum) {
            pageNo += 1;
            loadData();
        }
    }

    function firstPage() {
        pageNo = 1;
        loadData();
    }

    function lastPage() {
        pageNo = pageNum;
        loadData();
    }

    function goPage(no) {
        pageNo = no;
        loadData();
    }
</script>