<script src="/vendor/jquery/jquery.min.js"></script>
<link rel="stylesheet" href="/assets/css/popup/issuePopup.css">
<div id="searchResultsPopup">
    <div class="popupWrap active" id="popupWrap" style="width:800px">
        <h2>
            <p>필지 정보</p>
            <span class="topCloseBtn"></span>
        </h2>
        <div class="pilji_total">
            <p>
                <span>총 검색 건 수</span>
                <span class="total_blue" id="totalCount">0</span>
                <span>건</span>
            </p>
<!--            <button>-->
<!--                <p>엑셀 다운로드</p>-->
<!--                <figure>-->
<!--                    <img src="/assets/media/popup/images/download.png" alt="download" />-->
<!--                </figure>-->
<!--            </button>-->
        </div>
        <section>
            <div class="popupCont">
                <ul class="popTitles">
                    <li class="popTitle05">순번</li>
                    <li class="popTitle03">발생지사</li>
                    <li class="popTitle06">주소</li>
                    <li class="popTitle01">권리확보</li>
                </ul>
                <div class="popContentBox" id="resultList">
                </div>

            </div>
        </section>
        <!-- 페이네이션 -->
        <section>
            <div class="pilji_info_Popup_boardPageBoxs">
                <ul>
                    <li class="arrowLeftWrapper">
                        <button onclick="firstPage()">
                            <img src="/assets/media/popup/images/arrowRightLine02.png" alt="preBtnImg" />
                        </button>
                        <button onclick="prevPage()">
                            <img src="/assets/media/popup/images/arrowRightLine01.png" alt="preBtnImg" />
                        </button>
                    </li>
                    <li class="pageCountBoxs" id="pagination">
                    </li>
                    <li class="arrowRightWrapper">
                        <button onclick="nextPage()">
                            <img src="/assets/media/popup/images/arrowRightLine01.png" alt="nextBtnImg" />
                        </button>
                        <button onclick="lastPage()">
                            <img src="/assets/media/popup/images/arrowRightLine02.png" alt="nextBtnImg" />
                        </button>
                    </li>
                </ul>
            </div>
        </section>
        <div class="lastBtnBox btnWrap">
            <button class="backBtn finalBtn" id="popupCloseBtn">닫기</button>
            <button class="backbtn finalBtn" id="excelDownloadBtn1" style="background: green;">엑셀다운로드</button>
        </div>
    </div>
</div>
<script>
    var pageNum = 0;
    var pageNo = 1;
    var jisa = '[[${jisa}]]';
    var yyyy = '[[${yyyy}]]';
    var mm = '[[${mm}]]';
    var yyyy_ref = '[[${yyyy_ref}]]';
    var mm_ref = '[[${mm_ref}]]';
    var yyyy_tg = '[[${yyyy_tg}]]';
    var mm_tg = '[[${mm_tg}]]';
    var gubun = '[[${gubun}]]';
    var goverOwn = '[[${gover_own}]]';
    var jisangStatus = '[[${jisang_status}]]';
    var allData = 'JISA=' + jisa + '&YYYY=' + yyyy + '&MM=' + mm + '&GUBUN=' + gubun;
    allData += '&YYYY_REF=' + yyyy_ref + '&MM_REF=' + mm_ref + '&YYYY_TG=' + yyyy_tg + '&MM_TG=' + mm_tg;
    allData += '&GOVER_OWN=' + goverOwn + '&JISANG_STATUS=' + jisangStatus;
    var resultData = [];

    function loadData() {
        $.ajax({
            url: "/statics/selectFieldInDeStatusBoardListDetail?" + allData,
            data: JSON.stringify(allData),
            async: true,
            type: "POST",
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            success: function (response) {
              console.log(response);
              if (response.success = "Y") {
                resultData = response.dataList;

                $('#totalCount').html(resultData.length);
                pageNum = Math.floor(resultData.length / 10);
                if (resultData.length % 10 > 0) {
                    pageNum += 1;
                }

                display();
              }
            },
            error: function () {
            }
        });
    }
    loadData();

    function display() {
        var startIdx = (pageNo - 1) * 10;

        var resultStr = '';
        for (var i = startIdx; i < startIdx + 10; i++) {
            if (i > resultData.length - 1) break;
            var row = resultData[i];

            resultStr += '<ul class="popContents">';
            resultStr += '<li class="popContent05"><p>'+(i + 1)+'</p></li>';
            resultStr += '<li class="popContent03"><p>'+row.desc1+'</p></li>';
            resultStr += '<li class="popContent06"><p>'+row.juso+'</p></li>';
            resultStr += '<li class="popContent01"><p>'+row.jisang_status+'</p></li>';
            resultStr += '</ul>';
        }

        $('#resultList').html(resultStr);

        // pagination
        var pagiStr = '';
        var startNo = Math.floor((pageNo - 1) / 5) * 5 + 1;
        var endNo = startNo + 5 < pageNum + 1 ? startNo + 5 : pageNum + 1;
        for (var i = startNo; i < endNo; i++) {
            if (i == pageNo) {
                pagiStr += '<p class="active" onclick="goPage(' + i + ')">' + i + '</p>';
            } else {
                pagiStr += '<p onclick="goPage(' + i + ')">' + i + '</p>';
            }
        }
        $('#pagination').html(pagiStr);
    }

    function prevPage() {
        if (pageNo > 1) {
            pageNo -= 1;
            display();
        }
    }

    function nextPage() {
        if (pageNo < pageNum) {
            pageNo += 1;
            display();
        }
    }

    function firstPage() {
        pageNo = 1;
        display();
    }

    function lastPage() {
        pageNo = pageNum;
        display();
    }

    function goPage(no) {
        pageNo = no;
        display();
    }
    
    
    
 
    
    $(document).on("click","#excelDownloadBtn1",function(){
   	 console.log("-------------excelDownloadBtn-------------");
   	var url="/statics/selectFieldInDeStatusBoardListDetail?" + allData;
   	console.log(url);
   	 
   	 
   	 		parcelExcelDownLoad2(url);	
   	 

   	 })


   	 function parcelExcelDownLoad2(url){
   	 	var requestUrl = url;
   	 	
   	 	
   	 	
   	 	$.ajax({
   	 			
   	 		    
   	 		    url: requestUrl,
	   	 		 data: JSON.stringify(allData),
	             async: true,
	             type: "POST",
	             dataType: "json",
	             contentType: 'application/json; charset=utf-8',
   	 			success : function(response) {
   	 				resultData = response.dataList;

   	                 console.log(response);
   	 				var data=response.dataList;
   	 				              
   	 				                
   	                 var dataArr=[];
   	 				var head=['순번','발생지사','주소','권리확보'];
   	 				 dataArr.push(head);	
   	 				for(var i=0;i<data.length;i++){
   	 					var togi_type="";
   	 					if (data[i].gover_own_yn=="Y") togi_type="국유지";
   	 					else togi_type="사유지";
   	 					var jisangStatus="";
   	 					var jisangStatusTmp = data[i].jisang_status ? data[i].jisang_status.toLowerCase() : '';
   	 					if (jisangStatusTmp=="jisang") jisangStatus="지상권";
   	 					else if (jisangStatusTmp=="gover") jisangStatus="점용";
   	 					else if (jisangStatusTmp=="notset") jisangStatus="미설정";
   	 					else if (jisangStatusTmp=="dopco") jisangStatus="매입";
   	 					else jisangStatus="";
   	 					var pmtDate = data[i].pmt_st_date == undefined ? "" : data[i].pmt_st_date + " ~ " + data[i].pmt_ed_date; //점용기간
   	 					var occunonpayreasonTitle1 ="";
   	 					var occunonpayreasonTitle2 ="";
   	 					//var occunonpayreasonTitle3 ="";
   	 					if (data[i].occunonpayreason==1) occunonpayreasonTitle1="영구 무상점용";
   	 					if (data[i].occunonpayreason==2) occunonpayreasonTitle1="소액 미청구";
   	 					//if (data[i].occunonpayreason==2) occunonpayreasonTitle1="소액 미청구";
   	 					var mw_status_title="";
   	 					//if (data[i].mm_status==)
   	 					var juso=data[i].mp_sido_nm+" "+data[i].mp_sgg_nm+" "+data[i].mp_emd_nm+" "+data[i].mp_ri_nm+" "+data[i].mp_jibun;
   	 					var rowArr=[(i+1),data[i].desc1,data[i].juso,data[i].jisang_status];
   	 					dataArr.push(rowArr);	
   	 				}
   	 				console.log("--------------excel data------------------");
   	 				console.log(dataArr);
   	 				
   	 				
   	 				// ExcelJS를 이용해 워크북과 워크시트 생성
   	 		          var workbook = new ExcelJS.Workbook();
   	 		          var worksheet = workbook.addWorksheet('Sheet1');

   	 		          // 헤더와 데이터 추가 (빈 셀도 미리 생성)
   	 		          worksheet.columns = head.map(h => ({ header: h, key: h, width: 20 }));
   	 				  dataArr.slice(1).forEach(row => {
   	 				          var rowObject = worksheet.addRow(row);
   	 				          rowObject.eachCell({ includeEmpty: true }, function(cell, colNumber) {
   	 				              cell.value = cell.value || '';  // 공백일 경우 빈 문자열로 초기화
   	 				          });
   	 				      });

   	 					  
   	 					
   	 					  
   	 		          // 스타일 정의 (글꼴, 테두리, 정렬)
   	 		          worksheet.eachRow((row, rowNumber) => {
   	 					if (rowNumber>1){
   	 						row.eachCell((cell, colNumber) => {
   	 			                  cell.font = { size: 10, bold: false };
   	 			                  cell.alignment = { vertical: 'middle', horizontal: 'center' };
   	 			                  cell.border = {
   	 			                      top: { style: 'thin' },
   	 			                      left: { style: 'thin' },
   	 			                      bottom: { style: 'thin' },
   	 			                      right: { style: 'thin' }
   	 			                  };
   	 			              });
   	 					}
   	 					else{
   	 						row.eachCell((cell, colNumber) => {
   	 			                  cell.font = { size: 12, bold: true };
   	 			                  cell.alignment = { vertical: 'middle', horizontal: 'center' };
   	 			                  cell.border = {
   	 			                      top: { style: 'thin' },
   	 			                      left: { style: 'thin' },
   	 			                      bottom: { style: 'thin' },
   	 			                      right: { style: 'thin' }
   	 			                  };
   	 			              });
   	 					}
   	 		              
   	 		          });

   	 				  
   	 				  var unixTime = Date.now();
   	 				  
   	 				  var date = new Date(unixTime);  // Unix 타임스탬프를 Date 객체로 변환

   	 				  // 년-월-일 형식으로 변환
   	 				  var year = date.getFullYear();
   	 				  var month = String(date.getMonth() + 1).padStart(2, '0');  // 월은 0부터 시작하므로 1을 더함
   	 				  var day = String(date.getDate()).padStart(2, '0');  // 일

   	 				  var formattedDate = year + '-' + month + '-' + day;
   	 				  
   	 				  
   	 				      var fileName = '관리필지증감현황_상세정보변동현황_필지정보.xlsx';  // 파일명 생성
   	 		          // 엑셀 파일 다운로드
   	 		          workbook.xlsx.writeBuffer().then(function (buffer) {
   	 		              var blob = new Blob([buffer], { type: 'application/octet-stream' });
   	 		              var link = document.createElement('a');
   	 		              link.href = URL.createObjectURL(blob);
   	 		              link.download = fileName;
   	 		              link.click();
   	 		          });
   	 				
   	 			},
   	 			error:function(request,status,error){
   	 	 			alert("code:"+request.resultCode+"\n"+"message:"+request.resultMessage+"\n"+"error:"+error);
   	 	 		}	
   	 		});


   	 }
    
    
</script>