<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/default_layout}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/common.css}" rel="stylesheet" />
    <link rel="stylesheet" th:href="@{/css/stats/rightCloseMng.css}">
      <script src="/vendor/exceljs.min.js"></script> 
    <title>권리확보현황 마감관리</title>
    <style>
			div.dt-top-container {
				display: grid;
				grid-template-columns: auto auto auto;
			}
			div.dt-center-in-div {
			  margin: 0 auto;
			      float: right;
			    margin-right: 30px;
			}
			div.dt-center-in-div>div{
			display:inline;
			}
			div.dt-filter-spacer {
			  margin: 10px 0;
			  border:1px solid red;
			}
			.dt-title{
			text-align:center;
			width:180px;
			float:right;
			}
			.dt-buttons{
			display:inline-block;
			width:180px;
			}
			.dt-length{
			display:inline-block;
			}
			.dt-button{
			color:white;
			background-color:#4e5871;
			font-size:15px;
			font-weight:600;
			border-radius:10px;
			background-image:url(/assets/media/menu01/download.png);
			background-size:11px;
			background-repeat:no-repeat;
			background-position:123px center;
			/*text-align:left;*/
			margin-right:10px;
			width:159px;
			height:38px;
			}			
			.dt-paging {
			text-align: center;
			}			
			.dt-paging-button {
			  box-sizing: border-box;
			  display: inline-block;
			  min-width: 1.5em;
			  padding: 0.5em 1em;
			  margin-left: 2px;
			  text-align: center;
			  text-decoration: none !important;
			  cursor: pointer;
			  border: 1px solid transparent;
			  border-radius: 2px;
			  background: transparent;
			  color: #007bff !important;
			  font-size: 15px;
			  font-weight: 600;
			}			
			.bottom{
			text-align:center;
			}
			.top{
			text-align:right;
			margin:10px;
			}
		</style>
</head>

<th:block layout:fragment="content">
    <!-- 권리확보현황 마감관리 -->
    <div class="rightCloseMngWrappers">
        <!-- <div class="rightCloseMngHeader"></div> -->
        <main id="rightCloseMng">
            <div class="mainTitle">
                <h1>권리확보현황 마감관리</h1>
            </div>

            <div class="contentWrap">
                <!-- 상단부분 -->
                <section class="privateUseSectionBoxs">
                    <div class="privateUseSectionCont">
                        <div class="selectSection">
                            <!-- select -->
                            <div class="selectLargeWrap">
                                <div class="selectWrap">
                                    <p class="selectTitle">
                                        조회 기준 년도
                                    </p>
                                    <div class="selectContentArea">
                                        <div class="hiddenSelectBox">
                                            <select id="rightCloseMngSelectBox01_1" hidden>

                                            </select>
                                        </div>
                                        <!--보여지는 셀렉박스-->
                                        <div class="customSelectBox">
                                            <button class="customSelectView">전체</button>
                                            <ul class="customSelectBtns"></ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="selectWrap">
                                    <p class="selectTitle">
                                        조회 기준 월
                                    </p>
                                    <div class="selectContentArea">
                                        <div class="hiddenSelectBox">
                                            <select id="rightCloseMngSelectBox01_2" hidden>

                                            </select>
                                        </div>
                                        <!--보여지는 셀렉박스-->
                                        <div class="customSelectBox">
                                            <button class="customSelectView">전체</button>
                                            <ul class="customSelectBtns"></ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="privateUseSectionBtnBoxs">
                            <button class="offBtn" id="openDeadlinePopup">마감</button>
                            <button class="searchBtn" id="searchBtn">조회하기</button>
                        </div>
                    </div>
                </section>

                <!-- 내역들 -->

                <div class="dataArea">
                    <div class="dataTitles">
                        <h5>총 검색 건 수<span>31</span>건</h5>
                    </div>

						
						
						
					 <div class="dataContWrap">
				<table id="userTable" class="cell-border nowrap" style="width:100%;" >
				     <thead>
        <tr>
            <th rowspan="3">기준년도</th>
            <th rowspan="3">기준월</th>
            <th rowspan="3">마감처리일자</th>
            <th colspan="4" >사유지</th>
            <th colspan="4">국유지</th>
            <th rowspan="3">엑셀 다운로드</th>
        </tr>
        <tr>
            <th colspan="2">지상권 설정</th>
            <th rowspan="2">지상권 미설정</th>
            <th rowspan="2">계</th>
            <th rowspan="2">지상권</th>
            <th rowspan="2">전용</th>
            <th rowspan="2">미전용</th>
            <th rowspan="2">계</th>
        </tr>
        <tr>
            <th>등기</th>
            <th>미등기</th>
        </tr>
    </thead>
				    <!-- tbody 태그 필요 없다. -->
				</table>
			  </div>	
						
						
						
						
						
						
						
						
						
                    <!-- <div class="dataContWrap">
                        <ul class="titles">
                            <li class="title verti3">기준년도</li>
                            <li class="title verti3">기준월</li>
                            <li class="title verti3">마감처리일자</li>
                            <li class="title hori4">사유지</li>
                            <li class="title hori4">국유지</li>
                            <li class="title verti3 removeBorder">엑셀 다운로드</li>
                            <li class="title hori2">지상권 설정</li>
                            <li class="title verti2">지상권 미설정</li>
                            <li class="title verti2">계</li>
                            <li class="title verti2">지상권</li>
                            <li class="title verti2">점용</li>
                            <li class="title verti2">미점용</li>
                            <li class="title verti2">계</li>
                            <li class="title">등기</li>
                            <li class="title">미등기</li>
                        </ul>
                        <ul class="contents">
                            <li class="content">
                                <p>2024</p>
                            </li>
                            <li class="content">
                                <p>4</p>
                            </li>
                            <li class="content">
                                <p>2024-05-31</p>
                            </li>
                            <li class="content">
                                <p>6,801</p>
                            </li>
                            <li class="content">
                                <p>710</p>
                            </li>
                            <li class="content">
                                <p>2,008</p>
                            </li>
                            <li class="content">
                                <p>9,519</p>
                            </li>
                            <li class="content">
                                <p>700</p>
                            </li>
                            <li class="content">
                                <p>19,371</p>
                            </li>
                            <li class="content">
                                <p>8</p>
                            </li>
                            <li class="content">
                                <p>20,079</p>
                            </li>
                            <li class="content">
                                <button class="downloadBtn">다운로드</button>
                            </li>
                        </ul>
                        <ul class="contents">
                            <li class="content">
                                <p>2024</p>
                            </li>
                            <li class="content">
                                <p>5</p>
                            </li>
                            <li class="content">
                                <p>2024-05-31</p>
                            </li>
                            <li class="content">
                                <p>6,801</p>
                            </li>
                            <li class="content">
                                <p>710</p>
                            </li>
                            <li class="content">
                                <p>2,008</p>
                            </li>
                            <li class="content">
                                <p>9,519</p>
                            </li>
                            <li class="content">
                                <p>700</p>
                            </li>
                            <li class="content">
                                <p>19,371</p>
                            </li>
                            <li class="content">
                                <p>8</p>
                            </li>
                            <li class="content">
                                <p>20,079</p>
                            </li>
                            <li class="content">
                                <button class="downloadBtn">다운로드</button>
                            </li>
                        </ul>
                        <ul class="contents">
                            <li class="content">
                                <p>2024</p>
                            </li>
                            <li class="content">
                                <p>4</p>
                            </li>
                            <li class="content">
                                <p>2024-05-31</p>
                            </li>
                            <li class="content">
                                <p>6,801</p>
                            </li>
                            <li class="content">
                                <p>710</p>
                            </li>
                            <li class="content">
                                <p>2,008</p>
                            </li>
                            <li class="content">
                                <p>9,519</p>
                            </li>
                            <li class="content">
                                <p>700</p>
                            </li>
                            <li class="content">
                                <p>19,371</p>
                            </li>
                            <li class="content">
                                <p>8</p>
                            </li>
                            <li class="content">
                                <p>20,079</p>
                            </li>
                            <li class="content">
                                <button class="downloadBtn">다운로드</button>
                            </li>
                        </ul>
                        <ul class="contents">
                            <li class="content">
                                <p>2024</p>
                            </li>
                            <li class="content">
                                <p>5</p>
                            </li>
                            <li class="content">
                                <p>2024-05-31</p>
                            </li>
                            <li class="content">
                                <p>6,801</p>
                            </li>
                            <li class="content">
                                <p>710</p>
                            </li>
                            <li class="content">
                                <p>2,008</p>
                            </li>
                            <li class="content">
                                <p>9,519</p>
                            </li>
                            <li class="content">
                                <p>700</p>
                            </li>
                            <li class="content">
                                <p>19,371</p>
                            </li>
                            <li class="content">
                                <p>8</p>
                            </li>
                            <li class="content">
                                <p>20,079</p>
                            </li>
                            <li class="content">
                                <button class="downloadBtn">다운로드</button>
                            </li>
                        </ul>
                        <ul class="contents">
                            <li class="content">
                                <p>2024</p>
                            </li>
                            <li class="content">
                                <p>5</p>
                            </li>
                            <li class="content">
                                <p>2024-05-31</p>
                            </li>
                            <li class="content">
                                <p>6,801</p>
                            </li>
                            <li class="content">
                                <p>710</p>
                            </li>
                            <li class="content">
                                <p>2,008</p>
                            </li>
                            <li class="content">
                                <p>9,519</p>
                            </li>
                            <li class="content">
                                <p>700</p>
                            </li>
                            <li class="content">
                                <p>19,371</p>
                            </li>
                            <li class="content">
                                <p>8</p>
                            </li>
                            <li class="content">
                                <p>20,079</p>
                            </li>
                            <li class="content">
                                <button class="downloadBtn">다운로드</button>
                            </li>
                        </ul>
                        <ul class="contents">
                            <li class="content">
                                <p>2024</p>
                            </li>
                            <li class="content">
                                <p>5</p>
                            </li>
                            <li class="content">
                                <p>2024-05-31</p>
                            </li>
                            <li class="content">
                                <p>6,801</p>
                            </li>
                            <li class="content">
                                <p>710</p>
                            </li>
                            <li class="content">
                                <p>2,008</p>
                            </li>
                            <li class="content">
                                <p>9,519</p>
                            </li>
                            <li class="content">
                                <p>700</p>
                            </li>
                            <li class="content">
                                <p>19,371</p>
                            </li>
                            <li class="content">
                                <p>8</p>
                            </li>
                            <li class="content">
                                <p>20,079</p>
                            </li>
                            <li class="content">
                                <button class="downloadBtn">다운로드</button>
                            </li>
                        </ul>
                        <ul class="contents">
                            <li class="content">
                                <p>2024</p>
                            </li>
                            <li class="content">
                                <p>5</p>
                            </li>
                            <li class="content">
                                <p>2024-05-31</p>
                            </li>
                            <li class="content">
                                <p>6,801</p>
                            </li>
                            <li class="content">
                                <p>710</p>
                            </li>
                            <li class="content">
                                <p>2,008</p>
                            </li>
                            <li class="content">
                                <p>9,519</p>
                            </li>
                            <li class="content">
                                <p>700</p>
                            </li>
                            <li class="content">
                                <p>19,371</p>
                            </li>
                            <li class="content">
                                <p>8</p>
                            </li>
                            <li class="content">
                                <p>20,079</p>
                            </li>
                            <li class="content">
                                <button class="downloadBtn">다운로드</button>
                            </li>
                        </ul>
                        <ul class="contents">
                            <li class="content">
                                <p>2024</p>
                            </li>
                            <li class="content">
                                <p>5</p>
                            </li>
                            <li class="content">
                                <p>2024-05-31</p>
                            </li>
                            <li class="content">
                                <p>6,801</p>
                            </li>
                            <li class="content">
                                <p>710</p>
                            </li>
                            <li class="content">
                                <p>2,008</p>
                            </li>
                            <li class="content">
                                <p>9,519</p>
                            </li>
                            <li class="content">
                                <p>700</p>
                            </li>
                            <li class="content">
                                <p>19,371</p>
                            </li>
                            <li class="content">
                                <p>8</p>
                            </li>
                            <li class="content">
                                <p>20,079</p>
                            </li>
                            <li class="content">
                                <button class="downloadBtn">다운로드</button>
                            </li>
                        </ul>
                        <ul class="contents">
                            <li class="content">
                                <p>2024</p>
                            </li>
                            <li class="content">
                                <p>5</p>
                            </li>
                            <li class="content">
                                <p>2024-05-31</p>
                            </li>
                            <li class="content">
                                <p>6,801</p>
                            </li>
                            <li class="content">
                                <p>710</p>
                            </li>
                            <li class="content">
                                <p>2,008</p>
                            </li>
                            <li class="content">
                                <p>9,519</p>
                            </li>
                            <li class="content">
                                <p>700</p>
                            </li>
                            <li class="content">
                                <p>19,371</p>
                            </li>
                            <li class="content">
                                <p>8</p>
                            </li>
                            <li class="content">
                                <p>20,079</p>
                            </li>
                            <li class="content">
                                <button class="downloadBtn">다운로드</button>
                            </li>
                        </ul>
                        <ul class="contents">
                            <li class="content">
                                <p>2024</p>
                            </li>
                            <li class="content">
                                <p>5</p>
                            </li>
                            <li class="content">
                                <p>2024-05-31</p>
                            </li>
                            <li class="content">
                                <p>6,801</p>
                            </li>
                            <li class="content">
                                <p>710</p>
                            </li>
                            <li class="content">
                                <p>2,008</p>
                            </li>
                            <li class="content">
                                <p>9,519</p>
                            </li>
                            <li class="content">
                                <p>700</p>
                            </li>
                            <li class="content">
                                <p>19,371</p>
                            </li>
                            <li class="content">
                                <p>8</p>
                            </li>
                            <li class="content">
                                <p>20,079</p>
                            </li>
                            <li class="content">
                                <button class="downloadBtn">다운로드</button>
                            </li>
                        </ul>
                        <ul class="contents">
                            <li class="content">
                                <p>2024</p>
                            </li>
                            <li class="content">
                                <p>5</p>
                            </li>
                            <li class="content">
                                <p>2024-05-31</p>
                            </li>
                            <li class="content">
                                <p>6,801</p>
                            </li>
                            <li class="content">
                                <p>710</p>
                            </li>
                            <li class="content">
                                <p>2,008</p>
                            </li>
                            <li class="content">
                                <p>9,519</p>
                            </li>
                            <li class="content">
                                <p>700</p>
                            </li>
                            <li class="content">
                                <p>19,371</p>
                            </li>
                            <li class="content">
                                <p>8</p>
                            </li>
                            <li class="content">
                                <p>20,079</p>
                            </li>
                            <li class="content">
                                <button class="downloadBtn">다운로드</button>
                            </li>
                        </ul>
                        <ul class="contents">
                            <li class="content">
                                <p>2024</p>
                            </li>
                            <li class="content">
                                <p>5</p>
                            </li>
                            <li class="content">
                                <p>2024-05-31</p>
                            </li>
                            <li class="content">
                                <p>6,801</p>
                            </li>
                            <li class="content">
                                <p>710</p>
                            </li>
                            <li class="content">
                                <p>2,008</p>
                            </li>
                            <li class="content">
                                <p>9,519</p>
                            </li>
                            <li class="content">
                                <p>700</p>
                            </li>
                            <li class="content">
                                <p>19,371</p>
                            </li>
                            <li class="content">
                                <p>8</p>
                            </li>
                            <li class="content">
                                <p>20,079</p>
                            </li>
                            <li class="content">
                                <button class="downloadBtn">다운로드</button>
                            </li>
                        </ul>
                        <ul class="contents">
                            <li class="content">
                                <p>2024</p>
                            </li>
                            <li class="content">
                                <p>5</p>
                            </li>
                            <li class="content">
                                <p>2024-05-31</p>
                            </li>
                            <li class="content">
                                <p>6,801</p>
                            </li>
                            <li class="content">
                                <p>710</p>
                            </li>
                            <li class="content">
                                <p>2,008</p>
                            </li>
                            <li class="content">
                                <p>9,519</p>
                            </li>
                            <li class="content">
                                <p>700</p>
                            </li>
                            <li class="content">
                                <p>19,371</p>
                            </li>
                            <li class="content">
                                <p>8</p>
                            </li>
                            <li class="content">
                                <p>20,079</p>
                            </li>
                            <li class="content">
                                <button class="downloadBtn">다운로드</button>
                            </li>
                        </ul>
                        <ul class="contents">
                            <li class="content">
                                <p>2024</p>
                            </li>
                            <li class="content">
                                <p>5</p>
                            </li>
                            <li class="content">
                                <p>2024-05-31</p>
                            </li>
                            <li class="content">
                                <p>6,801</p>
                            </li>
                            <li class="content">
                                <p>710</p>
                            </li>
                            <li class="content">
                                <p>2,008</p>
                            </li>
                            <li class="content">
                                <p>9,519</p>
                            </li>
                            <li class="content">
                                <p>700</p>
                            </li>
                            <li class="content">
                                <p>19,371</p>
                            </li>
                            <li class="content">
                                <p>8</p>
                            </li>
                            <li class="content">
                                <p>20,079</p>
                            </li>
                            <li class="content">
                                <button class="downloadBtn">다운로드</button>
                            </li>
                        </ul>
                        <ul class="contents">
                            <li class="content">
                                <p>2024</p>
                            </li>
                            <li class="content">
                                <p>5</p>
                            </li>
                            <li class="content">
                                <p>2024-05-31</p>
                            </li>
                            <li class="content">
                                <p>6,801</p>
                            </li>
                            <li class="content">
                                <p>710</p>
                            </li>
                            <li class="content">
                                <p>2,008</p>
                            </li>
                            <li class="content">
                                <p>9,519</p>
                            </li>
                            <li class="content">
                                <p>700</p>
                            </li>
                            <li class="content">
                                <p>19,371</p>
                            </li>
                            <li class="content">
                                <p>8</p>
                            </li>
                            <li class="content">
                                <p>20,079</p>
                            </li>
                            <li class="content">
                                <button class="downloadBtn">다운로드</button>
                            </li>
                        </ul>
                        <ul class="contents">
                            <li class="content">
                                <p>2024</p>
                            </li>
                            <li class="content">
                                <p>5</p>
                            </li>
                            <li class="content">
                                <p>2024-05-31</p>
                            </li>
                            <li class="content">
                                <p>6,801</p>
                            </li>
                            <li class="content">
                                <p>710</p>
                            </li>
                            <li class="content">
                                <p>2,008</p>
                            </li>
                            <li class="content">
                                <p>9,519</p>
                            </li>
                            <li class="content">
                                <p>700</p>
                            </li>
                            <li class="content">
                                <p>19,371</p>
                            </li>
                            <li class="content">
                                <p>8</p>
                            </li>
                            <li class="content">
                                <p>20,079</p>
                            </li>
                            <li class="content">
                                <button class="downloadBtn">다운로드</button>
                            </li>
                        </ul>
                        <ul class="contents">
                            <li class="content">
                                <p>2024</p>
                            </li>
                            <li class="content">
                                <p>5</p>
                            </li>
                            <li class="content">
                                <p>2024-05-31</p>
                            </li>
                            <li class="content">
                                <p>6,801</p>
                            </li>
                            <li class="content">
                                <p>710</p>
                            </li>
                            <li class="content">
                                <p>2,008</p>
                            </li>
                            <li class="content">
                                <p>9,519</p>
                            </li>
                            <li class="content">
                                <p>700</p>
                            </li>
                            <li class="content">
                                <p>19,371</p>
                            </li>
                            <li class="content">
                                <p>8</p>
                            </li>
                            <li class="content">
                                <p>20,079</p>
                            </li>
                            <li class="content">
                                <button class="downloadBtn">다운로드</button>
                            </li>
                        </ul>
                        <ul class="contents">
                            <li class="content">
                                <p>2024</p>
                            </li>
                            <li class="content">
                                <p>5</p>
                            </li>
                            <li class="content">
                                <p>2024-05-31</p>
                            </li>
                            <li class="content">
                                <p>6,801</p>
                            </li>
                            <li class="content">
                                <p>710</p>
                            </li>
                            <li class="content">
                                <p>2,008</p>
                            </li>
                            <li class="content">
                                <p>9,519</p>
                            </li>
                            <li class="content">
                                <p>700</p>
                            </li>
                            <li class="content">
                                <p>19,371</p>
                            </li>
                            <li class="content">
                                <p>8</p>
                            </li>
                            <li class="content">
                                <p>20,079</p>
                            </li>
                            <li class="content">
                                <button class="downloadBtn">다운로드</button>
                            </li>
                        </ul>
                        <ul class="contents">
                            <li class="content">
                                <p>2024</p>
                            </li>
                            <li class="content">
                                <p>5</p>
                            </li>
                            <li class="content">
                                <p>2024-05-31</p>
                            </li>
                            <li class="content">
                                <p>6,801</p>
                            </li>
                            <li class="content">
                                <p>710</p>
                            </li>
                            <li class="content">
                                <p>2,008</p>
                            </li>
                            <li class="content">
                                <p>9,519</p>
                            </li>
                            <li class="content">
                                <p>700</p>
                            </li>
                            <li class="content">
                                <p>19,371</p>
                            </li>
                            <li class="content">
                                <p>8</p>
                            </li>
                            <li class="content">
                                <p>20,079</p>
                            </li>
                            <li class="content">
                                <button class="downloadBtn">다운로드</button>
                            </li>
                        </ul>
                    </div> -->
                </div>
            </div>
        </main>
    </div>
    <div class="rightCloseMngOffPopWrapper"></div>

    <!-- script -->
    <!-- <script type="module" src="/components/surfaceMain.js"></script> -->
    <script src="../../js/stats/rightCloseMng.js"></script>
</th:block>

</html>