<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/default_layout}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link th:href="@{/css/common.css}" rel="stylesheet" />
    <link rel="stylesheet" href="/css/stats/rightStatus.css">
      <script src="/vendor/exceljs.min.js"></script> 
    <script src="https://code.highcharts.com/highcharts.js"></script>

    <title>권리확보현황 통계</title>
</head>

<th:block layout:fragment="content">
    <div class="rightStatusWrappers">
        <!-- <div class="rightStatusHeader"></div> -->
        <main id="rightStatus">
            <div class="mainTitle">
                <h1>권리확보현황 통계</h1>
            </div>

            <div class="contentWrap">
                <!-- 상단부분 -->
                <section class="privateUseSectionBoxs">
                    <div class="privateUseSectionCont">
                        <div class="selectSection">
                            <!-- select -->
                            <div class="selectLargeWrap">
                                <div class="selectWrap">
                                    <p class="selectTitle">
                                        지사
                                    </p>
                                    <div class="selectContentArea">
                                        <div class="hiddenSelectBox">
                                            <select
                                            name="jisa"
                                            class="menuHiddenSelect01"
                                            id="rightStatusSelectBox01"
                                            hidden>
                                            <option value="전체">전체</option>
                                             <th:block th:each="val:${jisaList}">
                                              <option th:text="${val.jm_jisa_name}" th:value="${val.jm_jisa_name}"></option>
                                              </th:block>
                                          </select>
                        
                                        </div>
                                        <!--보여지는 셀렉박스-->
                                        <div class="customSelectBox">
                                            <button class="customSelectView" id="jisaText">전체</button>
                                            <ul class="customSelectBtns"></ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="privateUseSectionBtnBoxs">
                            <button class="searchBtn">조회하기</button>
                        </div>
                    </div>
                </section>

                <!-- 내역들 -->

                <div class="dataArea">
                    <!-- 사유지 -->
                    <section class="dataWrap privateLand">
                        <!-- 상단 제목 -->
                        <div class="dataTitlebox">
                            <h5 class="dataTitle">사유지</h5>
                            <button class="excelDownBtn" id="excelDownTogiBtn">
                                엑셀 다운로드
                            </button>
                        </div>

                        <!-- 데이터 들어가는 영역 -->
                        <div class="dataContWrap">
                            <!-- 왼쪽 -->
                            <div class="dataContentBox">
                                <!-- 타이틀 카테고리 2개 이상시 -->
                                <div class="dataListbox depthBox">
                                    <div class="firstTitle">
                                        <p>자산 등록</p>
                                    </div>
                                    <div class="secondWrap">
                                        <!-- 등기 -->
                                        <ul class="secondCate">
                                            <li class="secondTitle">
                                                <p class="dataText">등기</p>
                                            </li>
                                            <li class="secondContent">
                                                <p class="dataText" id="SAYUJI_Y_Y">0 건</p>
                                            </li>
                                        </ul>
                                        <!-- 미등기 -->
                                        <ul class="secondCate">
                                            <li class="secondTitle">
                                                <p class="dataText" >미등기</p>
                                            </li>
                                            <li class="secondContent">
                                                <p class="dataText" id="SAYUJI_Y_N">0 건</p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- 자산미등록 -->
                                <div class="dataListbox">
                                    <ul class="firstCate">
                                        <li class="title">
                                            <p class="dataText">자산 미등록</p>
                                        </li>
                                        <li class="content">
                                            <p class="dataText" id="SAYUJI_N">0 건</p>
                                        </li>
                                    </ul>
                                </div>
                                <!-- 계 -->
                                <div class="dataListbox lastDataListBox">
                                    <ul class="firstCate">
                                        <li class="title">
                                            <p class="dataText">계</p>
                                        </li>
                                        <li class="content">
                                            <p class="dataText" id="SAYUJI_SUM">0 건</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- 오른쪽 -->
                            <div class="dataContentGraph">
                                <button class="hamBtn"></button>
                                <div id="SAYUJI_Chart"  class="graphHere">
                                </div >
                                <ul class="graphNav">
                                    <li class="graphContent">
                                        <span class="cirColor cir01"></span>
                                        <p class="graphContentText">자산등록&#40;등기&#41;</p>
                                    </li>
                                    <li class="graphContent">
                                        <span class="cirColor cir02"></span>
                                        <p class="graphContentText">자산등록&#40;미등기&#41;</p>
                                    </li>
                                    <li class="graphContent">
                                        <span class="cirColor cir03"></span>
                                        <p class="graphContentText">자산 미등록</p>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <!-- 하단 데이터 영역 -->

                        <div class="dataRowCont">
                            <ul class="dataRowBox">
                                <li class="title">
                                    <p>잠재이슈 관리필지</p>
                                </li>
                                <li class="content">
                                    <p id="issueList_01">0</p>
                                </li>
                            </ul>
                            <ul class="dataRowBox">
                                <li class="title">
                                    <p>민원 발생필지</p>
                                </li>
                                <li class="content">
                                    <p id="issueList_02">0</p>
                                </li>
                            </ul>
                        </div>
                    </section>

                    <!-- 국유지 -->

                    <section class="dataWrap publicLand">
                        <!-- 상단 제목 -->
                        <div class="dataTitlebox">
                            <h5 class="dataTitle">국유지</h5>
                            <button class="excelDownBtn" id="excelDownGoverTogiBtn">
                                엑셀 다운로드
                            </button>
                        </div>

                        <!-- 데이터 들어가는 영역 -->
                        <div class="dataContWrap">
                            <!-- 왼쪽 -->
                            <div class="dataContentBox">
                                <!-- 지상권 -->
                                <div class="dataListbox">
                                    <ul class="firstCate">
                                        <li class="title">
                                            <p class="dataText">지상권</p>
                                        </li>
                                        <li class="content">
                                            <p class="dataText" id="GUKYUJI_J">0 건</p>
                                        </li>
                                    </ul>
                                </div>
                                <!-- 점용 -->
                                <div class="dataListbox">
                                    <ul class="firstCate">
                                        <li class="title">
                                            <p class="dataText">점용</p>
                                        </li>
                                        <li class="content">
                                            <p class="dataText" id="GUKYUJI_Y">0 건</p>
                                        </li>
                                    </ul>
                                </div>
                                <!-- 미점용 -->
                                <div class="dataListbox">
                                    <ul class="firstCate">
                                        <li class="title">
                                            <p class="dataText">미점용</p>
                                        </li>
                                        <li class="content">
                                            <p class="dataText" id="GUKYUJI_N">0 건</p>
                                        </li>
                                    </ul>
                                </div>
                                <!-- 계 -->
                                <div class="dataListbox lastDataListBox">
                                    <ul class="firstCate">
                                        <li class="title">
                                            <p class="dataText">계</p>
                                        </li>
                                        <li class="content">
                                            <p class="dataText" id="GUKYUJI_SUM">0 건</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- 오른쪽 -->
                            <div class="dataContentGraph">
                                <button class="hamBtn"></button>
                                <button class="permitExcelBtn" id="permitExcelBtn"></button>
                                <div id="GUKYUJI_Chart"  class="graphHere">
                                </div>
                                <ul class="graphNav">
                                    <li class="graphContent">
                                        <span class="cirColor cir01"></span>
                                        <p class="graphContentText">점용</p>
                                    </li>
                                    <li class="graphContent">
                                        <span class="cirColor cir02"></span>
                                        <p class="graphContentText">지상권</p>
                                    </li>
                                    <li class="graphContent">
                                        <span class="cirColor cir03"></span>
                                        <p class="graphContentText">미점용</p>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <!-- 하단 데이터 영역 -->

                        <div class="dataRowCont">
                            <ul class="dataRowBox">
                                <li class="title">
                                    <p>잠재이슈 관리필지</p>
                                </li>
                                <li class="content">
                                    <p id="issueList_03">0</p>
                                </li>
                            </ul>
                            <ul class="dataRowBox">
                                <li class="title">
                                    <p>민원 발생필지</p>
                                </li>
                                <li class="content">
                                    <p id="issueList_04">0</p>
                                </li>
                            </ul>
                        </div>
                    </section>
                </div>
            </div>
        </main>
    </div>

    <!-- script -->

    <!-- <script type="module" src="/js/module/surfaceMain.js"></script> -->
    <script src="../../js/stats/rightStatus.js"></script>
</th:block>

</html>