@charset "UTF-8";

* {
  padding: 0;
  margin: 0;
}

body * {
  font-family: pretendard;
}

li {
  list-style: none;
}

select {
  outline: 0;
  border: 1px solid #cfddf2;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 500;
  color: #6e7d88;
  text-indent: 12px;
}

input {
  border: 0;
  outline: 0;
}

input:focus {
  border: 0;
}

textarea:focus {
  border: 0;
  outline: 0;
}

button {
  border: 0;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

.subBtn {
  width: 81px;
  height: 27px;
  border-radius: 20px;
  background: #2b7de1;
  color: #fff;
}

/* css추가 */

.forDivisionEasementDetailsWrappers {
  overflow-y: scroll;
}

/* 스크롤바 */

.forDivisionEasementDetailsWrappers::-webkit-scrollbar {
  width: 3px;
}

.forDivisionEasementDetailsWrappers::-webkit-scrollbar-thumb {
  height: 30%;
  border-radius: 10px;
  background: #d2d2d2;
}

.forDivisionEasementDetailsHeader {
  width: 100px;
  height: 100vh;
  float: left;
}

/**/

#forDivisionEasementDetails {
  width: calc(100% - 100px);
  padding: 0 20px;
  box-sizing: border-box;
  float: left;
}

#forDivisionEasementDetails .mainTitle {
  padding: 30px 0;
  border-bottom: 1px solid rgba(110, 125, 136, 0.2);
}

#forDivisionEasementDetails .mainTitle h1 {
  font-size: 22px;
  font-weight: 700;
  color: #31394c;
  padding-left: 20px;
  box-sizing: border-box;
}
#forDivisionEasementDetails .subTitle {
  font-size: 18px;
  font-weight: 700;
  color: #31394c;
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  gap: 8px;
}

#forDivisionEasementDetails .basicOwnerInfo {
  /* padding: 40px 0; */
  padding: 27px 0 40px 0 ;
}
.thirdTitle {
  margin-bottom: 15px;
}
.thirdTitle h2 {
  font-size: 16px;
  font-weight: 600;
  color: #2b7de1;
}
.thirdTitle .btnbox {
  margin-left: 8px;
}
#forDivisionEasementDetails .basicOwnerInfo .thirdTitle {
  display: flex;
  align-items: center;
}
.contWrap {
  width: 100%;
}
.contBoxMini01 {
  width: 46.2%;
}
.contBoxMini02 {
  width: 52.5%;
}

#forDivisionEasementDetails .basicOwnerInfo .contWrap {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
#forDivisionEasementDetails .contentDetailBox {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #cddbf0;
  overflow: hidden;
}
#forDivisionEasementDetails .titles {
  display: flex;
  align-items: center;
  height: 45px;
  border-bottom: 1px solid #cddbf0;
  background: #f7f9fc;
}
#forDivisionEasementDetails .titles .title {
  border-right: 1px solid #cddbf0;
  height: 100%;
  text-align: center;
  line-height: 45px;
  font-weight: 500;
  font-size: 14px;
  color: #000;
  box-sizing: border-box;
}
#forDivisionEasementDetails .basicOwnerInfo .contBox {
  width: 100%;
}
#forDivisionEasementDetails .basicOwnerInfo .contBox .titles .title {
  width: 8.5%;
}
#forDivisionEasementDetails .basicOwnerInfo .contBox .titles .title.title07 {
  width: 25.6%;
}
#forDivisionEasementDetails .basicOwnerInfo .contBox .contents .content {
  width: 8.5%;
}
#forDivisionEasementDetails
  .basicOwnerInfo
  .contBox
  .contents
  .content.content07 {
  width: 25.6%;
}
#forDivisionEasementDetails .titles .title:last-child {
  border-right: 0;
}
#forDivisionEasementDetails .contents {
  display: flex;
  align-items: center;
  height: 45px;
  border-bottom: 1px solid #cddbf0;
}
#forDivisionEasementDetails .contents .content {
  border-right: 1px solid #cddbf0;
  height: 100%;
  text-align: center;
  line-height: 45px;
  font-size: 14px;
  font-weight: 500;
  color: #3c3c3c;
  box-sizing: border-box;
}
#forDivisionEasementDetails .contents .content:last-child {
  border-right: 0;
}
#forDivisionEasementDetails .contents .content input {
  font-size: 14px;
  font-weight: 500;
  width: 100%;
  height: 100%;
}
#forDivisionEasementDetails .contents .content input::placeholder {
  color: #3c3c3c;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
}
.viewDetailButton {
  width: 116px;
  height: 27px;
  border-radius: 20px;
  background: rgba(204, 224, 255, 0.6);
  color: #2b7de1;
  font-size: 13px;
  font-weight: 600;
}
#forDivisionEasementDetails .basicOwnerInfo .contBoxMini03 {
  width: 100%;
}
#forDivisionEasementDetails .contBoxMini03 .contentDetailBox {
  height: 137px;
}
#forDivisionEasementDetails
  .basicOwnerInfo
  .contBoxMini03
  .contents:last-child {
  border-bottom: 0;
}
#forDivisionEasementDetails .basicOwnerInfo .contBoxMini03 .titles .title {
  width: 10%;
  height: 100%;
  text-align: center;
  line-height: 45px;
}
#forDivisionEasementDetails .basicOwnerInfo .contBoxMini03 .titles .title04 {
  width: 38.2%;
}
#forDivisionEasementDetails .basicOwnerInfo .contBoxMini03 .titles .title05 {
  width: 17.5%;
}
#forDivisionEasementDetails .basicOwnerInfo .contBoxMini03 .contents .content {
  width: 10%;
  height: 100%;
  text-align: center;
  line-height: 45px;
}
#forDivisionEasementDetails
  .basicOwnerInfo
  .contBoxMini03
  .contents
  .content04 {
  width: 38.2%;
}
#forDivisionEasementDetails
  .basicOwnerInfo
  .contBoxMini03
  .contents
  .content05 {
  width: 17.5%;
}
#forDivisionEasementDetails .surfaceRightInfo {
  padding-bottom: 40px;
}
#forDivisionEasementDetails .surfaceRightInfo .contWrap {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
#forDivisionEasementDetails
  .surfaceRightInfo
  .contentDetailBox.contBoxMini07
  .depth1
  .titles
  .title {
  width: 7.9%;
  text-align: center;
  line-height: 45px;
}
#forDivisionEasementDetails
  .surfaceRightInfo
  .contentDetailBox.contBoxMini07
  .depth1
  .titles
  .title.title02 {
  width: 10.5%;
}
#forDivisionEasementDetails
  .surfaceRightInfo
  .contentDetailBox.contBoxMini07
  .depth1
  .titles
  .title.title06 {
  width: 12.5%;
}
#forDivisionEasementDetails
  .surfaceRightInfo
  .contentDetailBox.contBoxMini07
  .depth1
  .contents
  .content.content02 {
  width: 10.5%;
}
#forDivisionEasementDetails
  .surfaceRightInfo
  .contentDetailBox.contBoxMini07
  .depth1
  .contents
  .content.content06 {
  width: 12.5%;
}
#forDivisionEasementDetails
  .surfaceRightInfo
  .contentDetailBox.contBoxMini07
  .depth1
  .contents
  .content {
  width: 7.9%;
  text-align: center;
  line-height: 45px;
}
#forDivisionEasementDetails
  .surfaceRightInfo
  .contentDetailBox
  .depth2
  .titles
  .title {
  width: 100%;
  text-align: center;
}
#forDivisionEasementDetails
  .surfaceRightInfo
  .contentDetailBox
  .depth2
  .contents
  .content {
  width: 100%;
  text-align: center;
}
#forDivisionEasementDetails
  .surfaceRightInfo
  .contentDetailBox
  .depth2
  .contents:last-child {
  border-bottom: 0;
}
#forDivisionEasementDetails .lastContents {
  border-bottom: 0;
}
/* 첨부파일 */

#forDivisionEasementDetails
  .surfaceRightInfo
  .fileContbox
  .contentDetailBox
  .contentScr {
  height: 180px;
}
#forDivisionEasementDetails
  .surfaceRightInfo
  .fileContbox
  .contentDetailBox
  .depth1
  .titles {
  padding-right: 4px;
  box-sizing: border-box;
}
#forDivisionEasementDetails
  .surfaceRightInfo
  .fileContbox
  .contentDetailBox
  .depth1
  .titles
  .title {
  width: 16.9%;
}
#forDivisionEasementDetails
  .surfaceRightInfo
  .fileContbox
  .contentDetailBox
  .depth1
  .titles
  .title.title02 {
  width: 50%;
}
#forDivisionEasementDetails
  .surfaceRightInfo
  .fileContbox
  .contentDetailBox
  .depth1
  .contents
  .content {
  width: 16.9%;
}
#forDivisionEasementDetails
  .surfaceRightInfo
  .fileContbox
  .contentDetailBox
  .depth1
  .contents
  .content.content02 {
  width: 50%;
}
.fileDownloadBtn {
  width: 116px;
  height: 27px;
  border-radius: 20px;
  background: #4e5871;
  color: #fff;
  font-size: 13px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
.downloadIcon {
  width: 12px;
  height: 12px;
  display: inline-block;
  background: url(/assets/media/menu02/images/download.png) no-repeat center;
  background-size: contain;
}
#forDivisionEasementDetails
  .surfaceRightInfo
  .contentDetailBox
  .depth1
  .contents
  .content {
  display: flex;
  justify-content: center;
  align-items: center;
}
#forDivisionEasementDetails
  .surfaceRightInfo
  .contentDetailBox
  .depth1
  .contents
  .content.btnsWrap {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#forDivisionEasementDetails > section {
  padding-bottom: 40px;
}
/* 사용 승락 */
#forDivisionEasementDetails .usageApproval .contentDetailBox .contentScr {
  height: 45px;
}
#forDivisionEasementDetails .usageApproval .contentDetailBox .depth1 .titles {
  padding-right: 4px;
  box-sizing: border-box;
}
#forDivisionEasementDetails
  .usageApproval
  .contentDetailBox
  .depth1
  .titles
  .title {
  width: 8.5%;
}
#forDivisionEasementDetails
  .usageApproval
  .contentDetailBox
  .depth1
  .titles
  .title.title03 {
  width: 13.3%;
}
#forDivisionEasementDetails
  .usageApproval
  .contentDetailBox
  .depth1
  .titles
  .title.title04 {
  width: 18.1%;
}
#forDivisionEasementDetails
  .usageApproval
  .contentDetailBox
  .depth1
  .titles
  .title.title05 {
  width: 22.3%;
}
#forDivisionEasementDetails
  .usageApproval
  .contentDetailBox
  .depth1
  .contents
  .content {
  width: 8.5%;
}
#forDivisionEasementDetails
  .usageApproval
  .contentDetailBox
  .depth1
  .contents
  .content.content03 {
  width: 13.3%;
}
#forDivisionEasementDetails
  .usageApproval
  .contentDetailBox
  .depth1
  .contents
  .content.content04 {
  width: 18.1%;
}
#forDivisionEasementDetails
  .usageApproval
  .contentDetailBox
  .depth1
  .contents
  .content.content05 {
  width: 22.3%;
}
#forDivisionEasementDetails .mergedSurfaceInfo {
  padding-bottom: 40px;
}
#forDivisionEasementDetails .mergedSurfaceInfo .depth1 .titles .title {
  width: 8.6%;
}
#forDivisionEasementDetails .mergedSurfaceInfo .depth1 .titles .title.title02 {
  width: 10.1%;
}
#forDivisionEasementDetails .mergedSurfaceInfo .depth1 .titles .title.title04 {
  width: 33.1%;
}
#forDivisionEasementDetails .mergedSurfaceInfo .depth1 .contents .content {
  width: 8.6%;
}
#forDivisionEasementDetails
  .mergedSurfaceInfo
  .depth1
  .contents
  .content.content02 {
  width: 10.1%;
}

#forDivisionEasementDetails
  .mergedSurfaceInfo
  .depth1
  .contents
  .content.content04 {
  width: 33.1%;
}
#forDivisionEasementDetails .changeHistory .depth1 .titles .title {
  width: 15.2%;
}
#forDivisionEasementDetails .changeHistory .depth1 .titles .title.title01 {
  width: 6.8%;
}
#forDivisionEasementDetails .changeHistory .depth1 .titles .title.title04 {
  width: 62.1%;
}
#forDivisionEasementDetails .changeHistory .depth1 .contentScr {
  height: 90px;
}
#forDivisionEasementDetails .changeHistory .depth1 .contents .content {
  width: 15.2%;
}
#forDivisionEasementDetails
  .changeHistory
  .depth1
  .contents
  .content.content01 {
  width: 6.8%;
}
#forDivisionEasementDetails
  .changeHistory
  .depth1
  .contents
  .content.content04 {
  width: 62.1%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#forDivisionEasementDetails .contentScr {
  overflow-y: scroll;
}
#forDivisionEasementDetails .contentScr::-webkit-scrollbar {
  width: 4px;
}

#forDivisionEasementDetails .contentScr::-webkit-scrollbar-thumb {
  height: 30%;
  border-radius: 10px;
  background: #d2d2d2;
}
#forDivisionEasementDetails .myPc {
  width: 81px;
  height: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #2b7de1;
  color: #fff;
  border-radius: 20px;
  font-size: 13px;
  font-weight: 600;
}
#forDivisionEasementDetails .addBtn {
  color: #fff;
  background: #2b7de1;
}

#forDivisionEasementDetails .delBtn {
  background: #9a9a9a;
  color: #fff;
}
#forDivisionEasementDetails .registBtn {
  background: #4e5871;
  color: #fff;
}
#forDivisionEasementDetails .editing .registBtn {
  display: block;
  border: 0;
}
.fileBtn {
  width: 129px;
  height: 37px;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 600;
}
.fileSaveBtn {
  background: #2b7de1;
  color: #fff;
}
#forDivisionEasementDetails .btnWrap {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}
#forDivisionEasementDetails .miniBtn {
  width: 74px;
  height: 27px;
  border-radius: 20px;
  font-size: 13px;
  font-weight: 600;
}

#forDivisionEasementDetails .addBtn {
  background: #fff;
  border: 1px solid #2b7de1;
  color: #2b7de1;
}

#forDivisionEasementDetails .delBtn {
  background: #9a9a9a;
  color: #fff;
}
#forDivisionEasementDetails .editBtn {
  background: rgba(204, 224, 255, 0.6);
  color: #2b7de1;
}

/* 메모 */
#forDivisionEasementDetails .memoSection .titles {
  padding-right: 4px;
  box-sizing: border-box;
}
#forDivisionEasementDetails .memoSection .titles .title {
  width: 11.2%;
}
#forDivisionEasementDetails .memoSection .titles .title.title03 {
  width: 59.4%;
}
#forDivisionEasementDetails .memoSection .titles .title.title04 {
  width: 6.5%;
}
#forDivisionEasementDetails .memoSection .contents .content {
  width: 11.2%;
}
#forDivisionEasementDetails .memoSection .contents .content.content03 {
  width: 59.4%;
}
#forDivisionEasementDetails .memoSection .contents .content.content04 {
  width: 6.5%;
}
#forDivisionEasementDetails .memoSection .contents .content.btnBox {
  display: flex;
}
#forDivisionEasementDetails .memoSection .contents .content.btnBox .editBefore,
#forDivisionEasementDetails .memoSection .contents .content.btnBox .editAfter {
  width: 100%;
}
#forDivisionEasementDetails .memoSection .contents .content.btnBox .editBefore {
  display: flex;
  justify-content: center;
}
#forDivisionEasementDetails
  .memoSection
  .contents.editing
  .content.btnBox
  .editBefore {
  display: none;
}
#forDivisionEasementDetails .memoSection .contents .content.btnBox .editAfter {
  display: none;
}
#forDivisionEasementDetails
  .memoSection
  .contents.editing
  .content.btnBox
  .editAfter {
  display: flex;
  justify-content: center;
  align-items: center;
}
#forDivisionEasementDetails .memoSection .contents .content.btnBox .btnWrap {
  width: 50%;
  justify-content: center;
}
#forDivisionEasementDetails
  .memoSection
  .contents
  .content.btnBox
  .btnWrap:first-child {
  border-right: 1px solid #cddbf0;
}
#forDivisionEasementDetails .memoSection .contentScr {
  height: 90px;
}

/* 수정중일때 */

#forDivisionEasementDetails .memoSection .contents.editing .editSpace {
  padding: 6px;
  box-sizing: border-box;
  line-height: normal;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#forDivisionEasementDetails .memoSection .contents .editSpace .editingContent {
  display: none;
}
#forDivisionEasementDetails
  .memoSection
  .contents.editing
  .editSpace
  .editingContent {
  border-radius: 10px;
  background: #edf2f9;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #6e7d88;
}
#forDivisionEasementDetails
  .memoSection
  .contents.editing
  .editSpace
  .editingHideContent {
  display: none;
}
#forDivisionEasementDetails .memoSection .contents.editing .editSpace .editBtn {
  background: rgba(180, 180, 180, 0.6);
  color: #707070;
}
#forDivisionEasementDetails .memoSection.onlyReadMemo .titles .title.title01 {
  width: 15.7%;
}
#forDivisionEasementDetails .memoSection.onlyReadMemo .titles .title.title02 {
  width: 10.9%;
}
#forDivisionEasementDetails .memoSection.onlyReadMemo .titles .title.title03 {
  width: 72.3%;
}
#forDivisionEasementDetails
  .memoSection.onlyReadMemo
  .contents
  .content.content01 {
  width: 15.7%;
}
#forDivisionEasementDetails
  .memoSection.onlyReadMemo
  .contents
  .content.content02 {
  width: 10.9%;
}
#forDivisionEasementDetails
  .memoSection.onlyReadMemo
  .contents
  .content.content03 {
  width: 72.3%;
}
#forDivisionEasementDetails .titles.titleScr {
  padding-right: 4px;
  box-sizing: border-box;
}

/* 이전, 출력 버튼 */

.finalBtnBox {
  padding-bottom: 40px;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
.finalBtn {
  width: 116px;
  height: 44px;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  border-radius: 10px;
}
.finalBtn.vividBlueBtn {
  background: #2b7de1;
}
.finalBtn.grayBtn {
  background: #919191;
}
.finalBtn.lightBlueBtn {
  background: rgba(204, 224, 255, 0.6);
  color: #2b7de1;
}

/* css추가 */

.btnWrap .divideBtn a {
  color: #2b7de1;
}

.btnWrap .divideBtn a:visited {
  color: #2b7de1;
  text-decoration: none;
}

/**/

/* date */
/* 안보이게 하기 */
#forDivisionEasementDetails .noClickEvent {
  pointer-events: none;
}
#forDivisionEasementDetails input[type="date"]::-webkit-datetime-edit-text {
  -webkit-appearance: none;
  display: none;
}

#forDivisionEasementDetails
  input[type="date"]::-webkit-datetime-edit-month-field {
  -webkit-appearance: none;
  display: none;
}

#forDivisionEasementDetails
  input[type="date"]::-webkit-datetime-edit-day-field {
  -webkit-appearance: none;
  display: none;
}

#forDivisionEasementDetails
  input[type="date"]::-webkit-datetime-edit-year-field {
  -webkit-appearance: none;
  display: none;
}
#forDivisionEasementDetails .dateInputWrap {
  width: 100%;
  height: 100%;
  position: relative;
  /* background: url(../images/calendarInputIcon.png) no-repeat left 8px center; */
  background-size: 18px;
}

#forDivisionEasementDetails input[type="date"] {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  position: absolute;
  top: 0;
  right: 0;
  color: transparent;
  background: transparent;
  text-align: right;
}

#forDivisionEasementDetails
  input[type="date"]::-webkit-calendar-picker-indicator {
  background: transparent;
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

#forDivisionEasementDetails input[type="date"]::before {
  width: 100%;
  content: attr(data-placeholder);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #3c3c3c;
  text-align: center;
}

#forDivisionEasementDetails input[type="date"]:focus,
#forDivisionEasementDetails input[type="date"]:valid {
  color: #6e7d88;
}

#forDivisionEasementDetails input[type="date"]:focus::before,
#forDivisionEasementDetails input[type="date"]:valid::before {
  content: "";
}
