@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
}
body * {
  font-family: pretendard;
}
li {
  list-style: none;
}
table {
  border-collapse: collapse;
}
caption {
  text-indent: -9999px;
  height: 0;
}
select {
  outline: 0;
  border: 1px solid #cfddf2;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 500;
  color: #6e7d88;
  text-indent: 12px;
}
textarea {
  border: 0;
  outline: 0;
}
.viewDetailButton {
  width: 116px;
  height: 27px;
  border-radius: 20px;
  background: rgba(204, 224, 255, 0.6);
  color: #2b7de1;
  font-size: 13px;
  font-weight: 600;
}
input {
  border: 0;
  outline: 0;
}
input:focus {
  border: 0;
}
textarea:focus {
  border: 0;
  outline: 0;
}
button {
  border: 0;
}

/* css추가 */

.divisionRegisterWrappers {
  overflow-y: scroll;
}

/* 스크롤바 */

.divisionRegisterWrappers::-webkit-scrollbar {
  width: 3px;
}

.divisionRegisterWrappers::-webkit-scrollbar-thumb {
  height: 30%;
  border-radius: 10px;
  background: #d2d2d2;
}

.divisionRegisterHeader {
  width: 100px;
  height: 100vh;
  float: left;
}

/**/

#divisionRegister * {
  font-family: pretendard;
}

#divisionRegister {
  width: calc(100% - 100px);
  padding: 0 20px;
  box-sizing: border-box;
  float: left;
}

#divisionRegister .miniBtn {
  width: 68px;
  height: 27px;
  border-radius: 20px;
}

#divisionRegister input[type="text"]::placeholder {
  color: #6e7d88;
}
.fileUploadIcon {
  width: 35px;
  height: 35px;
}
.thirdTitle h2 {
  font-size: 16px;
  font-weight: 600;
  color: #2b7de1;
  margin-bottom: 15px;
}
#divisionRegister > section {
  padding-bottom: 40px;
}
#divisionRegister .contents .content {
  border-right: 1px solid #cddbf0;
  height: 100%;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  color: #3c3c3c;
  box-sizing: border-box;
}
#divisionRegister .contents .content:last-child {
  border-right: 0;
}
#divisionRegister .titles.titleScr {
  padding-right: 4px;
  box-sizing: border-box;
}
#divisionRegister .contentScr {
  overflow-y: scroll;
}

#divisionRegister .contentScr::-webkit-scrollbar {
  width: 4px;
}

#divisionRegister .contentScr::-webkit-scrollbar-thumb {
  height: 30%;
  border-radius: 10px;
  background: #d2d2d2;
}
.SearchAddressBtn {
  display: inline-block;
  width: 86px;
  height: 44px;
  border-radius: 100px;
  background: #cdd2dd;
  color: #949aac;
  font-size: 15px;
  font-weight: 600;
  flex-shrink: 0;
}
.SearchAddressBtn.active {
  display: inline-block;
  width: 86px;
  height: 44px;
  border-radius: 100px;
  background: #4e5871;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
}
.moreSelectBtn {
  /* font-size: 15px; */
  font-size: 14px;
  font-weight: 500;
  color: #4e5871;
  width: 100%;
  height: 100%;
  background: #fff;
  text-align-last: left;
  padding-left: 12px;
  box-sizing: border-box;
}
#divisionRegister .mainTitle {
  padding: 30px 0;
  border-bottom: 1px solid rgba(110, 125, 136, 0.2);
}
#divisionRegister .mainTitle h1 {
  font-size: 22px;
  font-weight: 700;
  color: #31394c;
  padding-left: 20px;
  box-sizing: border-box;
}
#divisionRegister .subTitle {
  font-size: 18px;
  font-weight: 700;
  color: #31394c;
  margin-bottom: 24px;
}
#divisionRegister .contWrap {
  width: 100%;
}
/* border-radius */
#divisionRegister .titles .title:first-child {
  border-radius: 5px 0 0 0;
}
/* 대상토지 */
#divisionRegister .searchAddressBtn {
  width: 54px;
  height: 27px;
  background: #2b7de1;
  color: #fff;
  border-radius: 20px;
  flex-shrink: 0;
}
#divisionRegister .targetLand {
  /* padding: 40px 0; */
  padding: 27px 0 40px 0;
}
#divisionRegister .targetLand .contWrap {
  border: 1px solid #cddbf0;
  border-radius: 5px;
}
#divisionRegister .targetLand .contWrap .titles {
  height: 90px;
}
#divisionRegister .targetLand .contWrap .title {
  width: 9.5%;
}
#divisionRegister .targetLand .titles .title.numInfoWidth {
  width: 12%;
}
#divisionRegister .targetLand .titles .title.addressInfoWidth {
  width: 32.1%;
}
#divisionRegister .targetLand .titles .title.titleBox {
  width: 36.4%;
  display: flex;
  flex-direction: column;
}
#divisionRegister .titles .title.titleBox .secondTitles {
  width: 100%;
  display: flex;
  border-top: 1px solid #cddbf0;
  border-bottom: 1px solid #cddbf0;
  background: #ecf1f8;
  box-sizing: border-box;
}
#divisionRegister .titles .title.titleBox .secondTitles .secondTitle {
  width: 170px;
}
#divisionRegister .targetLand .contWrap .content {
  width: 9.5%;
}

#divisionRegister .targetLand .contents .content.numInfoWidth {
  width: 12%;
}

#divisionRegister .targetLand .contents .content.addressInfoWidth {
  width: 32.1%;
}

#divisionRegister .targetLand .contents .content.contentBox {
  width: 36.4%;
  display: flex;
  flex-direction: column;
  padding: 0;
  height: 100%;
}

#divisionRegister .targetLand .contents .content.contentBox .secondContents {
  width: 100%;
  height: 100%;
  display: flex;
}

#divisionRegister
  .targetLand
  .contents
  .content.contentBox
  .secondContents
  .secondContent {
  /* width: 25%; */
  width: 170px;
  border-right: 1px solid #cddbf0;
}
#divisionRegister
  .targetLand
  .contents
  .content.contentBox
  .secondContents
  .secondContent:last-child {
  border-right: 0;
}
/* 기본 설정 */
#divisionRegister .contWrap .titles {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 45px;
  background: #f7f9fc;
  border-bottom: 1px solid #cddbf0;
  box-sizing: border-box;
}
#divisionRegister .contWrap .depth1 .titles {
  border-radius: 5px 5px 0 0;
}
#divisionRegister .contWrap .titles li {
  height: 100%;
  text-align: center;
  line-height: 45px;
  font-size: 14px;
  font-weight: 500;
  color: #000;
  border-right: 1px solid #cddbf0;
  box-sizing: border-box;
  /* flex-grow: 1; */
}
#divisionRegister .contWrap .titles li:last-child {
  border-right: 0;
}
#divisionRegister .contWrap .depth1 .contents {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 47px;
  background: #fff;
  border-bottom: 1px solid #cddbf0;
}
#divisionRegister .contWrap .depth1 .contents li {
  height: 100%;
  padding: 6px 8px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
#divisionRegister .contWrap .depth1 .contents:last-child {
  border-radius: 0 0 5px 5px;
}
#divisionRegister .contWrap .depth1 .contents li.content {
  border-right: 1px solid #cddbf0;
}
#divisionRegister .contWrap .depth1 .contents li:last-child {
  border-right: 0;
}
#divisionRegister .contWrap .contents.lastContents {
  border-bottom: 0;
}
#divisionRegister .customSelectBox {
  width: 100%;
  height: 100%;
  position: relative;
}
#divisionRegister .contWrap .customSelectBox .customSelectView {
  width: 100%;
  height: 100%;
  border: 1px solid #cfddf2;
  border-radius: 10px;
  /* font-size: 15px; */
  font-size: 14px;
  font-weight: 500;
  color: #6e7d88;
  text-align-last: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 9px 12px;
  box-sizing: border-box;
  background: url(/assets/media/menu02/images/arrowDown.png) no-repeat right
    10px center;
  background-color: #fff;
  background-size: 21px;
}
#divisionRegister .contWrap .customSelectBox .customSelectView.active {
  border: 1px solid #2b7de1;
  color: #2b7de1;
  background: url(/assets/media/menu02/images/arrowDownBlue.png) no-repeat right
    10px center;
    /* 추가 */
  background-size: 21px;
}
#divisionRegister .contWrap .customSelectBox .customSelectBtns {
  position: absolute;
  width: 100%;
  top: calc(100% + 4px);
  box-sizing: border-box;
  max-height: 0;
  overflow-y: hidden;
  z-index: 10;
  transition: 500ms;
  opacity: 0;
  border: 1px solid #acbdd7;
}
#divisionRegister .contWrap .customSelectBox .customSelectBtns.active {
  padding: 6px 0;
  border-radius: 10px;
  background: #fff;
  max-height: 233px;
  overflow-y: scroll;
  transition: 500ms;
  opacity: 1;
}

#divisionRegister .contWrap .customSelectBox .customSelectBtns li {
  padding: 0;
  height: 41px;
}

#divisionRegister
  .contWrap
  .customSelectBox
  .customSelectBtns::-webkit-scrollbar {
  width: 4px;
}

#divisionRegister
  .contWrap
  .customSelectBox
  .customSelectBtns::-webkit-scrollbar-thumb {
  height: 30%;
  border-radius: 10px;
  background: #d2d2d2;
}
/* 토지분할 */

#divisionRegister .landDivision .contWrap .titles .title {
  width: 3.9%;
}
#divisionRegister .landDivision .contWrap .titles .title.numInfoWidth {
  width: 2.9%;
}
#divisionRegister .landDivision .contWrap .titles .title.addressInfoWidth {
  /* width: 28.6%; */
  width: 27.6%;
}
#divisionRegister .landDivision .contWrap .titles .title.middleWidth {
  width: 6.8%;
}
#divisionRegister .landDivision .contWrap .contents .content {
  width: 3.9%;
}
#divisionRegister .landDivision .contWrap .contents .content .addressData {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#divisionRegister .landDivision .contWrap .contents .numInfoWidth {
  width: 2.9%;
}
#divisionRegister .landDivision .contWrap .contents .addressInfoWidth {
  /* width: 28.6%; */
  width: 27.6%;
  gap: 12px;
}
#divisionRegister .landDivision .contWrap .contents .middleWidth {
  width: 6.8%;
}
#divisionRegister .landDivision .contents .content.contentBox .secondContents {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 0;
}
#divisionRegister
  .landDivision
  .contents
  .content.contentBox
  .secondContents
  .secondContent {
  border-right: 1px solid #cddbf0;
  width: 90px;
}
#divisionRegister
  .landDivision
  .contents
  .content.contentBox
  .secondContents
  .secondContent:last-child {
  border-right: 0;
}
#divisionRegister .landDivision .contWrap {
  border: 1px solid #cddbf0;
  border-radius: 5px;
}
#divisionRegister .landDivision .contWrap .titles {
  height: 90px;
}
#divisionRegister .landDivision .contWrap .titles .title.titleBox {
  /* width: 19.5%; */
  width: auto;
  display: flex;
  flex-direction: column;
}
#divisionRegister .landDivision .contWrap .titles .title.titleBtnWrap {
  width: 10.1%;
}
#divisionRegister .landDivision .contWrap .titleBox .secondTitles {
  display: flex;
  width: 100%;
  border-top: 1px solid #cddbf0;
  border-top: 1px solid #cddbf0;
}
#divisionRegister .landDivision .contWrap .titleBox .secondTitles .secondTitle {
  width: 90px;
}
#divisionRegister .landDivision .contWrap .contents .content.contentBox {
  /* width: 19.5%; */
  width: auto;
  padding: 0;
}
#divisionRegister .landDivision .contWrap .contents .titleBtnWrap {
  width: 10.1%;
  padding: 0;
}
/* 추가 삭제 버튼 */

#divisionRegister .contents .content.btnBox .editBefore,
#divisionRegister .contents .content.btnBox .editAfter {
  width: 100%;
}

#divisionRegister .contents .content.btnBox .editBefore {
  display: flex;
  justify-content: center;
  height: 100%;
}

#divisionRegister .contents.editing .content.btnBox .editBefore {
  display: none;
}

#divisionRegister .contents .content.btnBox .editAfter {
  display: none;
}

#divisionRegister .contents.editing .content.btnBox .editAfter {
  display: block;
}

#divisionRegister .contents .content.btnBox .btnWrap {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #cddbf0;
  height: 100%;
}
#divisionRegister .contents .content.btnBox .btnWrap:last-child {
  border-right: 0;
}

/* 해지정보 */
#divisionRegister .terminationInfo .contWrap {
  border: 1px solid #cddbf0;
  border-radius: 5px;
}
#divisionRegister .terminationInfo .contWrap .depth1 .titles {
  height: 90px;
}
#divisionRegister .terminationInfo .contWrap .depth1 .title {
  width: 10%;
}
#divisionRegister .terminationInfo .contWrap .depth1 .content {
  width: 10%;
}
#divisionRegister .terminationInfo .contWrap .depth1 .addressInfoWidth {
  /* width: 35%; */
  width: 32%;
}

#divisionRegister .terminationInfo .contWrap .depth1 .titleBox {
  flex-direction: column;
  width: auto;
}
#divisionRegister .terminationInfo .contWrap .depth1 .content.contentBox {
  padding: 0;
  width: auto;
}
#divisionRegister .terminationInfo .contWrap .depth1 .content .secondContents {
  display: flex;
  height: 100%;
}

/* css 추가*/

#divisionRegister
  .terminationInfo
  .contWrap
  .depth1
  .contents
  input[type="text"] {
  text-align: center;
}

#divisionRegister .landDivision .contWrap .depth1 input[type="text"] {
  text-align: center;
}

/**/

#divisionRegister
  .terminationInfo
  .titles
  .titleBox
  .secondTitles
  .secondTitle {
  width: 170px;
}
#divisionRegister
  .terminationInfo
  .contents
  .contentBox
  .secondContents
  .secondContent {
  width: 170px;
  height: 100%;
  border-right: 1px solid #cddbf0;
}
#divisionRegister
  .terminationInfo
  .contents
  .contentBox
  .secondContents
  .secondContent:last-child {
  border-right: 0;
}
#divisionRegister input[type="text"] {
  width: 100%;
  height: 100%;
  background: #edf2f9;
  border-radius: 10px;
  /* text-indent: 19px; */
  font-size: 14px;
  font-weight: 500;
}
#divisionRegister input[type="text"]::placeholder {
  text-align: center;
  text-indent: 0;
  color: #3c3c3c;
}
#divisionRegister input[type="checkbox"] {
  display: none;
}
.checkboxWrap label {
  width: 21px;
  height: 21px;
  border-radius: 5px;
  background: #eff6ff;
}

/* date */
#divisionRegister .dateInputWrap {
  width: 187px;
  height: 100%;
  border-radius: 10px;
  border: 1px solid #cfddf2;
  position: relative;
  background: url(/assets/media/menu02/images/calendarInputIcon.png) no-repeat
    left 8px center;
  background-size: 18px;
}
#divisionRegister input[type="date"] {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  position: absolute;
  top: 0;
  right: 0;
  color: transparent;
  background: transparent;
  text-align: right;
  /* 추가 */
  padding: 0 10px;
  box-sizing: border-box;
}

#divisionRegister input[type="date"]::-webkit-calendar-picker-indicator {
  background: transparent;
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  width: 187px;
  height: 100%;
}

#divisionRegister input[type="date"]::before {
  content: attr(data-placeholder);
  position: absolute;
  top: 50%;
  /* right: 8px; */
  right: 10px;
  transform: translateY(-50%);
  color: #6e7d88;
}

#divisionRegister input[type="date"]:focus,
#divisionRegister input[type="date"]:valid {
  color: #6e7d88;
}

#divisionRegister input[type="date"]:focus::before,
#divisionRegister input[type="date"]:valid::before {
  content: "";
}

/* label */

#divisionRegister input[type="checkbox"] {
  display: none;
}

#divisionRegister input[type="checkbox"] ~ label {
  width: 21px;
  height: 21px;
  border-radius: 5px;
  background: #eff6ff;
  display: inline-block;
  position: relative;
}

#divisionRegister input[type="checkbox"]:checked ~ label {
  background: #4e5871;
}

#divisionRegister input[type="checkbox"]:checked ~ label::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 14px;
  height: 10px;
  background: url(/assets/media/menu02/images/checkIcon.png) no-repeat center;
  background-size: contain;
}

#divisionRegister .miniBtn {
  width: 74px;
  height: 27px;
  border-radius: 20px;
  font-size: 13px;
  font-weight: 600;
}
#divisionRegister .addBtn {
  background: #fff;
  border: 1px solid #2b7de1;
  color: #2b7de1;
}
#divisionRegister .delBtn {
  background: #9a9a9a;
  color: #fff;
}
#divisionRegister .registBtn {
  background: #fff;
  border: 1px solid #2b7de1;
  color: #2b7de1;
  /* background: #4E5871;
    color: #fff; */
}
#divisionRegister .title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  height: 100%;
}
#divisionRegister .content {
  height: 100%;
  padding: 6px 8px;
  box-sizing: border-box;
}
#divisionRegister input[type="text"]::placeholder {
  text-indent: 19px;
}

/* 분할사유 및 검토의견 */

#divisionRegister .reasonTermination {
}
#divisionRegister .reasonTermination .contWrap {
  border: 1px solid #cddbf0;
  border-radius: 5px;
}
#divisionRegister .reasonTermination .contWrap .depth1 .rowListBox {
  height: 45px;
  border-bottom: 1px solid #cddbf0;
}
#divisionRegister .reasonTermination .contWrap .depth2 {
}
#divisionRegister .reasonTermination .contWrap .depth2 .rowListBox:last-child {
  border-bottom: 0;
}
#divisionRegister .reasonTermination .contWrap .depth2:last-child .title {
  border-radius: 0 0 0 5px;
}
#divisionRegister .reasonTermination .contWrap .rowListBox {
  display: flex;
  border-bottom: 1px solid #cddbf0;
}
#divisionRegister .reasonTermination .contWrap .depth2 .rowListBox {
  height: 105px;
}
#divisionRegister .reasonTermination .contWrap .rowListBox .title {
  width: 8.5%;
  height: 100%;
  border-right: 1px solid #cddbf0;
}
#divisionRegister
  .reasonTermination
  .contWrap
  .depth1:first-child
  .rowListBox
  .title:first-of-type {
  border-radius: 5px 0 0 0;
}
#divisionRegister .reasonTermination .contWrap .rowListBox .content {
  width: 91.5%;
}

#divisionRegister textarea {
  width: 100%;
  border-radius: 10px;
  background: #edf2f9;
  padding: 15px 19px;
  box-sizing: border-box;
  height: 100%;
  resize: none;
}
#divisionRegister textarea::placeholder {
  color: #6e7d88;
}
#divisionRegister textarea::-webkit-scrollbar {
  width: 4px;
}

#divisionRegister textarea::-webkit-scrollbar-thumb {
  height: 30%;
  border-radius: 10px;
  background: #d2d2d2;
}

/* 첨부서류 */

#divisionRegister .attachDocuments {
}
#divisionRegister .attachDocuments .contWrap {
  display: flex;
  border: 1px solid #cddbf0;
  border-radius: 5px;
  overflow: hidden;
}
#divisionRegister .attachDocuments .contWrap .depth1 {
  width: 39.8%;
  border-right: 1px solid #cddbf0;
}
#divisionRegister .attachDocuments .contWrap .depth2 {
  width: calc(100% - 39.8%);
}
#divisionRegister .attachDocuments .contWrap .depth1 .titles .title {
  width: 100%;
}
#divisionRegister .attachDocuments .contWrap .titles {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 45px;
}
#divisionRegister .attachDocuments .contWrap .titles .title {
  height: 100%;
}
#divisionRegister .attachDocuments .contWrap .titles .delContWidth {
  width: 9.7%;
}
#divisionRegister .attachDocuments .contWrap .titles .selectFileWidth {
  width: 10.39%;
}
#divisionRegister .attachDocuments .contWrap .contentListBox {
  width: 100%;
  box-sizing: border-box;
  /* height: 360px; */
  display: flex;
}
#divisionRegister
  .attachDocuments
  .contWrap
  .contentListBox
  .essentialDocument {
  width: 21.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #cddbf0;
}
#divisionRegister
  .attachDocuments
  .contWrap
  .contentListBox
  .essentialDocument
  p {
  font-size: 14px;
  font-weight: 500;
  color: #3c3c3c;
}
#divisionRegister
  .attachDocuments
  .contWrap
  .contentListBox
  .essentialDocuList {
  width: calc(100% - 21.5%);
}
#divisionRegister
  .attachDocuments
  .contWrap
  .contentListBox
  .essentialDocuList
  li {
  width: 100%;
  height: 45px;
  border-bottom: 1px solid #cddbf0;
  display: flex;
  align-items: center;
  padding-left: 12px;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 500;
  color: #3c3c3c;
}
#divisionRegister
  .attachDocuments
  .contWrap
  .contentListBox
  .essentialDocuList
  li:last-child {
  border-bottom: 0;
}
#divisionRegister .attachDocuments .contWrap .depth2 .titles .title {
  width: 66.3%;
}
#divisionRegister
  .attachDocuments
  .contWrap
  .depth2
  .titles
  .title.delContWidth {
  width: 16.2%;
}
#divisionRegister
  .attachDocuments
  .contWrap
  .depth2
  .titles
  .title.selectFileWidth {
  width: 17.2%;
}
#divisionRegister .attachDocuments .contWrap .depth2 .contents {
  display: flex;
  height: 45px;
  border-bottom: 1px solid #cddbf0;
  box-sizing: border-box;
}
#divisionRegister .attachDocuments .contWrap .depth2 .contents:last-child {
  border-bottom: 0;
}
#divisionRegister .attachDocuments .contWrap .depth2 .contents .content {
  width: 66.3%;
  line-height: 45px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#divisionRegister
  .attachDocuments
  .contWrap
  .depth2
  .contents
  .content.delContWidth {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16.2%;
}
#divisionRegister
  .attachDocuments
  .contWrap
  .depth2
  .contents
  .content.selectFileWidth {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 17.2%;
}
#divisionRegister .attachDelBtn {
  background: #636363;
  color: #fff;
}

/* file */

/* 첨부파일 정보 */
#divisionRegister input[type="file"] {
  display: none;
}

.lightfileBtnWrap label {
  width: 116px;
  height: 27px;
  border-radius: 20px;
  background: rgba(204, 224, 255, 0.6);
  color: #2b7de1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  font-weight: 600;
}

/* 이전, 저장 버튼 */
.finalBtnBox {
  padding-bottom: 40px;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
.finalBtn {
  width: 116px;
  height: 44px;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  border-radius: 10px;
}
.finalBtn.vividBlueBtn {
  background: #2b7de1;
}

.finalBtn.grayBtn {
  background: #919191;
}

.finalBtn.lightBlueBtn {
  background: rgba(204, 224, 255, 0.6);
  color: #2b7de1;
}

#divisionRegister input[type="text"].notWriteInput {
  background: transparent;
  text-indent: 0;
}
#divisionRegister input[type="text"].notWriteInput::placeholder {
  text-indent: 0;
}
#divisionRegister
  .attachDocuments
  .essentialDocuList
  input[type="text"]::placeholder {
  text-align: left;
}
