@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
}
body * {
  font-family: pretendard;
}
li {
  list-style: none;
}
select {
  outline: 0;
  border: 1px solid #cfddf2;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 500;
  color: #6e7d88;
  text-indent: 12px;
}
textarea {
  border: 0;
  outline: 0;
}
.viewDetailButton {
  width: 116px;
  height: 27px;
  border-radius: 20px;
  background: rgba(204, 224, 255, 0.6);
  color: #2b7de1;
  font-size: 13px;
  font-weight: 600;
}
input {
  border: 0;
  outline: 0;
}
input:focus {
  border: 0;
}
textarea:focus {
  border: 0;
  outline: 0;
}
button {
  border: 0;
}

/* css추가 */

.landTerminationRegistrationWrapper {
  overflow-y: scroll;
}

/* 스크롤바 */

.landTerminationRegistrationWrapper::-webkit-scrollbar {
  width: 3px;
}

.landTerminationRegistrationWrapper::-webkit-scrollbar-thumb {
  height: 30%;
  border-radius: 10px;
  background: #d2d2d2;
}

.landTerminationRegistrationHeader {
  width: 100px;
  height: 100vh;
  float: left;
}

/**/

#landTerminationRegistration * {
  font-family: pretendard;
}

#landTerminationRegistration {
  /* width: 100%;
    padding: 0 20px;
    box-sizing: border-box; */
  width: calc(100% - 100px);
  padding: 0 20px;
  box-sizing: border-box;
  float: left;
}

#landTerminationRegistration .miniBtn {
  width: 68px;
  height: 27px;
  border-radius: 20px;
}

#landTerminationRegistration input[type="text"]::placeholder {
  color: #6e7d88;
  text-align: center;
}
.disabled {
  pointer-events: none;
}
.fileUploadIcon {
  width: 35px;
  height: 35px;
}
.thirdTitle h2 {
  font-size: 16px;
  font-weight: 600;
  color: #2b7de1;
  margin-bottom: 15px;
}
#landTerminationRegistration > section {
  padding-bottom: 40px;
}
#landTerminationRegistration .contents .content {
  border-right: 1px solid #cddbf0;
  height: 100%;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  color: #3c3c3c;
  box-sizing: border-box;
}
#landTerminationRegistration .contents .content:last-child {
  border-right: 0;
}
#landTerminationRegistration
  .attachFileInfo
  .fileUploadWrap::-webkit-scrollbar {
  width: 4px;
}

#landTerminationRegistration
  .attachFileInfo
  .fileUploadWrap::-webkit-scrollbar-thumb {
  height: 30%;
  border-radius: 10px;
  background: #d2d2d2;
}
#landTerminationRegistration .titles.titleScr {
  padding-right: 4px;
  box-sizing: border-box;
}
#landTerminationRegistration .contentScr {
  overflow-y: scroll;
}

#landTerminationRegistration .contentScr::-webkit-scrollbar {
  width: 4px;
}

#landTerminationRegistration .contentScr::-webkit-scrollbar-thumb {
  height: 30%;
  border-radius: 10px;
  background: #d2d2d2;
}
#landTerminationRegistration .attachFileInfo .contentScr {
  /* height: 90px; */
  max-height: calc(45px * 2);
  overflow-y: auto; /* 스크롤 활성화 */
}
.SearchAddressBtn {
  display: inline-block;
  width: 86px;
  height: 44px;
  border-radius: 100px;
  background: #cdd2dd;
  color: #949aac;
  font-size: 15px;
  font-weight: 600;
}
.SearchAddressBtn.active {
  display: inline-block;
  width: 86px;
  height: 44px;
  border-radius: 100px;
  background: #4e5871;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
}
.moreSelectBtn {
  /* font-size: 15px; */
  font-size: 14px;
  font-weight: 500;
  color: #4e5871;
  width: 100%;
  height: 100%;
  background: #fff;
  text-align-last: left;
  padding-left: 12px;
  box-sizing: border-box;
}

#landTerminationRegistration .basicOwnerInfo {
  padding: 27px 0 40px 0;
}
#landTerminationRegistration .mainTitle {
  padding: 30px 0;
  border-bottom: 1px solid rgba(110, 125, 136, 0.2);
}
#landTerminationRegistration .mainTitle h1 {
  font-size: 22px;
  font-weight: 700;
  color: #31394c;
  padding-left: 20px;
  box-sizing: border-box;
}
#landTerminationRegistration .subTitle {
  font-size: 18px;
  font-weight: 700;
  color: #31394c;
  margin-bottom: 24px;
}
#landTerminationRegistration .contWrap {
  width: 100%;
}
#landTerminationRegistration .basicOwnerInfo .contWrap {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
}
#landTerminationRegistration .basicOwnerInfo .contWrap .contBox {
  width: 100%;
}
#landTerminationRegistration .contentDetailBox {
  border: 1px solid #cddbf0;
  border-radius: 5px;
}
/* 기본, 소유자 정보 */
#landTerminationRegistration .basicContentDetailBox .titles {
}
#landTerminationRegistration .basicContentDetailBox .titles .title {
  width: 9.1%;
}
#landTerminationRegistration
  .basicContentDetailBox
  .titles
  .title.addressInfoWidth {
  width: 36.9%;
}
#landTerminationRegistration .basicContentDetailBox .contents .content {
  width: 9.1%;
}
#landTerminationRegistration
  .basicContentDetailBox
  .contents
  .content.addressInfoWidth {
  width: 36.9%;
}
#landTerminationRegistration .contWrap .titles {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 45px;
  background: #f7f9fc;
  border-bottom: 1px solid #cddbf0;
}
#landTerminationRegistration .contWrap .depth1 .titles {
  border-radius: 5px 5px 0 0;
}
#landTerminationRegistration .contWrap .titles li {
  height: 100%;
  text-align: center;
  line-height: 45px;
  font-size: 14px;
  font-weight: 500;
  color: #000;
  border-right: 1px solid #cddbf0;
  box-sizing: border-box;
  /* flex-grow: 1; */
}
#landTerminationRegistration .contWrap .titles li:last-child {
  border-right: 0;
}
#landTerminationRegistration .contWrap .depth1 .contents {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 47px;
  /* background: #fff; */
  border-bottom: 1px solid #cddbf0;
}
#landTerminationRegistration .contWrap .depth1 .contents li {
  height: 100%;
  padding: 6px 8px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
#landTerminationRegistration .contWrap .depth1 .contents:last-child {
  border-radius: 0 0 5px 5px;
}
#landTerminationRegistration .contWrap .depth1 .contents li.content {
  border-right: 1px solid #cddbf0;
}
#landTerminationRegistration .contWrap .depth1 .contents li:last-child {
  border-right: 0;
}
#landTerminationRegistration .contWrap .contents.lastContents {
  border-bottom: 0;
}
#landTerminationRegistration .contWrap .contents li .customSelectBox {
  width: 100%;
  height: 100%;
  position: relative;
}
#landTerminationRegistration
  .contWrap
  .contents
  li
  .customSelectBox
  .customSelectView {
  width: 100%;
  height: 100%;
  border: 1px solid #cfddf2;
  border-radius: 10px;
  /* font-size: 15px; */
  font-size: 14px;
  font-weight: 500;
  color: #6e7d88;
  background: #fff;
  text-align-last: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 9px 12px;
  box-sizing: border-box;
  background: url(/assets/media/menu02/images/arrowDown.png) no-repeat right 8px
    center;
  background-size: 21px;
}
#landTerminationRegistration
  .contWrap
  .contents
  li
  .customSelectBox
  .customSelectView.active {
  background: url(/assets/media/menu02/images/arrowDownBlue.png) no-repeat right
    8px center;
  background-size: 21px;
}
#landTerminationRegistration
  .contWrap
  .contents
  li
  .customSelectBox
  .customSelectView.active {
  border: 1px solid #2b7de1;
  color: #2b7de1;
}
#landTerminationRegistration
  .contWrap
  .contents
  li
  .customSelectBox
  .customSelectBtns {
  position: absolute;
  width: 100%;
  top: calc(100% + 4px);
  box-sizing: border-box;
  max-height: 0;
  overflow-y: hidden;
  z-index: 10;
  transition: 500ms;
  opacity: 0;
  border: 1px solid #acbdd7;
}
#landTerminationRegistration
  .contWrap
  .contents
  li
  .customSelectBox
  .customSelectBtns::-webkit-scrollbar {
  width: 4px;
}
#landTerminationRegistration
  .contWrap
  .contents
  li
  .customSelectBox
  .customSelectBtns::-webkit-scrollbar-thumb {
  height: 30%;
  border-radius: 10px;
  background: #d2d2d2;
}

#landTerminationRegistration
  .contWrap
  .contents
  li
  .customSelectBox
  .customSelectBtns.active {
  padding: 6px 0;
  border-radius: 10px;
  background: #fff;
  max-height: 233px;
  overflow-y: scroll;
  transition: 500ms;
  opacity: 1;
}

#landTerminationRegistration
  .contWrap
  .contents
  li
  .customSelectBox
  .customSelectBtns
  li {
  padding: 0;
  height: 41px;
}

/* 소유자 정보 */

#landTerminationRegistration .contWrap .ownerContentDetailBox {
}
#landTerminationRegistration .contWrap .ownerContentDetailBox .title {
  width: 10.1%;
}
#landTerminationRegistration .contWrap .ownerContentDetailBox .content {
  width: 10.1%;
}
#landTerminationRegistration .contWrap .ownerContentDetailBox .numInfoWidth {
  width: 6.7%;
}
#landTerminationRegistration
  .contWrap
  .ownerContentDetailBox
  .addressInfoWidth {
  width: 38.2%;
}
#landTerminationRegistration
  .contWrap
  .ownerContentDetailBox
  .contactInfoWidth {
  width: 17.6%;
}
#landTerminationRegistration .contWrap .depth1 .contents li input[type="text"] {
  width: 100%;
  height: 100%;
  background: #edf2f9;
  border-radius: 10px;
  text-indent: 19px;
}
#landTerminationRegistration
  .contWrap
  .depth1
  .contents
  li
  input[type="text"].notWriteInput {
  background: transparent;
}
#landTerminationRegistration
  .contWrap
  .depth1
  .contents
  li
  input[type="text"]::placeholder {
  text-align: center;
  text-indent: 0;
}
#landTerminationRegistration input[type="checkbox"] {
  display: none;
}
.checkboxWrap label {
  width: 21px;
  height: 21px;
  border-radius: 5px;
  background: #eff6ff;
}

/* date */
#landTerminationRegistration .dateInputWrap {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: 1px solid #cfddf2;
  position: relative;
  background: url(/assets/media/menu02/images/calendarInputIcon.png) no-repeat
    left 8px center;
  background-size: 18px;
}

#landTerminationRegistration input[type="date"] {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  position: absolute;
  top: 0;
  right: 0;
  color: transparent;
  background: transparent;
  text-align: right;
  /* 추가 */
  padding: 0 10px;
  box-sizing: border-box;
}

#landTerminationRegistration
  input[type="date"]::-webkit-calendar-picker-indicator {
  background: transparent;
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

#landTerminationRegistration input[type="date"]::before {
  content: attr(data-placeholder);
  position: absolute;
  top: 50%;
  /* 수정 */
  right: 10px;
  transform: translateY(-50%);
  color: #6e7d88;
}

#landTerminationRegistration input[type="date"]:focus,
#landTerminationRegistration input[type="date"]:valid {
  color: #6e7d88;
}

#landTerminationRegistration input[type="date"]:focus::before,
#landTerminationRegistration input[type="date"]:valid::before {
  content: "";
}

/* label */

#landTerminationRegistration input[type="checkbox"] {
  display: none;
}

#landTerminationRegistration input[type="checkbox"] ~ label {
  width: 21px;
  height: 21px;
  border-radius: 5px;
  background: #eff6ff;
  display: inline-block;
  position: relative;
}
#landTerminationRegistration .allSelectCheck input[type="checkbox"] ~ label {
  background: #dce7f5;
}

#landTerminationRegistration input[type="checkbox"]:checked ~ label {
  background: #4e5871;
}

#landTerminationRegistration input[type="checkbox"]:checked ~ label::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 14px;
  height: 10px;
  background: url(/assets/media/menu02/images/checkIcon.png) no-repeat center;
  background-size: contain;
}

#landTerminationRegistration .ownerInfo .contents .content.btnBox .editBefore,
#landTerminationRegistration .ownerInfo .contents .content.btnBox .editAfter {
  width: 100%;
}

#landTerminationRegistration .ownerInfo .contents .content.btnBox .editBefore {
  display: flex;
  justify-content: center;
}

#landTerminationRegistration
  .ownerInfo
  .contents.editing
  .content.btnBox
  .editBefore {
  display: none;
}

#landTerminationRegistration .ownerInfo .contents .content.btnBox .editAfter {
  display: none;
}

#landTerminationRegistration
  .ownerInfo
  .contents.editing
  .content.btnBox
  .editAfter {
  display: flex;
  justify-content: center;
  align-items: center;
}

#landTerminationRegistration .ownerInfo .contents .content.btnBox .btnWrap {
  width: 50%;
  justify-content: center;
}

#landTerminationRegistration
  .ownerInfo
  .contents
  .content.btnBox
  .btnWrap:first-child {
  border-right: 1px solid #cddbf0;
}

#landTerminationRegistration .ownerInfo .contentScr {
  height: 180px;
}

/* 수정 전일 때 */

#landTerminationRegistration
  .ownerInfo
  .contWrap
  .depth1
  .contents
  .content.editSpace
  input[type="text"].editingContent {
  color: #3c3c3c;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  width: 100%;
  text-indent: 0;
  background: transparent;
}

#landTerminationRegistration
  .ownerInfo
  .contents
  .editSpace
  input[type="text"]::placeholder {
  color: #3c3c3c;
}

/* 수정중일때 */

#landTerminationRegistration .ownerInfo .contents.editing .editSpace {
  padding: 6px;
  box-sizing: border-box;
  line-height: normal;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#landTerminationRegistration
  .ownerInfo
  .contWrap
  .depth1
  .contents.editing
  .content.editSpace
  input[type="text"].editingContent {
  border-radius: 10px;
  background: #edf2f9;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #6e7d88;
}

#landTerminationRegistration
  .ownerInfo
  .contents.editing
  .editSpace
  .editingHideContent {
  display: none;
}

#landTerminationRegistration .ownerInfo .contents.editing .editSpace .editBtn {
  background: rgba(180, 180, 180, 0.6);
  color: #707070;
}

#landTerminationRegistration
  .ownerInfo
  .contents.editing
  .editSpace
  input[type="text"] {
  color: #6e7d88;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  width: 100%;
}

#landTerminationRegistration
  .ownerInfo
  .contents.editing
  .editSpace
  input[type="text"]::placeholder {
  color: #6e7d88;
}

#landTerminationRegistration .ownerInfo {
  padding-bottom: 40px;
}
#landTerminationRegistration .ownerInfo .contWrap .depth1 .contents:last-child {
  border-bottom: 0;
}
#landTerminationRegistration .ownerInfo .contWrap .depth1 .titles .title01 {
  /* width: 173px; */
  width: 9.72%;
}

#landTerminationRegistration .ownerInfo .contWrap .depth1 .titles .title02 {
  /* width: 287px; */
  width: 16.13%;
}

#landTerminationRegistration .ownerInfo .contWrap .depth1 .titles .title03 {
  /* width: 496px; */
  width: 27.88%;
}

#landTerminationRegistration .ownerInfo .contWrap .depth1 .titles .title04 {
  /* width: 309px; */
  width: 17.37%;
}

#landTerminationRegistration .ownerInfo .contWrap .depth1 .titles .title05 {
  /* width: 309px; */
  width: 17.37%;
}

#landTerminationRegistration .ownerInfo .contWrap .depth1 .titles .title06 {
  /* width: 205px; */
  width: 11.52%;
}
#landTerminationRegistration .ownerInfo .contWrap .depth1 .contents .content01 {
  /* width: 173px; */
  width: 9.72%;
}

#landTerminationRegistration .ownerInfo .contWrap .depth1 .contents .content02 {
  /* width: 287px; */
  width: 16.13%;
}

#landTerminationRegistration .ownerInfo .contWrap .depth1 .contents .content03 {
  /* width: 496px; */
  width: 27.88%;
}

#landTerminationRegistration .ownerInfo .contWrap .depth1 .contents .content04 {
  /* width: 309px; */
  width: 17.37%;
}

#landTerminationRegistration .ownerInfo .contWrap .depth1 .contents .content05 {
  /* width: 309px; */
  width: 17.37%;
}

#landTerminationRegistration .ownerInfo .contWrap .depth1 .contents .content06 {
  /* width: 205px; */
  width: 11.52%;
  display: flex;
  padding: 0;
}
#landTerminationRegistration
  .ownerInfo
  .contWrap
  .depth1
  .contents
  .content06
  .btnWrap {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #cddbf0;
}
#landTerminationRegistration
  .ownerInfo
  .contWrap
  .depth1
  .contents
  .content06
  .btnWrap:last-child {
  border-right: 0;
}
#landTerminationRegistration .miniBtn {
  width: 74px;
  height: 27px;
  border-radius: 20px;
  font-size: 13px;
  font-weight: 600;
}
#landTerminationRegistration .addBtn {
  background: #fff;
  border: 1px solid #2b7de1;
  color: #2b7de1;
}
#landTerminationRegistration .delBtn {
  background: #9a9a9a;
  color: #fff;
}
#landTerminationRegistration .registBtn {
  background: #fff;
  border: 1px solid #2b7de1;
  color: #2b7de1;
  /* background: #4E5871;
    color: #fff; */
}

/* 지상권 정보 */

#landTerminationRegistration .surfaceRightInfo {
  padding-bottom: 40px;
}
#landTerminationRegistration .surfaceRightInfo .contWrap {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
}
#landTerminationRegistration
  .surfaceRightInfo
  .contBoxMini07
  .depth1
  .titles
  .title {
  width: 11.1%;
}
#landTerminationRegistration
  .surfaceRightInfo
  .contBoxMini07
  .depth1
  .contents {
  border-radius: 0;
}
#landTerminationRegistration
  .surfaceRightInfo
  .contBoxMini07
  .depth1
  .contents
  .content {
  width: 11.1%;
}
#landTerminationRegistration .surfaceRightInfo .contBoxMini07 .depth2 {
  display: flex;
  border-radius: 0 0 5px 5px;
}

/*css 추가*/

#landTerminationRegistration
  .surfaceRightInfo
  .contBoxMini07
  .depth2
  input[type="text"] {
  text-align: center;
}

#landTerminationRegistration
  .compensationInfo
  .contWrap
  .depth1
  input[type="text"] {
  text-align: center;
}

/**/

#landTerminationRegistration
  .surfaceRightInfo
  .contBoxMini07
  .depth2
  .rowListBox {
  width: 33.3%;
  display: flex;
  align-items: center;
  height: 45px;
}
#landTerminationRegistration
  .surfaceRightInfo
  .contBoxMini07
  .depth2
  .rowListBox
  li {
  border-right: 1px solid #cddbf0;
}
#landTerminationRegistration
  .surfaceRightInfo
  .contBoxMini07
  .depth2
  .rowListBox
  li.lastRowList {
  border-right: 0;
}
#landTerminationRegistration
  .surfaceRightInfo
  .contBoxMini07
  .depth2
  .rowListBox:first-child
  .title {
  border-radius: 0px 0px 0px 5px;
}
#landTerminationRegistration
  .surfaceRightInfo
  .contBoxMini07
  .depth2
  .rowListBox:last-child
  .content {
  border-radius: 0px 0px 5px 0px;
}
#landTerminationRegistration
  .surfaceRightInfo
  .contBoxMini07
  .depth2
  .rowListBox
  .title {
  width: 50%;
  background: #f7f9fc;
}
#landTerminationRegistration .title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  height: 100%;
}
#landTerminationRegistration
  .surfaceRightInfo
  .contBoxMini07
  .depth2
  .rowListBox
  .content {
  width: 50%;
}
#landTerminationRegistration .content {
  height: 100%;
  padding: 6px 8px;
  box-sizing: border-box;
}
#landTerminationRegistration .contWrap li input[type="text"] {
  width: 100%;
  height: 100%;
  background: #edf2f9;
  border-radius: 10px;
}
#landTerminationRegistration .contWrap li input[type="text"]::placeholder {
  color: #6e7d88;
}

#landTerminationRegistration .surfaceRightInfo .depth1 .contents .content {
  width: 16.6%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
#landTerminationRegistration .surfaceRightInfo .depth2 .titles .title {
  width: 100%;
  text-align: center;
}
#landTerminationRegistration .surfaceRightInfo .depth2 .contents {
  height: 45px;
}
#landTerminationRegistration .surfaceRightInfo .depth2 .contents .content {
  width: 100%;
  height: 100%;
  text-align: center;
}
#landTerminationRegistration
  .surfaceRightInfo
  .depth2
  .contents
  .content.content01 {
  display: flex;
  justify-content: center;
  align-items: center;
}
#landTerminationRegistration
  .surfaceRightInfo
  .contWrap
  .contents
  li
  .customSelectBox
  .customSelectBtns::-webkit-scrollbar {
  width: 4px;
}

#landTerminationRegistration
  .surfaceRightInfo
  .contWrap
  .contents
  li
  .customSelectBox
  .customSelectBtns::-webkit-scrollbar-thumb {
  height: 30%;
  border-radius: 10px;
  background: #d2d2d2;
}

#landTerminationRegistration
  .surfaceRightInfo
  .contWrap
  .contents
  li
  .customSelectBox {
  width: 100%;
  height: 100%;
  position: relative;
}

#landTerminationRegistration
  .surfaceRightInfo
  .contWrap
  .contents
  li
  .customSelectBox
  .customSelectView {
  width: 100%;
  height: 100%;
  border: 1px solid #cfddf2;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 500;
  color: #6e7d88;
  background: #fff;
  text-align-last: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 9px 12px;
  box-sizing: border-box;
}
/* 
#landTerminationRegistration
  .surfaceRightInfo
  .contWrap
  .contents
  li
  .customSelectBox
  .customSelectView
  figure {
  width: 21px;
  height: 21px;
  background: url(/assets/media/menu02/images/arrowDown.png) no-repeat center;
}

#landTerminationRegistration
  .surfaceRightInfo
  .contWrap
  .contents
  li
  .customSelectBox
  .customSelectView.active
  figure {
  width: 21px;
  height: 21px;
  background: url(/assets/media/menu02/images/arrowDownBlue.png) no-repeat
    center;
} */

#landTerminationRegistration
  .surfaceRightInfo
  .contWrap
  .contents
  li
  .customSelectBox
  .customSelectView.active {
  border: 1px solid #2b7de1;
  color: #2b7de1;
}

#landTerminationRegistration
  .surfaceRightInfo
  .contWrap
  .contents
  li
  .customSelectBox
  .customSelectBtns {
  position: absolute;
  width: 100%;
  top: calc(100% + 4px);
  box-sizing: border-box;
  max-height: 0;
  overflow-y: hidden;
  z-index: 10;
  transition: 500ms;
  opacity: 0;
  border: 1px solid #acbdd7;
}

#landTerminationRegistration
  .surfaceRightInfo
  .contWrap
  .contents
  li
  .customSelectBox
  .customSelectBtns.active {
  padding: 6px 0;
  border-radius: 10px;
  background: #fff;
  max-height: 233px;
  overflow-y: scroll;
  transition: 500ms;
  opacity: 1;
}

#landTerminationRegistration
  .surfaceRightInfo
  .contWrap
  .contents
  li
  .customSelectBox
  .customSelectBtns
  li {
  padding: 0;
  height: 41px;
}

/* 지상권 해지관련 보상정보 */
#landTerminationRegistration .compensationInfo .contWrap {
  border: 1px solid #cddbf0;
  border-radius: 5px;
}
#landTerminationRegistration .compensationInfo .contWrap .depth1 {
  display: flex;
}
#landTerminationRegistration .compensationInfo .contWrap .depth1 .rowListBox {
  width: 50%;
  display: flex;
  align-items: center;
  height: 45px;
}
#landTerminationRegistration
  .compensationInfo
  .contWrap
  .depth1
  .rowListBox
  li {
  border-right: 1px solid #cddbf0;
}
#landTerminationRegistration
  .compensationInfo
  .contWrap
  .depth1
  .rowListBox
  li.lastRowList {
  border-right: 0;
}
#landTerminationRegistration
  .compensationInfo
  .contWrap
  .depth1
  .rowListBox
  .title {
  width: 31.9%;
  background: #f7f9fc;
}
#landTerminationRegistration
  .compensationInfo
  .contWrap
  .depth1
  .rowListBox:first-of-type
  .title:first-child {
  border-radius: 5px 0 0 5px;
}
#landTerminationRegistration
  .compensationInfo
  .contWrap
  .depth1
  .rowListBox
  .content {
  width: 69.1%;
}
#landTerminationRegistration
  .compensationInfo
  .contWrap
  .depth1
  .rowListBox
  .inputWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
#landTerminationRegistration
  .compensationInfo
  .contWrap
  .depth1
  .rowListBox
  .inputWrap
  .inputBox {
  font-size: 15px;
  font-weight: 600;
  color: #31394c;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

/* 첨부파일 정보 */
#landTerminationRegistration input[type="file"] {
  display: none;
}

.fileBtnWrap label {
  width: 81px;
  height: 27px;
  background: #2b7de1;
  color: #fff;
  border-radius: 20px;
  font-size: 13px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lightfileBtnWrap label {
  width: 116px;
  height: 27px;
  border-radius: 20px;
  background: rgba(204, 224, 255, 0.6);
  color: #2b7de1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  font-weight: 600;
}
#landTerminationRegistration .myPc {
  width: 81px;
  height: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #2b7de1;
  color: #fff;
  border-radius: 20px;
  font-size: 13px;
  font-weight: 600;
}

#landTerminationRegistration .attachFileInfo {
  padding-bottom: 40px;
}
#landTerminationRegistration .attachFileInfo .subTitle {
  display: flex;
  align-items: center;
  gap: 21px;
}
#landTerminationRegistration .attachFileInfo .fileUploadWrap {
  width: 100%;
  margin-bottom: 18px;
  height: 130px;
  overflow-y: scroll;
  border: 1px dashed #cddbf0;
  border-radius: 5px;
}
#landTerminationRegistration .attachFileInfo .fileUploadBox {
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  background: #f7f9fc;
}
#landTerminationRegistration .attachFileInfo .fileUploadBox p {
  font-size: 14px;
  font-weight: 600;
  color: #88a2c8;
}
#landTerminationRegistration .attachFileInfo .contWrap {
  border: 1px solid #cddbf0;
  border-radius: 5px;
}
#landTerminationRegistration
  .attachFileInfo
  .contWrap
  .depth1
  .contents:last-child {
  border-bottom: 0;
}
#landTerminationRegistration .attachFileInfo .contWrap .depth1 .title {
  width: 15%;
}
#landTerminationRegistration .attachFileInfo .contWrap .depth1 .content {
  width: 15%;
}
#landTerminationRegistration .attachFileInfo .contWrap .depth1 .selectWidth {
  width: 8.5%;
}
#landTerminationRegistration .attachFileInfo .contWrap .depth1 .fileNameWidth {
  width: 59.6%;
  flex-grow: 1;
}

#landTerminationRegistration
  .attachFileInfo
  .contWrap
  .depth1
  .contents
  .content01 {
  width: 154px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#landTerminationRegistration
  .attachFileInfo
  .contWrap
  .depth1
  .contents
  .content02 {
  width: auto;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
#landTerminationRegistration
  .attachFileInfo
  .contWrap
  .depth1
  .contents
  .content02
  .fileName {
  text-align: center;
  color: #3c3c3c;
  font-size: 14px;
  font-weight: 500;
}
#landTerminationRegistration .attachFileInfo .btnWrap {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
}
.fileDelBtn {
  width: 129px;
  height: 37px;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 600;
}
#landTerminationRegistration
  .attachFileInfo
  .contWrap
  .depth1
  .titles
  .allSelectCheck {
  line-height: normal;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* 해지사유 및 검토의견 */

#landTerminationRegistration .reasonTermination .contWrap {
  border: 1px solid #cddbf0;
  border-radius: 5px;
}
#landTerminationRegistration .reasonTermination .contWrap .depth1 {
  height: 45px;
  border-bottom: 1px solid #cddbf0;
}
#landTerminationRegistration .reasonTermination .contWrap .depth2 {
  height: 200px;
}
#landTerminationRegistration .reasonTermination .contWrap .rowListBox {
  display: flex;
  height: 100%;
}
#landTerminationRegistration .reasonTermination .contWrap .rowListBox input {
  text-align-last: left;
  text-indent: 19px;
}
#landTerminationRegistration .reasonTermination .contWrap .rowListBox .title {
  width: 8.5%;
  height: 100%;
  border-right: 1px solid #cddbf0;
  background: #f7f9fc;
}
#landTerminationRegistration
  .reasonTermination
  .contWrap
  .rowListBox:first-child
  .title:first-child {
  border-radius: 5px 0 0 5px;
}
#landTerminationRegistration .reasonTermination .contWrap .rowListBox .content {
  width: 91.5%;
}

#landTerminationRegistration textarea {
  width: 100%;
  border-radius: 10px;
  background: #edf2f9;
  padding: 15px 19px;
  box-sizing: border-box;
  height: 100%;
  resize: none;
}
#landTerminationRegistration textarea::placeholder {
  color: #6e7d88;
}
#landTerminationRegistration textarea::-webkit-scrollbar {
  width: 4px;
}

#landTerminationRegistration textarea::-webkit-scrollbar-thumb {
  height: 30%;
  border-radius: 10px;
  background: #d2d2d2;
}

/* 첨부서류 */

#landTerminationRegistration .attachDocuments {
}
#landTerminationRegistration .attachDocuments .contWrap {
  display: flex;
  border: 1px solid #cddbf0;
  border-radius: 5px;
  overflow: hidden;
}
#landTerminationRegistration .attachDocuments .contWrap .depth1 {
  width: 39.8%;
  border-right: 1px solid #cddbf0;
}
#landTerminationRegistration .attachDocuments .contWrap .depth2 {
  width: calc(100% - 39.8%);
}
#landTerminationRegistration .attachDocuments .contWrap .depth1 .titles .title {
  width: 100%;
}
#landTerminationRegistration .attachDocuments .contWrap .titles {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 45px;
}
#landTerminationRegistration .attachDocuments .contWrap .titles .title {
  height: 100%;
}
#landTerminationRegistration .attachDocuments .contWrap .titles .delContWidth {
  width: 9.7%;
}
#landTerminationRegistration
  .attachDocuments
  .contWrap
  .titles
  .selectFileWidth {
  width: 10.39%;
}
#landTerminationRegistration .attachDocuments .contWrap .contentListBox {
  width: 100%;
  box-sizing: border-box;
  /* height: 360px; */
  display: flex;
}
#landTerminationRegistration
  .attachDocuments
  .contWrap
  .contentListBox
  .essentialDocument {
  width: 21.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #cddbf0;
}
#landTerminationRegistration
  .attachDocuments
  .contWrap
  .contentListBox
  .essentialDocument
  p {
  font-size: 14px;
  font-weight: 500;
  color: #3c3c3c;
}
#landTerminationRegistration
  .attachDocuments
  .contWrap
  .contentListBox
  .essentialDocuList {
  width: calc(100% - 21.5%);
}
#landTerminationRegistration
  .attachDocuments
  .contWrap
  .contentListBox
  .essentialDocuList
  li {
  width: 100%;
  height: 45px;
  border-bottom: 1px solid #cddbf0;
  display: flex;
  align-items: center;
  padding-left: 12px;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 500;
  color: #3c3c3c;
}
#landTerminationRegistration
  .attachDocuments
  .contWrap
  .contentListBox
  .essentialDocuList
  li:last-child {
  border-bottom: 0;
}
#landTerminationRegistration .attachDocuments .contWrap .depth2 .titles .title {
  width: 66.3%;
}
#landTerminationRegistration
  .attachDocuments
  .contWrap
  .depth2
  .titles
  .title.delContWidth {
  width: 16.2%;
}
#landTerminationRegistration
  .attachDocuments
  .contWrap
  .depth2
  .titles
  .title.selectFileWidth {
  width: 17.2%;
}
#landTerminationRegistration .attachDocuments .contWrap .depth2 .contents {
  display: flex;
  height: 45px;
  border-bottom: 1px solid #cddbf0;
  box-sizing: border-box;
}
#landTerminationRegistration
  .attachDocuments
  .contWrap
  .depth2
  .contents:last-child {
  border-bottom: 0;
}
#landTerminationRegistration
  .attachDocuments
  .contWrap
  .depth2
  .contents
  .content {
  width: 66.3%;
  line-height: 45px;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#landTerminationRegistration
  .attachDocuments
  .contWrap
  .depth2
  .contents
  .content.delContWidth {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16.2%;
}
#landTerminationRegistration
  .attachDocuments
  .contWrap
  .depth2
  .contents
  .content.selectFileWidth {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 17.2%;
}
#landTerminationRegistration .attachDelBtn {
  background: #636363;
  color: #fff;
}

/* 이전, 저장 버튼 */
.finalBtnBox {
  padding-bottom: 40px;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
.finalBtn {
  width: 116px;
  height: 44px;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  border-radius: 10px;
}
.finalBtn.vividBlueBtn {
  background: #2b7de1;
}

.finalBtn.grayBtn {
  background: #919191;
}

.finalBtn.lightBlueBtn {
  background: rgba(204, 224, 255, 0.6);
  color: #2b7de1;
}

#landTerminationRegistration .contWrap input[type="text"].notWriteInput {
  background: transparent;
}
#landTerminationRegistration
  .contWrap
  input[type="text"].notWriteInput::placeholder {
  color: #3c3c3c;
  font-size: 14px;
  font-weight: 500;
}
#landTerminationRegistration .contWrap .essentialDocuList input[type="text"] {
  text-align-last: left;
}
#landTerminationRegistration
  .contWrap
  .essentialDocuList
  input[type="text"]::placeholder {
  text-indent: 0;
}

/* 첨부 서류 샘플 다운로드 */
.fileDownloadBtn {
  width: 116px;
  height: 27px;
  border-radius: 20px;
  background: rgba(204, 224, 255, 0.6);
  color: #2b7de1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  font-weight: 600;
}
