<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>점용 상세정보</title>
    <link rel="stylesheet" href="../../../assets/css/menu01/occupationDetails.css">
    <link rel="stylesheet" href="../../../assets/css/header.css">
    <title>지상권</title>
</head>
<body>
    <div class="occupationDetailsWrappers">
     <!--header삽입-->
      <div class="surfaceHeader occupationDetailHeader"></div>
    <main id="occupationDetails">
        
        <div class="mainTitle">
            <h1>점용 상세정보</h1>
        </div>

        <section class="landInfoEdit">
            <div class="subTitle">
                토지 정보수정
            </div>

            <div class="contWrap">

                <div class="contBox contBoxMini01">

                    <div class="thirdTitle">
                        <h2>・참고 지적도</h2>
                    </div>

                    <div class="contentDetailBox mapFigure"></div>

                </div>

                <div class="contBox contBoxMini02">

                    <div class="thirdTitle">
                        <h2>・기본 정보</h2>
                    </div>

                    <div class="contentDetailBox">
                        <div class="depth1">
                            <ul class="titles">
                                <li class="title01 title">순번</li>
                                <li class="title02 title">담당지사</li>
                                <li class="title03 title">용도</li>
                                <li class="title04 title">관로명(구간)</li>
                                <li class="title05 title">단/복선</li>
                                <li class="title06 title">관경(mm)</li>
                            </ul>
                            <ul class="contents">
                                <li class="content01 content">
                                    G-004666
                                </li>
                                <li class="content02 content">
                                    전남지사
                                </li>
                                <li class="content03 content">
                                    송유관로
                                </li>
                                <li class="content04 content">
                                    호남구간
                                </li>
                                <li class="content05 content">
                                    단선
                                </li>
                                <li class="content06 content">
                                    18
                                </li>
                            </ul>
                        </div>
                        <div class="depth2">
                            <ul class="titles">
                                <li class="title01 title">점용 목적</li>
                                <li class="title02 title">점용 기간</li>
                                <li class="title03 title">신규등록사유</li>
                            </ul>
                            <ul class="contents">
                                <li class="content01 content">
                                    송유관
                                </li>
                                <li class="content02 content">
                                    2017-02-25 ~ 2027-02-24
                                </li>
                                <li class="content03 content">
                                    &#160
                                </li>
                            </ul>
                        </div>
                        <div class="depth3">
                            <ul class="titles">
                                <li class="title01 title">점용허가증 보유 여부</li>
                                <li class="title02 title">점용료 미납부 사유</li>
                                <li class="title03 title">점용료 선납 여부</li>
                                <li class="title03 title">선납기한</li>
                            </ul>
                            <ul class="contents">
                                <li class="content01 content">
                                    Y
                                </li>
                                <li class="content02 content">
                                    관할관청의 미청구
                                </li>
                                <li class="content02 content">
                                    N
                                </li>
                                <li class="content02 content">
                                    2024-07-01
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
                <div class="contBox contBoxMini03">

                    <div class="thirdTitle">
                        <h2>・대상 토지정보</h2>
                    </div>

                    <div class="contentDetailBox">
                        <div class="depth1">
                            <ul class="titles">
                                <li class="title01 title">주소</li>
                                <li class="title02 title">전체면적(m²)</li>
                                <li class="title03 title">연장(m)</li>
                                <li class="title04 title">면적(m²)</li>
                                <li class="title05 title">보기</li>
                            </ul>
                            <ul class="contents">
                                <li class="content01 content">
                                    광주광역시 광산구 도천동 620-6
                                </li>
                                <li class="content02 content">
                                    15,728.03
                                </li>
                                <li class="content03 content">
                                    1,800
                                </li>
                                <li class="content04 content">
                                    20
                                </li>
                                <li class="content05 content">
                                    <button class="viewDetailButton">위치보기</button>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
                <div class="contBox contBoxMini04">

                    <div class="thirdTitle">
                        <h2>・소속 토지정보</h2>
                        <span class="landListViewBtn">토지 목록 보이기</span>
                    </div>

                    <div class="contentDetailBox">
                        <div class="depth1">
                            <ul class="titles">
                                <li class="title01 title">순번</li>
                                <li class="title02 title">주소</li>
                                <li class="title03 title">전체면적(m²)</li>
                                <li class="title04 title">연장(m)</li>
                                <li class="title05 title">면적(m²)</li>
                                <li class="title06 title">보기</li>
                            </ul>
                            <ul class="contents">
                                <li class="content01 content">
                                    1
                                </li>
                                <li class="content02 content">
                                    광주광역시 관산구 도천동 620-6
                                </li>
                                <li class="content03 content">
                                    이슈 삭제
                                </li>
                                <li class="content04 content">
                                    이슈 삭제
                                </li>
                                <li class="content05 content">
                                    2024-04-01 11:21:04
                                </li>
                                <li class="content06 content">
                                    <button class="viewDetailButton">위치보기</button>
                                </li>
                            </ul>
                            <ul class="contents">
                                <li class="content01 content">
                                    2
                                </li>
                                <li class="content02 content">
                                    광주광역시 광산구 도천동 624-1
                                </li>
                                <li class="content03 content">
                                    이슈 수정
                                </li>
                                <li class="content04 content">
                                    이슈 수정
                                </li>
                                <li class="content05 content">
                                    이슈 수정
                                </li>
                                <li class="content06 content">
                                    <button class="viewDetailButton">위치보기</button>
                                </li>
                            </ul>
                        </div>
                        <div class="depth2">
                            <ul class="titles">
                                <li class="title01 title">
                                    전체 위치보기
                                </li>
                            </ul>
                            <ul class="contents">
                                <li class="content01 content">
                                    <button class="viewAllBtn">전체 위치보기</button>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>

            </div>


        </section>
        <section class="occupationPermitBasicInfo">
            <div class="subTitle">
                점용허가 기본정보
            </div>

            <div class="contWrap">

                <!-- 허가 정보 -->

                <div class="contBox">

                    <div class="thirdTitle">
                        <h2>・허가 정보</h2>
                    </div>

                    
                    <div class="contentDetailBox">
                        <div class="depth1">
                            <ul class="titles">
                                <li class="title01 title">순번</li>
                                <li class="title02 title">허가번호</li>
                                <li class="title03 title">허가명</li>
                                <li class="title04 title">시설명칭</li>
                                <li class="title05 title">허가관청</li>
                                <li class="title06 title">관리청</li>
                                <li class="title07 title">연장(m)</li>
                                <li class="title08 title">면적(m²)</li>
                                <li class="title09 title">도시계획결정여부</li>
                                <li class="title10 title">결재문서 조회</li>
                            </ul>
                            <ul class="contents">
                                <li class="content01 content">
                                    1
                                </li>
                                <li class="content02 content">
                                    &#160
                                </li>
                                <li class="content03 content">
                                    &#160
                                </li>
                                <li class="content04 content">
                                    도천동 624-1
                                </li>
                                <li class="content05 content">
                                    광산구청
                                </li>
                                <li class="content06 content">
                                    광산구청
                                </li>
                                <li class="content07 content">
                                    18
                                </li>
                                <li class="content08 content">
                                    18
                                </li>
                                <li class="content09 content">
                                    Y
                                </li>
                                <li class="content10 content">
                                    <button class="viewDetailButton">상세보기</button>
                                </li>
                            </ul>
                            <ul class="contents lastContents">
                                <li class="content01 content">
                                    2
                                </li>
                                <li class="content02 content">
                                    제2013-98
                                </li>
                                <li class="content03 content">
                                    하천
                                </li>
                                <li class="content04 content">
                                    풍영정천
                                </li>
                                <li class="content05 content">
                                    광주광역시 광산구
                                </li>
                                <li class="content06 content">
                                    &#160
                                </li>
                                <li class="content07 content">
                                    &#160
                                </li>
                                <li class="content08 content">
                                    18
                                </li>
                                <li class="content09 content">
                                    &#160
                                </li>
                                <li class="content10 content">
                                    
                                    <button class="viewDetailButton">상세보기</button>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>

                <!-- 점용 허가 및 점용료 납부 현황 -->

                <div class="contBox contBoxMini05">

                    <div class="thirdTitle">
                        <h2>・점용 허가 및 점용료 납부 현황</h2>
                    </div>

                    <div class="contentDetailBox">
                        
                        <!-- 순번 -->
                        <div class="depth1">
                            <ul class="titles">
                                <li class="title01 title">순번</li>
                                
                            </ul>
                            <ul class="contents">
                                <li class="content01 content">
                                    1
                                </li>
                                
                            </ul>
                            <ul class="contents lastContents">
                                <li class="content01 content">
                                    2
                                </li>
                                
                            </ul>
                        </div>

                        <!-- 점용허가 유효기간 -->

                        <div class="depth2">
                            <ul class="titles">
                                <li class="title01 title">점용허가 유효기간</li>
                            </ul>
                            <ul class="titles bluetitle">
                                <li class="title01 title">시작일</li>
                                <li class="title01 title">종료일</li>
                                <li class="title01 title">부서</li>
                            </ul>




                            <ul class="contents">
                                <li class="content01 content">
                                    2014-01-01
                                </li>
                                <li class="content01 content">
                                    &#160
                                </li>
                                <li class="content01 content">
                                    &#160
                                </li>
                                
                            </ul>
                            <ul class="contents lastContents">
                                <li class="content01 content">
                                    2018-01-01
                                </li>
                                <li class="content01 content">
                                    &#160
                                </li>
                                <li class="content01 content">
                                    건설과
                                </li>
                                
                            </ul>
                        </div>

                        <!-- 허가기관 담당부서 -->
                        <div class="depth3">
                            <ul class="titles">
                                <li class="title01 title">허가기관 담당 부서</li>
                            </ul>
                            <ul class="titles bluetitle">
                                <li class="title01 title">담당자</li>
                                <li class="title01 title">연락처</li>
                            </ul>




                            <ul class="contents">
                                <li class="content01 content">
                                    김철수
                                </li>
                                <li class="content01 content">
                                    02-960-8081
                                </li>
                                
                            </ul>
                            <ul class="contents lastContents">
                                <li class="content01 content">
                                    &#160
                                </li>
                                <li class="content01 content">
                                    &#160
                                </li>
                                
                            </ul>
                        </div>

                        <!-- 점용료 납부현황  -->
                        <div class="depth4">
                            <ul class="titles">
                                <li class="title01 title">점용료 납부현황</li>
                            </ul>
                            <ul class="titles bluetitle">
                                <li class="title01 title">납부방법</li>
                                <li class="title01 title">납부연월일</li>
                                <li class="title01 title">금액</li>
                            </ul>




                            <ul class="contents">
                                <li class="content01 content">
                                    가상계좌
                                </li>
                                <li class="content01 content">
                                    2018-03-27
                                </li>
                                <li class="content01 content">
                                    20,040
                                </li>
                                
                            </ul>
                            <ul class="contents lastContents">
                                <li class="content01 content">
                                    &#160
                                </li>
                                <li class="content01 content">
                                    &#160
                                </li>
                                <li class="content01 content">
                                    18,560
                                </li>
                                
                            </ul>
                        </div>

                        <!-- 점용료 납부 /전자결재조회 -->
                        <div class="depth5">
                            <ul class="titles">
                                <li class="title01 title">점용료 납부 /<br>
                                    전자결재조회</li>
                            </ul>




                            <ul class="contents">
                                <li class="content01 content">
                                    <button class="viewDetailButton">상세보기</button>
                                </li>
                                
                            </ul>
                            <ul class="contents lastContents">
                                <li class="content01 content">
                                    <button class="viewDetailButton">상세보기</button>
                                </li>
                                
                            </ul>
                        </div>
                    </div>

                </div>

                <!-- 첨부파일 -->

                <div class="contBox contBoxMini06">

                    <div class="thirdTitle">
                        <h2>・첨부파일</h2>
                    </div>

                    
                    <div class="contentDetailBox">
                        <div class="depth1">
                            <ul class="titles">
                                <li class="title01 title">등록일</li>
                                <li class="title02 title">파일명</li>
                                <li class="title03 title">파일보기</li>
                                <li class="title04 title">파일저장</li>
                            </ul>
                            <div class="contentScr">
                                <ul class="contents">
                                    <li class="content01 content">
                                        2024-03-31
                                    </li>
                                    <li class="content02 content">
                                        서울특별시 서초구 원지동 28.pdf
                                    </li>
                                    <li class="content03 content">
                                        <button class="viewDetailButton">상세보기</button>
                                    </li>
                                    <li class="content04 content">
                                        <button class="fileDownloadBtn">다운로드 <span class="downloadIcon"></span></button>
                                    </li>
                                </ul>
                                <ul class="contents">
                                    <li class="content01 content">
                                        2024-03-31
                                    </li>
                                    <li class="content02 content">
                                        원지동 28 등기부등본.pdf
                                    </li>
                                    <li class="content03 content">
                                        <button class="viewDetailButton">상세보기</button>
                                    </li>
                                    <li class="content04 content">
                                        <button class="fileDownloadBtn">다운로드 <span class="downloadIcon"></span></button>
                                    </li>
                                </ul>
                                <ul class="contents lastContents">
                                    <li class="content01 content">
                                        2024-03-31
                                    </li>
                                    <li class="content02 content">
                                        원지동 28 등기부등본.pdf
                                    </li>
                                    <li class="content03 content">
                                        <button class="viewDetailButton">상세보기</button>
                                    </li>
                                    <li class="content04 content">
                                        <button class="fileDownloadBtn">다운로드 <span class="downloadIcon"></span></button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>


        </section>

        <!-- 변경 이력 -->
        <section class="changeHistory">
            <div class="subTitle">
                변경이력
            </div>

            <div class="contWrap">
                <div class="contBox">
                    <div class="contentDetailBox">
                        <div class="depth1">
                            <ul class="titles">
                                <li class="title01 title">순번</li>
                                <li class="title02 title">변경일시</li>
                                <li class="title02 title">구분</li>
                                <li class="title04 title">내용</li>
                            </ul>
                            <div class="contentScr">
                                <ul class="contents">
                                    <li class="content01 content">
                                        1
                                    </li>
                                    <li class="content02 content">
                                        2024-04-02 15:40:01
                                    </li>
                                    <li class="content03 content">
                                        기본 정보
                                    </li>
                                    <li class="content04 content">
                                        국공유지 여부 변경
                                    </li>
                                </ul>
                                <ul class="contents">
                                    <li class="content01 content">
                                        2
                                    </li>
                                    <li class="content02 content">
                                        2024-04-02 15:40:01
                                    </li>
                                    <li class="content03 content">
                                        기본 정보
                                    </li>
                                    <li class="content04 content">
                                        허가관청 변경  (‘’ -> 여수시)
                                        관리기관 변경 (‘’ -> ‘도로관리사업소’)
                                    </li>
                                </ul>
                                <ul class="contents lastContents">
                                    <li class="content01 content">
                                        2
                                    </li>
                                    <li class="content02 content">
                                        2024-04-02 15:40:01
                                    </li>
                                    <li class="content03 content">
                                        기본 정보
                                    </li>
                                    <li class="content04 content">
                                        허가관청 변경  (‘’ -> 여수시)
                                        관리기관 변경 (‘’ -> ‘도로관리사업소’)
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>


        </section>
        <!-- 필지 첨부파일 -->
        <section class="parcelAttachments">
            <div class="subTitle">
                필지 첨부파일
                <span class="myPc">내 PC</span>
            </div>

            <div class="fileUploadWrap">
                <div class="fileUploadBox">
                    <img src="/assets/media/menu01/images/file-upload.png" alt="파일 업로드 아이콘" class="fileUploadIcon">
                    <p>파일을 마우스로 끌어오세요.</p>
                </div>
            </div>

            <div class="contWrap">
                <div class="contBox">
                    <div class="contentDetailBox">
                        <div class="depth1">
                            <ul class="titles">
                                <li class="title01 title">선택</li>
                                <li class="title02 title">등록일</li>
                                <li class="title03 title">파일명</li>
                                <li class="title04 title">파일보기</li>
                            </ul>
                            <div class="contentScr">
                                <ul class="contents">
                                    <li class="content01 content">
                                        <input type="checkbox" id="occupcustomCheckbox03">
                                        <label for="occupcustomCheckbox03"></label>
                                    </li>
                                    <li class="content02 content">
                                        2024-03-31 15:40:01
                                    </li>
                                    <li class="content03 content">
                                        서울특별시 서초구 원지동 28.pdf
                                    </li>
                                    <li class="content04 content">
                                        <button class="viewDetailButton">보기</button>
                                    </li>
                                </ul>
                                <ul class="contents">
                                    <li class="content01 content">
                                        <input type="checkbox" id="occupcustomCheckbox04">
                                        <label for="occupcustomCheckbox04"></label>
                                    </li>
                                    <li class="content02 content">
                                        2024-04-02 15:40:01
                                    </li>
                                    <li class="content03 content">
                                        서울특별시 서초구 원지동 28.pdf
                                    </li>
                                    <li class="content04 content">
                                        <button class="viewDetailButton">보기</button>
                                    </li>
                                </ul>
                                <ul class="contents lastContents">
                                    <li class="content01 content">
                                        <input type="checkbox" id="occupcustomCheckbox05">
                                        <label for="occupcustomCheckbox05"></label>
                                    </li>
                                    <li class="content02 content">
                                        2024-04-02 15:40:01
                                    </li>
                                    <li class="content03 content">
                                        원지동 28 등기부등본.pdf
                                    </li>
                                    <li class="content04 content">
                                        <button class="viewDetailButton">보기</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="btnWrap">
                        <button class="fileBtn fileSaveBtn">첨부파일 저장</button>
                        <button class="fileBtn delBtn">선택파일 삭제</button>
                    </div>
                </div>
            </div>


        </section>
        <!-- 잠재이슈 -->
        <section class="potentialIssues">
            <div class="subTitle">
                잠재이슈
            </div>
            <div class="contWrap">
                <div class="contBox contBox07">
                    <div class="contentDetailBox">
                        <div class="depth1">
                            <ul class="titles">
                                <li class="title01 title">등기여부</li>
                                <li class="title02 title">계약여부</li>
                                <li class="title03 title">이슈유형(대분류)</li>
                                <li class="title03 title">이슈유형(중분류)</li>
                                <li class="title03 title">이슈유형(세분류)</li>
                                <li class="title01 title">등록사유</li>
                                <li class="title04 title">등록일시</li>
                                <li class="title04 title ">편집</li>
                            </ul>
                            <ul class="contents">
                                <li class="content01 content">
                                    등기설정
                                </li>
                                <li class="content02 content">
                                    계약체결
                                </li>
                                <li class="content03 content">
                                    이슈없음
                                </li>
                                <li class="content03 content">
                                    이슈없음
                                </li>
                                <li class="content03 content">
                                    이슈없음
                                </li>
                                <li class="content01 content">
                                    신규등록
                                </li>
                                <li class="content04 content">
                                    2024-04-01 09:46:01
                                </li>
                                <li class="content05 content btnBox">
                                    <div class="newBtnWrap">
                                        <button class="registBtn miniBtn">등록</button>
                                    </div>
                                </li>
                            </ul>
                            <ul class="contents lastContents">
                                <li class="content01 content">
                                    등기설정
                                </li>
                                <li class="content02 content">
                                    계약체결
                                </li>
                                <li class="content03 content">
                                    이슈없음
                                </li>
                                <li class="content03 content">
                                    이슈없음
                                </li>
                                <li class="content03 content">
                                    이슈없음
                                </li>
                                <li class="content01 content">
                                    신규등록
                                </li>
                                <li class="content04 content">
                                    2024-04-01 09:46:01
                                </li>
                                <li class="content04 content btnBox">
                                    <div class="btnWrap">
                                        <button class="editBtn miniBtn occupationIssueReviseBtn">수정</button>
                                    </div>
                                    <div class="btnWrap">
                                        <button class="delBtn miniBtn">삭제</button>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </section>

        <!-- 잠재이슈 변경 이력 -->
        <section class="potentialIssuesChangeHistory">
            <div class="subTitle">
                잠재이슈 변경 이력
            </div>

            <div class="contWrap">
                <div class="contBox">
                    <div class="contentDetailBox">
                        <div class="depth1">
                            <ul class="titles">
                                <li class="title01 title">순번</li>
                                <li class="title02 title">구분</li>
                                <li class="title03 title">변경일자</li>
                                <li class="title04 title">내용</li>
                                <li class="title03 title">사유</li>
                            </ul>
                            <ul class="contents">
                                <li class="content01 content">
                                    3
                                </li>
                                <li class="content02 content">
                                    이슈 삭제
                                </li>
                                <li class="content03 content">
                                    2024-04-01 11:21:04
                                </li>
                                <li class="content04 content">
                                    [기공승낙서 미존재 > 토지소유자 협의없이 매설 > 오류/무단매설]
                                </li>
                                <li class="content03 content">
                                    이슈 중복 등록
                                </li>
                            </ul>
                            <ul class="contents">
                                <li class="content01 content">
                                    2
                                </li>
                                <li class="content02 content">
                                    이슈 수정
                                </li>
                                <li class="content03 content">
                                    2024-04-01 11:21:04
                                </li>
                                <li class="content04 content">
                                    [이슈없음 > 이슈없음 > 이슈없음] -> [기공승낙서 미존재 > 토지소유자 협의없이 매설 > 오류/무단매설]
                                </li>
                                <li class="content03 content">
                                    신규 등록
                                </li>
                            </ul>
                            <ul class="contents lastContents">
                                <li class="content01 content">
                                    1
                                </li>
                                <li class="content02 content">
                                    신규 등록
                                </li>
                                <li class="content03 content">
                                    2024-04-01 11:21:04
                                </li>
                                <li class="content04 content">
                                    [이슈없음 > 이슈없음 > 이슈없음]
                                </li>
                                <li class="content03 content">
                                    신규 등록
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>


        </section>

        <!-- 잠재이슈 대응방안 메뉴얼 -->


        <section class="potentialIssuesResponseManual">
            <div class="subTitle">
                잠재이슈 대응방안 메뉴얼
            </div>


            <div class="contWrap">
                <div class="contBox">
                    <div class="contentDetailBox">
                        <div class="depth1">
                            <ul class="titles">
                                <li class="title01 title">매뉴얼명</li>
                                <li class="title02 title">버전</li>
                                <li class="title03 title">개정일자</li>
                                <li class="title04 title">다운로드</li>
                            </ul>
                            <ul class="contents">
                                <li class="content01 content">
                                    계약자와 현재소유자가 다른 경우 (5년이내)
                                </li>
                                <li class="content02 content">
                                    1.0
                                </li>
                                <li class="content03 content">
                                    2024-04-02 15:40:01
                                </li>
                                <li class="content04 content btnsWrap">
                                    <button class="fileDownloadBtn">다운로드 <span class="downloadIcon"></span></button>
                                </li>
                            </ul>
                            <ul class="contents lastContents">
                                <li class="content01 content">
                                    토지소유자가 아닌자와 계약 (20년 초과)
                                </li>
                                <li class="content02 content">
                                    1.0
                                </li>
                                <li class="content03 content">
                                    2024-04-02 15:40:01
                                </li>
                                <li class="content04 content btnsWrap">
                                    <button class="fileDownloadBtn">다운로드 <span class="downloadIcon"></span></button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>


        </section>

        <!-- 메모 -->

        <section class="memoSection">
            <div class="subTitle">
                메모
            </div>
        
        
            <div class="contWrap">
                <div class="contBox">
                    <div class="contentDetailBox">
                        <div class="depth1">
                            <ul class="titles">
                                <li class="title01 title">작성일시</li>
                                <li class="title02 title">작성자</li>
                                <li class="title03 title">내용</li>
                                <li class="title04 title">수정</li>
                                <li class="title05 title">추가/삭제</li>
                            </ul>
                            <div class="contentScr">
                                <ul class="contents">
                                    <li class="content01 content">
                                        2022-11-01
                                    </li>
                                    <li class="content02 content editSpace">
                                        <input type="text" readonly placeholder="김철수" class="editingContent">
                                    </li>
                                    <li class="content03 content editSpace">
                                        <input type="text" readonly placeholder="협의중" class="editingContent">
                                    </li>
                                    <li class="content04 content editSpace">
                                        <div class="btnsWrap">
                                            <button class="editBtn miniBtn">수정</button>
                                        </div>
                                    </li>
                                    <li class="content05 content btnBox">

                                        <!-- 수정하지 않을 때 -->

                                        <div class="editBefore">
                                            <div class="btnWrap">
                                                <button class="addBtn miniBtn">추가</button>
                                            </div>
                                            <div class="btnWrap">
                                                <button class="delBtn miniBtn">삭제</button>
                                            </div>
                                        </div>

                                        <!-- 수정할 때 -->

                                        <div class="editAfter">
                                            <div class="newBtnWrap">
                                                <button class="registBtn miniBtn">등록</button>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <ul class="contents">
                                    <li class="content01 content">
                                        2022-11-01
                                    </li>
                                    <li class="content02 content editSpace">
                                        <input type="text" readonly placeholder="김철수" class="editingContent">
                                    </li>
                                    <li class="content03 content editSpace">
                                        <input type="text" readonly placeholder="협의중" class="editingContent">
                                    </li>
                                    <li class="content04 content editSpace">
                                        <div class="btnsWrap">
                                            <button class="editBtn miniBtn">수정</button>
                                        </div>
                                    </li>
                                    <li class="content05 content btnBox">

                                        <!-- 수정하지 않을 때 -->

                                        <div class="editBefore">
                                            <div class="btnWrap">
                                                <button class="addBtn miniBtn">추가</button>
                                            </div>
                                            <div class="btnWrap">
                                                <button class="delBtn miniBtn">삭제</button>
                                            </div>
                                        </div>

                                        <!-- 수정할 때 -->

                                        <div class="editAfter">
                                            <div class="newBtnWrap">
                                                <button class="registBtn miniBtn">등록</button>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <ul class="contents">
                                    <li class="content01 content">
                                        2022-11-01
                                    </li>
                                    <li class="content02 content editSpace">
                                        <input type="text" readonly placeholder="김철수" class="editingContent">
                                    </li>
                                    <li class="content03 content editSpace">
                                        <input type="text" readonly placeholder="협의중" class="editingContent">
                                    </li>
                                    <li class="content04 content editSpace">
                                        <div class="btnsWrap">
                                            <button class="editBtn miniBtn">수정</button>
                                        </div>
                                    </li>
                                    <li class="content05 content btnBox">

                                        <!-- 수정하지 않을 때 -->

                                        <div class="editBefore">
                                            <div class="btnWrap">
                                                <button class="addBtn miniBtn">추가</button>
                                            </div>
                                            <div class="btnWrap">
                                                <button class="delBtn miniBtn">삭제</button>
                                            </div>
                                        </div>

                                        <!-- 수정할 때 -->

                                        <div class="editAfter">
                                            <div class="newBtnWrap">
                                                <button class="registBtn miniBtn">등록</button>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <ul class="contents">
                                    <li class="content01 content">
                                        2022-11-01
                                    </li>
                                    <li class="content02 content editSpace">
                                        <input type="text" readonly placeholder="김철수" class="editingContent">
                                    </li>
                                    <li class="content03 content editSpace">
                                        <input type="text" readonly placeholder="협의중" class="editingContent">
                                    </li>
                                    <li class="content04 content editSpace">
                                        <div class="btnsWrap">
                                            <button class="editBtn miniBtn">수정</button>
                                        </div>
                                    </li>
                                    <li class="content05 content btnBox">

                                        <!-- 수정하지 않을 때 -->

                                        <div class="editBefore">
                                            <div class="btnWrap">
                                                <button class="addBtn miniBtn">추가</button>
                                            </div>
                                            <div class="btnWrap">
                                                <button class="delBtn miniBtn">삭제</button>
                                            </div>
                                        </div>

                                        <!-- 수정할 때 -->

                                        <div class="editAfter">
                                            <div class="newBtnWrap">
                                                <button class="registBtn miniBtn">등록</button>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <ul class="contents">
                                    <li class="content01 content">
                                        2022-11-01
                                    </li>
                                    <li class="content02 content editSpace">
                                        <input type="text" readonly placeholder="김철수" class="editingContent">
                                    </li>
                                    <li class="content03 content editSpace">
                                        <input type="text" readonly placeholder="협의중" class="editingContent">
                                    </li>
                                    <li class="content04 content editSpace">
                                        <div class="btnsWrap">
                                            <button class="editBtn miniBtn">수정</button>
                                        </div>
                                    </li>
                                    <li class="content05 content btnBox">

                                        <!-- 수정하지 않을 때 -->

                                        <div class="editBefore">
                                            <div class="btnWrap">
                                                <button class="addBtn miniBtn">추가</button>
                                            </div>
                                            <div class="btnWrap">
                                                <button class="delBtn miniBtn">삭제</button>
                                            </div>
                                        </div>

                                        <!-- 수정할 때 -->

                                        <div class="editAfter">
                                            <div class="newBtnWrap">
                                                <button class="registBtn miniBtn">등록</button>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
        
        </section>


        <!-- 참고 -->


        <div class="finalBtnBox btnWrap">
            <button class="backBtn finalBtn">이전</button>
            <button class="printBtn finalBtn">출력</button>
        </div>



    </main>
</div>
<div class="occupationIssueReviseWrappers"></div>
    <!-- script -->
     <script src="../../js/menu01/occupationDetails.js"></script>
     <script type="module" src="../../surfaceMain.js"></script>
</body>
</html>