@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
}
body * {
  font-family: pretendard;
}

a {
  text-decoration: none;
  color: #3c3c3c;
}
li {
  list-style: none;
}
select {
  outline: 0;
  border: 1px solid #cfddf2;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 500;
  color: #6e7d88;
  text-indent: 12px;
}
input {
  border: 0;
  outline: 0;
}
input:focus {
  border: 0;
}
textarea:focus {
  border: 0;
  outline: 0;
}
button {
  border: 0;
}
.disabled {
  pointer-events: none;
}
.normalLineHeight {
  line-height: normal;
}
.fileUploadIcon {
  width: 35px;
  height: 35px;
}
.contentScr {
  overflow-y: scroll;
  border-radius: 0 0 5px 5px;
}
.titleScr {
  padding-right: 4px;
}
#masterEdit .contentScr::-webkit-scrollbar {
  width: 4px;
}
.viewBtnBox {
  display: flex;
  justify-content: center;
  align-items: center;
}
.viewDetailButton {
  width: 116px;
  height: 27px;
  border-radius: 20px;
}
#masterEdit .contentScr::-webkit-scrollbar-thumb {
  height: 30%;
  border-radius: 10px;
  background: #d2d2d2;
}
.lightBlueBtn {
  color: #2b7de1;
  background: rgba(204, 224, 255, 0.6);
}
.excelDownBtn {
  background: url(/assets/media/menu03/images/excelDownload.png) no-repeat right
    28px center;
  background-size: 18px;
  text-align: left;
  text-indent: 28px;
}
.excelUpBtn {
  background: url(/assets/media/menu03/images/excelUpload.png) no-repeat right
    34px center;
  background-size: 18px;
  text-align: left;
  text-indent: 34px;
}
.middleBtn {
  width: 159px;
  height: 38px;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 600;
}
.navyBtn {
  background-color: #4e5871;
  color: #fff;
}
.whiteBtn {
  background-color: #fff;
  border: 1px solid #4e5871;
  color: #4e5871;
}
.searchAddressBtn {
  width: 54px;
  height: 27px;
  border-radius: 20px;
  background: #2b7de1;
  color: #fff;
}
.moreSelectBtn {
  /* font-size: 15px; */
  /* 추가 */
  font-size: 14px;
  font-weight: 500;
  color: #4e5871;
  width: 100%;
  height: 100%;
  background: #fff;
  text-align-last: left;
  padding-left: 12px;
  box-sizing: border-box;
}
.authHistBtn {
  width: 139px;
  height: 27px;
  border-radius: 20px;
  font-size: 13px;
  font-weight: 600;
}

/* css추가 */

.masterEditWrappers {
  overflow-y: scroll;
}

/* 스크롤바 */

.masterEditWrappers::-webkit-scrollbar {
  width: 3px;
}

.masterEditWrappers::-webkit-scrollbar-thumb {
  height: 30%;
  border-radius: 10px;
  background: #d2d2d2;
}

.masterEditHeader {
  width: 100px;
  height: 100vh;
  float: left;
}

/**/

#masterEdit * {
  font-family: pretendard;
}

#masterEdit {
  width: calc(100% - 100px);
  padding: 0 20px;
  box-sizing: border-box;
  float: left;
}

#masterEdit .mainTitle {
  padding: 30px 0;
  border-bottom: 1px solid rgba(110, 125, 136, 0.2);
}

#masterEdit .mainTitle h1 {
  font-size: 22px;
  font-weight: 700;
  color: #31394c;
  padding-left: 20px;
  box-sizing: border-box;
}

#masterEdit .subTitle {
  font-size: 18px;
  font-weight: 700;
  color: #31394c;
  margin-bottom: 24px;
  position: relative;
}
#masterEdit .defaultInfo .subTitle {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 21px;
}

#masterEdit .subTitleBtnBox {
  display: flex;
  gap: 10px;
  position: absolute;
  top: 0;
  transform: translateY(-25%);
  right: 0;
}
#masterEdit .contents .content {
  height: 100%;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  color: #3c3c3c;
  box-sizing: border-box;
  padding: 6px 8px;
  border-right: 1px solid #cddbf0;
}
#masterEdit .contents .content:last-child {
  border-right: 0;
}

#masterEdit .contents .content.checkboxWrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* selectbox 스크롤 */
#masterEdit .customSelectBox .customSelectBtns::-webkit-scrollbar {
  width: 4px;
}

#masterEdit .customSelectBox .customSelectBtns::-webkit-scrollbar-thumb {
  height: 30%;
  border-radius: 10px;
  background: #d2d2d2;
}
#masterEdit .attachFileInfo .fileUploadWrap::-webkit-scrollbar {
  width: 4px;
}

#masterEdit .attachFileInfo .fileUploadWrap::-webkit-scrollbar-thumb {
  height: 30%;
  border-radius: 10px;
  background: #d2d2d2;
}

#masterEdit .defaultInfo {
  /* padding: 40px 0; */
  padding: 27px 0 40px 0;
}
#masterEdit .defaultInfo .contWrap .contents {
  height: 47px;
}
#masterEdit .defaultInfo .contWrap .depth1 .contents {
  border-bottom: 1px solid #cddbf0;
}
#masterEdit .contWrap {
  width: 100%;
  border: 1px solid #cddbf0;
  border-radius: 5px;
}
#masterEdit .contWrap .titles {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 45px;
  background: #f7f9fc;
  border-bottom: 1px solid #cddbf0;
}
#masterEdit .contWrap .depth1 .titles {
  border-radius: 5px 5px 0 0;
}
#masterEdit .contWrap .titles li {
  height: 100%;
  text-align: center;
  line-height: 45px;
  font-size: 14px;
  font-weight: 500;
  color: #000;
  border-right: 1px solid #cddbf0;
  box-sizing: border-box;
}
#masterEdit .contWrap .titles li:last-child {
  border-right: 0;
}
#masterEdit .contWrap .contents {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 45px;
  background: #fff;
  border-bottom: 1px solid #cddbf0;
  box-sizing: border-box;
}
#masterEdit .contWrap .contents:last-child {
  border-bottom: 0;
  border-radius: 0 0 5px 5px;
}
#masterEdit .defaultInfo .contWrap .title {
  width: 7.3%;
}
#masterEdit .defaultInfo .contWrap .content {
  width: 7.3%;
}
#masterEdit .defaultInfo .contWrap .largeTitle {
  width: 10%;
}
#masterEdit .lineWrap {
  position: relative;
  height: 100%;
}
#masterEdit .singleLine {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
#masterEdit .singleLine .inputWrap {
  height: 100%;
}
#masterEdit .doubleLine {
  display: flex;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
#masterEdit .customSelectBox {
  width: 100%;
  height: 100%;
  position: relative;
}
#masterEdit .customSelectBox .customSelectView {
  width: 100%;
  height: 100%;
  border: 1px solid #cfddf2;
  border-radius: 10px;
  /* font-size: 15px; */
  /* 추가 */
  font-size: 14px;
  font-weight: 500;
  color: #6e7d88;
  background: #fff;
  text-align-last: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 9px 12px;
  box-sizing: border-box;
  background: url(/assets/media/menu03/images/arrowDown.png) no-repeat right 8px
    center;
  background-size: 18px;
}
#masterEdit .customSelectBox .customSelectView.active {
  background: url(/assets/media/menu03/images/arrowDownBlue.png) no-repeat right
    8px center;
  background-size: 18px;
  border: 1px solid #2b7de1;
  color: #2b7de1;
}
#masterEdit .customSelectBox .customSelectBtns {
  position: absolute;
  width: 100%;
  top: calc(100% + 4px);
  box-sizing: border-box;
  max-height: 0;
  overflow-y: hidden;
  z-index: 10;
  transition: 500ms;
  opacity: 0;
  border: 1px solid #acbdd7;
}
#masterEdit .customSelectBox .customSelectBtns.active {
  padding: 6px 0;
  border-radius: 10px;
  background: #fff;
  max-height: 233px;
  overflow-y: scroll;
  transition: 500ms;
  opacity: 1;
}

#masterEdit .customSelectBox .customSelectBtns li {
  padding: 0;
  height: 41px;
}
#masterEdit .contents .content.inputArea {
  display: flex;
  padding: 0;
}
#masterEdit .inputWrap {
  border-right: 1px solid #cddbf0;
  padding: 6px 8px;
  box-sizing: border-box;
}
#masterEdit .inputWrap:last-child {
  border-right: 0;
}
#masterEdit .contWrap .contents li input[type="text"] {
  width: 100%;
  height: 100%;
  background: #edf2f9;
  border-radius: 10px;
  text-align: center;
}
#masterEdit .contWrap .contents li input[type="text"].notWriteInput {
  background: transparent;
}
#masterEdit
  .contWrap
  .contents
  li
  input[type="text"].notWriteInput::placeholder {
  color: #3c3c3c;
  font-size: 14px;
  font-weight: 500;
}
#masterEdit .contWrap .contents li input[type="text"]::placeholder {
  color: #6e7d88;
}
#masterEdit .contWrap .contents li input[type="text"]::placeholder {
  text-align: center;
  text-indent: 0;
}
#masterEdit input[type="checkbox"] {
  display: none;
}
.checkboxWrap label {
  width: 21px;
  height: 21px;
  border-radius: 5px;
  background: #eff6ff;
}
/* date */
#masterEdit .dateBar {
  width: 10px;
  height: 2px;
  background: #cfddf2;
}
#masterEdit .dateInputBox {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
}
#masterEdit .dateInputWrap {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: 1px solid #cfddf2;
  position: relative;
  background: url(/assets/media/menu03/images/calendarInputIcon.png) no-repeat
    left 8px center;
  background-size: 18px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#masterEdit input[type="date"] {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  position: relative;
  color: transparent;
  background: transparent;
  text-align: right;
  /* 추가 */
  padding: 0 10px;
  box-sizing: border-box;
}
#masterEdit input[type="date"]::-webkit-calendar-picker-indicator {
  background: transparent;
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
#masterEdit input[type="date"]::before {
  content: attr(data-placeholder);
  position: absolute;
  top: 50%;
  /* right: 8px; */
  /* 추가 */
  right: 10px;
  transform: translateY(-50%);
  color: #6e7d88;
}

#masterEdit input[type="date"]:focus,
#masterEdit input[type="date"]:valid {
  color: #6e7d88;
}

#masterEdit input[type="date"]:focus::before,
#masterEdit input[type="date"]:valid::before {
  content: "";
}

/* label */

#masterEdit input[type="checkbox"] {
  display: none;
}

#masterEdit input[type="checkbox"] ~ label {
  width: 21px;
  height: 21px;
  border-radius: 5px;
  background: #eff6ff;
  display: inline-block;
  position: relative;
}

#masterEdit .allSelectCheck input[type="checkbox"] ~ label {
  background: #dce7f5;
}

#masterEdit input[type="checkbox"]:checked ~ label {
  background: #4e5871;
}

#masterEdit input[type="checkbox"]:checked ~ label::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 14px;
  height: 10px;
  background: url(/assets/media/menu03/images/checkIcon.png) no-repeat center;
  background-size: contain;
}

/* depth2 */
#masterEdit .defaultInfo .contWrap .depth2 .contents:last-child {
  border-bottom: 0;
  border-radius: 0 0 5px 5px;
}
#masterEdit .defaultInfo .contWrap .depth2 .title {
  width: 12%;
}
#masterEdit .defaultInfo .contWrap .depth2 .content {
  width: 12%;
}
#masterEdit .defaultInfo .contWrap .depth2 .dateLargeTitle {
  width: 15.7%;
}

/* 변경이력 */
#masterEdit .changeHistory {
  padding-bottom: 40px;
}
#masterEdit .changeHistory .title {
  width: 15.2%;
}
#masterEdit .changeHistory .content {
  width: 15.2%;
}
#masterEdit .changeHistory .smallWidth {
  width: 6.8%;
}
#masterEdit .changeHistory .largeWidth {
  width: 62.1%;
}
#masterEdit .changeHistory .depth1 .contentScr {
  /* height: 90px; */
  height: calc(45px * 5);
}
/* 메모 */

#masterEdit .memoSection {
  padding-bottom: 40px;
}

#masterEdit .memoSection .contents .content.btnBox {
  display: flex;
}
#masterEdit .memoSection .title {
  width: 11.2%;
}

#masterEdit .memoSection .content {
  width: 11.2%;
}

#masterEdit .memoSection .largeWidth {
  width: 77.5%;
}

/* 소속 토지 정보 */

#masterEdit .landAdressInfo .contWrap .title {
  width: 5%;
}
#masterEdit .landAdressInfo .contWrap .content {
  width: 5%;
}
#masterEdit .landAdressInfo .contWrap .addressInfoWidth {
  width: 21%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* css추가*/
#masterEdit .landAdressInfo .contWrap .addressInfoWidth .addressData {
  width: 50%;
}
/**/

#masterEdit .landAdressInfo .contWrap .middleWidth {
  width: 9.2%;
}
#masterEdit .landAdressInfo .contWrap .smallWidth {
  width: 3%;
}
#masterEdit .landAdressInfo .contWrap .largeWidth {
  width: 11.8%;
}
#masterEdit .landAdressInfo .contWrap .btnBox {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
#masterEdit .landAdressInfo .contents .content.btnBox .editBefore,
#masterEdit .landAdressInfo .contents .content.btnBox .editAfter {
  width: 100%;
  height: 100%;
}

#masterEdit .landAdressInfo .contents .content.btnBox .editBefore {
  display: flex;
  justify-content: center;
}

#masterEdit .landAdressInfo .contents.editing .content.btnBox .editBefore {
  display: none;
}

#masterEdit .landAdressInfo .contents .content.btnBox .editAfter {
  display: none;
}

#masterEdit .landAdressInfo .contents.editing .content.btnBox .editAfter {
  display: flex;
  justify-content: center;
  align-items: center;
}

#masterEdit .landAdressInfo .contents .content.btnBox .btnWrap {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#masterEdit .landAdressInfo .contents .content.btnBox .btnWrap:first-child {
  border-right: 1px solid #cddbf0;
}

#masterEdit .landAdressInfo .contentScr {
  height: 180px;
}
#masterEdit .landAdressInfo {
  padding-bottom: 40px;
}
#masterEdit .landAdressInfo .contWrap .depth1 .contents:last-child {
  border-bottom: 0;
  border-radius: 0 0 5px 5px;
}
#masterEdit .miniBtn {
  width: 74px;
  height: 27px;
  border-radius: 20px;
  font-size: 13px;
  font-weight: 600;
}
#masterEdit .addBtn {
  background: #fff;
  border: 1px solid #2b7de1;
  color: #2b7de1;
}
#masterEdit .delBtn {
  background: #9a9a9a;
  color: #fff;
}
#masterEdit .registBtn {
  background: #fff;
  border: 1px solid #2b7de1;
  color: #2b7de1;
}

/* 첨부파일 정보 */
#masterEdit .myPc {
  width: 81px;
  height: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #2b7de1;
  color: #fff;
  border-radius: 20px;
  font-size: 13px;
  font-weight: 600;
}

#masterEdit .attachFileInfo {
  padding-bottom: 40px;
}
#masterEdit .attachFileInfo .subTitle {
  display: flex;
  align-items: center;
  gap: 21px;
}
#masterEdit .attachFileInfo .fileUploadWrap {
  width: 100%;
  margin-bottom: 18px;
  height: 130px;
  overflow-y: scroll;
  border: 1px dashed #cddbf0;
  border-radius: 5px;
}
#masterEdit .attachFileInfo .fileUploadBox {
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  background: #f7f9fc;
}
#masterEdit .attachFileInfo .fileUploadBox p {
  font-size: 14px;
  font-weight: 600;
  color: #88a2c8;
}
#masterEdit .attachFileInfo .contWrap .depth1 .contents:last-child {
  border-bottom: 0;
}
#masterEdit .attachFileInfo .contWrap .title {
  width: 16%;
}
#masterEdit .attachFileInfo .contWrap .content {
  width: 16%;
}
#masterEdit .attachFileInfo .contWrap .selectWidth {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8.6%;
}
#masterEdit .attachFileInfo .contWrap .fileNameWidth {
  width: 59%;
}
#masterEdit .attachFileInfo .contWrap .depth1 .contents .content02 .fileName {
  text-align: center;
  color: #3c3c3c;
  font-size: 14px;
  font-weight: 500;
}
#masterEdit .attachFileInfo .btnWrap {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
  /* 추가 */
  gap: 10px;
}
#masterEdit .attachFileInfo .contentScr {
  /* height: 90px; */
  height: calc(45px * 5);
}
/* .fileDelBtn {
  width: 129px;
  height: 37px;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 600;
} */
/* 추가 */
.attachFileBtn {
  width: 129px;
  height: 37px;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 600;
}
/* 이전, 저장 버튼 */
.finalBtnBox {
  padding-bottom: 40px;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
.finalBtn {
  width: 116px;
  height: 44px;
  font-size: 15px;
  font-weight: 600;
  border-radius: 10px;
}
.vividBlueBtn {
  background: #2b7de1;
  color: #fff;
}

.grayBtn {
  background: #919191;
  color: #fff;
}

.lightBlueBtn {
  background: rgba(204, 224, 255, 0.6);
  color: #2b7de1;
}
.blueBorderBtn {
  background: #fff;
  border: 1px solid #2b7de1;
  color: #2b7de1;
}

/*  */
#masterEdit input[type="file"] {
  display: none;
}

.fileBtnWrap label {
  width: 81px;
  height: 27px;
  background: #2b7de1;
  color: #fff;
  border-radius: 20px;
  font-size: 13px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}
