@charset "utf-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@import url("../header.css");

* {
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  font-family: Pretendard;
  /* overflow-x: hidden; */
}

div,
h1,
h2,
h3,
h4,
h5,
p,
span {
  margin: 0;
  font-family: Pretendard;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  font-family: Pretendard;
}

button {
  border: none;
  background: transparent;
  text-align: center;
}

button:hover {
  cursor: pointer;
}

input {
  border: none;
}

input:focus {
  outline: none;
}

select:focus {
  outline: none;
}

#dopcoPrivateUse03 {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  overflow-y: scroll;
}

/* 지도 버튼 css*/
.viewDetailButton {
  width: 116px;
  height: 27px;
  border-radius: 20px;
  background: rgba(204, 224, 255, 0.6);
  color: #2B7DE1;
  font-size: 13px;
  font-weight: 600;
}

/* 스크롤바 */

#dopcoPrivateUse03::-webkit-scrollbar {
  width: 4px;
}

#dopcoPrivateUse03::-webkit-scrollbar-thumb {
  height: 30%;
  border-radius: 10px;
  background: #d2d2d2;
}

#dopcoPrivateUse03 .privateUse_header03 {
  width: 100px;
  height: 100vh;
  float: left;
}

#dopcoPrivateUse03 .privateUseWrappers03 {
  width: calc(100% - 100px);
  height: 100%;
  margin: 0 auto;
  float: left;
}

/* 타이틀 */
#dopcoPrivateUse03 .privateUseWrappers03 .privateUseTitleBoxs {
  padding: 30px 0px 25px;
}

#dopcoPrivateUse03 .privateUseWrappers03 .privateUseTitleBoxs h5 {
  color: #31394c;
  font-size: 22px;
  padding: 0px 50px;
}

/* section */

#dopcoPrivateUse03 .privateUseWrappers03 .privateUseSectionBoxs {
  padding: 0px 20px;
  margin: 0 auto;
}

#dopcoPrivateUse03 .privateUseWrappers03 .privateUseSectionBoxs .privateUseSectionCont {
  width: 100%;
  height: 253px;
  padding: 10px 0px;
  margin: 0 auto;
  border-radius: 20px;
  border: 1px solid #cddbf099;
  background-color: #f7f9fc;
}

#dopcoPrivateUse03 .privateUseWrappers03 .privateUseSectionBoxs .privateUseSectionCont .privateUseSectionContDevide {
  /* width: 100%; */
  height: 50%;
  width: 97%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

#dopcoPrivateUse03 .privateUseWrappers03 .privateUseSectionBoxs .privateUseSectionCont .privateUseSectionContDevide:last-child {
  margin-top: 3px;
  justify-content: space-between;
  align-items: start;
}

#dopcoPrivateUse03 .privateUseWrappers03 .privateUseSectionBoxs .privateUseSectionCont .privateUseSectionContDevide:first-child {
  border-bottom: 1px solid #cddbf099;
}

#dopcoPrivateUse03 .privateUseWrappers03 .privateUseSectionBoxs .privateUseSectionCont .privateUseSectionContDevide .sectionMenuListBoxs {
  width: 13.5%;
  height: 100%;
  background-color: transparent;
}

#dopcoPrivateUse03 .privateUseWrappers03 .privateUseSectionBoxs .privateUseSectionCont .privateUseSectionContDevide .sectionMenuListBoxs .selectTitle {
  padding: 10px 0px;
}

#dopcoPrivateUse03 .privateUseWrappers03 .privateUseSectionBoxs .privateUseSectionCont .privateUseSectionContDevide .sectionMenuListBoxs .selectTitle p {
  font-size: 15px;
  font-weight: 600;
  color: #4e5871;
}

/* 공통 셀렉박스 */

#dopcoPrivateUse03 .privateUseSelects {
  max-width: 203px;
  height: 44px;
  border-radius: 10px;
  background-color: #fff;
  position: relative;
}

#dopcoPrivateUse03 .privateUseSelects .privateUseSelectsTitleBtn {
  width: 100%;
  padding: 0px 15px;
  height: 100%;
  position: absolute;
  left: 0;
  display: block;
  background-color: transparent;
  text-align: left;
  font-size: 15px;
  border-radius: 10px;
  border: 1px solid #cfddf2;
  background-image: url(/assets/media/menu01/surfaceNavArrowdown.png);
  background-size: 20px;
  background-position: 94% center;
  background-repeat: no-repeat;
  color: #6e7d88;
  filter: grayscale(100);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

#dopcoPrivateUse03 .privateUseSelects .privateUseSelectsTitleBtn.active {
  color: #2b7de1;
  border: 1px solid #2b7de1;
  filter: grayscale(0);
}

#dopcoPrivateUse03 .privateUseSelects .sufaceSelectList {
  position: absolute;
  top: 47px;
  left: 0;
  width: 100%;
  height: 0px;
  border-radius: 10px;
  border: none;
  background-color: #fff;
  border: 1px solid #acbdd7;
  opacity: 0;
  transition: 300ms;
  overflow: hidden;
}

#dopcoPrivateUse03 .privateUseSelects .sufaceSelectList.active {
  display: block;
  height: 243px;
  z-index: 9999;
  opacity: 1;
  transition: height 500ms;
}

#dopcoPrivateUse03 .privateUseSelects .sufaceSelectList.smallHeight.active {
  opacity: 1;
  display: block;
  height: 150px;
  transition: height 500ms;
}

#dopcoPrivateUse03 .privateUseSelects .sufaceSelectList.extrasmallHeight.active {
  opacity: 1;
  display: block;
  height: 100px;
  transition: height 500ms;
}

#dopcoPrivateUse03 .privateUseSelects .sufaceSelectList .surfaceSelectListMember {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: transparent;
  overflow-x: hidden;
  overflow-y: scroll;
}

/* 셀릭박스 스크롤바 */

#dopcoPrivateUse03 .privateUseSelects .sufaceSelectList .surfaceSelectListMember::-webkit-scrollbar {
  width: 4px;
}

#dopcoPrivateUse03 .privateUseSelects .sufaceSelectList .surfaceSelectListMember::-webkit-scrollbar-thumb {
  height: 30%;
  border-radius: 10px;
  background: #d2d2d2;
}

#dopcoPrivateUse03 .privateUseSelects .sufaceSelectList .surfaceSelectListMember::-webkit-scrollbar-track {}

/* 셀렉박스내 체크박스 */

#dopcoPrivateUse03 .privateUseSelects .sufaceSelectList .surfaceSelectListMember.checkBoxsContent li label {
  width: 25px;
  height: 20px;
  margin-right: 8px;
  border-radius: 5px;
  background-color: #e0e8f2;
}

#dopcoPrivateUse03 .privateUseSelects .sufaceSelectList .surfaceSelectListMember.checkBoxsContent li input[type="checkbox"] {
  display: none;
}

#dopcoPrivateUse03 .privateUseSelects .sufaceSelectList .surfaceSelectListMember.checkBoxsContent li input[type="checkbox"]:checked+label {
  background-color: #4e5871;
  background-image: url(/assets/media/menu01/checkFill.png);
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: center center;
}

#dopcoPrivateUse03 .privateUseSelects .sufaceSelectList .surfaceSelectListMember li {
  padding: 0px 10px;
  height: 41px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 5px;
  margin: 6px 5px;
}

#dopcoPrivateUse03 .privateUseSelects .sufaceSelectList .surfaceSelectListMember li:hover {
  background-color: #edf2f9;
}

#dopcoPrivateUse03 .privateUseSelects .sufaceSelectList .surfaceSelectListMember li p {
  color: #4e5871;
  font-size: 15px;
  font-weight: 500;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

#dopcoPrivateUse03 .privateUseWrappers03 .privateUseSectionBoxs .privateUseSectionCont .privateUseSectionContDevide .inputControlBoxs .inputControlList input[type="text"] {
  width: 173px;
  height: 44px;
  padding: 0px 15px;
  border-radius: 10px;
  background-color: #edf2f9;
  color: #6e7d88;
  font-size: 15px;
}

#dopcoPrivateUse03 .privateUseWrappers03 .privateUseSectionBoxs .privateUseSectionCont .privateUseSectionContDevide .inputControlBoxs .dateListBox {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 203px;
  height: 44px;
  border-radius: 10px;
  background-color: #fff;
  border: 1px solid #cfddf2;
  filter: grayscale(100);
  background-image: url(/assets/media/menu02/date.png);
  background-position: 7px 15px;
  background-size: 15px;
  background-repeat: no-repeat;
}

#dopcoPrivateUse03 .privateUseWrappers03 .privateUseSectionBoxs .privateUseSectionCont .privateUseSectionContDevide .inputControlBoxs .dateListBox.active {
  filter: grayscale(0);
  color: #2b7de1;
  border: 1px solid #2b7de1;
  background-image: url(/assets/media/menu02/calendarColor.png);
}

#dopcoPrivateUse03 .privateUseWrappers03 .privateUseSectionBoxs .privateUseSectionCont .privateUseSectionContDevide .inputControlBoxs .dateListBox input[type="date"] {
  width: 42%;
  height: 100%;
  font-size: 13px;
  margin: 0px 3px;
  text-align: center;
  word-spacing: -3px;
  background-color: transparent;
  position: relative;
  color: #6e7d88;
  color: #2b7de1;
  font-family: Pretendard;
}

#dopcoPrivateUse03 .privateUseWrappers03 .privateUseSectionBoxs .privateUseSectionCont .privateUseSectionContDevide .inputControlBoxs .dateListBox span {
  font-size: 10px;
}

#dopcoPrivateUse03 .privateUseWrappers03 .privateUseSectionBoxs .privateUseSectionCont .privateUseSectionContDevide .inputControlBoxs .dateListBox input[type="date"]::-webkit-calendar-picker-indicator {
  background: transparent;
  z-index: 1;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

#dopcoPrivateUse03 .privateUseWrappers03 .privateUseSectionBoxs .privateUseSectionCont .privateUseSectionContDevide .inputControlBoxs .dateListBox input[type="date"]::-webkit-inner-spin-button {
  /* display: none; */
  appearance: none;
}

#dopcoPrivateUse03 .privateUseWrappers03 .privateUseSectionBoxs .privateUseSectionCont .privateUseSectionContDevide .devideSecondTitles {
  padding: 20px 20px 0px 0px;
  font-size: 15px;
  font-weight: 600;
  color: #4e5871;
  white-space: nowrap;
}

#dopcoPrivateUse03 .privateUseWrappers03 .privateUseSectionBoxs .privateUseSectionCont .privateUseSectionContDevide .privateUseSectionRadioBoxs {
  width: 86.1%;
  height: 100%;
}

#dopcoPrivateUse03 .privateUseWrappers03 .privateUseSectionBoxs .privateUseSectionCont .privateUseSectionContDevide .privateUseSectionRadioBoxs .radioBoxs {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

#dopcoPrivateUse03 .privateUseWrappers03 .privateUseSectionBoxs .privateUseSectionCont .privateUseSectionContDevide .privateUseSectionRadioBoxs .radioBoxs li {
  padding: 0px 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#dopcoPrivateUse03 .privateUseWrappers03 .privateUseSectionBoxs .privateUseSectionCont .privateUseSectionContDevide .privateUseSectionRadioBoxs .radioBoxs:nth-child(2) li:first-child {
  padding: 0px 3px;
}

#dopcoPrivateUse03 .privateUseWrappers03 .privateUseSectionBoxs .privateUseSectionCont .privateUseSectionContDevide .privateUseSectionRadioBoxs .radioBoxs:nth-child(2) li {
  padding: 0px 8.5px 0px 3px;
}

#dopcoPrivateUse03 .privateUseWrappers03 .privateUseSectionBoxs .privateUseSectionCont .privateUseSectionContDevide .privateUseSectionRadioBoxs .radioBoxs li input[type="radio"] {}

#dopcoPrivateUse03 .privateUseWrappers03 .privateUseSectionBoxs .privateUseSectionCont .privateUseSectionContDevide .privateUseSectionRadioBoxs .radioBoxs li span {
  font-size: 15px;
  color: #31394c;
  padding: 0px 30px 0px 5px;
  font-family: Pretendard;
  font-weight: 600;
}

#dopcoPrivateUse03 .privateUseWrappers03 .privateUseSectionBoxs .privateUseSectionCont .privateUseSectionContDevide .privateUseSectionRadioBoxs .radioBoxs li.addressInput input[type="search"] {
  background-color: #edf2f9;
  width: 868px;
  padding: 0px 10px;
  height: 44px;
  border-radius: 10px;
  font-size: 15px;
}

/* 주소란 셀렉박스 width값 */

#dopcoPrivateUse03 .privateUseWrappers03 .privateUseSectionBoxs .privateUseSectionCont .privateUseSectionContDevide .privateUseSectionRadioBoxs .radioBoxs li .privateUseSelects {
  min-width: 164px;
}

/* 셀렉박스 스크롤바 */

#dopcoPrivateUse03 .privateUseWrappers03 .privateUseSectionBoxs .privateUseSectionCont .privateUseSectionContDevide .privateUseSectionRadioBoxs .radioBoxs li .privateUseSelects .sufaceSelectList .surfaceSelectListMember::-webkit-scrollbar {
  width: 4px;
}

#dopcoPrivateUse03 .privateUseWrappers03 .privateUseSectionBoxs .privateUseSectionCont .privateUseSectionContDevide .privateUseSectionRadioBoxs .radioBoxs li .privateUseSelects .sufaceSelectList .surfaceSelectListMember::-webkit-scrollbar-thumb {
  height: 30%;
  border-radius: 10px;
  background: #d2d2d2;
}

#dopcoPrivateUse03 .privateUseWrappers03 .privateUseSectionBoxs .privateUseSectionCont .privateUseSectionContDevide .privateUseSectionRadioBoxs .radioBoxs li .inputControlList input[type="text"] {
  width: 136px;
  height: 44px;
  padding: 0px 15px;
  border-radius: 10px;
  background-color: #edf2f9;
  color: #6e7d88;
  font-size: 15px;
}

#dopcoPrivateUse03 .privateUseWrappers03 .privateUseSectionBoxs .privateUseSectionCont .privateUseSectionContDevide .privateUseSectionBtnBoxs {
  display: flex;
  align-items: end;
  justify-content: center;
  height: 100%;
}

#dopcoPrivateUse03 .privateUseWrappers03 .privateUseSectionBoxs .privateUseSectionCont .privateUseSectionContDevide .privateUseSectionBtnBoxs button {
  height: 44px;
  border-radius: 10px;
  display: block;
  margin: 5px;
  font-size: 15px;
  font-weight: 600;
}

#dopcoPrivateUse03 .privateUseWrappers03 .privateUseSectionBoxs .privateUseSectionCont .privateUseSectionContDevide .privateUseSectionBtnBoxs .privateUseRegisterBtn {
  padding: 0px 40px;
  background-color: #2b7de1;
  color: #fff;
  white-space: nowrap;
}

/* 메인화면 */

#dopcoPrivateUse03 .privateUseMainContentWrapper {
  margin: 0 auto;
  padding: 15px 20px;
}

#dopcoPrivateUse03 .privateUseMainContentWrapper .privateUseMainContent {
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

#dopcoPrivateUse03 .privateUseMainContentWrapper .privateUseMainContent .dataTitles {
  padding: 10px 20px;
  position: relative;
}

#dopcoPrivateUse03 .privateUseMainContentWrapper .privateUseMainContent .dataTitles h5 {
  font-size: 16px;
  font-weight: 700;
}

#dopcoPrivateUse03 .privateUseMainContentWrapper .privateUseMainContent .dataTitles h5 span {
  color: #2b7de1;
  padding: 0px 8px;
}

#dopcoPrivateUse03 .privateUseMainContentWrapper .privateUseMainContent .dataTitles .privateUseMainContentDownloadBoxs {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0px;
  top: 0px;
}

#dopcoPrivateUse03 .privateUseMainContentWrapper .privateUseMainContent .dataTitles .privateUseMainContentDownloadBoxs .privateUseExcelDownload {
  width: 159px;
  padding: 0px 30px;
  height: 38px;
  line-height: 39px;
  border-radius: 10px;
  background-color: #4e5871;
  font-size: 15px;
  font-weight: 600;
  background-image: url(/assets/media/menu01/download.png);
  background-size: 11px;
  background-repeat: no-repeat;
  background-position: 123px center;
  color: #fff;
  text-align: left;
  margin-right: 10px;
}

/* 총 검색건수의 셀렉박스 */

#dopcoPrivateUse03 .privateUseMainContentWrapper .privateUseMainContent .dataTitles .privateUseMainContentDownloadBoxs .privateUseSelects {
  width: 137px;
  height: 38px;
}

#dopcoPrivateUse03 .privateUseMainContentWrapper .privateUseMainContent .dataTitles .privateUseMainContentDownloadBoxs .privateUseSelects .sufaceSelectList {
  top: 40px;
}

#dopcoPrivateUse03 .privateUseMainContentWrapper .privateUseMainContent .dataBoxswrappers {
  border: 1px solid #cddbf0;
  border-radius: 5px;
  height: 527px;
  margin-top: 13px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow-x: hidden;
  position: relative;
  top: 0;
  left: 0;
}

#dopcoPrivateUse03 .privateUseMainContentWrapper .privateUseMainContent .dataBoxswrappers.scroll {
  overflow-y: scroll;
}

/* 스크롤바 */

#dopcoPrivateUse03 .privateUseMainContentWrapper .privateUseMainContent .dataBoxswrappers::-webkit-scrollbar {
  width: 4px;
}

#dopcoPrivateUse03 .privateUseMainContentWrapper .privateUseMainContent .dataBoxswrappers::-webkit-scrollbar-thumb {
  height: 30%;
  border-radius: 10px;
  background: #d2d2d2;
}

#dopcoPrivateUse03 .privateUseMainContentWrapper .privateUseMainContent .dataBoxswrappers::-webkit-scrollbar-track {}

#dopcoPrivateUse03 .privateUseMainContentWrapper .privateUseMainContent .dataBoxswrappers .dataBoxCont {
  width: 30%;
  height: 100%;
  float: left;
  position: absolute;
  top: 0;
}

#dopcoPrivateUse03 .privateUseMainContentWrapper .privateUseMainContent .dataBoxswrappers .dataBoxsSecond03 {
  width: 70%;
  height: auto;
  overflow-x: scroll;
  overflow-y: visible;
  left: 30%;
  border-left: 1px solid #cddbf0;
}

#dopcoPrivateUse03 .privateUseMainContentWrapper .privateUseMainContent .dataBoxswrappers .dataBoxsSecond03 .scrollContentBoxies {
  width: 238%;
  height: 100%;
}

/* 스크롤바 */

#dopcoPrivateUse03 .privateUseMainContentWrapper .privateUseMainContent .dataBoxswrappers .dataBoxsSecond03::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

#dopcoPrivateUse03 .privateUseMainContentWrapper .privateUseMainContent .dataBoxswrappers .dataBoxsSecond03::-webkit-scrollbar-thumb {
  height: 30%;
  border-radius: 10px;
  background: #d2d2d2;
}

#dopcoPrivateUse03 .privateUseMainContentWrapper .privateUseMainContent .dataBoxswrappers .dataBoxsSecond03::-webkit-scrollbar-track {}

#dopcoPrivateUse03 .privateUseMainContentWrapper .privateUseMainContent .dataBoxswrappers .dataBoxCont ul {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

#dopcoPrivateUse03 .privateUseMainContentWrapper .privateUseMainContent .dataBoxswrappers .dataBoxCont ul.dataTitle {
  height: 71px;
  background-color: #f7f9fc;
}

#dopcoPrivateUse03 .privateUseMainContentWrapper .privateUseMainContent .dataBoxswrappers .dataBoxCont:last-child .dataTitle ul li {
  width: 400px;
}

#dopcoPrivateUse03 .privateUseMainContentWrapper .privateUseMainContent .dataBoxswrappers .dataBoxCont ul.dataTitle li {
  width: 30%;
  height: 100%;
}

#dopcoPrivateUse03 .privateUseMainContentWrapper .privateUseMainContent .dataBoxswrappers .dataBoxCont ul.dataTitle li {
  border-right: 1px solid #cddbf0;
  border-bottom: 1px solid #cddbf0;
}

#dopcoPrivateUse03 .privateUseMainContentWrapper .privateUseMainContent .dataBoxswrappers .dataBoxCont ul.dataTitle li:last-child {
  border-right: none;
}

/* 타이틀 li 사이즈별 퍼센트 목록 */

#dopcoPrivateUse03 .privateUseMainContentWrapper .privateUseMainContent .dataBoxswrappers .dataBoxCont ul.dataTitle li.extraSmallWidth {
  width: 15%;
}

#dopcoPrivateUse03 .privateUseMainContentWrapper .privateUseMainContent .dataBoxswrappers .dataBoxCont ul.dataTitle li.smallWidth {
  width: 20%;
}

#dopcoPrivateUse03 .privateUseMainContentWrapper .privateUseMainContent .dataBoxswrappers .dataBoxCont ul.dataTitle li.mediumWidth {
  width: 50%;
}

#dopcoPrivateUse03 .privateUseMainContentWrapper .privateUseMainContent .dataBoxswrappers .dataBoxCont ul.dataTitle li.largeWidth {
  width: 70%;
}

#dopcoPrivateUse03 .privateUseMainContentWrapper .privateUseMainContent .dataBoxswrappers .dataBoxCont ul li {
  display: flex;
  align-items: center;
  justify-content: center;
}

#dopcoPrivateUse03 .privateUseMainContentWrapper .privateUseMainContent .dataBoxswrappers .dataBoxCont ul.dataTitle li p {
  font-size: 14px;
}

#dopcoPrivateUse03 .privateUseMainContentWrapper .privateUseMainContent .dataBoxswrappers .dataBoxCont ul.dataContent a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: #3c3c3c;
  font-size: 14px;
}

#dopcoPrivateUse03 .privateUseMainContentWrapper .privateUseMainContent .dataBoxswrappers .dataBoxCont ul.dataContent.privateLink03 a {
  width: 281%;
}

#dopcoPrivateUse03 .privateUseMainContentWrapper .privateUseMainContent .dataBoxswrappers .dataBoxCont ul.dataContent.privateLink03 a li:last-child {
  border-right: 1px solid #cddbf0;
}

/* 위치보기, 상세보기 버튼 */

#dopcoPrivateUse03 .privateUseMainContentWrapper .privateUseMainContent .dataBoxswrappers .dataBoxCont ul.dataContent .dataContBtnBox {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 해지버튼 */

#dopcoPrivateUse03 .privateUseMainContentWrapper .privateUseMainContent .dataBoxswrappers .dataBoxCont ul.dataContent .dataContBtnBox .privateBtnHiddenBoxs {
  position: relative;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#dopcoPrivateUse03 .privateUseMainContentWrapper .privateUseMainContent .dataBoxswrappers .dataBoxCont ul.dataContent .privateBtnHiddenBoxs .privateRemoveBtn {
  position: absolute;
  cursor: default;
  z-index: 999;
  width: 68px;
  height: 27px;
  border-radius: 20px;
}

#dopcoPrivateUse03 .privateUseMainContentWrapper .privateUseMainContent .dataBoxswrappers .dataBoxCont ul.dataContent .privateBtnHiddenBoxs .privateRemoveBtn a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  text-align: center;
  font-size: 13px;
  line-height: 13px;
  color: #fff;
  background-color: #6e7d88;
}

/* 해지일 */

#dopcoPrivateUse03 .privateUseMainContentWrapper .privateUseMainContent .dataBoxswrappers .dataBoxCont ul.dataContent.privateLink03 .dataContBtnBox .removeDate {
  color: #3c3c3c;
  font-size: 14px;
  display: none;
}

#dopcoPrivateUse03 .privateUseMainContentWrapper .privateUseMainContent .dataBoxswrappers .dataBoxCont ul.dataContent.privateLink03 .dataContBtnBox li {
  flex: 1;
}

/**/

#dopcoPrivateUse03 .privateUseMainContentWrapper .privateUseMainContent .dataBoxswrappers .dataBoxCont ul.dataContent a.mouseEvet {
  color: #2b7de1;
}

#dopcoPrivateUse03 .privateUseMainContentWrapper .privateUseMainContent .dataBoxswrappers .dataBoxCont ul.dataContent li {
  width: 30%;
  height: 44px;
  border-right: 1px solid #cddbf0;
  border-bottom: 1px solid #cddbf0;
}

#dopcoPrivateUse03 .privateUseMainContentWrapper .privateUseMainContent .dataBoxswrappers .dataBoxCont ul.dataContent li:last-child {
  border-right: none;
}

/* 컨텐츠 li 사이즈별 목록 */

#dopcoPrivateUse03 .privateUseMainContentWrapper .privateUseMainContent .dataBoxswrappers .dataBoxCont ul.dataContent li.extraSmallWidth {
  width: 15%;
}

#dopcoPrivateUse03 .privateUseMainContentWrapper .privateUseMainContent .dataBoxswrappers .dataBoxCont ul.dataContent li.smallWidth {
  width: 20%;
}

#dopcoPrivateUse03 .privateUseMainContentWrapper .privateUseMainContent .dataBoxswrappers .dataBoxCont ul.dataContent li.mediumWidth {
  width: 50%;
}

#dopcoPrivateUse03 .privateUseMainContentWrapper .privateUseMainContent .dataBoxswrappers .dataBoxCont ul.dataContent li.largeWidth {
  width: 70%;
}

#dopcoPrivateUse03 .privateUseMainContentWrapper .privateUseMainContent .dataBoxswrappers .dataBoxCont ul.dataContent li button.btnDesign {
  width: 116px;
  height: 27px;
  border-radius: 20px;
  color: #2b7de1;
  font-size: 13px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #cce0ff99;
  cursor: default;
  position: absolute;
  z-index: 999;
}

#dopcoPrivateUse03 .privateUseMainContentWrapper .privateUseMainContent .dataBoxswrappers .dataBoxCont ul.dataContent li .regisBtnHiddenBoxs {
  position: relative;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#dopcoPrivateUse03 .privateUseMainContentWrapper .privateUseMainContent .dataBoxswrappers .dataBoxCont ul.dataContent li .regisBtnHiddenBoxs button {
  position: absolute;
  cursor: default;
  z-index: 999;
}

/* 상세정보버튼 a링크 */

#dopcoPrivateUse03 .privateUseMainContentWrapper .privateUseMainContent .dataBoxswrappers .dataBoxCont ul.dataContent li .regisBtnHiddenBoxs .detailBtn a {
  color: #2b7de1;
  font-size: 13px;
}

#dopcoPrivateUse03 .privateUseMainContentWrapper .privateUseMainContent .dataBoxswrappers .dataBoxCont ul.dataContent li .regisBtnHiddenBoxs .detailBtn a:visited {
  color: #2b7de1;
}

#dopcoPrivateUse03 .privateUseMainContentWrapper .privateUseMainContent .dataBoxswrappers .dataBoxCont ul.dataContent li .regisBtnHiddenBoxs button.regisRemoveBtn {
  background-color: #fff;
  border: 1px solid #2b7de1;
  display: none;
}

#dopcoPrivateUse03 .privateUseMainContentWrapper .privateUseMainContent .dataBoxswrappers .dataBoxCont ul.dataContent li p {
  text-align: center;
}

#dopcoPrivateUse03 .privateUseMainContentWrapper .privateUseMainContent .boardPageBoxs {
  padding: 30px 0px;
  margin: 0 auto;
}

#dopcoPrivateUse03 .privateUseMainContentWrapper .privateUseMainContent .boardPageBoxs ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

#dopcoPrivateUse03 .privateUseMainContentWrapper .privateUseMainContent .boardPageBoxs ul li {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#dopcoPrivateUse03 .privateUseMainContentWrapper .privateUseMainContent .boardPageBoxs ul li button {
  display: flex;
  align-items: center;
  justify-content: center;
}

#dopcoPrivateUse03 .privateUseMainContentWrapper .privateUseMainContent .boardPageBoxs ul li button img {
  height: 20px;
}

#dopcoPrivateUse03 .privateUseMainContentWrapper .privateUseMainContent .boardPageBoxs ul li.arrowLeftWrapper button {
  margin-right: 10px;
}

#dopcoPrivateUse03 .privateUseMainContentWrapper .privateUseMainContent .boardPageBoxs ul li.arrowRightWrapper button {
  margin-left: 10px;
}

#dopcoPrivateUse03 .privateUseMainContentWrapper .privateUseMainContent .boardPageBoxs ul li.arrowLeftWrapper img {
  transform: rotate(180deg);
}

#dopcoPrivateUse03 .privateUseMainContentWrapper .privateUseMainContent .boardPageBoxs ul li.pageCountBoxs p {
  font-size: 14px;
  width: 29px;
  height: 29px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
  margin-right: 12px;
  color: #b1bad0;
  font-weight: 700;
  cursor: pointer;
}

#dopcoPrivateUse03 .privateUseMainContentWrapper .privateUseMainContent .boardPageBoxs ul li.pageCountBoxs p:last-child {
  margin-right: 0px;
}

#dopcoPrivateUse03 .privateUseMainContentWrapper .privateUseMainContent .boardPageBoxs ul li.pageCountBoxs p.active {
  background-color: #edf2f9;
  color: #2b7de1;
}

div.dt-top-container {
  display: grid;
  grid-template-columns: auto auto auto;
}
div.dt-center-in-div {
  margin: 0 auto;
  float: right;
  margin-right: 30px;
}
div.dt-center-in-div>div {
  display: inline;
}
div.dt-filter-spacer {
  margin: 10px 0;
  border: 1px solid red;
}
.dt-title {
  text-align: center;
  width: 180px;
  float: left;
}
.dt-buttons {
  display: inline-block;
  width: 180px;
}
.dt-length {
  display: inline-block;
}
.dt-button {
  color: white;
  background-color: #4e5871;
  font-size: 15px;
  font-weight: 600;
  border-radius: 10px;
  background-image: url(/assets/media/menu01/download.png);
  background-size: 11px;
  background-repeat: no-repeat;
  background-position: 123px center;
  text-align: left;
  margin-right: 10px;
  width: 159px;
  height: 38px;
}
.dt-paging {
  text-align: center;
}
.dt-paging-button {
  box-sizing: border-box;
  display: inline-block;
  min-width: 1.5em;
  padding: 0.5em 1em;
  margin-left: 2px;
  text-align: center;
  text-decoration: none !important;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 2px;
  background: transparent;
  color: #007bff !important;
  font-size: 15px;
  font-weight: 600;
}
.bottom {
  text-align: center;
}
.top {
  text-align: right;
  margin: 10px;
}
#cancelBtn {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 27px;
	border-radius: 20px;
	text-align: center;
	font-size: 13px;
	line-height: 13px;
	color: #fff;
	background-color: #6e7d88;
}