<link rel="stylesheet" href="/assets/css/popup/issuePopup.css">
    <div id="searchResultsPopup">
        <div class="popupWrap">
            <h2>
                <p>검색결과</p>
                <span class="topCloseBtn"></span>
            </h2>

            <div class="popupCont">
                <ul class="popTitles">
                    <li class="popTitle01">PNU</li>
                    <li class="popTitle02">주소</li>
                    <li class="popTitle03">지번</li>
                    <li class="popTitle04">선택</li>
                </ul>
                <div class="popContentBox" >
                    <ul class="popContents" th:each="val:${jisangBasicSearchList}">
                        <li class="popContent01">115001100010010001</li>
                        <li class="popContent02">서울특별시 강서구 개화동</li>
                        <li class="popContent03">1-1</li>
                        <li class="popContent04">
                            <button class="resultSelectBtn">선택</button>
                        </li>
                    </ul>
                    <ul class="popContents">
                        <li class="popContent01">115001100010010001</li>
                        <li class="popContent02">서울특별시 강서구 개화동</li>
                        <li class="popContent03">1-1</li>
                        <li class="popContent04">
                            <button class="resultSelectBtn">선택</button>
                        </li>
                    </ul>
                    
                </div>
            </div>

            <div class="lastBtnBox btnWrap">
                <button class="backBtn finalBtn">닫기</button>
                <button class="saveBtn finalBtn">PNU 없이 선택</button>
            </div>
        </div>
    </div>

<script>

// 저장, 닫기 버튼 click시 팝업 사라지게

const PopupFinalBtns =  document.querySelectorAll('.popupWrap .lastBtnBox .finalBtn');

    PopupFinalBtns.forEach((button) => {
        button.addEventListener('click',function(){
            const PopupWrap = button.closest('.popupWrap');
            button.classList.toggle("active");
            PopupWrap.classList.toggle('active');
        })
    })

// x 버튼 click시 팝업 사라지게

const topCloseBtn = document.querySelectorAll('.popupWrap .topCloseBtn');
    if(topCloseBtn){

        topCloseBtn.forEach((topClosebutton) => {

            topClosebutton.addEventListener('click',function(){
                const PopupWrap = topClosebutton.closest('.popupWrap');
                PopupWrap.classList.remove("active");
            })
        })
    }

     </script>
