<link
rel="stylesheet"
as="style"
crossorigin
href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css" />
<link rel="stylesheet" href="/assets/css/popup//Issue_development_Popup.css" />
<div id="complaint_register_Popup" class="complaint_register_Popup active">
    <div class="popupWrap">
      <h2>
        <p>민원협의 내용 등록/수정</p>
        <span class="topCloseBtn"></span>
      </h2>
      <section class="complainant_contents_box">
        <h3>민원 내용</h3>
        <div class="complaints_contents_wrap">
          <ul>
            <li class="complaints_contents_titles">진행상태</li>
            <li class="popSelectWrap">
              <div class="hidden_SelectBox">
                <select name="complaint_register_Selectbox01" id="complaint_register_Selectbox01" hidden>
                  <option value="전체">전체</option>
                  <option value="전체1">전체1</option>
                  <option value="전체2">전체2</option>
                  <option value="전체3">전체3</option>
                  <option value="전체4">전체4</option>
                </select>
              </div>
              <div class="Popup_Custom_SelectBox">
                <button class="Popup_Custom_SelectView">전체</button>
                <ul class="Popup_Custom_SelectBtns">
                 
                </ul>
              </div>
            </li>
          </ul>
          <ul>
            <li class="complaints_contents_titles">협의 날짜</li>
            <li class="complaints_calender_box">
              <div class="complaint_calender_wrap">
                <input type="date" data-placeholder="날짜선택" required aria-required="true">
              </div>
            </li>
          </ul>
          <ul>
            <li class="complaints_contents_titles">협의 제목</li>
            <li class="complaints_contents_inputs"><input type="text"></li>
          </ul>
          <ul class="complaints_contents_minHeight1">
            <li class="complaints_contents_titles">협의 내용</li>
            <li class="complaints_contents_inputs"><textarea type="text"></textarea></li>
          </ul>
          <ul class="complaints_contents_minHeight2">
            <li class="complaints_contents_titles">첨부파일</li>
            <!--<li class="complaints_contents_fileBox">
               <div class="file_img_wrap"><img src="/assets/media/popup/images/file-upload-line (1) 1.png" alt=""></div> 
              <div class="file_img_wrap"><img src="/assets/media/popup/images/file-upload.png" alt=""></div>
              <div>파일을 마우스로 끌어오세요.</div>
            </li>-->

            <!-- class 추가 -->
            <li class="complaints_contents_fileBox complaintRegiFileInfo">
              <!-- multiple 추가 -->
              <input type="file" id="complaint_register_Popup_file" multiple hidden>
              <!-- <label for="complaint_register_Popup_file" class="complaint_register_Popup_file_wrap">
                      첨부파일 기본값 
                      <div class="file_default active" >
                        <div class="file_background_wrap">
                          <figure class="register_file_img_wrap"><img src="/assets/media/popup/images/file-upload.png" alt="upload"></figure>
                          <p>파일을 마우스로 끌어오세요.</p>
                        </div>
                      </div>
                      파일 추가시 나오는 곳
                      <div class="file_add_contents">
                        <ul class="file_add_contents_th">
                          <li>
                            <figure><img src="/assets/media/popup/images/back_icon.png" alt=""></figure>
                          </li>
                          <li class="file_add_name">
                            <p>파일명</p>
                          </li>
                          <li>
                            <p>업로드 상태</p>
                          </li>
                          <li>
                            <p>용량</p>
                          </li>
                        </ul>
                      </div>
                    </label> -->
              <!-- 추가 -->
            
              <div class="popfileLargeWrap">
                <!-- 파일이 첨부되지 않았을 때 모습 -->
                <div class="popfileUploadWrap popfileUploadDisplay">
                  <label for="complaint_register_Popup_file" class="popfileUploadBox">
                    <img src="../../../assets/media/popup/images/file-upload.png" alt="파일 업로드 아이콘" class="fileUploadIcon" />
                    <p>파일을 마우스로 끌어오세요.</p>
                  </label>
                </div>
                <div class="popfileUploadAfterWrap popfileUploadDisplay">
                  <!-- 추가, 업로드시 나오는 거 -->
                  <div class="popfileUploadAfter">
                    <ul class="poptitles">
                      <li class="popBtnbox">
                        <button class="popAllDeleteFileBtn"></button>
                      </li>
                      <li class="poptitle popfilenameBox">
                        <p>파일명</p>
                      </li>
                      <li class="poptitle">
                        <p>업로드 상태</p>
                      </li>
                      <li class="poptitle">
                        <p>용량</p>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </section>
      <div class="document_add_btnWrap">
        <button class="saveBtn finalBtn">저장</button>       
        <button class="sangsinBtn finalBtn">상신</button>       
        <button class="closeBtn finalBtn">닫기</button>       
      </div>
    </div>
  </div>
<script>

 //x버튼, 닫기, 승인요청 클릭시 팝업클로즈
const complaintregisterPopupOpen = document.getElementById("complaint_register_Popup");

if (complaintregisterPopupOpen) {
  complaintregisterPopupOpen.querySelectorAll(".topCloseBtn, .finalBtn")
    .forEach(function (btn) {
      btn.addEventListener("click", () => {
        complaintregisterPopupOpen.classList.remove("active");
      });
    });
}

//셀렉박스 이벤트
function complaintregisterSelect04() {
  const complaintregisterSelectWrapitems = document.querySelectorAll(
    "#complaint_register_Popup .popSelectWrap"
  );

  if (complaintregisterSelectWrapitems) {
    complaintregisterSelectWrapitems.forEach((contentitem) => {
      const nowIssueSelectBox04 = contentitem.querySelector("select");

      if (!nowIssueSelectBox04) return;

      const popCustomSelectBox04 = contentitem.querySelector(
        "#complaint_register_Popup .Popup_Custom_SelectBox"
      );
      const popCustomSelectBtns04 = popCustomSelectBox04.querySelector(
        "#complaint_register_Popup .Popup_Custom_SelectBtns"
      );

      for (let i = 0; i < nowIssueSelectBox04.length; i++) {
        const optionValue04 = nowIssueSelectBox04.options[i].value;
        const li04 = document.createElement("li");
        const button04 = document.createElement("button");
        button04.classList.add("PopupMoreSelectBtn");
        button04.type = "button";
        button04.textContent = optionValue04;
        li04.appendChild(button04);
        popCustomSelectBtns04.appendChild(li04);
      }
    });
  }
}

complaintregisterSelect04();

const customSelectView04 = document.querySelectorAll(
  "#complaint_register_Popup .Popup_Custom_SelectView"
);

if (customSelectView04) {
  customSelectView04.forEach((btn) => {
    btn.addEventListener("click", function () {
      btn.classList.toggle("active");
      if (btn.nextElementSibling) {
        btn.nextElementSibling.classList.toggle("active");
      }
    });
  });
}

const PopupMoreSelectBtn04 = document.querySelectorAll(
  "#complaint_register_Popup .PopupMoreSelectBtn"
);

if (PopupMoreSelectBtn04) {
  PopupMoreSelectBtn04.forEach((moreBtn) => {
    moreBtn.addEventListener("click", function () {
      var moreBtnText04 = moreBtn.innerText;
      console.log(moreBtnText04);
      const parentMoreBtn04 = moreBtn.closest(".Popup_Custom_SelectBtns");
      const editViewBtn04 = parentMoreBtn04.previousElementSibling;
      while (editViewBtn04.firstChild) {
        editViewBtn04.removeChild(editViewBtn04.firstChild);
      }
      const textNode04 = document.createTextNode(moreBtnText04);

      editViewBtn04.appendChild(textNode04);
      editViewBtn04.classList.remove("active");
      parentMoreBtn04.classList.remove("active");

      const nearByContent04 = moreBtn.closest(".popSelectWrap");
      const nearBySelectBox04 = nearByContent04.querySelector("select");
      nearBySelectBox04.value = moreBtn.textContent;

      console.log(`Selected value: ${nearBySelectBox04.value}`);
    });
  });
}
  </script>


  <script>
    // 파일첨부 추가 스크립트
    // 파일 첨부 기본 모습

    const defaultComplaintRegiFileUploadWrap = document.querySelectorAll('.popfileUploadDisplay');

    defaultComplaintRegiFileUploadWrap[0].classList.add('active');

    // 파일 첨부시 모습 변경, x버튼 클릭시 비우기

    const complaintRegiFileEvent = () => {

      if (document.getElementById('complaint_register_Popup_file')) {

        const complaintRegiPopup_myPcFiles = document.getElementById('complaint_register_Popup_file');
        const complaintRegiFiles = complaintRegiPopup_myPcFiles.files;
        // input[type file]을 가진 제일 큰 부모
        const complaintRegiFileInfo = complaintRegiPopup_myPcFiles.closest('.complaintRegiFileInfo');
        // 업로드시 보이는 영역
        const popfileUploadAfterWrap = complaintRegiFileInfo.querySelector('.popfileUploadAfter');
        const allPopupcomplaintRegiContents = popfileUploadAfterWrap.querySelectorAll('.popcontents');

        var complaintRegipopfileInfoName = '';
        var complaintRegipopfileInfoSize = '';
        var complaintRegipopfileInfoType = '';

        complaintRegiPopup_myPcFiles.addEventListener('change', function () {

          // 기존의 ul 초기화
          const popExistContents = popfileUploadAfterWrap.querySelectorAll('.popcontents');

          popExistContents.forEach((list) => {
            list.remove();
          })

          // 삭제 잘 되었는지 확인
          const newPopExistContents = popfileUploadAfterWrap.querySelectorAll('.popcontents');
          console.log(newPopExistContents.length);

          if (complaintRegiPopup_myPcFiles.files.length > 0) {

            for (let i = 0; i <= complaintRegiPopup_myPcFiles.files.length - 1; i++) {
              const thiscomplaintRegiPopFileName = complaintRegiPopup_myPcFiles.files[i].name;
              const thiscomplaintRegiPopFileSize = complaintRegiPopup_myPcFiles.files[i].size;
              const thiscomplaintRegiPopFileType = complaintRegiPopup_myPcFiles.files[i].type;

              // 사이즈를 바꾸자
              const complaintRegiformattedSize = byteTransformForPop_complaintRegi(thiscomplaintRegiPopFileSize);

              // 문자열에 변수를 담자
              complaintRegipopfileInfoName = thiscomplaintRegiPopFileName;
              complaintRegipopfileInfoSize = complaintRegiformattedSize;
              complaintRegipopfileInfoType = thiscomplaintRegiPopFileType;

              // 파일 지우는 버튼용 li

              const popdeleteLi = '<li class="popbtnbox"><button class="popfileDeleteBtn"></button></li>';

              // 파일 아이콘, 파일명 들어가는 li
              const popfilenameBoxLi = `<li class="popcontent popfilenameBox"><figure class="poptypeIcon ${complaintRegipopfileInfoName}"></figure><p class="popfileNameText">${complaintRegipopfileInfoName}</p></li >`;

              // 업로드 상태
              const popuploadStatusLi = '<li class="popcontent"><p>-</p></li>';

              // 파일 크기 들어가는 li
              const popfileSizeLi = `<li class="popcontent">
                      <p class="popfileSizeText"> ${complaintRegipopfileInfoSize} </p>
                  </li>`;

              const listBox = popdeleteLi + popfilenameBoxLi + popuploadStatusLi + popfileSizeLi;

              // ul.contents 만들기
              const popContentsUl = document.createElement('ul');
              popContentsUl.classList.add('popcontents');

              popContentsUl.innerHTML = listBox;

              popfileUploadAfterWrap.appendChild(popContentsUl);


              // 값 잘 담겼는지 확인

              console.log('담긴 파일 이름:' + thiscomplaintRegiPopFileName);


              // 다음 걸 받기 위해 비워주기

              complaintRegipopfileInfoName = '';
              complaintRegipopfileInfoSize = '';
              complaintRegipopfileInfoType = '';

            }


            defaultComplaintRegiFileUploadWrap.forEach((wrap) => {
              wrap.classList.remove('active');
            })
            defaultComplaintRegiFileUploadWrap[1].classList.add('active');

            if (complaintRegiPopup_myPcFiles.files.length > 2) {
              popfileUploadAfterWrap.classList.add('scroll');
            } else {
              popfileUploadAfterWrap.classList.remove('scroll');
            }


          } else {

            complaintRegiPopup_myPcFiles.value = '';
            defaultComplaintRegiFileUploadWrap.forEach((wrap) => {
              wrap.classList.remove('active');
            })
            defaultComplaintRegiFileUploadWrap[0].classList.add('active');
          }
        })

        // 개별 delbtn 누르면 생기는 이벤트
        popfileUploadAfterWrap.addEventListener('click', function (event) {
          if (event.target.classList.contains('popfileDeleteBtn')) {
            const popfileDeleteBtns = popfileUploadAfterWrap.querySelectorAll('.popfileDeleteBtn');
            const popfileDelBtn = event.target;
            const popnearbyContents = event.target.closest('.popcontents');
            const popfileNameToRemove = popnearbyContents.querySelector('.popfileNameText').textContent;

            // 파일명이랑 틀린 것만 저장하는 함수
            removeFileforPop_complaintRegi(popfileNameToRemove);
            popnearbyContents.remove();

            for (let b = 0; b < complaintRegiPopup_myPcFiles.files.length; b++) {
              console.log('현재 input[type=file]의 files name: ' + complaintRegiPopup_myPcFiles.files[b].name);
            }

            console.log('남은 파일의 개수:' + complaintRegiPopup_myPcFiles.files.length);

            if (complaintRegiPopup_myPcFiles.files.length < 3) {
              popfileUploadAfterWrap.classList.remove('scroll');
            }

            // 현재 선택된 파일이 없으면 input 값 비우기
            if (complaintRegiPopup_myPcFiles.files.length === 0) {
              complaintRegiPopup_myPcFiles.value = '';
              defaultComplaintRegiFileUploadWrap.forEach((wrap) => {
                wrap.classList.remove('active');
              });
              defaultComplaintRegiFileUploadWrap[0].classList.add('active');
            }
          }


        })

        // 전체 삭제 버튼
        const popallDeleteFileBtn = popfileUploadAfterWrap.querySelector('.popAllDeleteFileBtn');

        popallDeleteFileBtn.addEventListener('click', function () {
          const nowAllContents = popfileUploadAfterWrap.querySelectorAll('.popcontents');
          nowAllContents.forEach((contents) => {
            contents.remove();
          })

          complaintRegiPopup_myPcFiles.value = '';


          // 값 잘 사라졌는지 확인
          console.log(complaintRegiPopup_myPcFiles.value);


          if (complaintRegiPopup_myPcFiles.files.length == 0) {
            complaintRegiPopup_myPcFiles.value = '';
            defaultComplaintRegiFileUploadWrap.forEach((wrap) => {
              wrap.classList.remove('active');
            })
            defaultComplaintRegiFileUploadWrap[0].classList.add('active');
            popfileUploadAfterWrap.classList.remove('scroll');
          }
        })

        // 용량 크기 변환하는 함수
        function byteTransformForPop_complaintRegi(bytes) {
          const dataSizeforPop = ['Bytes', 'KB', 'MB', 'GB', 'TB']

          if (bytes === 0) return 'not available';

          const d = parseInt(Math.floor(Math.log(bytes) / Math.log(1024)), 10);
          if (d === 0) return `${bytes} ${dataSizeforPop[d]}`;
          return `${(bytes / (1024 ** d)).toFixed(1)} ${dataSizeforPop[d]}`;
        }

        // 파일 삭제처리 하는 함수
        const removeFileforPop_complaintRegi = (popfileNameToRemove) => {
          const filesArrayforPop = Array.from(complaintRegiPopup_myPcFiles.files);
          const popNewDataTransfer = new DataTransfer();
          filesArrayforPop.forEach(file => {
            if (file.name !== popfileNameToRemove) {
              popNewDataTransfer.items.add(file);
            }
          });
          complaintRegiPopup_myPcFiles.files = popNewDataTransfer.files; // 새로운 files 설정
        };
      }

    }

    complaintRegiFileEvent();
  </script>