<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="sidebarFragment">


    <!-- Sidebar -->
    <div id="wrapper" class="toggled">
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
       <ul class="nav navbar-top-links navbar-right">
            <li>
                <!--menu toggle button -->
                <button id="menu-toggle" type="button" data-toggle="button" class="btn btn-default btn-xs">
                    <i class="fa fa-exchange fa-fw">1111</i>
                </button>
            </li>
        </ul>
    </ul>
    </div> 
    <!-- End of Sidebar -->
    

</th:block>

</html>