
<link rel="stylesheet" href="/assets/css/popup/current_detail_info.css" />

<div id="current_detail_info_Popup" class="current_detail_info_Popup">
  <div class="popupWrap">
    <h2>
      <p>현황 상세정보</p>
      <span class="topCloseBtn"></span>
    </h2>
    <div class="detail_info_btns">
      <button class="detail_btn active">상세변동현황</button>
      <button class="change_reason_btn">변동사유</button>
    </div>

    <!-- 현황 사세 정보 테이블 -->
    <section class="current_detail_sec1 active">
      <div class="current_detail_table_wrap">
        <ul class="current_detail_th">
          <li>
            <h3>구분</h3>
          </li>

          <li class="current_detail_th_part">
            <h3>23년 12월</h3>
            <ul>
              <li>
                <h4>사유지</h4>
                <div>
                  <p>지상권</p>
                  <p>미등기</p>
                  <p>미설정</p>
                  <p>계</p>
                </div>
              </li>
              <li>
                <h4>국유지</h4>
                <div>
                  <p>지상권</p>
                  <p>점용</p>
                  <p>미설정</p>
                  <p>계</p>
                </div>
              </li>
              <li>
                <p>합계</p>
              </li>
            </ul>
          </li>

          <li class="current_detail_th_part">
            <h3>24년 3월</h3>
            <ul>
              <li>
                <h4>사유지</h4>
                <div>
                  <p>지상권</p>
                  <p>미등기</p>
                  <p>미설정</p>
                  <p>계</p>
                </div>
              </li>
              <li>
                <h4>국유지</h4>
                <div>
                  <p>지상권</p>
                  <p>점용</p>
                  <p>미설정</p>
                  <p>계</p>
                </div>
              </li>
              <li>
                <p>합계</p>
              </li>
            </ul>
          </li>

          <li class="current_detail_th_part">
            <h3>증감</h3>
            <ul>
              <li>
                <h4>사유지</h4>
                <div>
                  <p>지상권</p>
                  <p>미등기</p>
                  <p>미설정</p>
                  <p>계</p>
                </div>
              </li>
              <li>
                <h4>국유지</h4>
                <div>
                  <p>지상권</p>
                  <p>점용</p>
                  <p>미설정</p>
                  <p>계</p>
                </div>
              </li>
              <li>
                <p>합계</p>
              </li>
            </ul>
          </li>
        </ul>

        <!-- 테이블 내용 들어가는 곳 -->

        <!-- 지역별 내용 서울-->
        <ul class="current_detail_td">
          <li class="current_detail_td_title">
            <h3>서울</h3>
            <div>
              <p>필지수</p>
              <p>분기대비</p>
            </div>
          </li>

          <!-- 23년 12월  -->
          <li class="current_detail_td_part">
            <!-- 23년 12월 필지수 -->
            <ul>
              <!-- 사유지 필지수 -->
              <li>
                <div class="current_detail_underline">
                  <p>437</p>
                  <p>13</p>
                  <p>52</p>
                  <p>502</p>
                </div>
              </li>
              <!-- 국유지 필지수 -->
              <li>
                <div class="current_detail_underline">
                  <p></p>
                  <p>1,687</p>
                  <p>1</p>
                  <p>1,688</p>
                </div>
              </li>
              <!-- 필지수 합계-->
              <li class="current_detail_underline">
                <p>2,190</p>
              </li>
            </ul>
            <!-- 23년 12월 분기대비 -->
            <ul>
              <!-- 사유지 분기대비 -->
              <li>
                <div class="current_detail_underline">
                  <p></p>
                  <p class="no-dash"></p>
                  <p></p>
                  <p></p>
                </div>
              </li>
              <!-- 국유지 분기대비 -->
              <li>
                <div class="current_detail_underline">
                  <p></p>
                  <p></p>
                  <p></p>
                  <p></p>
                </div>
              </li>
              <!-- 분기대비 합계-->
              <li class="current_detail_underline">
                <p></p>
              </li>
            </ul>
          </li>

          <!-- 24년 3월 -->
          <li class="current_detail_td_part">
            <!-- 24년 3월 필지수-->
            <ul>
              <!-- 사유지 필지수 -->
              <li>
                <div class="current_detail_underline">
                  <p>437</p>
                  <p>13</p>
                  <p>52</p>
                  <p>502</p>
                </div>
              </li>
              <!-- 국유지 필지수 -->
              <li>
                <div class="current_detail_underline">
                  <p></p>
                  <p>1,687</p>
                  <p>1</p>
                  <p>1,688</p>
                </div>
              </li>
              <!-- 필지수 합계-->
              <li class="current_detail_underline">
                <p>2,190</p>
              </li>
            </ul>
            <!-- 24년 3월 분기대비 -->
            <ul>
              <!-- 사유지 분기대비 -->
              <li>
                <div class="current_detail_underline">
                  <p></p>
                  <p class="no-dash"></p>
                  <p></p>
                  <p></p>
                </div>
              </li>
              <!-- 국유지 분기대비 -->
              <li>
                <div class="current_detail_underline">
                  <p></p>
                  <p></p>
                  <p></p>
                  <p></p>
                </div>
              </li>
              <!-- 분기대비 합계-->
              <li class="current_detail_underline">
                <p></p>
              </li>
            </ul>
          </li>

          <!-- 증감 -->
          <li class="current_detail_td_part">
            <!-- 증감 필지수-->
            <ul>
              <!-- 사유지 필지수 -->
              <li>
                <div class="current_detail_underline">
                  <p></p>
                  <p></p>
                  <p></p>
                  <p></p>
                </div>
              </li>
              <!-- 국유지 필지수 -->
              <li>
                <div class="current_detail_underline">
                  <p></p>
                  <p></p>
                  <p></p>
                  <p></p>
                </div>
              </li>
              <!-- 필지수 합계-->
              <li class="current_detail_underline">
                <p></p>
              </li>
            </ul>
            <!-- 증감 분기대비 -->
            <ul>
              <!-- 사유지 분기대비 -->
              <li>
                <div class="current_detail_underline">
                  <p></p>
                  <p></p>
                  <p></p>
                  <p></p>
                </div>
              </li>
              <!-- 국유지 분기대비 -->
              <li>
                <div class="current_detail_underline">
                  <p></p>
                  <p></p>
                  <p></p>
                  <p></p>
                </div>
              </li>
              <!-- 분기대비 합계-->
              <li class="current_detail_underline">
                <p></p>
              </li>
            </ul>
          </li>
        </ul>

        <!-- 지역별 내용 경인-->
        <ul class="current_detail_td">
          <li class="current_detail_td_title">
            <h3>경인</h3>
            <div>
              <p>필지수</p>
              <p>분기대비</p>
            </div>
          </li>

          <!-- 23년 12월  -->
          <li class="current_detail_td_part">
            <!-- 23년 12월 필지수 -->
            <ul>
              <!-- 사유지 필지수 -->
              <li>
                <div class="current_detail_underline">
                  <p>5</p>
                  <p></p>
                  <p>18</p>
                  <p>23</p>
                </div>
              </li>
              <!-- 국유지 필지수 -->
              <li>
                <div class="current_detail_underline">
                  <p></p>
                  <p>911</p>
                  <p>3</p>
                  <p>914</p>
                </div>
              </li>
              <!-- 필지수 합계-->
              <li class="current_detail_underline">
                <p>937</p>
              </li>
            </ul>
            <!-- 23년 12월 분기대비 -->
            <ul>
              <!-- 사유지 분기대비 -->
              <li>
                <div class="current_detail_underline">
                  <p></p>
                  <p class="no-dash"></p>
                  <p></p>
                  <p></p>
                </div>
              </li>
              <!-- 국유지 분기대비 -->
              <li>
                <div class="current_detail_underline">
                  <p></p>
                  <p></p>
                  <p></p>
                  <p></p>
                </div>
              </li>
              <!-- 분기대비 합계-->
              <li class="current_detail_underline">
                <p></p>
              </li>
            </ul>
          </li>

          <!-- 24년 3월 -->
          <li class="current_detail_td_part">
            <!-- 24년 3월 필지수-->
            <ul>
              <!-- 사유지 필지수 -->
              <li>
                <div class="current_detail_underline">
                  <p>5</p>
                  <p></p>
                  <p>18</p>
                  <p>23</p>
                </div>
              </li>
              <!-- 국유지 필지수 -->
              <li>
                <div class="current_detail_underline">
                  <p></p>
                  <p>911</p>
                  <p>3</p>
                  <p>914</p>
                </div>
              </li>
              <!-- 필지수 합계-->
              <li class="current_detail_underline">
                <p>937</p>
              </li>
            </ul>
            <!-- 24년 3월 분기대비 -->
            <ul>
              <!-- 사유지 분기대비 -->
              <li>
                <div class="current_detail_underline">
                  <p></p>
                  <p class="no-dash"></p>
                  <p></p>
                  <p></p>
                </div>
              </li>
              <!-- 국유지 분기대비 -->
              <li>
                <div class="current_detail_underline">
                  <p></p>
                  <p></p>
                  <p></p>
                  <p></p>
                </div>
              </li>
              <!-- 분기대비 합계-->
              <li class="current_detail_underline">
                <p></p>
              </li>
            </ul>
          </li>

          <!-- 증감 -->
          <li class="current_detail_td_part">
            <!-- 증감 필지수-->
            <ul>
              <!-- 사유지 필지수 -->
              <li>
                <div class="current_detail_underline">
                  <p></p>
                  <p></p>
                  <p></p>
                  <p></p>
                </div>
              </li>
              <!-- 국유지 필지수 -->
              <li>
                <div class="current_detail_underline">
                  <p></p>
                  <p>1</p>
                  <p></p>
                  <p></p>
                </div>
              </li>
              <!-- 필지수 합계-->
              <li class="current_detail_underline">
                <p>1</p>
              </li>
            </ul>
            <!-- 증감 분기대비 -->
            <ul>
              <!-- 사유지 분기대비 -->
              <li>
                <div class="current_detail_underline">
                  <p></p>
                  <p></p>
                  <p></p>
                  <p></p>
                </div>
              </li>
              <!-- 국유지 분기대비 -->
              <li>
                <div class="current_detail_underline">
                  <p></p>
                  <p>1</p>
                  <p></p>
                  <p></p>
                </div>
              </li>
              <!-- 분기대비 합계-->
              <li class="current_detail_underline">
                <p>1</p>
              </li>
            </ul>
          </li>
        </ul>

        <!-- 지역별 내용 충청-->
        <ul class="current_detail_td">
          <li class="current_detail_td_title">
            <h3>충청</h3>
            <div>
              <p>필지수</p>
              <p>분기대비</p>
            </div>
          </li>

          <!-- 23년 12월  -->
          <li class="current_detail_td_part">
            <!-- 23년 12월 필지수 -->
            <ul>
              <!-- 사유지 필지수 -->
              <li>
                <div class="current_detail_underline">
                  <p>2,202</p>
                  <p>280</p>
                  <p>279</p>
                  <p>2,761</p>
                </div>
              </li>
              <!-- 국유지 필지수 -->
              <li>
                <div class="current_detail_underline">
                  <p></p>
                  <p>1,879</p>
                  <p></p>
                  <p>1,879</p>
                </div>
              </li>
              <!-- 필지수 합계-->
              <li class="current_detail_underline">
                <p>2,762</p>
              </li>
            </ul>
            <!-- 23년 12월 분기대비 -->
            <ul>
              <!-- 사유지 분기대비 -->
              <li>
                <div class="current_detail_underline">
                  <p></p>
                  <p class="no-dash"></p>
                  <p></p>
                  <p>4</p>
                </div>
              </li>
              <!-- 국유지 분기대비 -->
              <li>
                <div class="current_detail_underline">
                  <p></p>
                  <p>1</p>
                  <p></p>
                  <p>1</p>
                </div>
              </li>
              <!-- 분기대비 합계-->
              <li class="current_detail_underline">
                <p>6</p>
              </li>
            </ul>
          </li>

          <!-- 24년 3월 -->
          <li class="current_detail_td_part">
            <!-- 24년 3월 필지수-->
            <ul>
              <!-- 사유지 필지수 -->
              <li>
                <div class="current_detail_underline">
                  <p>2,202</p>
                  <p>280</p>
                  <p>279</p>
                  <p>2,761</p>
                </div>
              </li>
              <!-- 국유지 필지수 -->
              <li>
                <div class="current_detail_underline">
                  <p></p>
                  <p>1,897</p>
                  <p></p>
                  <p>1,897</p>
                </div>
              </li>
              <!-- 필지수 합계-->
              <li class="current_detail_underline">
                <p>2,762</p>
              </li>
            </ul>
            <!-- 24년 3월 분기대비 -->
            <ul>
              <!-- 사유지 분기대비 -->
              <li>
                <div class="current_detail_underline">
                  <p></p>
                  <p class="no-dash"></p>
                  <p></p>
                  <p></p>
                </div>
              </li>
              <!-- 국유지 분기대비 -->
              <li>
                <div class="current_detail_underline">
                  <p></p>
                  <p>1</p>
                  <p></p>
                  <p>1</p>
                </div>
              </li>
              <!-- 분기대비 합계-->
              <li class="current_detail_underline">
                <p>5</p>
              </li>
            </ul>
          </li>

          <!-- 증감 -->
          <li class="current_detail_td_part">
            <!-- 증감 필지수-->
            <ul>
              <!-- 사유지 필지수 -->
              <li>
                <div class="current_detail_underline">
                  <p>1</p>
                  <p></p>
                  <p></p>
                  <p>1</p>
                </div>
              </li>
              <!-- 국유지 필지수 -->
              <li>
                <div class="current_detail_underline">
                  <p></p>
                  <p>1</p>
                  <p></p>
                  <p></p>
                </div>
              </li>
              <!-- 필지수 합계-->
              <li class="current_detail_underline">
                <p>1</p>
              </li>
            </ul>
            <!-- 증감 분기대비 -->
            <ul>
              <!-- 사유지 분기대비 -->
              <li>
                <div class="current_detail_underline">
                  <p>1</p>
                  <p></p>
                  <p></p>
                  <p>1</p>
                </div>
              </li>
              <!-- 국유지 분기대비 -->
              <li>
                <div class="current_detail_underline">
                  <p></p>
                  <p>1</p>
                  <p></p>
                  <p></p>
                </div>
              </li>
              <!-- 분기대비 합계-->
              <li class="current_detail_underline">
                <p>2</p>
              </li>
            </ul>
          </li>
        </ul>

        <!-- 지역별 내용 대전-->
        <ul class="current_detail_td">
          <li class="current_detail_td_title">
            <h3>대전</h3>
            <div>
              <p>필지수</p>
              <p>분기대비</p>
            </div>
          </li>

          <!-- 23년 12월  -->
          <li class="current_detail_td_part">
            <!-- 23년 12월 필지수 -->
            <ul>
              <!-- 사유지 필지수 -->
              <li>
                <div class="current_detail_underline">
                  <p>948</p>
                  <p>186</p>
                  <p>306</p>
                  <p>1,440</p>
                </div>
              </li>
              <!-- 국유지 필지수 -->
              <li>
                <div class="current_detail_underline">
                  <p></p>
                  <p>3,252</p>
                  <p></p>
                  <p>3,252</p>
                </div>
              </li>
              <!-- 필지수 합계-->
              <li class="current_detail_underline">
                <p>1,441</p>
              </li>
            </ul>
            <!-- 23년 12월 분기대비 -->
            <ul>
              <!-- 사유지 분기대비 -->
              <li>
                <div class="current_detail_underline">
                  <p></p>
                  <p class="no-dash"></p>
                  <p></p>
                  <p></p>
                </div>
              </li>
              <!-- 국유지 분기대비 -->
              <li>
                <div class="current_detail_underline">
                  <p></p>
                  <p></p>
                  <p></p>
                  <p></p>
                </div>
              </li>
              <!-- 분기대비 합계-->
              <li class="current_detail_underline">
                <p>1</p>
              </li>
            </ul>
          </li>

          <!-- 24년 3월 -->
          <li class="current_detail_td_part">
            <!-- 24년 3월 필지수-->
            <ul>
              <!-- 사유지 필지수 -->
              <li>
                <div class="current_detail_underline">
                  <p>948</p>
                  <p>186</p>
                  <p>306</p>
                  <p>1,440</p>
                </div>
              </li>
              <!-- 국유지 필지수 -->
              <li>
                <div class="current_detail_underline">
                  <p></p>
                  <p>3,252</p>
                  <p></p>
                  <p>3,252</p>
                </div>
              </li>
              <!-- 필지수 합계-->
              <li class="current_detail_underline">
                <p>1,441</p>
              </li>
            </ul>
            <!-- 24년 3월 분기대비 -->
            <ul>
              <!-- 사유지 분기대비 -->
              <li>
                <div class="current_detail_underline">
                  <p></p>
                  <p class="no-dash"></p>
                  <p></p>
                  <p></p>
                </div>
              </li>
              <!-- 국유지 분기대비 -->
              <li>
                <div class="current_detail_underline">
                  <p></p>
                  <p></p>
                  <p></p>
                  <p></p>
                </div>
              </li>
              <!-- 분기대비 합계-->
              <li class="current_detail_underline">
                <p>1</p>
              </li>
            </ul>
          </li>

          <!-- 증감 -->
          <li class="current_detail_td_part">
            <!-- 증감 필지수-->
            <ul>
              <!-- 사유지 필지수 -->
              <li>
                <div class="current_detail_underline">
                  <p>1</p>
                  <p></p>
                  <p></p>
                  <p>1</p>
                </div>
              </li>
              <!-- 국유지 필지수 -->
              <li>
                <div class="current_detail_underline">
                  <p></p>
                  <p>1</p>
                  <p></p>
                  <p></p>
                </div>
              </li>
              <!-- 필지수 합계-->
              <li class="current_detail_underline">
                <p>1</p>
              </li>
            </ul>
            <!-- 증감 분기대비 -->
            <ul>
              <!-- 사유지 분기대비 -->
              <li>
                <div class="current_detail_underline">
                  <p>1</p>
                  <p></p>
                  <p></p>
                  <p>1</p>
                </div>
              </li>
              <!-- 국유지 분기대비 -->
              <li>
                <div class="current_detail_underline">
                  <p></p>
                  <p>1</p>
                  <p></p>
                  <p></p>
                </div>
              </li>
              <!-- 분기대비 합계-->
              <li class="current_detail_underline">
                <p>1</p>
              </li>
            </ul>
          </li>
        </ul>

        <!-- 지역별 내용 영남-->
        <ul class="current_detail_td">
          <li class="current_detail_td_title">
            <h3>영남</h3>
            <div>
              <p>필지수</p>
              <p>분기대비</p>
            </div>
          </li>

          <!-- 23년 12월  -->
          <li class="current_detail_td_part">
            <!-- 23년 12월 필지수 -->
            <ul>
              <!-- 사유지 필지수 -->
              <li>
                <div class="current_detail_underline">
                  <p>1,360</p>
                  <p>155</p>
                  <p>304</p>
                  <p>1,819</p>
                </div>
              </li>
              <!-- 국유지 필지수 -->
              <li>
                <div class="current_detail_underline">
                  <p></p>
                  <p>4,906</p>
                  <p>4</p>
                  <p>4,906</p>
                </div>
              </li>
              <!-- 필지수 합계-->
              <li class="current_detail_underline">
                <p>1,820</p>
              </li>
            </ul>
            <!-- 23년 12월 분기대비 -->
            <ul>
              <!-- 사유지 분기대비 -->
              <li>
                <div class="current_detail_underline">
                  <p></p>
                  <p class="no-dash"></p>
                  <p></p>
                  <p></p>
                </div>
              </li>
              <!-- 국유지 분기대비 -->
              <li>
                <div class="current_detail_underline">
                  <p></p>
                  <p>2</p>
                  <p></p>
                  <p>2</p>
                </div>
              </li>
              <!-- 분기대비 합계-->
              <li class="current_detail_underline">
                <p>1</p>
              </li>
            </ul>
          </li>

          <!-- 24년 3월 -->
          <li class="current_detail_td_part">
            <!-- 24년 3월 필지수-->
            <ul>
              <!-- 사유지 필지수 -->
              <li>
                <div class="current_detail_underline">
                  <p>1,360</p>
                  <p>155</p>
                  <p>304</p>
                  <p>1,819</p>
                </div>
              </li>
              <!-- 국유지 필지수 -->
              <li>
                <div class="current_detail_underline">
                  <p></p>
                  <p>4,906</p>
                  <p>4</p>
                  <p>4,906</p>
                </div>
              </li>
              <!-- 필지수 합계-->
              <li class="current_detail_underline">
                <p>1,820</p>
              </li>
            </ul>
            <!-- 24년 3월 분기대비 -->
            <ul>
              <!-- 사유지 분기대비 -->
              <li>
                <div class="current_detail_underline">
                  <p></p>
                  <p class="no-dash"></p>
                  <p></p>
                  <p></p>
                </div>
              </li>
              <!-- 국유지 분기대비 -->
              <li>
                <div class="current_detail_underline">
                  <p></p>
                  <p>2</p>
                  <p></p>
                  <p>2</p>
                </div>
              </li>
              <!-- 분기대비 합계-->
              <li class="current_detail_underline">
                <p>1</p>
              </li>
            </ul>
          </li>

          <!-- 증감 -->
          <li class="current_detail_td_part">
            <!-- 증감 필지수-->
            <ul>
              <!-- 사유지 필지수 -->
              <li>
                <div class="current_detail_underline">
                  <p>1</p>
                  <p></p>
                  <p></p>
                  <p>1</p>
                </div>
              </li>
              <!-- 국유지 필지수 -->
              <li>
                <div class="current_detail_underline">
                  <p></p>
                  <p>8</p>
                  <p></p>
                  <p></p>
                </div>
              </li>
              <!-- 필지수 합계-->
              <li class="current_detail_underline">
                <p>9</p>
              </li>
            </ul>
            <!-- 증감 분기대비 -->
            <ul>
              <!-- 사유지 분기대비 -->
              <li>
                <div class="current_detail_underline">
                  <p>1</p>
                  <p></p>
                  <p></p>
                  <p>1</p>
                </div>
              </li>
              <!-- 국유지 분기대비 -->
              <li>
                <div class="current_detail_underline">
                  <p></p>
                  <p>6</p>
                  <p></p>
                  <p></p>
                </div>
              </li>
              <!-- 분기대비 합계-->
              <li class="current_detail_underline">
                <p>7</p>
              </li>
            </ul>
          </li>
        </ul>

        <!-- 지역별 내용 전남-->
        <ul class="current_detail_td">
          <li class="current_detail_td_title">
            <h3>전남</h3>
            <div>
              <p>필지수</p>
              <p>분기대비</p>
            </div>
          </li>

          <!-- 23년 12월  -->
          <li class="current_detail_td_part">
            <!-- 23년 12월 필지수 -->
            <ul>
              <!-- 사유지 필지수 -->
              <li>
                <div class="current_detail_underline">
                  <p>150</p>
                  <p>15</p>
                  <p>654</p>
                  <p>819</p>
                </div>
              </li>
              <!-- 국유지 필지수 -->
              <li>
                <div class="current_detail_underline">
                  <p></p>
                  <p>4,532</p>
                  <p></p>
                  <p>4,532</p>
                </div>
              </li>
              <!-- 필지수 합계-->
              <li class="current_detail_underline">
                <p>819</p>
              </li>
            </ul>
            <!-- 23년 12월 분기대비 -->
            <ul>
              <!-- 사유지 분기대비 -->
              <li>
                <div class="current_detail_underline">
                  <p></p>
                  <p class="no-dash"></p>
                  <p></p>
                  <p></p>
                </div>
              </li>
              <!-- 국유지 분기대비 -->
              <li>
                <div class="current_detail_underline">
                  <p></p>
                  <p></p>
                  <p></p>
                  <p></p>
                </div>
              </li>
              <!-- 분기대비 합계-->
              <li class="current_detail_underline">
                <p></p>
              </li>
            </ul>
          </li>

          <!-- 24년 3월 -->
          <li class="current_detail_td_part">
            <!-- 24년 3월 필지수-->
            <ul>
              <!-- 사유지 필지수 -->
              <li>
                <div class="current_detail_underline">
                  <p>150</p>
                  <p>15</p>
                  <p>654</p>
                  <p>819</p>
                </div>
              </li>
              <!-- 국유지 필지수 -->
              <li>
                <div class="current_detail_underline">
                  <p></p>
                  <p>4,532</p>
                  <p></p>
                  <p>4,532</p>
                </div>
              </li>
              <!-- 필지수 합계-->
              <li class="current_detail_underline">
                <p>819</p>
              </li>
            </ul>
            <!-- 24년 3월 분기대비 -->
            <ul>
              <!-- 사유지 분기대비 -->
              <li>
                <div class="current_detail_underline">
                  <p></p>
                  <p class="no-dash"></p>
                  <p></p>
                  <p></p>
                </div>
              </li>
              <!-- 국유지 분기대비 -->
              <li>
                <div class="current_detail_underline">
                  <p></p>
                  <p></p>
                  <p></p>
                  <p></p>
                </div>
              </li>
              <!-- 분기대비 합계-->
              <li class="current_detail_underline">
                <p></p>
              </li>
            </ul>
          </li>

          <!-- 증감 -->
          <li class="current_detail_td_part">
            <!-- 증감 필지수-->
            <ul>
              <!-- 사유지 필지수 -->
              <li>
                <div class="current_detail_underline">
                  <p></p>
                  <p></p>
                  <p></p>
                  <p></p>
                </div>
              </li>
              <!-- 국유지 필지수 -->
              <li>
                <div class="current_detail_underline">
                  <p></p>
                  <p></p>
                  <p></p>
                  <p></p>
                </div>
              </li>
              <!-- 필지수 합계-->
              <li class="current_detail_underline">
                <p></p>
              </li>
            </ul>
            <!-- 증감 분기대비 -->
            <ul>
              <!-- 사유지 분기대비 -->
              <li>
                <div class="current_detail_underline">
                  <p></p>
                  <p></p>
                  <p></p>
                  <p></p>
                </div>
              </li>
              <!-- 국유지 분기대비 -->
              <li>
                <div class="current_detail_underline">
                  <p></p>
                  <p></p>
                  <p></p>
                  <p></p>
                </div>
              </li>
              <!-- 분기대비 합계-->
              <li class="current_detail_underline">
                <p></p>
              </li>
            </ul>
          </li>
        </ul>

        <!-- 지역별 내용 전북-->
        <ul class="current_detail_td">
          <li class="current_detail_td_title">
            <h3>전북</h3>
            <div>
              <p>필지수</p>
              <p>분기대비</p>
            </div>
          </li>

          <!-- 23년 12월  -->
          <li class="current_detail_td_part">
            <!-- 23년 12월 필지수 -->
            <ul>
              <!-- 사유지 필지수 -->
              <li>
                <div class="current_detail_underline">
                  <p>510</p>
                  <p>63</p>
                  <p>317</p>
                  <p>890</p>
                </div>
              </li>
              <!-- 국유지 필지수 -->
              <li>
                <div class="current_detail_underline">
                  <p></p>
                  <p>2,132</p>
                  <p></p>
                  <p>2,132</p>
                </div>
              </li>
              <!-- 필지수 합계-->
              <li class="current_detail_underline">
                <p>890</p>
              </li>
            </ul>
            <!-- 23년 12월 분기대비 -->
            <ul>
              <!-- 사유지 분기대비 -->
              <li>
                <div class="current_detail_underline">
                  <p></p>
                  <p class="no-dash"></p>
                  <p></p>
                  <p></p>
                </div>
              </li>
              <!-- 국유지 분기대비 -->
              <li>
                <div class="current_detail_underline">
                  <p></p>
                  <p></p>
                  <p></p>
                  <p></p>
                </div>
              </li>
              <!-- 분기대비 합계-->
              <li class="current_detail_underline">
                <p></p>
              </li>
            </ul>
          </li>

          <!-- 24년 3월 -->
          <li class="current_detail_td_part">
            <!-- 24년 3월 필지수-->
            <ul>
              <!-- 사유지 필지수 -->
              <li>
                <div class="current_detail_underline">
                  <p>510</p>
                  <p>63</p>
                  <p>317</p>
                  <p>890</p>
                </div>
              </li>
              <!-- 국유지 필지수 -->
              <li>
                <div class="current_detail_underline">
                  <p></p>
                  <p>2,132</p>
                  <p></p>
                  <p>2,132</p>
                </div>
              </li>
              <!-- 필지수 합계-->
              <li class="current_detail_underline">
                <p>890</p>
              </li>
            </ul>
            <!-- 24년 3월 분기대비 -->
            <ul>
              <!-- 사유지 분기대비 -->
              <li>
                <div class="current_detail_underline">
                  <p></p>
                  <p class="no-dash"></p>
                  <p></p>
                  <p></p>
                </div>
              </li>
              <!-- 국유지 분기대비 -->
              <li>
                <div class="current_detail_underline">
                  <p></p>
                  <p></p>
                  <p></p>
                  <p></p>
                </div>
              </li>
              <!-- 분기대비 합계-->
              <li class="current_detail_underline">
                <p></p>
              </li>
            </ul>
          </li>

          <!-- 증감 -->
          <li class="current_detail_td_part">
            <!-- 증감 필지수-->
            <ul>
              <!-- 사유지 필지수 -->
              <li>
                <div class="current_detail_underline">
                  <p></p>
                  <p></p>
                  <p></p>
                  <p></p>
                </div>
              </li>
              <!-- 국유지 필지수 -->
              <li>
                <div class="current_detail_underline">
                  <p></p>
                  <p></p>
                  <p></p>
                  <p></p>
                </div>
              </li>
              <!-- 필지수 합계-->
              <li class="current_detail_underline">
                <p></p>
              </li>
            </ul>
            <!-- 증감 분기대비 -->
            <ul>
              <!-- 사유지 분기대비 -->
              <li>
                <div class="current_detail_underline">
                  <p></p>
                  <p></p>
                  <p></p>
                  <p></p>
                </div>
              </li>
              <!-- 국유지 분기대비 -->
              <li>
                <div class="current_detail_underline">
                  <p></p>
                  <p></p>
                  <p></p>
                  <p></p>
                </div>
              </li>
              <!-- 분기대비 합계-->
              <li class="current_detail_underline">
                <p></p>
              </li>
            </ul>
          </li>
        </ul>

        <!-- 지역별 내용 강원-->
        <ul class="current_detail_td">
          <li class="current_detail_td_title">
            <h3>강원</h3>
            <div>
              <p>필지수</p>
              <p>분기대비</p>
            </div>
          </li>

          <!-- 23년 12월  -->
          <li class="current_detail_td_part">
            <!-- 23년 12월 필지수 -->
            <ul>
              <!-- 사유지 필지수 -->
              <li>
                <div class="current_detail_underline">
                  <p>8</p>
                  <p></p>
                  <p></p>
                  <p>8</p>
                </div>
              </li>
              <!-- 국유지 필지수 -->
              <li>
                <div class="current_detail_underline">
                  <p></p>
                  <p>27</p>
                  <p></p>
                  <p>27</p>
                </div>
              </li>
              <!-- 필지수 합계-->
              <li class="current_detail_underline">
                <p>8</p>
              </li>
            </ul>
            <!-- 23년 12월 분기대비 -->
            <ul>
              <!-- 사유지 분기대비 -->
              <li>
                <div class="current_detail_underline">
                  <p>2,008</p>
                  <p>2,008</p>
                  <p>2,008</p>
                  <p>2,008</p>
                </div>
              </li>
              <!-- 국유지 분기대비 -->
              <li>
                <div class="current_detail_underline">
                  <p></p>
                  <p>2,008</p>
                  <p>2,008</p>
                  <p>2,008</p>
                </div>
              </li>
              <!-- 분기대비 합계-->
              <li class="current_detail_underline">
                <p>2,008</p>
              </li>
            </ul>
          </li>

          <!-- 24년 3월 -->
          <li class="current_detail_td_part">
            <!-- 24년 3월 필지수-->
            <ul>
              <!-- 사유지 필지수 -->
              <li>
                <div class="current_detail_underline">
                  <p>8</p>
                  <p></p>
                  <p></p>
                  <p>8</p>
                </div>
              </li>
              <!-- 국유지 필지수 -->
              <li>
                <div class="current_detail_underline">
                  <p></p>
                  <p>27</p>
                  <p></p>
                  <p>27</p>
                </div>
              </li>
              <!-- 필지수 합계-->
              <li class="current_detail_underline">
                <p>8</p>
              </li>
            </ul>
            <!-- 24년 3월 분기대비 -->
            <ul>
              <!-- 사유지 분기대비 -->
              <li>
                <div class="current_detail_underline">
                  <p>2,008</p>
                  <p>2,008</p>
                  <p>2,008</p>
                  <p>2,008</p>
                </div>
              </li>
              <!-- 국유지 분기대비 -->
              <li>
                <div class="current_detail_underline">
                  <p></p>
                  <p>2,008</p>
                  <p>2,008</p>
                  <p>2,008</p>
                </div>
              </li>
              <!-- 분기대비 합계-->
              <li class="current_detail_underline">
                <p>2,008</p>
              </li>
            </ul>
          </li>

          <!-- 증감 -->
          <li class="current_detail_td_part">
            <!-- 증감 필지수-->
            <ul>
              <!-- 사유지 필지수 -->
              <li>
                <div class="current_detail_underline">
                  <p></p>
                  <p></p>
                  <p></p>
                  <p></p>
                </div>
              </li>
              <!-- 국유지 필지수 -->
              <li>
                <div class="current_detail_underline">
                  <p></p>
                  <p></p>
                  <p></p>
                  <p></p>
                </div>
              </li>
              <!-- 필지수 합계-->
              <li class="current_detail_underline">
                <p></p>
              </li>
            </ul>
            <!-- 증감 분기대비 -->
            <ul>
              <!-- 사유지 분기대비 -->
              <li>
                <div class="current_detail_underline">
                  <p></p>
                  <p></p>
                  <p></p>
                  <p></p>
                </div>
              </li>
              <!-- 국유지 분기대비 -->
              <li>
                <div class="current_detail_underline">
                  <p></p>
                  <p></p>
                  <p></p>
                  <p></p>
                </div>
              </li>
              <!-- 분기대비 합계-->
              <li class="current_detail_underline">
                <p></p>
              </li>
            </ul>
          </li>
        </ul>

        <!-- 지역별 내용 경남-->
        <ul class="current_detail_td">
          <li class="current_detail_td_title">
            <h3>경남</h3>
            <div>
              <p>필지수</p>
              <p>분기대비</p>
            </div>
          </li>

          <!-- 23년 12월  -->
          <li class="current_detail_td_part">
            <!-- 23년 12월 필지수 -->
            <ul>
              <!-- 사유지 필지수 -->
              <li>
                <div class="current_detail_underline">
                  <p></p>
                  <p></p>
                  <p></p>
                  <p></p>
                </div>
              </li>
              <!-- 국유지 필지수 -->
              <li>
                <div class="current_detail_underline">
                  <p></p>
                  <p></p>
                  <p></p>
                  <p></p>
                </div>
              </li>
              <!-- 필지수 합계-->
              <li class="current_detail_underline">
                <p></p>
              </li>
            </ul>
            <!-- 23년 12월 분기대비 -->
            <ul>
              <!-- 사유지 분기대비 -->
              <li>
                <div class="current_detail_underline">
                  <p></p>
                  <p></p>
                  <p></p>
                  <p></p>
                </div>
              </li>
              <!-- 국유지 분기대비 -->
              <li>
                <div class="current_detail_underline">
                  <p></p>
                  <p></p>
                  <p></p>
                  <p></p>
                </div>
              </li>
              <!-- 분기대비 합계-->
              <li class="current_detail_underline">
                <p></p>
              </li>
            </ul>
          </li>

          <!-- 24년 3월 -->
          <li class="current_detail_td_part">
            <!-- 24년 3월 필지수-->
            <ul>
              <!-- 사유지 필지수 -->
              <li>
                <div class="current_detail_underline">
                  <p></p>
                  <p></p>
                  <p></p>
                  <p></p>
                </div>
              </li>
              <!-- 국유지 필지수 -->
              <li>
                <div class="current_detail_underline">
                  <p></p>
                  <p></p>
                  <p></p>
                  <p></p>
                </div>
              </li>
              <!-- 필지수 합계-->
              <li class="current_detail_underline">
                <p></p>
              </li>
            </ul>
            <!-- 24년 3월 분기대비 -->
            <ul>
              <!-- 사유지 분기대비 -->
              <li>
                <div class="current_detail_underline">
                  <p></p>
                  <p></p>
                  <p></p>
                  <p></p>
                </div>
              </li>
              <!-- 국유지 분기대비 -->
              <li>
                <div class="current_detail_underline">
                  <p></p>
                  <p></p>
                  <p></p>
                  <p></p>
                </div>
              </li>
              <!-- 분기대비 합계-->
              <li class="current_detail_underline">
                <p></p>
              </li>
            </ul>
          </li>

          <!-- 증감 -->
          <li class="current_detail_td_part">
            <!-- 증감 필지수-->
            <ul>
              <!-- 사유지 필지수 -->
              <li>
                <div class="current_detail_underline">
                  <p></p>
                  <p></p>
                  <p></p>
                  <p></p>
                </div>
              </li>
              <!-- 국유지 필지수 -->
              <li>
                <div class="current_detail_underline">
                  <p></p>
                  <p></p>
                  <p></p>
                  <p></p>
                </div>
              </li>
              <!-- 필지수 합계-->
              <li class="current_detail_underline">
                <p></p>
              </li>
            </ul>
            <!-- 증감 분기대비 -->
            <ul>
              <!-- 사유지 분기대비 -->
              <li>
                <div class="current_detail_underline">
                  <p></p>
                  <p></p>
                  <p></p>
                  <p></p>
                </div>
              </li>
              <!-- 국유지 분기대비 -->
              <li>
                <div class="current_detail_underline">
                  <p></p>
                  <p></p>
                  <p></p>
                  <p></p>
                </div>
              </li>
              <!-- 분기대비 합계-->
              <li class="current_detail_underline">
                <p></p>
              </li>
            </ul>
          </li>
        </ul>

        <!-- 지역별 내용 전체-->
        <ul class="current_detail_td">
          <li class="current_detail_td_title">
            <h3>전체</h3>
            <div>
              <p>필지수</p>
              <p>분기대비</p>
            </div>
          </li>

          <!-- 23년 12월  -->
          <li class="current_detail_td_part">
            <!-- 23년 12월 필지수 -->
            <ul>
              <!-- 사유지 필지수 -->
              <li>
                <div class="current_detail_underline">
                  <p class="click">5,620</p>
                  <p>712</p>
                  <p>1,930</p>
                  <p>8,262</p>
                </div>
              </li>
              <!-- 국유지 필지수 -->
              <li>
                <div class="current_detail_underline">
                  <p>19,333</p>
                  <p>1,930</p>
                  <p>6</p>
                  <p></p>
                </div>
              </li>
              <!-- 필지수 합계-->
              <li class="current_detail_underline">
                <p>27,599</p>
              </li>
            </ul>
            <!-- 23년 12월 분기대비 -->
            <ul>
              <!-- 사유지 분기대비 -->
              <li>
                <div class="current_detail_underline">
                  <p>4</p>
                  <p></p>
                  <p></p>
                  <p>4</p>
                </div>
              </li>
              <!-- 국유지 분기대비 -->
              <li>
                <div class="current_detail_underline">
                  <p></p>
                  <p></p>
                  <p></p>
                  <p></p>
                </div>
              </li>
              <!-- 분기대비 합계-->
              <li class="current_detail_underline">
                <p>3</p>
              </li>
            </ul>
          </li>

          <!-- 24년 3월 -->
          <li class="current_detail_td_part">
            <!-- 24년 3월 필지수-->
            <ul>
              <!-- 사유지 필지수 -->
              <li>
                <div class="current_detail_underline">
                  <p>27,599</p>
                  <p>1,930</p>
                  <p>8,265</p>
                  <p></p>
                </div>
              </li>
              <!-- 국유지 필지수 -->
              <li>
                <div class="current_detail_underline">
                  <p>19,333</p>
                  <p>1,930</p>
                  <p>8,265</p>
                  <p>19,333</p>
                </div>
              </li>
              <!-- 필지수 합계-->
              <li class="current_detail_underline">
                <p>19,333</p>
              </li>
            </ul>
            <!-- 24년 3월 분기대비 -->
            <ul>
              <!-- 사유지 분기대비 -->
              <li>
                <div class="current_detail_underline">
                  <p>7</p>
                  <p>7</p>
                  <p></p>
                  <p></p>
                </div>
              </li>
              <!-- 국유지 분기대비 -->
              <li>
                <div class="current_detail_underline">
                  <p></p>
                  <p>7</p>
                  <p></p>
                  <p>11</p>
                </div>
              </li>
              <!-- 분기대비 합계-->
              <li class="current_detail_underline">
                <p>18</p>
              </li>
            </ul>
          </li>

          <!-- 증감 -->
          <li class="current_detail_td_part">
            <!-- 증감 필지수-->
            <ul>
              <!-- 사유지 필지수 -->
              <li>
                <div class="current_detail_underline">
                  <p>3</p>
                  <p></p>
                  <p></p>
                  <p>3</p>
                </div>
              </li>
              <!-- 국유지 필지수 -->
              <li>
                <div class="current_detail_underline">
                  <p></p>
                  <p>10</p>
                  <p>2</p>
                  <p>8</p>
                </div>
              </li>
              <!-- 필지수 합계-->
              <li class="current_detail_underline">
                <p>11</p>
              </li>
            </ul>
            <!-- 증감 분기대비 -->
            <ul>
              <!-- 사유지 분기대비 -->
              <li>
                <div class="current_detail_underline">
                  <p>3</p>
                  <p></p>
                  <p></p>
                  <p>3</p>
                </div>
              </li>
              <!-- 국유지 분기대비 -->
              <li>
                <div class="current_detail_underline">
                  <p></p>
                  <p>8</p>
                  <p></p>
                  <p>8</p>
                </div>
              </li>
              <!-- 분기대비 합계-->
              <li class="current_detail_underline">
                <p>11</p>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </section>

    <!-- 현황 상세정보 변동사유 -->

    <section class="current_detail_sec2">
      <ul class="current_detail_sec2_th">
        <li>
          <p>서울</p>
        </li>
        <li>
          <h3>감소</h3>
          <div class="current_detail_sec2_decrease">
            <p>분할</p>
            <p>해지</p>
            <p>합필</p>
            <p>권리전환</p>
            <p>계</p>
          </div>
        </li>
        <li>
          <h3>증가</h3>
          <div class="current_detail_sec2_increase">
            <p>분할</p>
            <p>사유지</p>
            <p>권리전환</p>
            <p>계</p>
          </div>
        </li>
        <li>
          <p>합계</p>
        </li>
      </ul>

      <!-- 현황 상세정보 변동사유 지역별 내용 -->
      <ul class="current_detail_sec2_td">
        <li class="current_detail_sec2_td_region">
          <p>서울</p>
        </li>
        <li class="current_detail_sec2_td_decrease">
          <p class="no-dash"></p>
          <p class="no-dash"></p>
          <p class="no-dash"></p>
          <p class="no-dash"></p>
          <p></p>
        </li>
        <li class="current_detail_sec2_td_increase">
          <p class="no-dash"></p>
          <p class="no-dash"></p>
          <p class="no-dash"></p>
          <p class="no-dash"></p>
        </li>
        <li class="current_detail_sec2_td_total">
          <p class="no-dash"></p>
        </li>
      </ul>

      <ul class="current_detail_sec2_td">
        <li class="current_detail_sec2_td_region">
          <p>경인</p>
        </li>
        <li class="current_detail_sec2_td_decrease">
          <p class="no-dash"></p>
          <p class="no-dash"></p>
          <p class="no-dash"></p>
          <p class="no-dash"></p>
          <p></p>
        </li>
        <li class="current_detail_sec2_td_increase">
          <p class="no-dash"></p>
          <p class="no-dash"></p>
          <p class="no-dash"></p>
          <p class="no-dash"></p>
        </li>
        <li class="current_detail_sec2_td_total">
          <p class="no-dash"></p>
        </li>
      </ul>

      <ul class="current_detail_sec2_td">
        <li class="current_detail_sec2_td_region">
          <p>충청</p>
        </li>
        <li class="current_detail_sec2_td_decrease">
          <p>-2</p>
          <p class="no-dash"></p>
          <p>2</p>
          <p class="no-dash"></p>
          <p>4</p>
        </li>
        <li class="current_detail_sec2_td_increase">
          <p>5</p>
          <p class="no-dash"></p>
          <p class="no-dash"></p>
          <p>-2</p>
        </li>
        <li class="current_detail_sec2_td_total">
          <p>1</p>
        </li>
      </ul>

      <ul class="current_detail_sec2_td">
        <li class="current_detail_sec2_td_region">
          <p>대전</p>
        </li>
        <li class="current_detail_sec2_td_decrease">
          <p class="no-dash"></p>
          <p class="no-dash"></p>
          <p class="no-dash"></p>
          <p class="no-dash"></p>
          <p></p>
        </li>
        <li class="current_detail_sec2_td_increase">
          <p class="no-dash"></p>
          <p>1</p>
          <p class="no-dash"></p>
          <p>-2</p>
        </li>
        <li class="current_detail_sec2_td_total">
          <p>1</p>
        </li>
      </ul>

      <ul class="current_detail_sec2_td">
        <li class="current_detail_sec2_td_region">
          <p>전북</p>
        </li>
        <li class="current_detail_sec2_td_decrease">
          <p class="no-dash"></p>
          <p class="no-dash"></p>
          <p class="no-dash"></p>
          <p class="no-dash"></p>
          <p></p>
        </li>
        <li class="current_detail_sec2_td_increase">
          <p class="no-dash"></p>
          <p class="no-dash"></p>
          <p class="no-dash"></p>
          <p class="no-dash"></p>
        </li>
        <li class="current_detail_sec2_td_total">
          <p class="no-dash"></p>
        </li>
      </ul>

      <ul class="current_detail_sec2_td">
        <li class="current_detail_sec2_td_region">
          <p>전남</p>
        </li>
        <li class="current_detail_sec2_td_decrease">
          <p class="no-dash"></p>
          <p class="no-dash"></p>
          <p class="no-dash"></p>
          <p class="no-dash"></p>
          <p></p>
        </li>
        <li class="current_detail_sec2_td_increase">
          <p class="no-dash"></p>
          <p class="no-dash"></p>
          <p class="no-dash"></p>
          <p class="no-dash"></p>
        </li>
        <li class="current_detail_sec2_td_total">
          <p class="no-dash"></p>
        </li>
      </ul>

      <ul class="current_detail_sec2_td">
        <li class="current_detail_sec2_td_region">
          <p>영남</p>
        </li>
        <li class="current_detail_sec2_td_decrease">
          <p>-5</p>
          <p class="no-dash"></p>
          <p>1</p>
          <p class="no-dash"></p>
          <p>6</p>
        </li>
        <li class="current_detail_sec2_td_increase">
          <p>1</p>
          <p class="no-dash"></p>
          <p class="no-dash"></p>
          <p>-2</p>
        </li>
        <li class="current_detail_sec2_td_total">
          <p>-5</p>
        </li>
      </ul>

      <ul class="current_detail_sec2_td">
        <li class="current_detail_sec2_td_region">
          <p>강원</p>
        </li>
        <li class="current_detail_sec2_td_decrease">
          <p class="no-dash"></p>
          <p class="no-dash"></p>
          <p class="no-dash"></p>
          <p class="no-dash"></p>
          <p></p>
        </li>
        <li class="current_detail_sec2_td_increase">
          <p class="no-dash"></p>
          <p class="no-dash"></p>
          <p class="no-dash"></p>
          <p class="no-dash"></p>
        </li>
        <li class="current_detail_sec2_td_total">
          <p class="no-dash"></p>
        </li>
      </ul>

      <ul class="current_detail_sec2_td">
        <li class="current_detail_sec2_td_region">
          <p>경남</p>
        </li>
        <li class="current_detail_sec2_td_decrease">
          <p class="no-dash"></p>
          <p class="no-dash"></p>
          <p class="no-dash"></p>
          <p class="no-dash"></p>
          <p></p>
        </li>
        <li class="current_detail_sec2_td_increase">
          <p class="no-dash"></p>
          <p class="no-dash"></p>
          <p class="no-dash"></p>
          <p class="no-dash"></p>
        </li>
        <li class="current_detail_sec2_td_total">
          <p class="no-dash"></p>
        </li>
      </ul>

      <ul class="current_detail_sec2_td">
        <li class="current_detail_sec2_td_region">
          <p>계</p>
        </li>
        <li class="current_detail_sec2_td_decrease">
          <p>-7</p>
          <p></p>
          <p>3</p>
          <p></p>
          <p>10</p>
        </li>
        <li class="current_detail_sec2_td_increase">
          <p>6</p>
          <p>1</p>
          <p class="no-dash"></p>
          <p>7</p>
        </li>
        <li class="current_detail_sec2_td_total">
          <p>-3</p>
        </li>
      </ul>
    </section>
  </div>
</div>

<script>
  // 현황 상세정보 Tab

    const detailBtn = document.querySelector(".detail_btn");
    const reasonBtn = document.querySelector(".change_reason_btn");

    const currentDetailSec1 = document.querySelector(".current_detail_sec1");
    const currentDetailSec2 = document.querySelector(".current_detail_sec2");

    detailBtn.addEventListener("click", function () {
      detailBtn.classList.add("active");
      reasonBtn.classList.remove("active");

      currentDetailSec1.classList.add("active");
      currentDetailSec2.classList.remove("active");
    });

    reasonBtn.addEventListener("click", function () {
      reasonBtn.classList.add("active");
      detailBtn.classList.remove("active");

      currentDetailSec2.classList.add("active");
      currentDetailSec1.classList.remove("active");
    });

    const buttons = document.querySelectorAll(
      ".current_detail_underline > p, .current_detail_sec2_td_decrease > p , .current_detail_sec2_td_increase > p, .current_detail_sec2_td_total > p"
    );
    buttons.forEach((button) => {
      button.addEventListener("click", function () {
        console.log('dd')
        if (button.textContent.trim() !== "") {
          const modal = document.querySelector("#pilji_info_Popup");
          if (modal) {
            modal.classList.add("active");
          }
        }
      });
    });

    // 페이지네이션 함수
    const pageCountEvet = () => {
      const pageCountBtn = document.querySelectorAll(
        ".pilji_info_Popup_boardPageBoxs .pageCountBoxs p"
      );
      pageCountBtn.forEach((btn) => {
        pageCountBtn[0].classList.add("active");
        btn.addEventListener("click", () => {
          pageCountBtn.forEach((otherBtn) => {
            otherBtn.classList.remove("active");
          });
          btn.classList.toggle("active");
        });
      });
    };

</script>
<script>
    const currentDetailInfoPopup = document.getElementById('current_detail_info_Popup');
    // x 버튼 click시 팝업 사라지게

    const topCloseBtn = currentDetailInfoPopup.querySelectorAll('.popupWrap .topCloseBtn');

    topCloseBtn.forEach((topClosebutton) => {
      topClosebutton.addEventListener('click', function () {
        currentDetailInfoPopup.classList.remove('active');
      })
    })
</script>