
    <link rel="stylesheet" href="/assets/css/popup/byrights.css" />

    <div id="pilji_info_Popup" class="pilji_info_Popup">
      <div class="popupWrap">
        <h2>
          <p>필지 정보</p>
          <span class="topCloseBtn"></span>
        </h2>
        <div class="pilji_total">
          <p>
            <span>총 검색 건 수</span>
            <span class="total_blue">130</span>
            <span>건</span>
          </p>
          <button>
            <p>엑셀 다운로드</p>
            <figure>
              <img src="/assets/media/popup/images/download.png" alt="download" />
            </figure>
          </button>
        </div>

        <section class="pilji_info_sec1">
          <div class="pilji_th_wrap">
            <ul class="pilji_th">
              <li><p>순번</p></li>
              <li><p>발생지사</p></li>
              <li><p>주소</p></li>
              <li><p>권리확보</p></li>
            </ul>
          </div>
          <!-- 테이블 내용 나오는 곳 -->
          <div class="pilji_td_wrap">
            <ul class="pilji_td">
              <li><p>1</p></li>
              <li><p>대전지사</p></li>
              <li>
                <p>대전광역시 동구 신상동 213</p>
              </li>
              <li><p>지상권</p></li>
            </ul>

            <ul class="pilji_td">
              <li>
                <p>2</p>
              </li>
              <li>
                <p>대전지사</p>
              </li>
              <li>
                <p>대전광역시 유성구 금고동 231-2</p>
              </li>
              <li>
                <p>지상권</p>
              </li>
            </ul>
            <ul class="pilji_td">
              <li>
                <p>3</p>
              </li>
              <li>
                <p>대전지사</p>
              </li>
              <li>
                <p>대전광역시 유성구 금고동 381-2</p>
              </li>
              <li>
                <p>지상권</p>
              </li>
            </ul>
            <ul class="pilji_td">
              <li>
                <p>4</p>
              </li>
              <li>
                <p>대전지사</p>
              </li>
              <li>
                <p>대전광역시 유성구 금고동 산76-1</p>
              </li>
              <li>
                <p>지상권</p>
              </li>
            </ul>
            <ul class="pilji_td">
              <li>
                <p>5</p>
              </li>
              <li>
                <p>대전지사</p>
              </li>
              <li>
                <p>대전광역시 유성구 금고동 산80-1</p>
              </li>
              <li>
                <p>지상권</p>
              </li>
            </ul>
            <ul class="pilji_td">
              <li>
                <p>6</p>
              </li>
              <li>
                <p>대전지사</p>
              </li>
              <li>
                <p>대전광역시 대덕구 읍내동 67-1</p>
              </li>
              <li>
                <p>지상권</p>
              </li>
            </ul>
            <ul class="pilji_td">
              <li>
                <p>7</p>
              </li>
              <li>
                <p>대전지사</p>
              </li>
              <li>
                <p>세종특별자치시 세종시 금남면 도남리 222-1</p>
              </li>
              <li>
                <p>지상권</p>
              </li>
            </ul>
            <ul class="pilji_td">
              <li>
                <p>8</p>
              </li>
              <li>
                <p>대전지사</p>
              </li>
              <li>
                <p>경기도 평택시 용이동 420-3</p>
              </li>
              <li>
                <p>지상권</p>
              </li>
            </ul>
            <ul class="pilji_td">
              <li>
                <p>9</p>
              </li>
              <li>
                <p>대전지사</p>
              </li>
              <li>
                <p>충청북도 청주시 서원구 남이면 외천리 02-4</p>
              </li>
              <li>
                <p>지상권</p>
              </li>
            </ul>
            <ul class="pilji_td">
              <li>
                <p>10</p>
              </li>
              <li>
                <p>대전지사</p>
              </li>
              <li>
                <p>충청북도 청주시 서원구 현도면 중척리 355-2</p>
              </li>
              <li>
                <p>지상권</p>
              </li>
            </ul>
          </div>
        </section>

        <!-- 페이네이션 -->
        <section>
          <div class="pilji_info_Popup_boardPageBoxs">
            <ul>
              <li class="arrowLeftWrapper">
                <button>
                  <img
                    src="/assets/media/popup/images/arrowRightLine02.png"
                    alt="preBtnImg"
                  />
                </button>
                <button>
                  <img
                    src="/assets/media/popup/images/arrowRightLine01.png"
                    alt="preBtnImg"
                  />
                </button>
              </li>
              <li class="pageCountBoxs">
                <p>1</p>
                <p>2</p>
                <p>3</p>
                <p>4</p>
                <p>5</p>
              </li>
              <li class="arrowRightWrapper">
                <button>
                  <img
                    src="/assets/media/popup/images/arrowRightLine01.png"
                    alt="nextBtnImg"
                  />
                </button>
                <button>
                  <img
                    src="/assets/media/popup/images/arrowRightLine02.png"
                    alt="nextBtnImg"
                  />
                </button>
              </li>
            </ul>
          </div>
        </section>

        <div class="pilji_info_btns_wrap">
          <button class="backbtn finalBtn">닫기</button>
        </div>
      </div>
    </div>
    <script>
        // 저장, 닫기 버튼 click시 팝업 사라지게

        const piljiInfoPopup = document.getElementById('pilji_info_Popup');
        const PopupFinalBtns = piljiInfoPopup.querySelectorAll('.popupWrap .finalBtn');

        PopupFinalBtns.forEach((button) => {
          button.addEventListener('click', function () {
            piljiInfoPopup.classList.remove('active');
          });
        });

        // x 버튼 click시 팝업 사라지게

        const topCloseBtnforPiljiInfo = document.querySelector('#pilji_info_Popup .popupWrap .topCloseBtn');

        topCloseBtnforPiljiInfo.addEventListener('click', function () {
          piljiInfoPopup.classList.remove('active');
        })
        /* 페이지네이션 */
        const pageCountEvetForPiljiInfo = () => {
          const pageCountBtn = document.querySelectorAll(
            ".pilji_info_Popup_boardPageBoxs .pageCountBoxs p"
          );
          pageCountBtn.forEach((btn) => {
            pageCountBtn[0].classList.add("active");
            btn.addEventListener("click", () => {
              pageCountBtn.forEach((otherBtn) => {
                otherBtn.classList.remove("active");
              });
              btn.classList.toggle("active");
            });
          });
        };
        pageCountEvetForPiljiInfo();

        //스크롤이벤트 목록이 11개 이상일 경우 스크롤발생
          const scrollLength = document.querySelectorAll(".pilji_td");
          const historycontent = document.querySelector(".pilji_td_wrap");
          if (scrollLength.length >= 11) {
            historycontent.classList.add("scroll");
          } else {
            historycontent.classList.remove("scroll");
          }
</script>
