
<link rel="stylesheet" href="/assets/css/popup/deadline_Popup.css" />

<div id="potential_issue_Popup" class="potential_issue_Popup">
  <div class="popupWrap">
    <h2>
      <p>잠재이슈 등록 필지 조회</p>
      <span class="topCloseBtn"></span>
    </h2>
    <div class="potential_issue_classification">
      <p>
        <span>토지소유자가 아닌자와 계약</span>
        <span class="double_arrow"></span>
        <span>중분류 없음</span>
        <span class="double_arrow"></span>
        <span>계약일로 부터 20년이내</span>
      </p>
      <button>
        <p>엑셀 다운로드</p>
        <figure>
          <img src="/assets/media/popup/images/download.png" alt="download" />
        </figure>
      </button>
    </div>
    <section class="potential_sec1">
      <p class="potential_total_num">
        <span>총 검색 건 수</span>
        <span class="num_blue">1</span>
        <span>건</span>
      </p>
      <!-- 잠재이슈 테이블 -->
      <div class="potential_table">
        <div class="potential_th_wrap">
          <ul class="potential_th">
            <li>
              <p>순번</p>
            </li>
            <li>
              <p>발생지사</p>
            </li>
            <li>
              <p>주소</p>
            </li>
            <li>
              <p>토지유형</p>
            </li>
            <li>
              <p>권리확보</p>
            </li>
            <li>
              <p>자산번호</p>
            </li>
            <li>
              <p>관리번호</p>
            </li>
            <li>
              <p>취득일</p>
            </li>
            <li>
              <p>점용기간</p>
            </li>
            <li>
              <p>점용료 납부일</p>
            </li>
          </ul>
        </div>

        <!-- 잠재이슈 테이블 내용 추가되는 부분 -->
        <div class="potential_td_wrap">
          <ul class="potential_td">
            <li>
              <p>1</p>
            </li>
            <li>
              <p>대전지사</p>
            </li>
            <li>
              <p>충청북도 옥천군 이원면 용방리 988</p>
            </li>
            <li>
              <p>사유지</p>
            </li>
            <li>
              <p>지상권</p>
            </li>
            <li>
              <p>9002150</p>
            </li>
            <li>
              <p>J_002151</p>
            </li>
            <li>
              <p>1992-05-19</p>
            </li>
            <li>
              <p></p>
            </li>
            <li>
              <p>1992-05-19</p>
            </li>
          </ul>
          <ul class="potential_td">
            <li>
              <p>1</p>
            </li>
            <li>
              <p>대전지사</p>
            </li>
            <li>
              <p>충청북도 옥천군 이원면 용방리 988</p>
            </li>
            <li>
              <p>사유지</p>
            </li>
            <li>
              <p>지상권</p>
            </li>
            <li>
              <p>9002150</p>
            </li>
            <li>
              <p>J_002151</p>
            </li>
            <li>
              <p>1992-05-19</p>
            </li>
            <li>
              <p></p>
            </li>
            <li>
              <p>1992-05-19</p>
            </li>
          </ul>
          <ul class="potential_td">
            <li>
              <p>1</p>
            </li>
            <li>
              <p>대전지사</p>
            </li>
            <li>
              <p>충청북도 옥천군 이원면 용방리 988</p>
            </li>
            <li>
              <p>사유지</p>
            </li>
            <li>
              <p>지상권</p>
            </li>
            <li>
              <p>9002150</p>
            </li>
            <li>
              <p>J_002151</p>
            </li>
            <li>
              <p>1992-05-19</p>
            </li>
            <li>
              <p></p>
            </li>
            <li>
              <p>1992-05-19</p>
            </li>
          </ul>
          <ul class="potential_td">
            <li>
              <p>1</p>
            </li>
            <li>
              <p>대전지사</p>
            </li>
            <li>
              <p>충청북도 옥천군 이원면 용방리 988</p>
            </li>
            <li>
              <p>사유지</p>
            </li>
            <li>
              <p>지상권</p>
            </li>
            <li>
              <p>9002150</p>
            </li>
            <li>
              <p>J_002151</p>
            </li>
            <li>
              <p>1992-05-19</p>
            </li>
            <li>
              <p></p>
            </li>
            <li>
              <p>1992-05-19</p>
            </li>
          </ul>
          <ul class="potential_td">
            <li>
              <p>1</p>
            </li>
            <li>
              <p>대전지사</p>
            </li>
            <li>
              <p>충청북도 옥천군 이원면 용방리 988</p>
            </li>
            <li>
              <p>사유지</p>
            </li>
            <li>
              <p>지상권</p>
            </li>
            <li>
              <p>9002150</p>
            </li>
            <li>
              <p>J_002151</p>
            </li>
            <li>
              <p>1992-05-19</p>
            </li>
            <li>
              <p></p>
            </li>
            <li>
              <p>1992-05-19</p>
            </li>
          </ul>
          <ul class="potential_td">
            <li>
              <p>1</p>
            </li>
            <li>
              <p>대전지사</p>
            </li>
            <li>
              <p>충청북도 옥천군 이원면 용방리 988</p>
            </li>
            <li>
              <p>사유지</p>
            </li>
            <li>
              <p>지상권</p>
            </li>
            <li>
              <p>9002150</p>
            </li>
            <li>
              <p>J_002151</p>
            </li>
            <li>
              <p>1992-05-19</p>
            </li>
            <li>
              <p></p>
            </li>
            <li>
              <p>1992-05-19</p>
            </li>
          </ul>
          <ul class="potential_td">
            <li>
              <p>1</p>
            </li>
            <li>
              <p>대전지사</p>
            </li>
            <li>
              <p>충청북도 옥천군 이원면 용방리 988</p>
            </li>
            <li>
              <p>사유지</p>
            </li>
            <li>
              <p>지상권</p>
            </li>
            <li>
              <p>9002150</p>
            </li>
            <li>
              <p>J_002151</p>
            </li>
            <li>
              <p>1992-05-19</p>
            </li>
            <li>
              <p></p>
            </li>
            <li>
              <p>1992-05-19</p>
            </li>
          </ul>
          <ul class="potential_td">
            <li>
              <p>1</p>
            </li>
            <li>
              <p>대전지사</p>
            </li>
            <li>
              <p>충청북도 옥천군 이원면 용방리 988</p>
            </li>
            <li>
              <p>사유지</p>
            </li>
            <li>
              <p>지상권</p>
            </li>
            <li>
              <p>9002150</p>
            </li>
            <li>
              <p>J_002151</p>
            </li>
            <li>
              <p>1992-05-19</p>
            </li>
            <li>
              <p></p>
            </li>
            <li>
              <p>1992-05-19</p>
            </li>
          </ul>
          <ul class="potential_td">
            <li>
              <p>1</p>
            </li>
            <li>
              <p>대전지사</p>
            </li>
            <li>
              <p>충청북도 옥천군 이원면 용방리 988</p>
            </li>
            <li>
              <p>사유지</p>
            </li>
            <li>
              <p>지상권</p>
            </li>
            <li>
              <p>9002150</p>
            </li>
            <li>
              <p>J_002151</p>
            </li>
            <li>
              <p>1992-05-19</p>
            </li>
            <li>
              <p></p>
            </li>
            <li>
              <p>1992-05-19</p>
            </li>
          </ul>
          <ul class="potential_td">
            <li>
              <p>1</p>
            </li>
            <li>
              <p>대전지사</p>
            </li>
            <li>
              <p>충청북도 옥천군 이원면 용방리 988</p>
            </li>
            <li>
              <p>사유지</p>
            </li>
            <li>
              <p>지상권</p>
            </li>
            <li>
              <p>9002150</p>
            </li>
            <li>
              <p>J_002151</p>
            </li>
            <li>
              <p>1992-05-19</p>
            </li>
            <li>
              <p></p>
            </li>
            <li>
              <p>1992-05-19</p>
            </li>
          </ul>
        </div>
      </div>
    </section>
    <section>
      <div class="potential_Popup_boardPageBoxs">
        <ul>
          <li class="arrowLeftWrapper">
            <button>
              <img
                src="/assets/media/popup/images/arrowRightLine02.png"
                alt="preBtnImg"
              />
            </button>
            <button>
              <img
                src="/assets/media/popup/images/arrowRightLine01.png"
                alt="preBtnImg"
              />
            </button>
          </li>
          <li class="pageCountBoxs">
            <p>1</p>
            <p>2</p>
            <p>3</p>
            <p>4</p>
            <p>5</p>
          </li>
          <li class="arrowRightWrapper">
            <button>
              <img
                src="/assets/media/popup/images/arrowRightLine01.png"
                alt="nextBtnImg"
              />
            </button>
            <button>
              <img
                src="/assets/media/popup/images/arrowRightLine02.png"
                alt="nextBtnImg"
              />
            </button>
          </li>
        </ul>
      </div>
    </section>

    <div class="potential_btns_wrap">
      <button class="backbtn finalBtn">닫기</button>
    </div>
  </div>
</div>
<script>
    // 저장, 닫기 버튼 click시 팝업 사라지게

    const PopupFinalBtnsForPotentialIssue = document.querySelector('#potential_issue_Popup .popupWrap .finalBtn');
    const potentialIssuePopup = document.getElementById('potential_issue_Popup');

    PopupFinalBtnsForPotentialIssue.addEventListener('click', function () {
      potentialIssuePopup.classList.remove('active');
    })

    // x 버튼 click시 팝업 사라지게

    const topCloseBtn = document.querySelectorAll('.popupWrap .topCloseBtn');

    topCloseBtn.forEach((topClosebutton) => {
      topClosebutton.addEventListener('click', function () {
        potentialIssuePopup.classList.remove('active');
      })
    })
  /* 페이지네이션 */
  const pageCountEvetForPotentialIssue = () => {
    const potentialPageCountBtn = document.querySelectorAll(
      ".potential_Popup_boardPageBoxs .pageCountBoxs p"
    );
    potentialPageCountBtn.forEach((btn) => {
      potentialPageCountBtn[0].classList.add("active");
      btn.addEventListener("click", () => {
        potentialPageCountBtn.forEach((otherBtn) => {
          otherBtn.classList.remove("active");
        });
        btn.classList.toggle("active");
      });
    });
  };
  pageCountEvetForPotentialIssue();

  //스크롤이벤트 목록이 11개 이상일 경우 스크롤발생
  if(potentialIssuePopup) {
    const scrollLength = document.querySelectorAll(".potential_td");
    const historycontent = document.querySelector(".potential_td_wrap");
    if (scrollLength.length >= 11) {
      historycontent.classList.add("scroll");
    } else {
      historycontent.classList.remove("scroll");
    }
  }
</script>
