<link rel="stylesheet" href="/assets/css/popup/newMenualPopup.css">
    <div id="chkResultPopup">
        <div class="popupFrame">
            <h2>
                <p>검색결과</p>
                <span class="topCloseBtn"></span>
            </h2>
        
            <div class="popupCont">
                <ul class="popTitles">
                    <li class="popTitle01">PNU</li>
                    <li class="popTitle02">주소</li>
                    <li class="popTitle03">지번</li>
                    <li class="popTitle04">선택</li>
                    <li class="popTitle05"></li>
                </ul>
                <div class="popContentBox">
                    <ul class="popContents">
                        <li class="popContent01">
                            <p>115001100010010001</p>
                        </li>
                        <li class="popContent02">
                            <p>서울특별시 강서구 개화동</p>
                        <li class="popContent03">
                            <p>1-1</p>
                        </li>
                        <li class="popContent04">
                            <button class="resultSelectBtn">선택</button>
                        </li>
                        <li class="popContent05">
                            <div class="popCheckboxWrap">
                                <input type="checkbox" id="chkResultPop_Checkbox01">
                                <label for="chkResultPop_Checkbox01"></label>
                            </div>
                        </li>
                    </ul>
                    <ul class="popContents">
                        <li class="popContent01">
                            <p>115001100010010001</p>
                        </li>
                        <li class="popContent02">
                            <p>서울특별시 강서구 개화동</p>
                        <li class="popContent03">
                            <p>1-1</p>
                        </li>
                        <li class="popContent04">
                            <button class="resultSelectBtn">선택</button>
                        </li>
                        <li class="popContent05">
                            <div class="popCheckboxWrap">
                                <input type="checkbox" id="chkResultPop_Checkbox02">
                                <label for="chkResultPop_Checkbox02"></label>
                            </div>
                        </li>
                    </ul>
                    <ul class="popContents">
                        <li class="popContent01">
                            <p>115001100010010001</p>
                        </li>
                        <li class="popContent02">
                            <p>서울특별시 강서구 개화동</p>
                        <li class="popContent03">
                            <p>1-1</p>
                        </li>
                        <li class="popContent04">
                            <button class="resultSelectBtn">선택</button>
                        </li>
                        <li class="popContent05">
                            <div class="popCheckboxWrap">
                                <input type="checkbox" id="chkResultPop_Checkbox03">
                                <label for="chkResultPop_Checkbox03"></label>
                            </div>
                        </li>
                    </ul>
                    <ul class="popContents">
                        <li class="popContent01">
                            <p>115001100010010001</p>
                        </li>
                        <li class="popContent02">
                            <p>서울특별시 강서구 개화동</p>
                        <li class="popContent03">
                            <p>1-1</p>
                        </li>
                        <li class="popContent04">
                            <button class="resultSelectBtn">선택</button>
                        </li>
                        <li class="popContent05">
                            <div class="popCheckboxWrap">
                                <input type="checkbox" id="chkResultPop_Checkbox04">
                                <label for="chkResultPop_Checkbox04"></label>
                            </div>
                        </li>
                    </ul>
                    <ul class="popContents">
                        <li class="popContent01">
                            <p>115001100010010001</p>
                        </li>
                        <li class="popContent02">
                            <p>서울특별시 강서구 개화동</p>
                        <li class="popContent03">
                            <p>1-1</p>
                        </li>
                        <li class="popContent04">
                            <button class="resultSelectBtn">선택</button>
                        </li>
                        <li class="popContent05">
                            <div class="popCheckboxWrap">
                                <input type="checkbox" id="chkResultPop_Checkbox05">
                                <label for="chkResultPop_Checkbox05"></label>
                            </div>
                        </li>
                    </ul>
                    <ul class="popContents">
                        <li class="popContent01">
                            <p>115001100010010001</p>
                        </li>
                        <li class="popContent02">
                            <p>서울특별시 강서구 개화동</p>
                        <li class="popContent03">
                            <p>1-1</p>
                        </li>
                        <li class="popContent04">
                            <button class="resultSelectBtn">선택</button>
                        </li>
                        <li class="popContent05">
                            <div class="popCheckboxWrap">
                                <input type="checkbox" id="chkResultPop_Checkbox06">
                                <label for="chkResultPop_Checkbox06"></label>
                            </div>
                        </li>
                    </ul>
                    <ul class="popContents">
                        <li class="popContent01">
                            <p>115001100010010001</p>
                        </li>
                        <li class="popContent02">
                            <p>서울특별시 강서구 개화동</p>
                        <li class="popContent03">
                            <p>1-1</p>
                        </li>
                        <li class="popContent04">
                            <button class="resultSelectBtn">선택</button>
                        </li>
                        <li class="popContent05">
                            <div class="popCheckboxWrap">
                                <input type="checkbox" id="chkResultPop_Checkbox07">
                                <label for="chkResultPop_Checkbox07"></label>
                            </div>
                        </li>
                    </ul>
                    <ul class="popContents">
                        <li class="popContent01">
                            <p>115001100010010001</p>
                        </li>
                        <li class="popContent02">
                            <p>서울특별시 강서구 개화동</p>
                        <li class="popContent03">
                            <p>1-1</p>
                        </li>
                        <li class="popContent04">
                            <button class="resultSelectBtn">선택</button>
                        </li>
                        <li class="popContent05">
                            <div class="popCheckboxWrap">
                                <input type="checkbox" id="chkResultPop_Checkbox08">
                                <label for="chkResultPop_Checkbox08"></label>
                            </div>
                        </li>
                    </ul>
                    <ul class="popContents">
                        <li class="popContent01">
                            <p>115001100010010001</p>
                        </li>
                        <li class="popContent02">
                            <p>서울특별시 강서구 개화동</p>
                        <li class="popContent03">
                            <p>1-1</p>
                        </li>
                        <li class="popContent04">
                            <button class="resultSelectBtn">선택</button>
                        </li>
                        <li class="popContent05">
                            <div class="popCheckboxWrap">
                                <input type="checkbox" id="chkResultPop_Checkbox09">
                                <label for="chkResultPop_Checkbox09"></label>
                            </div>
                        </li>
                    </ul>
                    <ul class="popContents">
                        <li class="popContent01">
                            <p>115001100010010001</p>
                        </li>
                        <li class="popContent02">
                            <p>서울특별시 강서구 개화동</p>
                        <li class="popContent03">
                            <p>1-1</p>
                        </li>
                        <li class="popContent04">
                            <button class="resultSelectBtn">선택</button>
                        </li>
                        <li class="popContent05">
                            <div class="popCheckboxWrap">
                                <input type="checkbox" id="chkResultPop_Checkbox10">
                                <label for="chkResultPop_Checkbox10"></label>
                            </div>
                        </li>
                    </ul>
                    <ul class="popContents">
                        <li class="popContent01">
                            <p>115001100010010001</p>
                        </li>
                        <li class="popContent02">
                            <p>서울특별시 강서구 개화동</p>
                        <li class="popContent03">
                            <p>1-1</p>
                        </li>
                        <li class="popContent04">
                            <button class="resultSelectBtn">선택</button>
                        </li>
                        <li class="popContent05">
                            <div class="popCheckboxWrap">
                                <input type="checkbox" id="chkResultPop_Checkbox11">
                                <label for="chkResultPop_Checkbox11"></label>
                            </div>
                        </li>
                    </ul>
                    <ul class="popContents">
                        <li class="popContent01">
                            <p>115001100010010001</p>
                        </li>
                        <li class="popContent02">
                            <p>서울특별시 강서구 개화동</p>
                        <li class="popContent03">
                            <p>1-1</p>
                        </li>
                        <li class="popContent04">
                            <button class="resultSelectBtn">선택</button>
                        </li>
                        <li class="popContent05">
                            <div class="popCheckboxWrap">
                                <input type="checkbox" id="chkResultPop_Checkbox12">
                                <label for="chkResultPop_Checkbox12"></label>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        
            <div class="popFinalBtnBox btnWrap">
                <button class="finalBtn checkedBtn">선택 등록</button>
                <button class="saveBtn finalBtn">PNU 없이 선택</button>
                <button class="closeBtn finalBtn">닫기</button>
            </div>
        </div>
    </div>

<script>

    // 저장, 닫기 버튼 click시 팝업 사라지게

    const PopupFinalBtns =  document.querySelectorAll('#chkResultPopup .popupFrame .finalBtn');
    const largeChkResultPopup =document.getElementById('chkResultPopup');

    PopupFinalBtns.forEach((button) => {
        button.addEventListener('click', function () {
            button.classList.toggle("active");
            largeChkResultPopup.classList.toggle('active');
        })
    })

    // x 버튼 click시 팝업 사라지게

    const topCloseBtn = document.querySelector('#chkResultPopup .popupFrame .topCloseBtn');
    if(topCloseBtn){
        topCloseBtn.addEventListener('click',function(){
            largeChkResultPopup.classList.remove("active");
        })
    }

    // list가 10개 이상일 시 스크롤되게

    const chkResultPopup = document.getElementById('chkResultPopup');
    const popContents = chkResultPopup.querySelectorAll('.popContents');
    // contents들을 묶는 큰 부모
    const popContentBox = chkResultPopup.querySelector('.popContentBox');
    const popTitles = chkResultPopup.querySelector('.popTitles');

    if (popContents.length > 10) {
        popContentBox.classList.add('popContentScr');
        popTitles.classList.add('poptitleScr');
    } else {
        popContentBox.classList.remove('popContentScr');
        popTitles.classList.remove('poptitleScr');
    }

</script>
