<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/default_layout}">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css" />

    <link th:href="@{/css/common.css}" rel="stylesheet" />
    <link rel="stylesheet" href="/css/dopco/compLandReg.css" />

    <script src="/js/songyu/menu01.js"></script>
    <!-- <script type="text/javascript" src="https://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
		<link rel="stylesheet" type="text/css" href="//code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css"> -->
    <style>
        div.dt-top-container {
            display: grid;
            grid-template-columns: auto auto auto;
        }
        div.dt-center-in-div {
            margin: 0 auto;
            float: right;
            margin-right: 30px;
        }
        div.dt-center-in-div>div {
            display: inline;
        }
        div.dt-filter-spacer {
            margin: 10px 0;
            border: 1px solid red;
        }
        .dt-title {
            text-align: center;
            width: 180px;
            float: left;
        }
        .dt-buttons {
            display: inline-block;
            width: 180px;
        }
        .dt-length {
            display: inline-block;
        }
        .dt-button {
            color: white;
            background-color: #4e5871;
            font-size: 15px;
            font-weight: 600;
            border-radius: 10px;
            background-image: url(/assets/media/menu01/download.png);
            background-size: 11px;
            background-repeat: no-repeat;
            background-position: 123px center;
            text-aline: left;
            margin-right: 10px;
            width: 159px;
            height: 38px;
        }
        .dt-paging {
            text-align: center;
        }
        .dt-paging-button {
            box-sizing: border-box;
            display: inline-block;
            min-width: 1.5em;
            padding: 0.5em 1em;
            margin-left: 2px;
            text-align: center;
            text-decoration: none !important;
            cursor: pointer;
            border: 1px solid transparent;
            border-radius: 2px;
            background: transparent;
            color: #007bff !important;
            font-size: 15px;
            font-weight: 600;
        }
        .bottom {
            text-align: center;
        }
        .top {
            text-align: right;
            margin: 10px;
        }
    </style>

    <title>회사토지 등록</title>
</head>
<th:block layout:fragment="content">
	<input type="hidden" id="loginJisa" th:value="${loginJisa}"/>
    <!-- 회사토지 등록 -->
    <div class="compLandRegWrappers">

        <main id="compLandReg">
            <div class="mainTitle">
                <h1>회사토지 수정</h1>
            </div>

            <form id="saveForm" onSubmit="return false;">
                <input type="hidden" name="dopcoNo" id="dopcoNo" th:value="${data.dopco_no}">
                <!-- 기본 정보(기존) -->
                <input type="hidden" name="jisa_p" id="jisa_p" th:value="${data.jisa}">
                <input type="hidden" name="yongdo_p" id="yongdo_p" th:value="${data.yongdo}">
                <input type="hidden" name="pipe_name_p" id="pipe_name_p" th:value="${data.pipe_name}">
                <input type="hidden" name="sun_gubun_p" id="sun_gubun_p" th:value="${data.sun_gubun}">
                <!-- 소속 토지 정보(기존) -->
                <input type="hidden" name="sido_nm_p" id="sido_nm_p" th:value="${data.sido_nm}">
                <input type="hidden" name="sgg_nm_p" id="sgg_nm_p" th:value="${data.sgg_nm}">
                <input type="hidden" name="emd_nm_p" id="emd_nm_p" th:value="${data.emd_nm}">
                <input type="hidden" name="ri_nm_p" id="ri_nm_p" th:value="${data.ri_nm}">
                <input type="hidden" name="jibun_p" id="jibun_p" th:value="${data.jibun}">
                <input type="hidden" name="pnu_p" id="pnu_p" th:value="${data.pnu}">
                <input type="hidden" name="addrcode_p" id="addrcode_p" th:value="${data.addrcode}">

                <input type="hidden" name="addressData_p" id="addressData_p" th:value="${data.address}">
                <input type="hidden" name="gover_own_yn_p" id="gover_own_yn_p" th:value="${data.gover_own_yn}">
                <input type="hidden" name="areaData_p" id="areaData_p" th:value="${data.jijuk_area}">
                <input type="hidden" name="jimok_text_p" id="jimok_text_p" th:value="${data.jimok_text}">
                <!-- 회사 토지 지상권 정보(기존) -->
                <input type="hidden" name="dosiplan_p" id="dosiplan_p" th:value="${data.dosiplan}">
                <input type="hidden" name="current_p" id="current_p" th:value="${data.dopco_status}">
                <input type="hidden" name="chuideukDate_p" id="chuideukDate_p" th:value="${data.chuideuk_date}">
                <input type="hidden" name="jasan_p" id="jasan_p" th:value="${data.jasan_no}">
                <!-- 권리확보 내역(기존) -->
                <input type="hidden" name="comple_yn_p" id="comple_yn_p" th:value="${data.comple_yn}">
                <input type="hidden" name="deunggiDate_p" id="deunggiDate_p" th:value="${data.deunggi_date}">
                <input type="hidden" name="deunggiNo_p" id="deunggiNo_p" th:value="${data.deunggi_no}">
                <input type="hidden" name="deunggiso_p" id="deunggiso_p" th:value="${data.deunggiso}">
                <!-- 기본 정보 -->
                <section class="basicOwnerInfo">
                    <div class="subTitle">기본 정보</div>

                    <div class="contWrap">
                        <div class="depth1">
                            <ul class="titles">
                                <li class="title">담당지사</li>
                                <li class="title">용도</li>
                                <li class="title">관로명(구간)</li>
                                <li class="title">단/복선</li>
                            </ul>
                            <ul class="contents">
                                <li class="content selectContentArea">
                                    <div class="hiddenSelectBox">
                                        <select name="jisa" id="compLandRegSelectBox01" hidden >
                                            <option value=""></option>
                                            <th:block th:each="val:${jisaList}">
                                                <option th:text="${val.jm_jisa_name}" th:value="${val.jm_jisa_name}" th:selected="${val.jm_jisa_name}==${data.jisa}"></option>
                                            </th:block>
                                        </select>
                                    </div>
                                    <section class="customSelectBox">
                                        <button class="customSelectView" id="jisaNameDiv" th:text="${data.jisa}"></button>
                                        <ul class="customSelectBtns">
                                        </ul>
                                    </section>
                                </li>
                                <li class="content selectContentArea">
                                    <div class="hiddenSelectBox">
                                        <select name="yongdo" id="compLandRegSelectBox02" hidden>
                                            <option value=""></option>
                                            <option value="송유관로" th:selected="${data.yongdo} == '송유관로'">송유관로</option>
                                            <option value="밸브박스" th:selected="${data.yongdo} == '밸브박스'">밸브박스</option>
                                            <option value="가압소" th:selected="${data.yongdo} == '가압소'">가압소</option>
                                            <option value="저유소" th:selected="${data.yongdo} == '저유소'">저유소</option>
                                            <option value="펌프장" th:selected="${data.yongdo} == '펌프장'">펌프장</option>
                                            <option value="시설물" th:selected="${data.yongdo} == '시설물'">시설물</option>
                                        </select>
                                    </div>
                                    <section class="customSelectBox">
                                        <button class="customSelectView" th:text="${data.yongdo}">선택</button>
                                        <ul class="customSelectBtns"></ul>
                                    </section>
                                </li>
                                <li class="content selectContentArea">
                                    <div class="hiddenSelectBox">
                                        <select name="pipe_name" id="compLandRegSelectBox03" hidden>
                                            <option value=""></option>
                                            <option value="SNP 구간" th:selected="${data.pipe_name} == 'SNP 구간'">SNP 구간</option>
                                            <option value="광주지선" th:selected="${data.pipe_name} == '광주지선'">광주지선</option>
                                        </select>
                                    </div>
                                    <section class="customSelectBox">
                                        <button class="customSelectView" th:text="${data.pipe_name}">선택</button>

                                        <ul class="customSelectBtns"></ul>
                                    </section>
                                </li>
                                <li class="content selectContentArea">
                                    <div class="hiddenSelectBox">
                                        <select name="sun_gubun" id="compLandRegSelectBox04" hidden>
                                            <option value=""></option>
                                            <option value="단선" th:selected="${data.sun_gubun} == '단선'">단선</option>
                                            <option value="복선" th:selected="${data.sun_gubun} == '복선'">복선</option>
                                        </select>
                                    </div>
                                    <section class="customSelectBox">
                                        <button class="customSelectView" th:text="${data.sun_gubun}">선택</button>

                                        <ul class="customSelectBtns"></ul>
                                    </section>
                                </li>
                            </ul>
                        </div>
                    </div>
                </section>
								
                <!-- 소속 토지 정보 -->
                <section class="rightsDetails">
                    <div class="subTitle">소속 토지 정보</div>
                    <input type="hidden" name="sido_nm" id="sido_nm" th:value="${data.sido_nm}">
                    <input type="hidden" name="sgg_nm" id="sgg_nm" th:value="${data.sgg_nm}">
                    <input type="hidden" name="emd_nm" id="emd_nm" th:value="${data.emd_nm}">
                    <input type="hidden" name="ri_nm" id="ri_nm" th:value="${data.ri_nm}">
                    <input type="hidden" name="jibun" id="jibun" th:value="${data.jibun}">
                    <input type="hidden" name="pnu" id="pnu" th:value="${data.pnu}">
                    <input type="hidden" name="addrcode" id="addrcode" th:value="${data.addrcode}">

                    <div class="contWrap">
                        <div class="depth1">
                            <ul class="titles">
                                <li class="title">행정구역</li>
                                <li class="title">국공유지 여부</li>
                                <li class="title">지적면적(㎡)</li>
                                <li class="title">지목</li>
                            </ul>
                            <ul class="contents">
															  <!--행정구역-->
                                <li class="content inputWrap">
                                    <div class="inputBox addressData">
                                        <input name="addressData" type="text" th:value="${data.address}"/>
                                    </div>
                                    <button class="searchBtn">검색</button>
                                </li>
                                <li class="content selectContentArea">
                                    <div class="hiddenSelectBox">
                                        <select name="gover_own_yn" id="compLandRegSelectBox05" hidden>
                                            <option value=""></option>
                                            <option value="Y" th:selected="${data.gover_own_yn} == 'Y'">Y</option>
                                            <option value="N" th:selected="${data.gover_own_yn} == 'N'">N</option>
                                        </select>
                                    </div>
                                    <section class="customSelectBox">
                                        <button class="customSelectView" th:text="${data.gover_own_yn}">Y/N</button>

                                        <ul class="customSelectBtns"></ul>
                                    </section>
                                </li>
																<!--지적면적-->
                                <li class="content areaData">
                                    <input type="text" name="areaData" readonly class="notWriteInput" th:value="${data.jijuk_area}"/>
                                </li>
                                <li class="content selectContentArea jimokData">
                                    <div class="hiddenSelectBox">
                                        <select name="jimok_text" id="compLandRegSelectBox06" hidden>
                                            <option value=""></option>
                                            <th:block th:each="val:${resultJimokList}">
                                                <option th:text="${val.jm_name}" th:value="${val.jm_name}" th:selected="${val.jm_name} == ${data.jimok_text}"></option>
                                            </th:block>
                                        </select>
                                    </div>
                                    <section class="customSelectBox"> 
                                        <button class="customSelectView" th:text="${data.jimok_text}">선택</button>

                                        <ul class="customSelectBtns"></ul>
                                    </section>
                                </li>
                            </ul>
                        </div>
                    </div>
                </section>
                <!-- 회사 토지 지상권 정보 -->
                <section class="compLandLease">
                    <div class="subTitle">회사 토지 지상권 정보</div>

                    <div class="contWrap">
                        <div class="depth1">
                            <ul class="titles">
                                <li class="title">도시 계획 설정여부</li>
                                <li class="title">현재 활용 현황</li>
                                <li class="title">취득일</li>
                                <li class="title">자산분류번호</li>
                            </ul>
                            <ul class="contents">
                                <li class="content selectContentArea">
                                    <div class="hiddenSelectBox">
                                        <select name="dosiplan" id="compLandRegSelectBox07" hidden>
                                            <option value=""></option>
                                            <option value="Y" th:selected="${data.dosiplan} == 'Y'">Y</option>
                                            <option value="N" th:selected="${data.dosiplan} == 'N'">N</option>
                                        </select>
                                    </div>
                                    <section class="customSelectBox">
                                        <button class="customSelectView" th:text="${data.dosiplan}">Y/N</button>
                                        <ul class="customSelectBtns"></ul>
                                    </section>
                                </li>
                                <li class="content">
                                    <input name="current" type="text" th:value="${data.dopco_status}"/>
                                </li>
                                <li class="content">
                                    <div class="dateInputWrap">
                                        <input type="date" name="chuideukDate" data-placeholder="날짜선택" th:value="${data.chuideuk_date}"/>
                                    </div>
                                </li>
                                <li class="content">
                                    <input name="jasan" type="text" th:value="${data.jasan_no}"/>
                                </li>
                            </ul>
                        </div>
                    </div>
                </section>
                <!-- 권리확보 내역 -->
                <section class="securedRights">
                    <div class="subTitle">권리확보 내역</div>

                    <div class="contWrap">
                        <div class="depth1">
                            <ul class="titles">
                                <li class="title">완결여부</li>
                                <li class="title">등기일</li>
                                <li class="title">등기번호</li>
                                <li class="title">등기소</li>
                            </ul>
                            <ul class="contents">
                                <li class="content selectContentArea">
                                    <div class="hiddenSelectBox">
                                        <select name="comple_yn" id="compLandRegSelectBox08" hidden>
                                            <option value=""></option>
                                            <option value="Y" th:selected="${data.comple_yn} == 'Y'">Y</option>
                                            <option value="N" th:selected="${data.comple_yn} == 'N'">N</option>
                                        </select>
                                    </div>
                                    <section class="customSelectBox">
                                        <button class="customSelectView" th:text="${data.comple_yn}">Y/N</button>
                                        <ul class="customSelectBtns"></ul>
                                    </section>
                                </li>
                                <li class="content">
                                    <div class="dateInputWrap">
                                        <input type="date" name="deunggiDate" data-placeholder="날짜선택" th:value="${data.deunggi_date}" />
                                    </div>
                                </li>
                                <li class="content">
                                    <input name="deunggiNo" type="text" th:value="${data.deunggi_no}"/>
                                </li>
                                <li class="content">
                                    <input name="deunggiso" type="text" th:value="${data.deunggiso}"/>
                                </li>
                            </ul>
                        </div>
                    </div>
                </section>
                <!-- 후순위 권리 내역 -->
                <section class="subordinateRts">
                    <div class="subTitle">후순위 권리 내역</div>

                    <div class="contWrap">
                        <div class="depth1" id="rightDiv">
                            <ul class="titles">
                                <li class="title smallWidth">선택</li>
                                <li class="title">권리명</li>
                                <li class="title">설정금액</li>
                                <li class="title">설정일</li>
                                <li class="title">처분일</li>
                                <li class="title">성명</li>
                                <li class="title">연락처</li>
                                <li class="title largeWidth">주소</li>
                            </ul>
                            <div class="contentsBox">
                                <ul class="contents" th:each="val:${right_list}">
                                    <li class="content smallWidth checkboxWrap">
                                        <input type="checkbox" id="compLandReg_checkbox01">
                                        <label for="compLandReg_checkbox01"></label>
                                    </li>
                                    <li class="content">
                                        <input name="rightName" type="text" th:value="${val.right_name}"/>
                                    </li>
                                    <li class="content">
                                        <input name="rightMoney" type="text" th:value="${val.right_money}"/>
                                    </li>
                                    <li class="content">
                                        <div class="dateInputWrap">
                                            <input type="date" name="rightDate" data-placeholder="날짜선택"  th:value="${val.right_date}"/>
                                        </div>
                                    </li>
                                    <li class="content">
                                        <div class="dateInputWrap">
                                            <input type="date" name="cancleDate" data-placeholder="날짜선택"  th:value="${val.cancle_date}"/>
                                        </div>
                                    </li>
                                    <li class="content">
                                        <input name="rightUname" type="text" th:value="${val.right_uname}"/>
                                    </li>
                                    <li class="content">
                                        <input name="rightPhone" type="text" th:value="${val.right_phone}"/>
                                    </li>
                                    <li class="content largeWidth">
                                        <input name="rightAddr" type="text" th:value="${val.right_addr}"/>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="btnWrap">
                        <button class="contentBtn delBtn">권리내역 삭제</button>
                        <button class="contentAddBtn addBtn">권리내역 추가</button>
                    </div>
                </section>
                <!-- 첨부파일 -->
                <section class="attachFileInfo">
                    <div class="subTitle">
                        <div class="subTitleText">첨부파일</div>
                        <div class="subTitleEx">
                            *개당 20MB 이하의 파일만 안정적으로 업로드 가능합니다.
                        </div>
                        <div class="fileBtnWrap">
                            <input type="file" name="fileUpload" id="compLandReg_myPcFiles" />
                            <label for="compLandReg_myPcFiles">내 PC</label>
                        </div>
                    </div>

					<div class="fileUploadWrap">
						<div class="fileUploadBox">
							<img src="/assets/media/menu05/images/file-upload.png" alt="파일 업로드 아이콘" class="fileUploadIcon" />
							<p>파일을 마우스로 끌어오세요.</p>
						</div>
					</div>
                    <div class="contWrap">
                        <div class="depth1" id="fileListDiv">
                            <ul class="titles" id="fileTitleUl">
                                <li class="title01 allSelectCheck">
                                    <!-- 선택 -->

                                    <input type="checkbox" id="landRightsRegistration_file_select_all" name="landRightsRegistration_file_select_all">
                                    <label for="landRightsRegistration_file_select_all"></label>
                                </li>
                                <li class="title02">파일명</li>
                            </ul>
                            <ul class="contents" id="fileListUl" th:each="file, iterStat : ${file_list}">
								<li class="content01 content checkboxWrap">
									<input type="hidden" name="idx" th:id="'idx'" th:value="${file.idx}">
									<input type="hidden" name="seq" th:id="'seq'" th:value="${file.seq}">
									<input type="hidden" name="file_seq" th:id="'file_seq'" th:value="${file.file_seq}">
									<input type="hidden" name="file_path" th:id="'file_path'" th:value="${file.file_path}">
									<input type="hidden" name="newFileCheckYn" value="N">
									<input type="checkbox" th:id="'compLandEdit_attachFile' + ${iterStat.index + 1}"
										name="compLandEdit_attachFile" />
									<label th:for="'compLandEdit_attachFile' + ${iterStat.index + 1}"></label>
								</li>
								<li class="content02">
									<input type="text" th:value="${file.file_nm}" id="filename" readonly class="notWriteInput" />
								</li>
							</ul>
							
                        </div>
                    </div>
                    <div class="btnWrap">
                        <button class="fileDelBtn delBtn" id="deleteFileBtn">선택파일 삭제</button>
                    </div>
                </section>
                <div class="finalBtnBox btnWrap">
                    <button class="prevBtn finalBtn" onclick="history.back()">이전</button>
                    <button class="registBtn finalBtn" >등록</button>
                </div>
            </form>
        </main>
    </div>

    <div class="landRegPopWrapper" id="searchResultPopDiv">

        <link rel="stylesheet" href="/assets/css/popup/issuePopup.css">
        <div id="searchResultsPopup">
            <div class="popupWrap" id="popupWrap">
                <h2>
                    <p>검색결과</p>
                    <span class="topCloseBtn"></span>
                </h2>

                <div class="popupCont">
                    <ul class="popTitles">
                        <li class="popTitle01">PNU</li>
                        <li class="popTitle02">주소</li>
                        <li class="popTitle03">지번</li>
                        <li class="popTitle04">선택</li>

                    </ul>
                    <div class="popContentBox">
                        <ul class="popContents" th:each="val:${addressList}">

                            <li class="popContent01"> [[${val.pnu}]]</li>
                            <li class="popContent02"> [[${val.sido_nm +" "+val.sgg_nm+" "+val.emd_nm+" "+val.jibun}]]</li>
                            <li class="popContent0201" hidden>[[${val.sido_nm}]]</li>
                            <li class="popContent0202" hidden>[[${val.sgg_nm}]]</li>
                            <li class="popContent0203" hidden>[[${val.emd_nm}]]</li>
                            <li class="popContent0204" hidden>[[${val.ri_nm}]]</li>
                            <li class="popContent0205" hidden>[[${val.bcode}]]</li>
                            <li class="popContent03">[[${val.jibun}]]</li>
                            <li class="popContent04">
                                <button class="resultSelectBtn">선택</button>
                            </li>
                            <li class="popContent07" hidden>[[${val.jijuk_area}]]</li>
                            <li class="popContent06" hidden>[[${val.jimok_text}]]</li>

                        </ul>


                    </div>
                </div>

                <div class="lastBtnBox btnWrap">
                    <button class="saveBtn finalBtn" id="notPNUBtn">PNU 없이 선택</button>
                    <button class="backBtn finalBtn" id="popupCloseBtn">닫기</button>
                </div>
            </div>
        </div>

    </div>
    <script type="module" src="/js/module/surfaceMain.js"></script>
    <script src="/js/dopco/compLandEdit.js"></script>
</th:block>

</html>