<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/default_layout}">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" as="style" crossorigin
		href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css" />
	<link th:href="@{/css/common.css}" rel="stylesheet" />

	<title>회사토지 상세정보</title>
	<link rel="stylesheet" href="/css/dopco/companyLandDetails.css">
	<title>지상권</title>
</head>

<th:block layout:fragment="content">
	<div class="companyLandDetailsWrappers">
		<main id="companyLandDetails">
			<div class="mainTitle">
				<h1>회사토지 상세정보</h1>
			</div>

			<section class="basicOwnerInfo">
				<div class="subTitle">
					기본/소유자 정보
				</div>

				<div class="contWrap">
					<!--참고 지적도-->
					<div class="contBox contBoxMini01">
						<div class="thirdTitle">
							<h2>・참고 지적도</h2>
						</div>

						<div class="contentDetailBox mapFigure"></div>
					</div>

					<!--기본 정보 -->
					<div class="contBox contBoxMini02">
						<div class="thirdTitle">
							<h2>・기본 정보</h2>
						</div>

						<div class="contentDetailBox">
							<div class="depth1">
								<ul class="titles">
									<li class="title01 title">관리번호</li>
									<li class="title02 title">담당지사</li>
									<li class="title03 title">관로일치여부</li>
									<li class="title04 title">용도</li>
									<li class="title04 title">관로명(구간)</li>
								</ul>
								<ul class="contents">
									<input type="hidden" name="manage_no" id="manage_no" th:value="${data.dom_dopco_no}" />
									<li class="content01 content">
										[[${data.dom_dopco_no}]]
									</li>
									<li class="content02 content">
										[[${data.dom_jisa}]]
									</li>
									<li class="content03 content">
										<!--관로일치 여부 pipe_yn-->
										[[${data.dom_dopco_no}]]
									</li>
									<li class="content03 content">
										[[${data.dom_yongdo}]]
									</li>
									<li class="content04 content">
										[[${data.dom_pipe_name}]]
									</li>
								</ul>
							</div>
							<div class="depth2">
								<ul class="titles">
									<li class="title01 title">단/복선</li>
									<li class="title02 title">주소</li>
									<li class="title03 title">지적면적(m²)</li>
									<li class="title03 title">지목</li>
								</ul>
								<ul class="contents">
									<li class="content01 content">
										[[${data.dom_sun_gubun}]]
									</li>
									<li class="content02 content">
									    [[${#strings.concat(
									        data.dom_sido_nm != null ? data.dom_sido_nm + ' ' : '', 
									        data.dom_sgg_nm != null ? data.dom_sgg_nm + ' ' : '', 
									        data.dom_emd_nm != null ? data.dom_emd_nm + ' ' : '', 
									        data.dom_ri_nm != null ? data.dom_ri_nm + ' ' : '', 
									        data.dom_jibun != null ? data.dom_jibun : ''
									    )}]]
									</li>
									<li class="content03 content">
										[[${data.dom_jijuk_area}]]
									</li>
									<li class="content03 content">
										[[${data.dom_jimok_text}]]
									</li>
								</ul>
							</div>
							<div class="depth3">
								<ul class="titles">
									<li class="title01 title">국공유지여부</li>
									<li class="title02 title">도시계획결정여부</li>
									<li class="title03 title">현재활용현황</li>
									<li class="title03 title">취득일</li>
									<li class="title03 title">자산분류번호</li>
								</ul>
								<ul class="contents lastContents">
									<li class="content01 content">
										[[${data.dom_gover_own_yn}]]
									</li>
									<li class="content02 content">
										[[${data.dom_dosiplan}]]
									</li>
									<!--현재활용현황-->
									<li class="content03 content">
										[[${data.dom_dosiplan}]]
									</li>
									<li class="content03 content">
										[[${data.dom_chuideuk_date}]]
									</li>
									<li class="content03 content">
										[[${data.dom_jasan_no}]]
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</section>
			
			<!-- 권리내역 -->
			<section class="rightsDetails">
				<div class="subTitle">
					권리내역
				</div>

				<div class="contWrap">
					
					<!-- 권리확보내역 -->
					<div class="contBox contBoxMini06">
						<div class="thirdTitle">
							<h2>・권리확보내역</h2>
						</div>

						<div class="contentDetailBox">
							<div class="depth1">
								<ul class="titles">
									<li class="title01 title">완결여부</li>
									<li class="title02 title">등기일</li>
									<li class="title03 title">등기번호</li>
									<li class="title04 title">등기소</li>
								</ul>
								<ul class="contents lastContents">
									<li class="content01 content">
										[[${data.dom_comple_yn}]]
									</li>
									<li class="content02 content">
										[[${data.dom_deunggi_date}]]
									</li>
									<li class="content03 content">
										[[${data.dom_deunggi_no}]]
									</li>
									<li class="content04 content">
										[[${data.dom_deunggiso}]]
									</li>
								</ul>
							</div>
						</div>
					</div>
					
					<!-- 후순위 권리 -->
					<div class="contBox contBoxMini07">
						<div class="thirdTitle">
							<h2>・후순위 권리</h2>
						</div>

						<div class="contentDetailBox">
							<div class="depth1">
								<ul class="titles">
									<li class="title01 title">권리명</li>
									<li class="title02 title">설정금액</li>
									<li class="title03 title">설정일</li>
									<li class="title04 title">처분일</li>
									<li class="title05 title">성명</li>
									<li class="title01 title">연락처</li>
									<li class="title06 title">주소</li>
								</ul>
								<ul class="contents lastContents" th:if="${right_list.size() == 0}">
									<li class="content01" style="width:100%; text-align:center">데이터가 없습니다.</li>
								</ul>
								<ul class="contents" th:each="val:${right_list}">
									<li class="content01 content">
										[[${val.right_name}]]
									</li>
									<li class="content02 content">
										[[${val.right_money}]]
									</li>
									<li class="content03 content">
										[[${val.right_date}]]
									</li>
									<li class="content04 content">
										[[${val.cancle_date}]]
									</li>
									<li class="content05 content">
										[[${val.right_uname}]]
									</li>
									<li class="content01 content">
										[[${val.right_phone}]]
									</li>
									<li class="content06 content">
										[[${val.right_addr}]]
									</li>
								</ul>
							</div>
						</div>
					</div>

					<!-- 회사보유토지 스캔파일 -->
					<div class="contBox fileContbox">
						<div class="thirdTitle">
							<h2>・회사보유토지 스캔파일</h2>
						</div>

						<div class="contentDetailBox">
							<div class="depth1">
								<ul class="titles">
									<li class="title01 title">등록일</li>
									<li class="title02 title">파일명</li>
									<li class="title03 title">파일보기</li>
									<li class="title04 title">파일저장</li>
								</ul>
								<div class="contentScr">
									<ul class="contents lastContents" th:if="${file_list.size() == 0}">
										<li class="content01" style="width:100%; text-align:center">데이터가 없습니다.</li>
									</ul>
									<ul class="contents" th:each="val:${file_list}">
										<li class="content01 content">
											[[${val.reg_date}]]
										</li>
										<li class="content02 content">
											[[${val.file_nm}]]
										</li>
										<li class="content03 content">
											<!--<button class="viewDetailButton" th:onclick="'window.open(' + ${val.view_url} + ')'">보기</button>-->
											<button class="viewDetailButton" th:onclick="openFilePopup([[${val.file_path}]])">보기</button>
										</li>
										<li class="content04 content btnsWrap">
<!--											<a th:href="@{${val.download_url}}" download>
												<button class="fileDownloadBtn">다운로드 <span class="downloadIcon"></span></button>
											</a>-->
											<button class="fileDownloadBtn"  th:onclick="downloadFile([[${val.file_path}]],[[${val.file_nm}]])" >다운로드 <span class="downloadIcon"></span></button>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div> <!--회사보유토지 스캔파일 끝-->
				</div>
			</section>

			<!-- 변경 이력 -->
			<section class="changeHistory">
				<div class="subTitle">
					변경이력
				</div>

				<div class="contWrap">
					<div class="contBox">
						<div class="contentDetailBox">
							<div class="depth1">
								<ul class="titles">
									<li class="title01 title">순번</li>
									<li class="title02 title">변경일시</li>
									<li class="title03 title">구분</li>
									<li class="title04 title">내용</li>
								</ul>
								<div class="contentScr">
									<ul class="contents lastContents" th:if="${modify_list.size() == 0}">
										<li class="content01" style="width:100%; text-align:center">데이터가 없습니다.</li>
									</ul>
									<ul class="contents" th:each="val, valStat : ${modify_list}">
										<li class="content01 content">
											[[${valStat.index + 1}]]
										</li>
										<li class="content02 content">
											[[${val.modifiy_date}]]
										</li>
										<li class="content03 content">
											[[${val.gubun}]]
										</li>
										<li class="content04 content">
											[[${val.cont}]]
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			
			<!-- 잠재이슈 -->
			<section class="potentialIssues">
				<div class="subTitle">
					잠재이슈
					<button class="issueAdd issuePopBtn">이슈등록</button>
				</div>
				<div class="contWrap">
					<div class="contBox contBox07">
						<div class="contentDetailBox">
							<div class="depth1">
								<ul class="titles">
									<li class="title01 title">이슈세부유형</li>
									<li class="title02 title">사유</li>
									<li class="title03 title">등록일시</li>
									<li class="title04 title">편집</li>
								</ul>
								<ul class="contents lastContents">
									<li class="content01 content">
										<!-- 이슈없음 > 이슈없음 > 이슈없음 -->
										<input type="text" placeholder="이슈없음 > 이슈없음 > 이슈없음" class="notWriteInput" readonly>
									</li>
									<li class="content02 content">
										<!-- 계약미체결 -->
										<input type="text" placeholder="계약미체결" class="notWriteInput" readonly>
									</li>
									<li class="content03 content">
										<!-- 1995-02-13 -->
										<input type="text" placeholder="1995-02-13" class="notWriteInput" readonly>
									</li>
									<li class="content04 content btnBox">
										<div class="btnWrap">
											<button class="editBtn miniBtn issueReviseBtn">수정</button>
										</div>
										<div class="btnWrap">
											<button class="delBtn miniBtn">삭제</button>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>

			</section>

			<!-- 잠재이슈 변경 이력 -->
			<section class="potentialIssuesChangeHistory">
				<div class="subTitle">
					잠재이슈 변경 이력
				</div>
			
				<div class="contWrap">
					<div class="contBox">
						<div class="contentDetailBox">
							<div class="depth1">
								<ul class="titles">
									<li class="title01 title">순번</li>
									<li class="title02 title">구분</li>
									<li class="title03 title">변경일자</li>
									<li class="title04 title">내용</li>
									<li class="title03 title">사유</li>
								</ul>
								<ul class="contents lastContents" th:if="${modify_list.size() == 0}">
									<li class="content01" style="width:100%; text-align:center">데이터가 없습니다.</li>
								</ul>
								<ul class="contents" th:each="val:${dopcoIssueHistoryList}">
									<li class="content01 content">
										[[${val.no}]]
									</li>
									<li class="content02 content">
										[[${val.pih_history_type}]]
									</li>
									<li class="content03 content">
										[[${val.pih_history_date}]]
									</li>
									<li class="content04 content">
										[[${val.pih_content}]]
									</li>
									<li class="content03 content">
										[[${val.pi_issue_comment}]]
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</section>

			<!-- 잠재이슈 대응방안 메뉴얼 -->
			<section class="potentialIssuesResponseManual">
				<div class="subTitle">
					잠재이슈 대응방안 메뉴얼
				</div>
			
				<div class="contWrap">
					<div class="contBox">
						<div class="contentDetailBox">
							<div class="depth1">
								<ul class="titles">
									<li class="title01 title">매뉴얼명</li>
									<li class="title02 title">버전</li>
									<li class="title03 title">개정일자</li>
									<li class="title04 title">다운로드</li>
								</ul>
								<ul class="contents lastContents" th:if="${dopcoIssueCodeAtcFileList.size() == 0}">
									<li class="content01" style="width:100%; text-align:center">데이터가 없습니다.</li>
								</ul>
								<ul class="contents" th:each="val:${dopcoIssueCodeAtcFileList}">
									<li class="content01 content">
										[[${val.icaf_manual_title}]]
									</li>
									<li class="content02 content">
										[[${val.icaf_file_version}]]
									</li>
									<li class="content03 content">
										[[${val.icaf_file_regdate}]]
									</li>
									<li class="content04 content btnsWrap">
											<button class="fileDownloadBtn"  th:onclick="downloadFile([[${val.icaf_file_path}]],[[${val.icaf_file_nm}]])">다운로드 <span class="downloadIcon"></span></button>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</section>

			<!-- 메모 -->
			
			<section class="memoSection">
				<div class="subTitle">
					메모
				</div>

				<div class="contWrap">
					<div class="contBox">
						<div class="contentDetailBox">
							<div class="depth1">
								<ul class="titles">
									<li class="title01 title">작성일시</li>
									<li class="title02 title">작성자</li>
									<li class="title03 title">내용</li>
									<li class="title04 title">수정</li>
									<li class="title05 title">추가/삭제</li>
								</ul>
								<div class="contentScr" id="memoDiv">
									<ul class="contents nullContents" id="nullContents" style="display:none;">
										<li class="content01 content">
											<!-- 2022-11-01 -->
											<!-- input 추가 -->
											<input type="text" readonly placeholder="" class="notWriteInput">
										</li>
										<li class="content02 content editSpace">
											<input type="text" readonly placeholder="" id="wname" class="editingContent">
										</li>
										<li class="content03 content editSpace">
											<input type="text" readonly placeholder="" id="wmemo" class="editingContent">
										</li>
										<li class="content04 content editSpace">
											<div class="btnsWrap">
												<button class="editBtn miniBtn">수정</button>
											</div>
										</li>
										<li class="content05 content btnBox">
			
											<!-- 수정하지 않을 때 -->
			
											<div class="editBefore">
												<div class="btnWrap">
													<button class="addBtn miniBtn">추가</button>
												</div>
												<div class="btnWrap">
													<button class="delBtn miniBtn" id="deleteMemoBtn">삭제</button>
												</div>
											</div>
			
											<!-- 수정할 때 -->
			
											<div class="editAfter">
												<div class="newBtnWrap">
													<button class="registBtn miniBtn">등록</button>
												</div>
											</div>
										</li>
									</ul>
									<ul class="contents" th:each="val:${memoList}">
										<li class="content01 content">
											<!-- 2022-11-01 -->
											<!-- input 추가 -->
											<input type="hidden" th:value="${val.mm_idx}" id="idx">
											<input type="text" readonly placeholder="2022-11-01" id="wdate" th:value="${val.mm_wdate}"
												class="notWriteInput">
										</li>
										<li class="content02 content editSpace">
											<input type="text" readonly placeholder="김철수" id="wname" th:value="${val.mm_user_name}"
												class="editingContent">
										</li>
										<li class="content03 content editSpace">
											<input type="text" readonly placeholder="협의중" id="wmemo" th:value="${val.mm_memo}"
												class="editingContent">
										</li>
										<li class="content04 content editSpace">
											<div class="btnsWrap">
												<button class="editBtn miniBtn">수정</button>
											</div>
										</li>
										<li class="content05 content btnBox">
			
											<!-- 수정하지 않을 때 -->
			
											<div class="editBefore">
												<div class="btnWrap">
													<button class="addBtn miniBtn">추가</button>
												</div>
												<div class="btnWrap">
													<button class="delBtn miniBtn" id="deleteMemoBtn">삭제</button>
												</div>
											</div>
			
											<!-- 수정할 때 -->
			
											<div class="editAfter">
												<div class="newBtnWrap">
													<button class="registBtn miniBtn">등록</button>
												</div>
											</div>
										</li>
									</ul>
			
									<ul class="contents" th:if="${memoList.size()==0}">
										<li class="content01 content">
											<!-- 2022-11-01 -->
											<!-- input 추가 -->
											<input type="text" readonly placeholder="" class="notWriteInput">
										</li>
										<li class="content02 content editSpace">
											<input type="text" readonly placeholder="" id="wname" class="editingContent">
										</li>
										<li class="content03 content editSpace">
											<input type="text" readonly placeholder="" id="wmemo" class="editingContent">
										</li>
										<li class="content04 content editSpace">
											<div class="btnsWrap">
												<button class="editBtn miniBtn">수정</button>
											</div>
										</li>
										<li class="content05 content btnBox">
			
											<!-- 수정하지 않을 때 -->
			
											<div class="editBefore">
												<div class="btnWrap">
													<button class="addBtn miniBtn">추가</button>
												</div>
												<div class="btnWrap">
													<button class="delBtn miniBtn">삭제</button>
												</div>
											</div>
			
											<!-- 수정할 때 -->
			
											<div class="editAfter">
												<div class="newBtnWrap">
													<button class="registBtn miniBtn">등록</button>
												</div>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			
			<!-- 참고 -->
			<div class="finalBtnBox btnWrap">
				<!-- 이전 버튼 추가 -->
				<button class="backBtn finalBtn">이전</button>
				<button class="printBtn finalBtn">출력</button>
			</div>
		</main>
	</div>
	<div class="issueRegisterPopWrapper"></div>
	<div class="issueRevisePopWrapper"></div>
	<!-- script -->
	<script src="/js/dopco/companyLandDetails.js"></script>
	<script type="module" src="/js/module/surfaceMain.js"></script>
</th:block>

</html>