<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/default_layout}">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>회사토지 처분등록</title>
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css" />
    <link th:href="@{/css/common.css}" rel="stylesheet" />
    <link rel="stylesheet" href="/css/dopco/compLandDispReg.css" />
</head>
<th:block layout:fragment="content">
<body>
    <!-- 회사토지 처분등록 -->
    <div class="compLandDispRegWrappers">
        <div class="compLandDispRegHeader"></div>
        <main id="compLandDispReg">
            <div class="mainTitle">
                <h1>회사토지 처분등록</h1>
            </div>

            <!-- 기본 정보 -->
            <section class="basicOwnerInfo">
                <div class="subTitle">기본 정보</div>

                <div class="contWrap">
                    <div class="depth1">
                        <ul class="titles">
                            <li class="title">담당지사</li>
                            <li class="title">용도</li>
                            <li class="title">관로명(구간)</li>
                            <li class="title">단/복선</li>
                        </ul>
                        <ul class="contents">
                            <li class="content">
                                <input type="text" placeholder="서울지사" readonly class="notWriteInput" />
                            </li>
                            <li class="content">
                                <input type="text" placeholder="저유소" readonly class="notWriteInput" />
                            </li>
                            <li class="content">
                                <input type="text" readonly class="notWriteInput" />
                            </li>
                            <li class="content">
                                <input type="text" readonly class="notWriteInput" />
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
            <!-- 소속 토지 정보 -->
            <section class="rightsDetails">
                <div class="subTitle">소속 토지 정보</div>

                <div class="contWrap">
                    <div class="depth1">
                        <ul class="titles">
                            <li class="title">행정구역</li>
                            <li class="title">국공유지 여부</li>
                            <li class="title">지적면적(㎡)</li>
                        </ul>
                        <ul class="contents">
                            <li class="content">
                                <input type="text" readonly class="notWriteInput" placeholder="경기도 성남시 분당구 석운동 65-3" />
                            </li>
                            <li class="content">
                                <input type="text" readonly class="notWriteInput" placeholder="N" />
                            </li>
                            <li class="content">
                                <input type="text" readonly class="notWriteInput" placeholder="208093" />
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
            <!-- 회사 토지 지상권 정보 -->
            <section class="compLandLease">
                <div class="subTitle">회사 토지 지상권 정보</div>

                <div class="contWrap">
                    <div class="depth1">
                        <ul class="titles">
                            <li class="title">도시 계획 설정여부</li>
                            <li class="title">현재 활용 현황</li>
                            <li class="title">자산분류번호</li>
                        </ul>
                        <ul class="contents">
                            <li class="content">
                                <input type="text" placeholder="Y" readonly class="notWriteInput" />
                            </li>
                            <li class="content">
                                <input type="text" placeholder="서울저유소" readonly class="notWriteInput" />
                            </li>
                            <li class="content">
                                <input type="text" placeholder="1000032" readonly class="notWriteInput" />
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
            <!-- 권리확보 내역 -->
            <section class="securedRights">
                <div class="subTitle">권리확보 내역</div>

                <div class="contWrap">
                    <div class="depth1">
                        <ul class="titles">
                            <li class="title">완결여부</li>
                            <li class="title">등기일</li>
                            <li class="title">등기번호</li>
                            <li class="title">등기소</li>
                        </ul>
                        <ul class="contents">
                            <li class="content">
                                <input type="text" placeholder="Y" readonly class="notWriteInput" />
                            </li>
                            <li class="content">
                                <input type="text" placeholder="1995-06-30" readonly class="notWriteInput" />
                            </li>
                            <li class="content">
                                <input type="text" placeholder="1356-1996-052605" readonly class="notWriteInput" />
                            </li>
                            <li class="content">
                                <input type="text" placeholder="수원지방법원 성남지원 분당등기소" readonly class="notWriteInput" />
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
            <!-- 후순위 권리 내역 -->
            <section class="subordinateRts">
                <div class="subTitle">후순위 권리 내역</div>

                <div class="contWrap">
                    <div class="depth1">
                        <ul class="titles">
                            <li class="title">권리명</li>
                            <li class="title">설정금액</li>
                            <li class="title">설정일</li>
                            <li class="title">처분일</li>
                            <li class="title">성명</li>
                            <li class="title">연락처</li>
                            <li class="title largeWidth">주소</li>
                        </ul>
                        <ul class="contents">
                            <li class="content">
                                <input type="text" readonly class="notWriteInput" placeholder="근저당권설정" />
                            </li>
                            <li class="content">
                                <input type="text" readonly class="notWriteInput" placeholder="61,800,000,000" />
                            </li>
                            <li class="content">
                                <input type="text" readonly class="notWriteInput" placeholder="2005-09-14" />
                            </li>
                            <li class="content">
                                <input type="text" readonly class="notWriteInput" />
                            </li>
                            <li class="content">
                                <input type="text" readonly class="notWriteInput" placeholder="한국석유공사" />
                            </li>
                            <li class="content">
                                <input type="text" readonly class="notWriteInput" />
                            </li>
                            <li class="content largeWidth">
                                <input type="text" readonly class="notWriteInput" />
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- <div class="btnWrap">
            <button class="contentAddBtn">권리내역 추가</button>
          </div> -->
            </section>
            <!-- 회사토지 처분 정보 -->
            <section class="compLandDispInfo">
                <div class="subTitle">
                    <div class="subTitleText">회사토지 처분 정보</div>
                </div>

                <div class="contWrap">
                    <div class="depth1">
                        <ul class="rowListBox">
                            <li class="title">해지일</li>
                            <li class="content">
                                <div class="dateInputWrap">
                                    <input type="date" data-placeholder="24/01/01" required aria-required="true" />
                                </div>
                            </li>
                        </ul>
                        <ul class="rowListBox">
                            <li class="title">담당자</li>
                            <li class="content">
                                <input type="text" placeholder="박영환" />
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
            <div class="finalBtnBox btnWrap">
                <button class="prevBtn finalBtn">이전</button>
                <button class="registBtn finalBtn">처분</button>
            </div>
        </main>
    </div>
    <scrit>
        alert(1)
    </scrit>
    <script type="module" src="/components/surfaceMain.js"></script>
</body>
</th:block>
</html>