<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      
      layout:decorate="~{layout/default_layout}">
 <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      as="style"
      crossorigin
      href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css" />
  



 
  
   
  
	  <link th:href="@{/css/common.css}" rel="stylesheet" />
	
 <link rel="stylesheet" href="/css/dopco/menu05_2.css" /> 
	  
<!--		<script src="/js/songyu/menu01.js"></script>	-->
		<!-- <script type="text/javascript" src="https://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
		<link rel="stylesheet" type="text/css" href="//code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css"> -->
		<style>
		div.dt-top-container {
  display: grid;
  grid-template-columns: auto auto auto;
}

div.dt-center-in-div {
  margin: 0 auto;
      float: right;
    margin-right: 30px;
   
}
div.dt-center-in-div>div{

display:inline;
}

div.dt-filter-spacer {
  margin: 10px 0;
  border:1px solid red;
}


.dt-title{

text-align:center;
width:180px;
float:left;

}
.dt-buttons{
display:inline-block;

width:180px;

}
.dt-length{
display:inline-block;
}
.dt-button{

color:white;
background-color:#4e5871;
font-size:15px;
font-weight:600;
border-radius:10px;
background-image:url(/assets/media/menu01/download.png);
background-size:11px;
background-repeat:no-repeat;
background-position:123px center;
text-aline:left;
margin-right:10px;
width:159px;
height:38px;

}

.dt-paging {
text-align: center;
}

.dt-paging-button {
  box-sizing: border-box;
  display: inline-block;
  min-width: 1.5em;
  padding: 0.5em 1em;
  margin-left: 2px;
  text-align: center;
  text-decoration: none !important;
  cursor: pointer;
  
  border: 1px solid transparent;
  border-radius: 2px;
  background: transparent;
  color: #007bff !important;
    font-size: 15px;
    font-weight: 600;
    
    
}

.bottom{
text-align:center;

}
.top{

text-align:right;
margin:10px;

}

		</style>
		
    <title>회사토지처분</title>
  </head>
<th:block layout:fragment="content">
    <!--회사토지처분-->
    <div id="dopcoCompanyLand02">
      <!--header삽입-->
      <div class="companyLandheader02"></div>
      <div class="companyLandWrappers02">
        <div class="companyLandTitleBoxs">
          <h5>회사토지처분</h5>
        </div>
        <section class="companyLandSectionBoxs">
          <div class="companyLandSectionCont">
            <div class="companyLandSectionContDevide">
              <ul class="selectContent sectionMenuListBoxs">
                <li class="selectTitle"><p>지사</p></li>
                <!--수정부분 지사-->
                <div class="companyLandSelectWrappers">
                  <select
                    name=""
                    class="companyLandHiddenSelect02"
                    id="companyLandSelectBox02_1"
                    hidden>
                    <option value="전체">전체</option>
                    <option value="서울지사">서울지사</option>
                    <option value="경인지사">경인지사</option>
                    <option value="대전지사">대전지사</option>
                    <option value="부산지사">부산지사</option>
                    <option value="충청지사">충청지사</option>
                    <option value="충청지사">충청지사</option>
                    <option value="충청지사">충청지사</option>
                  </select>
                </div>
                <!--보여지는 셀렉박스-->
                <div class="companyLandSelects">
                  <button class="companyLandSelectsTitleBtn"></button>
                  <div class="sufaceSelectList">
                    <ul class="surfaceSelectListMember"></ul>
                  </div>
                </div>
              </ul>
              <ul class="inputControlBoxs sectionMenuListBoxs">
                <li class="selectTitle"><p>자산분류번호</p></li>
                <div class="inputControlList">
                  <input type="text" />
                </div>
              </ul>
              <ul class="inputControlBoxs sectionMenuListBoxs">
                <li class="selectTitle"><p>취득기간</p></li>
                <div class="inputControlList dateListBox">
                  <input type="date" />
                  <span>-</span>
                  <input type="date" />
                </div>
              </ul>
              <ul class="selectContent sectionMenuListBoxs">
                <li class="selectTitle"><p>처분여부</p></li>
                <!--수정부분 지사-->
                <div class="companyLandSelectWrappers">
                  <select
                    name=""
                    class="companyLandHiddenSelect02"
                    id="companyLandSelectBox02_2"
                    hidden>
                    <option value="전체">전체</option>
                    <option value="처분">처분</option>
                    <option value="미처분">미처분</option>
                  </select>
                </div>
                <!--보여지는 셀렉박스-->
                <div class="companyLandSelects">
                  <button class="companyLandSelectsTitleBtn"></button>
                  <div class="sufaceSelectList smallHeight">
                    <ul class="surfaceSelectListMember"></ul>
                  </div>
                </div>
              </ul>
            </div>
            <!-- 라디오버튼 있는 섹션-->
            <div class="companyLandSectionContDevide">
              <p class="devideSecondTitles">주소</p>
              <div class="companyLandSectionRadioBoxs">
                <ul class="radioBoxs">
                  <li>
                    <input type="radio" name="companyLandRadio02" /><span
                      >입력형</span
                    >
                  </li>
                  <li class="addressInput">
                    <input
                      type="search"
                      placeholder="주소입력"
                      class="searchInputBox02" />
                  </li>
                </ul>
                <ul class="radioBoxs menuRadioEvet02">
                  <li>
                    <input type="radio" name="companyLandRadio02" /><span
                      >선택형</span
                    >
                  </li>
                  <li>
                    <!--수정부분 지사-->
                    <div class="companyLandSelectWrappers">
                      <select
                        name=""
                        class="companyLandHiddenSelect02"
                        id="companyLandSelectBox02_3"
                        hidden>
                        <option value="전체">전체</option>
                        <option value="Y1">Y1</option>
                        <option value="N2">N2</option>
                        <option value="N3">N3</option>
                        <option value="N4">N4</option>
                        <option value="N5">N5</option>
                        <option value="N6">N6</option>
                        <option value="N7">N7</option>
                      </select>
                    </div>
                    <!--보여지는 셀렉박스-->
                    <div class="companyLandSelects">
                      <button class="companyLandSelectsTitleBtn"></button>
                      <div class="sufaceSelectList smallHeight">
                        <ul class="surfaceSelectListMember"></ul>
                      </div>
                    </div>
                  </li>
                  <li>
                    <!--수정부분 지사-->
                    <div class="companyLandSelectWrappers">
                      <select
                        name=""
                        class="companyLandHiddenSelect02"
                        id="companyLandSelectBox02_4"
                        hidden>
                        <option value="전체">전체</option>
                        <option value="Y">Y</option>
                        <option value="N">N</option>
                      </select>
                    </div>
                    <!--보여지는 셀렉박스-->
                    <div class="companyLandSelects">
                      <button class="companyLandSelectsTitleBtn"></button>
                      <div class="sufaceSelectList smallHeight">
                        <ul class="surfaceSelectListMember"></ul>
                      </div>
                    </div>
                  </li>
                  <li>
                    <!--수정부분 지사-->
                    <div class="companyLandSelectWrappers">
                      <select
                        name=""
                        class="companyLandHiddenSelect02"
                        id="companyLandSelectBox02_5"
                        hidden>
                        <option value="전체1">전체1</option>
                        <option value="Y2">Y2</option>
                        <option value="N3">N3</option>
                      </select>
                    </div>
                    <!--보여지는 셀렉박스-->
                    <div class="companyLandSelects">
                      <button class="companyLandSelectsTitleBtn"></button>
                      <div class="sufaceSelectList smallHeight">
                        <ul class="surfaceSelectListMember"></ul>
                      </div>
                    </div>
                  </li>
                  <li>
                    <!--수정부분 지사-->
                    <div class="companyLandSelectWrappers">
                      <select
                        name=""
                        class="companyLandHiddenSelect02"
                        id="companyLandSelectBox02_6"
                        hidden>
                        <option value="전체11">전체11</option>
                        <option value="Y22">Y22</option>
                        <option value="N33">N33</option>
                      </select>
                    </div>
                    <!--보여지는 셀렉박스-->
                    <div class="companyLandSelects">
                      <button class="companyLandSelectsTitleBtn"></button>
                      <div class="sufaceSelectList smallHeight">
                        <ul class="surfaceSelectListMember"></ul>
                      </div>
                    </div>
                  </li>
                  <li style="padding: 0px 3px">
                    <div class="inputControlList">
                      <input
                        type="text"
                        placeholder="지번입력"
                        class="menuAdderssInput02" />
                    </div>
                  </li>
                </ul>
              </div>
              <!--companyLandSectionRadioBoxs-->
              <div class="companyLandSectionBtnBoxs">
                <button class="companyLandRegisterBtn">조회하기</button>
                <a
                  class="queryBtn"
                  href="/components/subHtml/menu05/compLandDispReg.html"
                  >등록하기</a
                >
              </div>
            </div>
          </div>
          <!--companyLandSectionCont-->
        </section>
        <main>
          <div class="companyLandMainContentWrapper">
            <div class="companyLandMainContent">
              <div class="dataTitles">
                <h5>총 검색 건 수<span>154</span>건</h5>
                <div class="companyLandMainContentDownloadBoxs">
                  <button class="companyLandExcelDownload">
                    엑셀 다운로드
                  </button>
                  <!--수정부분 지사-->
                  <div class="companyLandSelectWrappers">
                    <select
                      name=""
                      class="companyLandHiddenSelect02"
                      id="companyLandSelectBox02_7"
                      hidden>
                      <option value="10건">10건</option>
                      <option value="11건">11건</option>
                      <option value="12건">12건</option>
                      <option value="13건">13건</option>
                    </select>
                  </div>
                  <!--보여지는 셀렉박스-->
                  <div class="companyLandSelects">
                    <button class="companyLandSelectsTitleBtn"></button>
                    <div class="sufaceSelectList smallHeight">
                      <ul class="surfaceSelectListMember"></ul>
                    </div>
                  </div>
                </div>
              </div>
              <!-- 데이터박스 -->
              <div class="dataBoxswrappers">
                <div class="dataBoxCont dataBoxsFirst05">
                  <ul class="dataTitle">
                    <li class="smallWidth"><p>순번</p></li>
                    <li><p>담당지사</p></li>
                    <li class="largeWidth"><p>주소</p></li>
                  </ul>
                  <ul class="dataContent">
                    <a href="" class="linkCont">
                      <li class="smallWidth"><p>1</p></li>
                      <li><p>서울지사</p></li>
                      <li class="largeWidth">
                        <p>경기도 화성시 오산동 967-1261</p>
                      </li>
                    </a>
                  </ul>
                  <ul class="dataContent">
                    <a href="" class="linkCont">
                      <li class="smallWidth"><p>2</p></li>
                      <li><p>서울지사</p></li>
                      <li class="largeWidth">
                        <p>경기도 화성시 오산동 967-1261</p>
                      </li>
                    </a>
                  </ul>
                  <ul class="dataContent">
                    <a href="" class="linkCont">
                      <li class="smallWidth"><p>3</p></li>
                      <li><p>서울지사</p></li>
                      <li class="largeWidth">
                        <p>경기도 화성시 오산동 967-1261</p>
                      </li>
                    </a>
                  </ul>
                  <ul class="dataContent">
                    <a href="" class="linkCont">
                      <li class="smallWidth"><p>4</p></li>
                      <li><p>서울지사</p></li>
                      <li class="largeWidth">
                        <p>경기도 화성시 오산동 967-1261</p>
                      </li>
                    </a>
                  </ul>
                  <ul class="dataContent">
                    <a href="" class="linkCont">
                      <li class="smallWidth"><p>5</p></li>
                      <li><p>서울지사</p></li>
                      <li class="largeWidth">
                        <p>경기도 화성시 오산동 967-1261</p>
                      </li>
                    </a>
                  </ul>
                  <ul class="dataContent">
                    <a href="" class="linkCont">
                      <li class="smallWidth"><p>6</p></li>
                      <li><p>서울지사</p></li>
                      <li class="largeWidth">
                        <p>경기도 화성시 오산동 967-1261</p>
                      </li>
                    </a>
                  </ul>
                  <ul class="dataContent">
                    <a href="" class="linkCont">
                      <li class="smallWidth"><p>7</p></li>
                      <li><p>서울지사</p></li>
                      <li class="largeWidth">
                        <p>경기도 화성시 오산동 967-1261</p>
                      </li>
                    </a>
                  </ul>
                  <ul class="dataContent">
                    <a href="" class="linkCont">
                      <li class="smallWidth"><p>8</p></li>
                      <li><p>서울지사</p></li>
                      <li class="largeWidth">
                        <p>경기도 화성시 오산동 967-1261</p>
                      </li>
                    </a>
                  </ul>
                  <ul class="dataContent">
                    <a href="" class="linkCont">
                      <li class="smallWidth"><p>9</p></li>
                      <li><p>서울지사</p></li>
                      <li class="largeWidth">
                        <p>경기도 화성시 오산동 967-1261</p>
                      </li>
                    </a>
                  </ul>
                  <ul class="dataContent">
                    <a href="" class="linkCont">
                      <li class="smallWidth"><p>10</p></li>
                      <li><p>서울지사</p></li>
                      <li class="largeWidth">
                        <p>경기도 화성시 오산동 967-1261</p>
                      </li>
                    </a>
                  </ul>
                </div>
                <!-- 오른쪽 좌우스크롤 가진 데이터박스 -->
                <div class="dataBoxCont dataBoxsSecond05">
                  <div class="scrollContentBoxies">
                    <ul class="dataTitle">
                      <li><p>자산분류번호</p></li>
                      <li><p>활용현황</p></li>
                      <li><p>취득일</p></li>
                      <li><p>등기일</p></li>
                      <li><p>면적</p></li>
                      <li><p>처분여부</p></li>
                      <li><p>처분일</p></li>
                      <li><p>지도</p></li>
                    </ul>
                    <ul class="dataContent companyLandLink02">
                      <a href="" class="linkCont">
                        <li><p>1000032</p></li>
                        <li><p>서울저유소</p></li>
                        <li><p>1995-06-30</p></li>
                        <li><p>1995-06-30</p></li>
                        <li><p>208,093</p></li>
                        <li><p>처분</p></li>
                        <li><p>2024-02-10</p></li>
                      </a>
                      <div class="dataContBtnBox">
                        <li>
                          <button class="btnDesign">위치보기</button>
                        </li>
                      </div>
                    </ul>
                    <ul class="dataContent companyLandLink02">
                      <a href="" class="linkCont">
                        <li><p>1000032</p></li>
                        <li><p>서울저유소</p></li>
                        <li><p>1995-06-30</p></li>
                        <li><p>1995-06-30</p></li>
                        <li><p>208,093</p></li>
                        <li><p>처분</p></li>
                        <li><p>2024-02-10</p></li>
                      </a>
                      <div class="dataContBtnBox">
                        <li>
                          <button class="btnDesign">위치보기</button>
                        </li>
                      </div>
                    </ul>
                    <ul class="dataContent companyLandLink02">
                      <a href="" class="linkCont">
                        <li><p>1000032</p></li>
                        <li><p>서울저유소</p></li>
                        <li><p>1995-06-30</p></li>
                        <li><p>1995-06-30</p></li>
                        <li><p>208,093</p></li>
                        <li><p>처분</p></li>
                        <li><p>2024-02-10</p></li>
                      </a>
                      <div class="dataContBtnBox">
                        <li>
                          <button class="btnDesign">위치보기</button>
                        </li>
                      </div>
                    </ul>
                    <ul class="dataContent companyLandLink02">
                      <a href="" class="linkCont">
                        <li><p>1000032</p></li>
                        <li><p>서울저유소</p></li>
                        <li><p>1995-06-30</p></li>
                        <li><p>1995-06-30</p></li>
                        <li><p>208,093</p></li>
                        <li><p>처분</p></li>
                        <li><p>2024-02-10</p></li>
                      </a>
                      <div class="dataContBtnBox">
                        <li>
                          <button class="btnDesign">위치보기</button>
                        </li>
                      </div>
                    </ul>
                    <ul class="dataContent companyLandLink02">
                      <a href="" class="linkCont">
                        <li><p>1000032</p></li>
                        <li><p>서울저유소</p></li>
                        <li><p>1995-06-30</p></li>
                        <li><p>1995-06-30</p></li>
                        <li><p>208,093</p></li>
                        <li><p>처분</p></li>
                        <li><p>2024-02-10</p></li>
                      </a>
                      <div class="dataContBtnBox">
                        <li>
                          <button class="btnDesign">위치보기</button>
                        </li>
                      </div>
                    </ul>
                    <ul class="dataContent companyLandLink02">
                      <a href="" class="linkCont">
                        <li><p>1000032</p></li>
                        <li><p>서울저유소</p></li>
                        <li><p>1995-06-30</p></li>
                        <li><p>1995-06-30</p></li>
                        <li><p>208,093</p></li>
                        <li><p>처분</p></li>
                        <li><p>2024-02-10</p></li>
                      </a>
                      <div class="dataContBtnBox">
                        <li>
                          <button class="btnDesign">위치보기</button>
                        </li>
                      </div>
                    </ul>
                    <ul class="dataContent companyLandLink02">
                      <a href="" class="linkCont">
                        <li><p>1000032</p></li>
                        <li><p>서울저유소</p></li>
                        <li><p>1995-06-30</p></li>
                        <li><p>1995-06-30</p></li>
                        <li><p>208,093</p></li>
                        <li><p>처분</p></li>
                        <li><p>2024-02-10</p></li>
                      </a>
                      <div class="dataContBtnBox">
                        <li>
                          <button class="btnDesign">위치보기</button>
                        </li>
                      </div>
                    </ul>
                    <ul class="dataContent companyLandLink02">
                      <a href="" class="linkCont">
                        <li><p>1000032</p></li>
                        <li><p>서울저유소</p></li>
                        <li><p>1995-06-30</p></li>
                        <li><p>1995-06-30</p></li>
                        <li><p>208,093</p></li>
                        <li><p>처분</p></li>
                        <li><p>2024-02-10</p></li>
                      </a>
                      <div class="dataContBtnBox">
                        <li>
                          <button class="btnDesign">위치보기</button>
                        </li>
                      </div>
                    </ul>
                    <ul class="dataContent companyLandLink02">
                      <a href="" class="linkCont">
                        <li><p>1000032</p></li>
                        <li><p>서울저유소</p></li>
                        <li><p>1995-06-30</p></li>
                        <li><p>1995-06-30</p></li>
                        <li><p>208,093</p></li>
                        <li><p>처분</p></li>
                        <li><p>2024-02-10</p></li>
                      </a>
                      <div class="dataContBtnBox">
                        <li>
                          <button class="btnDesign">위치보기</button>
                        </li>
                      </div>
                    </ul>
                    <ul class="dataContent companyLandLink02">
                      <a href="" class="linkCont">
                        <li><p>1000032</p></li>
                        <li><p>서울저유소</p></li>
                        <li><p>1995-06-30</p></li>
                        <li><p>1995-06-30</p></li>
                        <li><p>208,093</p></li>
                        <li><p>처분</p></li>
                        <li><p>2024-02-10</p></li>
                      </a>
                      <div class="dataContBtnBox">
                        <li>
                          <button class="btnDesign">위치보기</button>
                        </li>
                      </div>
                    </ul>
                  </div>
                </div>
              </div>
              <!--dataBoxswrappers-->
              <div class="boardPageBoxs">
                <ul>
                  <li class="arrowLeftWrapper">
                    <button>
                      <img
                        src="/assets/media/menu01/arrowRightLine02.png"
                        alt="preBtnImg" />
                    </button>
                    <button>
                      <img
                        src="/assets/media/menu01/arrowRightLine01.png"
                        alt="preBtnImg" />
                    </button>
                  </li>
                  <li class="pageCountBoxs">
                    <p>1</p>
                    <p>2</p>
                    <p>3</p>
                    <p>4</p>
                    <p>5</p>
                  </li>
                  <li class="arrowRightWrapper">
                    <button>
                      <img
                        src="/assets/media/menu01/arrowRightLine01.png"
                        alt="nextBtnImg" />
                    </button>
                    <button>
                      <img
                        src="/assets/media/menu01/arrowRightLine02.png"
                        alt="nextBtnImg" />
                    </button>
                  </li>
                </ul>
              </div>
              <!--boardPageBoxs-->
            </div>
          </div>
        </main>
      </div>
    </div>

    <script type="module" src="/js/module/surfaceMain.js"></script>
    <script src="/js/dopco/companyLandLinkEvet.js"></script>
<!--    <script src="/js/dopco/companyLandRadioEvet.js"></script>-->
   <!--  <script src="/resultPageEvet.js"></script> -->
  </th:block>
</html>
