@charset "utf-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@import url("../header.css");

* {
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  font-family: Pretendard;
  /* overflow-x: hidden; */
}

div,
h1,
h2,
h3,
h4,
h5,
p,
span {
  margin: 0;
  font-family: Pretendard;
}
ul li {
  list-style: none;
}
a {
  text-decoration: none;
  font-family: Pretendard;
}
button {
  border: none;
  background: transparent;
  text-align: center;
}
button:hover {
  cursor: pointer;
}
input {
  border: none;
}

input:focus {
  outline: none;
}
select:focus {
  outline: none;
}

#dopcoLandDevelopmentManage {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  overflow-y: scroll;
}

/* 스크롤바 */

#dopcoLandDevelopmentManage::-webkit-scrollbar {
  width: 4px;
}

#dopcoLandDevelopmentManage::-webkit-scrollbar-thumb {
  height: 30%;
  border-radius: 10px;
  background: #d2d2d2;
}

#dopcoLandDevelopmentManage .landDevelopmentManageheader {
  width: 100px;
  height: 100vh;
  float: left;
}

#dopcoLandDevelopmentManage .landDevelopmentManageWrappers {
  width: calc(100% - 100px);
  height: 100%;
  margin: 0 auto;
  float: left;
}

/* 타이틀 */
#dopcoLandDevelopmentManage
  .landDevelopmentManageWrappers
  .landDevelopmentManageTitleBoxs {
  padding: 30px 0px 25px;
}

#dopcoLandDevelopmentManage
  .landDevelopmentManageWrappers
  .landDevelopmentManageTitleBoxs
  h5 {
  color: #31394c;
  font-size: 22px;
  padding: 0px 50px;
}

/* section */

#dopcoLandDevelopmentManage
  .landDevelopmentManageWrappers
  .landDevelopmentManageSectionBoxs {
  padding: 0px 20px;
  margin: 0 auto;
}

#dopcoLandDevelopmentManage
  .landDevelopmentManageWrappers
  .landDevelopmentManageSectionBoxs
  .landDevelopmentManageSectionCont {
  width: 100%;
  height: 253px;
  padding: 10px 0px;
  margin: 0 auto;
  border-radius: 20px;
  border: 1px solid #cddbf099;
  background-color: #f7f9fc;
}

#dopcoLandDevelopmentManage
  .landDevelopmentManageWrappers
  .landDevelopmentManageSectionBoxs
  .landDevelopmentManageSectionCont
  .landDevelopmentManageSectionContDevide {
  /* width: 100%; */
  height: 50%;
  width: 97%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

#dopcoLandDevelopmentManage
  .landDevelopmentManageWrappers
  .landDevelopmentManageSectionBoxs
  .landDevelopmentManageSectionCont
  .landDevelopmentManageSectionContDevide:last-child {
  margin-top: 3px;
  justify-content: space-between;
  align-items: start;
}
#dopcoLandDevelopmentManage
  .landDevelopmentManageWrappers
  .landDevelopmentManageSectionBoxs
  .landDevelopmentManageSectionCont
  .landDevelopmentManageSectionContDevide:first-child {
  border-bottom: 1px solid #cddbf099;
}

#dopcoLandDevelopmentManage
  .landDevelopmentManageWrappers
  .landDevelopmentManageSectionBoxs
  .landDevelopmentManageSectionCont
  .landDevelopmentManageSectionContDevide
  .sectionMenuListBoxs {
  width: 13.5%;
  height: 100%;
  background-color: transparent;
}

#dopcoLandDevelopmentManage
  .landDevelopmentManageWrappers
  .landDevelopmentManageSectionBoxs
  .landDevelopmentManageSectionCont
  .landDevelopmentManageSectionContDevide
  .sectionMenuListBoxs
  .selectTitle {
  padding: 10px 0px;
}

#dopcoLandDevelopmentManage
  .landDevelopmentManageWrappers
  .landDevelopmentManageSectionBoxs
  .landDevelopmentManageSectionCont
  .landDevelopmentManageSectionContDevide
  .sectionMenuListBoxs
  .selectTitle
  p {
  font-size: 15px;
  font-weight: 600;
  color: #4e5871;
}

/* 공통 셀렉박스 */

#dopcoLandDevelopmentManage .landDevelopmentManageSelects {
  max-width: 203px;
  height: 44px;
  border-radius: 10px;
  background-color: #fff;
  position: relative;
}

#dopcoLandDevelopmentManage
  .landDevelopmentManageSelects
  .landDevelopmentManageSelectsTitleBtn {
  width: 100%;
  padding: 0px 15px;
  height: 100%;
  position: absolute;
  left: 0;
  display: block;
  background-color: transparent;
  text-align: left;
  font-size: 15px;
  border-radius: 10px;
  border: 1px solid #cfddf2;
  background-image: url(/assets/media/menu01/surfaceNavArrowdown.png);
  background-size: 20px;
  background-position: 94% center;
  background-repeat: no-repeat;
  color: #6e7d88;
  filter: grayscale(100);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

#dopcoLandDevelopmentManage
  .landDevelopmentManageSelects
  .landDevelopmentManageSelectsTitleBtn.active {
  color: #2b7de1;
  border: 1px solid #2b7de1;
  filter: grayscale(0);
}

#dopcoLandDevelopmentManage .landDevelopmentManageSelects .sufaceSelectList {
  position: absolute;
  top: 47px;
  left: 0;
  width: 100%;
  height: 0px;
  border-radius: 10px;
  border: none;
  background-color: #fff;
  border: 1px solid #acbdd7;
  opacity: 0;
  transition: 300ms;
  overflow: hidden;
}

#dopcoLandDevelopmentManage
  .landDevelopmentManageSelects
  .sufaceSelectList.active {
  display: block;
  height: 243px;
  z-index: 9999;
  opacity: 1;
  transition: height 500ms;
}

#dopcoLandDevelopmentManage
  .landDevelopmentManageSelects
  .sufaceSelectList.smallHeight.active {
  opacity: 1;
  display: block;
  height: 150px;
  transition: height 500ms;
}

#dopcoLandDevelopmentManage
  .landDevelopmentManageSelects
  .sufaceSelectList.extrasmallHeight.active {
  opacity: 1;
  display: block;
  height: 100px;
  transition: height 500ms;
}

#dopcoLandDevelopmentManage
  .landDevelopmentManageSelects
  .sufaceSelectList
  .surfaceSelectListMember {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: transparent;
  overflow-x: hidden;
  overflow-y: scroll;
}

/* 셀릭박스 스크롤바 */

#dopcoLandDevelopmentManage
  .landDevelopmentManageSelects
  .sufaceSelectList
  .surfaceSelectListMember::-webkit-scrollbar {
  width: 4px;
}

#dopcoLandDevelopmentManage
  .landDevelopmentManageSelects
  .sufaceSelectList
  .surfaceSelectListMember::-webkit-scrollbar-thumb {
  height: 30%;
  border-radius: 10px;
  background: #d2d2d2;
}

#dopcoLandDevelopmentManage
  .landDevelopmentManageSelects
  .sufaceSelectList
  .surfaceSelectListMember::-webkit-scrollbar-track {
}

/* 셀렉박스내 체크박스 */

#dopcoLandDevelopmentManage
  .landDevelopmentManageSelects
  .sufaceSelectList
  .surfaceSelectListMember.checkBoxsContent
  li
  label {
  width: 25px;
  height: 20px;
  margin-right: 8px;
  border-radius: 5px;
  background-color: #e0e8f2;
}

#dopcoLandDevelopmentManage
  .landDevelopmentManageSelects
  .sufaceSelectList
  .surfaceSelectListMember.checkBoxsContent
  li
  input[type="checkbox"] {
  display: none;
}

#dopcoLandDevelopmentManage
  .landDevelopmentManageSelects
  .sufaceSelectList
  .surfaceSelectListMember.checkBoxsContent
  li
  input[type="checkbox"]:checked
  + label {
  background-color: #4e5871;
  background-image: url(/assets/media/menu01/checkFill.png);
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: center center;
}

#dopcoLandDevelopmentManage
  .landDevelopmentManageSelects
  .sufaceSelectList
  .surfaceSelectListMember
  li {
  padding: 0px 10px;
  height: 41px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 5px;
  margin: 6px 5px;
}

#dopcoLandDevelopmentManage
  .landDevelopmentManageSelects
  .sufaceSelectList
  .surfaceSelectListMember
  li:hover {
  background-color: #edf2f9;
}

#dopcoLandDevelopmentManage
  .landDevelopmentManageSelects
  .sufaceSelectList
  .surfaceSelectListMember
  li
  p {
  color: #4e5871;
  font-size: 15px;
  font-weight: 500;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

#dopcoLandDevelopmentManage
  .landDevelopmentManageWrappers
  .landDevelopmentManageSectionBoxs
  .landDevelopmentManageSectionCont
  .landDevelopmentManageSectionContDevide
  .inputControlBoxs
  .inputControlList
  input[type="text"] {
  width: 173px;
  height: 44px;
  padding: 0px 15px;
  border-radius: 10px;
  background-color: #edf2f9;
  color: #6e7d88;
  font-size: 15px;
}

#dopcoLandDevelopmentManage
  .landDevelopmentManageWrappers
  .landDevelopmentManageSectionBoxs
  .landDevelopmentManageSectionCont
  .landDevelopmentManageSectionContDevide
  .inputControlBoxs
  .dateListBox {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 203px;
  height: 44px;
  border-radius: 10px;
  background-color: #fff;
  border: 1px solid #cfddf2;
  filter: grayscale(100);
  background-image: url(/assets/media/menu02/date.png);
  background-position: 7px 15px;
  background-size: 15px;
  background-repeat: no-repeat;
}

#dopcoLandDevelopmentManage
  .landDevelopmentManageWrappers
  .landDevelopmentManageSectionBoxs
  .landDevelopmentManageSectionCont
  .landDevelopmentManageSectionContDevide
  .inputControlBoxs
  .dateListBox.active {
  filter: grayscale(0);
  color: #2b7de1;
  border: 1px solid #2b7de1;
  background-image: url(/assets/media/menu02/calendarColor.png);
}

#dopcoLandDevelopmentManage
  .landDevelopmentManageWrappers
  .landDevelopmentManageSectionBoxs
  .landDevelopmentManageSectionCont
  .landDevelopmentManageSectionContDevide
  .inputControlBoxs
  .dateListBox
  input[type="date"] {
  width: 42%;
  height: 100%;
  font-size: 13px;
  margin: 0px 3px;
  text-align: center;
  word-spacing: -3px;
  background-color: transparent;
  position: relative;
  color: #2b7de1;
  font-family: Pretendard;
}

#dopcoLandDevelopmentManage
  .landDevelopmentManageWrappers
  .landDevelopmentManageSectionBoxs
  .landDevelopmentManageSectionCont
  .landDevelopmentManageSectionContDevide
  .inputControlBoxs
  .dateListBox
  span {
  font-size: 10px;
}

#dopcoLandDevelopmentManage
  .landDevelopmentManageWrappers
  .landDevelopmentManageSectionBoxs
  .landDevelopmentManageSectionCont
  .landDevelopmentManageSectionContDevide
  .inputControlBoxs
  .dateListBox
  input[type="date"]::-webkit-calendar-picker-indicator {
  background: transparent;
  z-index: 1;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

#dopcoLandDevelopmentManage
  .landDevelopmentManageWrappers
  .landDevelopmentManageSectionBoxs
  .landDevelopmentManageSectionCont
  .landDevelopmentManageSectionContDevide
  .inputControlBoxs
  .dateListBox
  input[type="date"]::-webkit-inner-spin-button {
  /* display: none; */
  appearance: none;
}

#dopcoLandDevelopmentManage
  .landDevelopmentManageWrappers
  .landDevelopmentManageSectionBoxs
  .landDevelopmentManageSectionCont
  .landDevelopmentManageSectionContDevide
  .devideSecondTitles {
  padding: 20px 20px 0px 0px;
  font-size: 15px;
  font-weight: 600;
  color: #4e5871;
  white-space: nowrap;
}
#dopcoLandDevelopmentManage
  .landDevelopmentManageWrappers
  .landDevelopmentManageSectionBoxs
  .landDevelopmentManageSectionCont
  .landDevelopmentManageSectionContDevide
  .landDevelopmentManageSectionRadioBoxs {
  width: 78.2%;
  height: 100%;
}

#dopcoLandDevelopmentManage
  .landDevelopmentManageWrappers
  .landDevelopmentManageSectionBoxs
  .landDevelopmentManageSectionCont
  .landDevelopmentManageSectionContDevide
  .landDevelopmentManageSectionRadioBoxs
  .radioBoxs {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

#dopcoLandDevelopmentManage
  .landDevelopmentManageWrappers
  .landDevelopmentManageSectionBoxs
  .landDevelopmentManageSectionCont
  .landDevelopmentManageSectionContDevide
  .landDevelopmentManageSectionRadioBoxs
  .radioBoxs
  li {
  padding: 0px 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#dopcoLandDevelopmentManage
  .landDevelopmentManageWrappers
  .landDevelopmentManageSectionBoxs
  .landDevelopmentManageSectionCont
  .landDevelopmentManageSectionContDevide
  .landDevelopmentManageSectionRadioBoxs
  .radioBoxs:nth-child(2)
  li:first-child {
  padding: 0px 3px;
}
#dopcoLandDevelopmentManage
  .landDevelopmentManageWrappers
  .landDevelopmentManageSectionBoxs
  .landDevelopmentManageSectionCont
  .landDevelopmentManageSectionContDevide
  .landDevelopmentManageSectionRadioBoxs
  .radioBoxs:nth-child(2)
  li {
  padding: 0px 8.5px 0px 3px;
}

#dopcoLandDevelopmentManage
  .landDevelopmentManageWrappers
  .landDevelopmentManageSectionBoxs
  .landDevelopmentManageSectionCont
  .landDevelopmentManageSectionContDevide
  .landDevelopmentManageSectionRadioBoxs
  .radioBoxs
  li
  input[type="radio"] {
}

#dopcoLandDevelopmentManage
  .landDevelopmentManageWrappers
  .landDevelopmentManageSectionBoxs
  .landDevelopmentManageSectionCont
  .landDevelopmentManageSectionContDevide
  .landDevelopmentManageSectionRadioBoxs
  .radioBoxs
  li
  span {
  font-size: 15px;
  color: #31394c;
  padding: 0px 30px 0px 5px;
  font-family: Pretendard;
  font-weight: 600;
}

#dopcoLandDevelopmentManage
  .landDevelopmentManageWrappers
  .landDevelopmentManageSectionBoxs
  .landDevelopmentManageSectionCont
  .landDevelopmentManageSectionContDevide
  .landDevelopmentManageSectionRadioBoxs
  .radioBoxs
  li.addressInput
  input[type="search"] {
  background-color: #edf2f9;
  width: 868px;
  padding: 0px 10px;
  height: 44px;
  border-radius: 10px;
  font-size: 15px;
}

/* 주소란 셀렉박스 width값 */

#dopcoLandDevelopmentManage
  .landDevelopmentManageWrappers
  .landDevelopmentManageSectionBoxs
  .landDevelopmentManageSectionCont
  .landDevelopmentManageSectionContDevide
  .landDevelopmentManageSectionRadioBoxs
  .radioBoxs
  li
  .landDevelopmentManageSelects {
  min-width: 164px;
}

/* 셀렉박스 스크롤바 */

#dopcoLandDevelopmentManage
  .landDevelopmentManageWrappers
  .landDevelopmentManageSectionBoxs
  .landDevelopmentManageSectionCont
  .landDevelopmentManageSectionContDevide
  .landDevelopmentManageSectionRadioBoxs
  .radioBoxs
  li
  .landDevelopmentManageSelects
  .sufaceSelectList
  .surfaceSelectListMember::-webkit-scrollbar {
  width: 4px;
}

#dopcoLandDevelopmentManage
  .landDevelopmentManageWrappers
  .landDevelopmentManageSectionBoxs
  .landDevelopmentManageSectionCont
  .landDevelopmentManageSectionContDevide
  .landDevelopmentManageSectionRadioBoxs
  .radioBoxs
  li
  .landDevelopmentManageSelects
  .sufaceSelectList
  .surfaceSelectListMember::-webkit-scrollbar-thumb {
  height: 30%;
  border-radius: 10px;
  background: #d2d2d2;
}

#dopcoLandDevelopmentManage
  .landDevelopmentManageWrappers
  .landDevelopmentManageSectionBoxs
  .landDevelopmentManageSectionCont
  .landDevelopmentManageSectionContDevide
  .landDevelopmentManageSectionRadioBoxs
  .radioBoxs
  li
  .inputControlList
  input[type="text"] {
  width: 136px;
  height: 44px;
  padding: 0px 15px;
  border-radius: 10px;
  background-color: #edf2f9;
  color: #6e7d88;
  font-size: 15px;
}

#dopcoLandDevelopmentManage
  .landDevelopmentManageWrappers
  .landDevelopmentManageSectionBoxs
  .landDevelopmentManageSectionCont
  .landDevelopmentManageSectionContDevide
  .landDevelopmentManageSectionBtnBoxs {
  display: flex;
  align-items: end;
  justify-content: center;
  height: 100%;
}

#dopcoLandDevelopmentManage
  .landDevelopmentManageWrappers
  .landDevelopmentManageSectionBoxs
  .landDevelopmentManageSectionCont
  .landDevelopmentManageSectionContDevide
  .landDevelopmentManageSectionBtnBoxs
  button,
#dopcoLandDevelopmentManage
  .landDevelopmentManageWrappers
  .landDevelopmentManageSectionBoxs
  .landDevelopmentManageSectionCont
  .landDevelopmentManageSectionContDevide
  .landDevelopmentManageSectionBtnBoxs
  a {
  height: 44px;
  border-radius: 10px;
  display: block;
  margin: 5px;
  font-size: 15px;
  font-weight: 600;
}

#dopcoLandDevelopmentManage
  .landDevelopmentManageWrappers
  .landDevelopmentManageSectionBoxs
  .landDevelopmentManageSectionCont
  .landDevelopmentManageSectionContDevide
  .landDevelopmentManageSectionBtnBoxs
  a {
  display: flex;
  align-items: center;
  justify-content: center;
}

#dopcoLandDevelopmentManage
  .landDevelopmentManageWrappers
  .landDevelopmentManageSectionBoxs
  .landDevelopmentManageSectionCont
  .landDevelopmentManageSectionContDevide
  .landDevelopmentManageSectionBtnBoxs
  .landDevelopmentManageRegisterBtn {
  padding: 0px 40px;
  background-color: #2b7de1;
  color: #fff;
  white-space: nowrap;
}

#dopcoLandDevelopmentManage
  .landDevelopmentManageWrappers
  .landDevelopmentManageSectionBoxs
  .landDevelopmentManageSectionCont
  .landDevelopmentManageSectionContDevide
  .landDevelopmentManageSectionBtnBoxs
  .queryBtn {
  padding: 0px 36px;
  background-color: #fff;
  color: #2b7de1;
  border: 1px solid #2b7de1;
  white-space: nowrap;
}

/* 메인화면 */

#dopcoLandDevelopmentManage .landDevelopmentManageMainContentWrapper {
  margin: 0 auto;
  padding: 15px 20px;
}

#dopcoLandDevelopmentManage
  .landDevelopmentManageMainContentWrapper
  .landDevelopmentManageMainContent {
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

#dopcoLandDevelopmentManage
  .landDevelopmentManageMainContentWrapper
  .landDevelopmentManageMainContent
  .dataTitles {
  padding: 10px 20px;
  position: relative;
}

#dopcoLandDevelopmentManage
  .landDevelopmentManageMainContentWrapper
  .landDevelopmentManageMainContent
  .dataTitles
  h5 {
  font-size: 16px;
  font-weight: 700;
}

#dopcoLandDevelopmentManage
  .landDevelopmentManageMainContentWrapper
  .landDevelopmentManageMainContent
  .dataTitles
  h5
  span {
  color: #2b7de1;
  padding: 0px 8px;
}

#dopcoLandDevelopmentManage
  .landDevelopmentManageMainContentWrapper
  .landDevelopmentManageMainContent
  .dataTitles
  .landDevelopmentManageMainContentDownloadBoxs {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0px;
  top: 0px;
}

#dopcoLandDevelopmentManage
  .landDevelopmentManageMainContentWrapper
  .landDevelopmentManageMainContent
  .dataTitles
  .landDevelopmentManageMainContentDownloadBoxs
  .landDevelopmentManageExcelDownload {
  width: 159px;
  padding: 0px 30px;
  height: 38px;
  line-height: 39px;
  border-radius: 10px;
  background-color: #4e5871;
  font-size: 15px;
  font-weight: 600;
  background-image: url(/assets/media/menu01/download.png);
  background-size: 11px;
  background-repeat: no-repeat;
  background-position: 123px center;
  color: #fff;
  text-align: left;
  margin-right: 10px;
}

/* 총 검색건수의 셀렉박스 */

#dopcoLandDevelopmentManage
  .landDevelopmentManageMainContentWrapper
  .landDevelopmentManageMainContent
  .dataTitles
  .landDevelopmentManageMainContentDownloadBoxs
  .landDevelopmentManageSelects {
  width: 137px;
  height: 38px;
}

#dopcoLandDevelopmentManage
  .landDevelopmentManageMainContentWrapper
  .landDevelopmentManageMainContent
  .dataTitles
  .landDevelopmentManageMainContentDownloadBoxs
  .landDevelopmentManageSelects
  .sufaceSelectList {
  top: 40px;
}

#dopcoLandDevelopmentManage
  .landDevelopmentManageMainContentWrapper
  .landDevelopmentManageMainContent
  .dataBoxswrappers {
  border: 1px solid #cddbf0;
  border-radius: 5px;
  height: 527px;
  margin-top: 13px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow-x: hidden;
  position: relative;
  top: 0;
  left: 0;
}

#dopcoLandDevelopmentManage
  .landDevelopmentManageMainContentWrapper
  .landDevelopmentManageMainContent
  .dataBoxswrappers.scroll {
  overflow-y: scroll;
}

/* 스크롤바 */

#dopcoLandDevelopmentManage
  .landDevelopmentManageMainContentWrapper
  .landDevelopmentManageMainContent
  .dataBoxswrappers::-webkit-scrollbar {
  width: 4px;
}

#dopcoLandDevelopmentManage
  .landDevelopmentManageMainContentWrapper
  .landDevelopmentManageMainContent
  .dataBoxswrappers::-webkit-scrollbar-thumb {
  height: 30%;
  border-radius: 10px;
  background: #d2d2d2;
}

#dopcoLandDevelopmentManage
  .landDevelopmentManageMainContentWrapper
  .landDevelopmentManageMainContent
  .dataBoxswrappers::-webkit-scrollbar-track {
}

#dopcoLandDevelopmentManage
  .landDevelopmentManageMainContentWrapper
  .landDevelopmentManageMainContent
  .dataBoxswrappers
  .dataBoxCont {
  width: 40%;
  height: 100%;
  float: left;
  position: absolute;
  top: 0;
}

#dopcoLandDevelopmentManage
  .landDevelopmentManageMainContentWrapper
  .landDevelopmentManageMainContent
  .dataBoxswrappers
  .dataBoxsSecond04 {
  width: 60%;
  height: auto;
  overflow-x: scroll;
  overflow-y: visible;
  left: 40%;
  border-left: 1px solid #cddbf0;
}

#dopcoLandDevelopmentManage
  .landDevelopmentManageMainContentWrapper
  .landDevelopmentManageMainContent
  .dataBoxswrappers
  .dataBoxsSecond04
  .scrollContentBoxies {
  width: 160%;
  height: 100%;
}

/* 스크롤바 */

#dopcoLandDevelopmentManage
  .landDevelopmentManageMainContentWrapper
  .landDevelopmentManageMainContent
  .dataBoxswrappers
  .dataBoxsSecond04::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

#dopcoLandDevelopmentManage
  .landDevelopmentManageMainContentWrapper
  .landDevelopmentManageMainContent
  .dataBoxswrappers
  .dataBoxsSecond04::-webkit-scrollbar-thumb {
  height: 30%;
  border-radius: 10px;
  background: #d2d2d2;
}

#dopcoLandDevelopmentManage
  .landDevelopmentManageMainContentWrapper
  .landDevelopmentManageMainContent
  .dataBoxswrappers
  .dataBoxsSecond04::-webkit-scrollbar-track {
}

/* separateList 분리된 목록 */

#dopcoLandDevelopmentManage
  .landDevelopmentManageMainContentWrapper
  .landDevelopmentManageMainContent
  .dataBoxswrappers
  .dataBoxsSecond04
  .separateList {
  display: block;
}
#dopcoLandDevelopmentManage
  .landDevelopmentManageMainContentWrapper
  .landDevelopmentManageMainContent
  .dataBoxswrappers
  .dataBoxsSecond04
  .separateList
  .subBigTitle {
  display: block;
  width: 100%;
  height: 40%;
  text-align: center;
  font-size: 14px;
  line-height: 30px;
}

#dopcoLandDevelopmentManage
  .landDevelopmentManageMainContentWrapper
  .landDevelopmentManageMainContent
  .dataBoxswrappers
  .dataBoxsSecond04
  .subTitleBox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60%;
  border-top: 1px solid #cddbf0;
}

#dopcoLandDevelopmentManage
  .landDevelopmentManageMainContentWrapper
  .landDevelopmentManageMainContent
  .dataBoxswrappers
  .dataBoxsSecond04
  .subTitleBox
  p {
  flex: 1;
  text-align: center;
  font-size: 14px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #cddbf0;
}

#dopcoLandDevelopmentManage
  .landDevelopmentManageMainContentWrapper
  .landDevelopmentManageMainContent
  .dataBoxswrappers
  .dataBoxsSecond04
  .subTitleBox
  p:last-child {
  border-right: none;
}

/* a링크내의 subTitleBox 요소 */

#dopcoLandDevelopmentManage
  .landDevelopmentManageMainContentWrapper
  .landDevelopmentManageMainContent
  .dataBoxswrappers
  .dataBoxsSecond04
  .landDevelopmentLink
  .linkCont
  .subTitleBox {
  height: 100%;
  width: 100.2%;
  border-top: none;
}

#dopcoLandDevelopmentManage
  .landDevelopmentManageMainContentWrapper
  .landDevelopmentManageMainContent
  .dataBoxswrappers
  .dataBoxsSecond04
  .subTitleBox
  p:last-child {
  border-right: none;
}

/**/

#dopcoLandDevelopmentManage
  .landDevelopmentManageMainContentWrapper
  .landDevelopmentManageMainContent
  .dataBoxswrappers
  .dataBoxCont
  ul {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
#dopcoLandDevelopmentManage
  .landDevelopmentManageMainContentWrapper
  .landDevelopmentManageMainContent
  .dataBoxswrappers
  .dataBoxCont
  ul.dataTitle {
  height: 71px;
  background-color: #f7f9fc;
}

#dopcoLandDevelopmentManage
  .landDevelopmentManageMainContentWrapper
  .landDevelopmentManageMainContent
  .dataBoxswrappers
  .dataBoxCont:last-child
  .dataTitle
  ul
  li {
  width: 400px;
}

#dopcoLandDevelopmentManage
  .landDevelopmentManageMainContentWrapper
  .landDevelopmentManageMainContent
  .dataBoxswrappers
  .dataBoxCont
  ul.dataTitle
  li {
  width: 30%;
  height: 100%;
}

#dopcoLandDevelopmentManage
  .landDevelopmentManageMainContentWrapper
  .landDevelopmentManageMainContent
  .dataBoxswrappers
  .dataBoxCont
  ul.dataTitle
  li {
  border-right: 1px solid #cddbf0;
  border-bottom: 1px solid #cddbf0;
}

#dopcoLandDevelopmentManage
  .landDevelopmentManageMainContentWrapper
  .landDevelopmentManageMainContent
  .dataBoxswrappers
  .dataBoxCont
  ul.dataTitle
  li:last-child {
  border-right: none;
}

/* 타이틀 li 사이즈별 퍼센트 목록 */

#dopcoLandDevelopmentManage
  .landDevelopmentManageMainContentWrapper
  .landDevelopmentManageMainContent
  .dataBoxswrappers
  .dataBoxCont
  ul.dataTitle
  li.extraSmallWidth {
  width: 15%;
}

#dopcoLandDevelopmentManage
  .landDevelopmentManageMainContentWrapper
  .landDevelopmentManageMainContent
  .dataBoxswrappers
  .dataBoxCont
  ul.dataTitle
  li.smallWidth {
  width: 20%;
}

#dopcoLandDevelopmentManage
  .landDevelopmentManageMainContentWrapper
  .landDevelopmentManageMainContent
  .dataBoxswrappers
  .dataBoxCont
  ul.dataTitle
  li.mediumWidth {
  width: 50%;
}

#dopcoLandDevelopmentManage
  .landDevelopmentManageMainContentWrapper
  .landDevelopmentManageMainContent
  .dataBoxswrappers
  .dataBoxCont
  ul.dataTitle
  li.largeWidth {
  width: 70%;
}

#dopcoLandDevelopmentManage
  .landDevelopmentManageMainContentWrapper
  .landDevelopmentManageMainContent
  .dataBoxswrappers
  .dataBoxCont
  ul
  li {
  display: flex;
  align-items: center;
  justify-content: center;
}

#dopcoLandDevelopmentManage
  .landDevelopmentManageMainContentWrapper
  .landDevelopmentManageMainContent
  .dataBoxswrappers
  .dataBoxCont
  ul.dataTitle
  li
  p {
  font-size: 14px;
}

#dopcoLandDevelopmentManage
  .landDevelopmentManageMainContentWrapper
  .landDevelopmentManageMainContent
  .dataBoxswrappers
  .dataBoxCont
  ul.dataContent
  a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: #3c3c3c;
  font-size: 14px;
}

#dopcoLandDevelopmentManage
  .landDevelopmentManageMainContentWrapper
  .landDevelopmentManageMainContent
  .dataBoxswrappers
  .dataBoxCont
  ul.dataContent.landDevelopmentLink
  li {
  width: 30.04%;
}
#dopcoLandDevelopmentManage
  .landDevelopmentManageMainContentWrapper
  .landDevelopmentManageMainContent
  .dataBoxswrappers
  .dataBoxCont
  ul.dataContent.landDevelopmentLink
  a
  li:last-child {
  border-right: 1px solid #cddbf0;
}

#dopcoLandDevelopmentManage
  .landDevelopmentManageMainContentWrapper
  .landDevelopmentManageMainContent
  .dataBoxswrappers
  .dataBoxCont
  ul.dataContent
  a.mouseEvet {
  color: #2b7de1;
}

#dopcoLandDevelopmentManage
  .landDevelopmentManageMainContentWrapper
  .landDevelopmentManageMainContent
  .dataBoxswrappers
  .dataBoxCont
  ul.dataContent
  li {
  width: 30%;
  height: 44px;
  border-right: 1px solid #cddbf0;
  border-bottom: 1px solid #cddbf0;
}

#dopcoLandDevelopmentManage
  .landDevelopmentManageMainContentWrapper
  .landDevelopmentManageMainContent
  .dataBoxswrappers
  .dataBoxCont
  ul.dataContent
  li:last-child {
  border-right: none;
}

/* 컨텐츠 li 사이즈별 목록 */

#dopcoLandDevelopmentManage
  .landDevelopmentManageMainContentWrapper
  .landDevelopmentManageMainContent
  .dataBoxswrappers
  .dataBoxCont
  ul.dataContent
  li.extraSmallWidth {
  width: 15%;
}

#dopcoLandDevelopmentManage
  .landDevelopmentManageMainContentWrapper
  .landDevelopmentManageMainContent
  .dataBoxswrappers
  .dataBoxCont
  ul.dataContent
  li.smallWidth {
  width: 20%;
}

#dopcoLandDevelopmentManage
  .landDevelopmentManageMainContentWrapper
  .landDevelopmentManageMainContent
  .dataBoxswrappers
  .dataBoxCont
  ul.dataContent
  li.mediumWidth {
  width: 50%;
}

#dopcoLandDevelopmentManage
  .landDevelopmentManageMainContentWrapper
  .landDevelopmentManageMainContent
  .dataBoxswrappers
  .dataBoxCont
  ul.dataContent
  li.largeWidth {
  width: 70%;
}

#dopcoLandDevelopmentManage
  .landDevelopmentManageMainContentWrapper
  .landDevelopmentManageMainContent
  .dataBoxswrappers
  .dataBoxCont
  ul.dataContent
  li
  button.btnDesign {
  width: 116px;
  height: 27px;
  border-radius: 20px;
  color: #2b7de1;
  font-size: 13px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #cce0ff99;
  cursor: default;
  position: absolute;
  z-index: 999;
}

#dopcoLandDevelopmentManage
  .landDevelopmentManageMainContentWrapper
  .landDevelopmentManageMainContent
  .dataBoxswrappers
  .dataBoxCont
  ul.dataContent
  li
  .regisBtnHiddenBoxs {
  position: relative;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#dopcoLandDevelopmentManage
  .landDevelopmentManageMainContentWrapper
  .landDevelopmentManageMainContent
  .dataBoxswrappers
  .dataBoxCont
  ul.dataContent
  li
  .regisBtnHiddenBoxs
  button {
  position: absolute;
  cursor: default;
  z-index: 999;
}

#dopcoLandDevelopmentManage
  .landDevelopmentManageMainContentWrapper
  .landDevelopmentManageMainContent
  .dataBoxswrappers
  .dataBoxCont
  ul.dataContent
  li
  p {
  text-align: center;
}

#dopcoLandDevelopmentManage
  .landDevelopmentManageMainContentWrapper
  .landDevelopmentManageMainContent
  .boardPageBoxs {
  padding: 30px 0px;
  margin: 0 auto;
}

#dopcoLandDevelopmentManage
  .landDevelopmentManageMainContentWrapper
  .landDevelopmentManageMainContent
  .boardPageBoxs
  ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

#dopcoLandDevelopmentManage
  .landDevelopmentManageMainContentWrapper
  .landDevelopmentManageMainContent
  .boardPageBoxs
  ul
  li {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#dopcoLandDevelopmentManage
  .landDevelopmentManageMainContentWrapper
  .landDevelopmentManageMainContent
  .boardPageBoxs
  ul
  li
  button {
  display: flex;
  align-items: center;
  justify-content: center;
}
#dopcoLandDevelopmentManage
  .landDevelopmentManageMainContentWrapper
  .landDevelopmentManageMainContent
  .boardPageBoxs
  ul
  li
  button
  img {
  height: 20px;
}

#dopcoLandDevelopmentManage
  .landDevelopmentManageMainContentWrapper
  .landDevelopmentManageMainContent
  .boardPageBoxs
  ul
  li.arrowLeftWrapper
  button {
  margin-right: 10px;
}
#dopcoLandDevelopmentManage
  .landDevelopmentManageMainContentWrapper
  .landDevelopmentManageMainContent
  .boardPageBoxs
  ul
  li.arrowRightWrapper
  button {
  margin-left: 10px;
}

#dopcoLandDevelopmentManage
  .landDevelopmentManageMainContentWrapper
  .landDevelopmentManageMainContent
  .boardPageBoxs
  ul
  li.arrowLeftWrapper
  img {
  transform: rotate(180deg);
}

#dopcoLandDevelopmentManage
  .landDevelopmentManageMainContentWrapper
  .landDevelopmentManageMainContent
  .boardPageBoxs
  ul
  li.pageCountBoxs
  p {
  font-size: 14px;
  width: 29px;
  height: 29px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
  margin-right: 12px;
  color: #b1bad0;
  font-weight: 700;
  cursor: pointer;
}
#dopcoLandDevelopmentManage
  .landDevelopmentManageMainContentWrapper
  .landDevelopmentManageMainContent
  .boardPageBoxs
  ul
  li.pageCountBoxs
  p:last-child {
  margin-right: 0px;
}

#dopcoLandDevelopmentManage
  .landDevelopmentManageMainContentWrapper
  .landDevelopmentManageMainContent
  .boardPageBoxs
  ul
  li.pageCountBoxs
  p.active {
  background-color: #edf2f9;
  color: #2b7de1;
}
