<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"

     >
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link
          rel="stylesheet"
          as="style"
          crossorigin
          href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css" />


  <link th:href="@{/css/common.css}" rel="stylesheet" />

  <link rel="stylesheet" href="/css/jisang/divisionRegister.css" />
 <!--  <link rel="stylesheet" href="/css/jisang/write.css"> -->
  <!-- <script src="/js/jisang/groundDetail.js"></script> -->
  <!-- <script src="/js/common/upload.js"></script> -->
  <!-- <script type="text/javascript" src="https://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
  <link rel="stylesheet" type="text/css" href="//code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css"> -->
  <style>
    div.dt-top-container {
display: grid;
grid-template-columns: auto auto auto;
}

div.dt-center-in-div {
margin: 0 auto;
  float: right;
margin-right: 30px;

}
div.dt-center-in-div>div{

display:inline;
}

div.dt-filter-spacer {
margin: 10px 0;
border:1px solid red;
}


.dt-title{

text-align:center;
width:180px;
float:left;

}
.dt-buttons{
display:inline-block;

width:180px;

}
.dt-length{
display:inline-block;
}
.dt-button{

color:white;
background-color:#4e5871;
font-size:15px;
font-weight:600;
border-radius:10px;
background-image:url(/assets/media/menu01/download.png);
background-size:11px;
background-repeat:no-repeat;
background-position:123px center;
text-aline:left;
margin-right:10px;
width:159px;
height:38px;

}

.dt-paging {
text-align: center;
}

.dt-paging-button {
box-sizing: border-box;
display: inline-block;
min-width: 1.5em;
padding: 0.5em 1em;
margin-left: 2px;
text-align: center;
text-decoration: none !important;
cursor: pointer;

border: 1px solid transparent;
border-radius: 2px;
background: transparent;
color: #007bff !important;
font-size: 15px;
font-weight: 600;


}

.bottom{
text-align:center;

}
.top{

text-align:right;
margin:10px;

}


.ol-unselectable{
border:1px solid red;
}
#map {
clear: both;
position: relative;
width: 100% !important;
height: 214px;
border: 1px solid black;
}
  </style>

  <title>지상권</title>
</head>
<th:block layout:fragment="content">
   <!-- 지상권 분할등록 -->
    <div class="divisionRegisterWrappers">
     
    <main id="divisionRegister">
        <form name="saveForm"  id="saveForm" onSubmit="return false;">
        <div id="sangsinDiv">
        <div class="mainTitle">
            <h1>지상권 분할 등록 상신</h1>
        </div>
		<input type="hidden" name="jisa" th:value="${resultData.jm_jisa}">
        <!-- 대상토지 -->
        <section class="targetLand">
            <div class="subTitle">
                대상토지
            </div>

            <div class="contWrap">

                <div class="depth1">
                    <ul class="titles">
                        <li class="title numInfoWidth">지상권번호</li>
                        <li class="title addressInfoWidth">주소</li>
                        <li class="title titleBox ">
                            지상권설정
                            <ul class="secondTitles">
                                <li class="secondTitle">지목</li>
                                <li class="secondTitle">지적면적</li>
                                <li class="secondTitle">편입면적</li>
                                <li class="secondTitle">자산번호</li>
                            </ul>
                        </li>
                        <li class="title">소유자</li>
                        <li class="title">회계처리필요여부</li>
                    </ul>
                    <ul class="contents lastContents" >
                        <li class="content numInfoWidth">
                            <input type="text" placeholder="" name="bunhal_org_no" th:value="${resultData.jm_jisang_no}" readonly class="notWriteInput" style="text-align:center;">
                        </li>
                        <li class="content addressInfoWidth">
                            <input type="text" placeholder="" th:value="${resultData.address}"  readonly class="notWriteInput">
                        </li>
                        <li class="content contentBox">
                            <ul class="secondContents">
                                <li class="secondContent">
                                    <input type="text" placeholder="" th:value="${resultData.jm_jimok_text }?: ''" readonly class="notWriteInput">
                                </li>
                                <li class="secondContent">
                                    <input type="text" placeholder="182" th:value="${resultData.jm_jijuk_area}" readonly class="notWriteInput">
                                </li>
                                <li class="secondContent">
                                    <input type="text" placeholder="181" th:value="${resultData.jm_pyeonib_area}" readonly class="notWriteInput">
                                </li>
                                <li class="secondContent">
                                    <input type="text" placeholder="9010237" th:value="${resultData.jm_jasan_no}" readonly class="notWriteInput">
                                </li>
                            </ul>
                        </li>
                        <li class="content" th:each="souja : ${soujaList}">
			                <input type="text" th:placeholder="${souja.js_souja_name}" readonly class="notWriteInput">
			              </li>
			              <li class="content" th:if="${#lists.isEmpty(soujaList)}">
			                <input type="text" placeholder="" readonly class="notWriteInput">
			              </li>
                        <li class="content selectContentArea">
                            <div class="hiddenSelectBox">
                                <!-- name도 추가 -->
                                <select name="divisionRegistSelectBox01" id="divisionRegistSelectBox01" hidden>
                                    <option value="">선택</option>
                                    <option value="Y">Y</option>
                                    <option value="N">N</option>
                                    
                                </select>
                            </div>
                            <section class="customSelectBox">
                                <button class="customSelectView" th:text="${resultData.jm_account_yn}?:'N'">
                                   
                                </button>
                            
                                <ul class="customSelectBtns">
                                    <!-- createCustomLiDivisionRegist(); -->
                                </ul>
                            </section>
                        </li>
                    </ul>
                </div>
            </div>
        </section>

        <!-- 토지분할 -->
        <section class="landDivision">
            <div class="subTitle">
                토지분할
            </div>

            <div class="contWrap">
            
                <div class="depth1" id="tojiDiv">
                    <ul class="titles">
                        <li class="title numInfoWidth">순번</li>
                        <li class="title middleWidth">지상권번호</li>
                        <li class="title addressInfoWidth">주소</li>
                        <li class="title middleWidth">토지유형</li>
                        <li class="title titleBox">
                            지상권설정
                            <ul class="secondTitles">
                                <li class="secondTitle">지목</li>
                                <li class="secondTitle">지적면적</li>
                                <li class="secondTitle">편입면적</li>
                                <li class="secondTitle">자산번호</li>
                            </ul>
                        </li>
                        <li class="title">관로저촉</li>
                        <li class="title">해지여부</li>
                        <li class="title">자료승계</li>
                        <li class="title middleWidth">위치보기</li>
                        <li class="title middleWidth">회계처리필요여부</li>
                        <li class="title titleBtnWrap">추가/삭제</li>
                    </ul>
                    <div class="contentsBox">
             <ul class="contents " id="tojiHiddenUl" style="display:none;">
              <li class="content numInfoWidth">
              <input type="hidden" id="bunhalIndex" value="">
                            	<input type="hidden" id="togisido_nm" >
                            	<input type="hidden" id="togisgg_nm" >
                            	<input type="hidden" id="togiemd_nm" >
                            	<input type="hidden" id="togiri_nm" >
                            	<input type="hidden" id="togijibun" >
                            	<input type="hidden" id="togipnu" >
                <input type="text" placeholder="" readonly class="notWriteInput">
              </li>
              <li class="content middleWidth">
                <input type="text" placeholder="신규" name="togiBunhalJisangNo" readonly class="notWriteInput">
              </li>
              <li class="content addressInfoWidth">
                <div class="addressData">
                  <input type="text" placeholder="" id="bunhalAddres" name="togiBunhalAddr"  class="notWriteInput">
                </div>
                <button class="searchAddressBtn_ searchAddressBtn">검색</button>
              </li>
              <li class="content middleWidth selectContentArea">
                <div class="hiddenSelectBox">
                  <!-- name도 추가 -->
                  <select name="togiBunhalTogiType"  id="divisionRegistSelectBox02" class="divisionRegistSelectBox02_"hidden>
                    <option value="" hidden></option>
                    <option value="사유지">사유지</option>
                    <option value="국유지">국유지</option>
                  </select>
                </div>
                <section class="customSelectBox">
                  <button class="customSelectView tojiSelect_" id="hiddenBtn">
                    선택
                  </button>

                  <ul class="customSelectBtns">
                  </ul>
                </section>
              </li>
              <li class="content contentBox">
                <ul class="secondContents">
                   <li class="secondContent"><input type="text" name="togiBunhalJimokText"></li>
                   <li class="secondContent"><input type="text" name="togiBunhalJijukArea"></li>
                   <li class="secondContent"><input type="text" name="togiBunhalPyeonibArea"></li>
                   <li class="secondContent"><input type="text" name="togiBunhalJasanNo"></li>
                </ul>
              </li>
              <li class="content">
                <input type="checkbox" class="pipe_" name="togiBunhalPipeYn" id="pipe_">
                <label for="pipe_"></label>
              </li>
              <li class="content">
                <input type="checkbox" class="terminate_" name="togiBunhalCancelYn" id="terminate_">
                <label for="terminate_"></label>
              </li>
              <li class="content">
                <input type="checkbox" class="jaryo_" name="togiBunhalDemise" id="jaryo_">
                <label for="jaryo_"></label>
              </li>
              <li class="content middleWidth">
                <button class="viewDetailButton">위치보기</button>
<!--                <button class="viewDetailButton" id='moveMap_1' x=${row.x} y=${row.y}>위치보기</button>-->
              </li>
              <li class="content middleWidth selectContentArea">
                <div class="hiddenSelectBox">
                  <!-- name도 추가 -->
                  <select name="togiBunhalAccountYn" id="divisionRegistSelectBox03" hidden>
                  <option value="">선택</option>
                    <option value="Y">Y</option>
                    <option value="N">N</option>
                  </select>
                </div>
                <section class="customSelectBox">
                  <button class="customSelectView accountYN_">
                    선택
                  </button>

                  <ul class="customSelectBtns">
                  </ul>
                </section>
              </li>
              <li class="content titleBtnWrap btnBox">
                <!-- 수정하지 않을 때 -->

                <div class="editBefore">
                  <div class="btnWrap">
                    <button class="addBtn miniBtn" id="addBtn">추가</button>
                  </div>
                  <div class="btnWrap">
                    <button class="delBtn miniBtn" id="deleteTojiBtn">삭제</button>
                  </div>
                </div>

                <!-- 수정할 때 -->

                <div class="editAfter">
                  <div class="newBtnWrap">
                    <button class="registBtn miniBtn" id="completeTojiBtn">추가</button>
                  </div>
                </div>
              </li>
            </ul>
            
            
            <!-- -기존 분할 데이터가 있을때  -->
                        <ul class="contents" id="tojiUl" th:if="${#lists.size(bunhalList)>0}" th:each="val:${bunhalList}">
                        
                            <li class="content numInfoWidth">
                            <input type="hidden" id="bunhalIndex" th:value="${val.no}">
                            	<input type="hidden" id="togisido_nm" th:value="${val.jb_sido_nm}">
                            	<input type="hidden" id="togisgg_nm" th:value="${val.jb_sgg_nm}">
                            	<input type="hidden" id="togiemd_nm" th:value="${val.jb_emd_nm}">
                            	<input type="hidden" id="togiri_nm" th:value="${val.jb_ri_nm}">
                            	<input type="hidden" id="togijibun" th:value="${val.jibun}">
                            	<input type="hidden" id="togipnu" th:value="${val.jb_pnu}">
                                <input type="text" placeholder="1" th:value="${val.no}"  readonly class="notWriteInput ulNumPlace">
                            </li>
                            <li class="content middleWidth">
                                <input type="text" placeholder="J_010598"  th:value="${val.jb_jisang_no}" name="togiBunhalJisangNo" readonly class="notWriteInput">
                            </li>
                            <li class="content addressInfoWidth">
                                <div class="addressData">
                                    <input type="text" th:value="${val.address}" placeholder="서울특별시 서초구 서초동 1" name="togiBunhalAddr" id="bunhalSaddr_0" class="notWriteInput">
                                </div>
                                <button class="searchAddressBtn">검색</button>
                            </li>
                            <li class="content middleWidth selectContentArea">
                                <div class="hiddenSelectBox">
                                    <!-- name도 추가 -->
                                    <select name="togiBunhalTogiType" id="divisionRegistSelectBox02" hidden>
                                          <option value="">전체</option>
                                        <option value="국유지">국유지</option>
                                        <option value="사유지">사유지</option>
                                    </select>
                                </div>
                                <section class="customSelectBox">
                                    <button class="customSelectView">
                                        [[${#lists.isEmpty(val.jb_toji_type)}?'전체':${val.jb_toji_type}]]
                                    </button>
                                
                                    <ul class="customSelectBtns">
                                        <!-- createCustomLiDivisionRegist(); -->
                                    </ul>
                                </section>
                            </li>
                            <li class="content contentBox">
                                <ul class="secondContents">
                                    <li class="secondContent"><input type="text" th:value="${val.jb_jimok_text}" name="togiBunhalJimokText"></li>
                                    <li class="secondContent"><input type="text" th:value="${val.jb_jijuk_area}" name="togiBunhalJijukArea"></li>
                                    <li class="secondContent"><input type="text" th:value="${val.jb_pyeonib_area}" name="togiBunhalPyeonibArea"></li>
                                    <li class="secondContent"><input type="text" th:value="${val.jb_jasan_no}" name="togiBunhalJasanNo"></li>
                                </ul>
                            </li>
                            <li class="content">
                               <!--  <input type="checkbox" name="togiBunhalPipeYn" id="divisionRegister_pipeline_interference_01">
                                <label for="divisionRegister_pipeline_interference_01"></label> -->
                                  <input type="checkbox" th:id="'divisionRegister_pipeline_interference_' + ${val.jb_idx}" name="togiBunhalPipeYn"  th:value="${val.jb_idx}" th:checked="${val.jb_pipe_yn}=='Y'">
                                   <label th:for="'divisionRegister_pipeline_interference_' + ${val.jb_idx}"></label>
                            </li>
                            <li class="content">
                              <!--   <input type="checkbox" name="togiBunhalCancelYn" id="divisionRegister_termination_status_01">
                                <label for="divisionRegister_termination_status_01"></label> -->
                                 <input type="checkbox" th:id="'divisionRegister_termination_status_' + ${val.jb_idx}" name="togiBunhalCancelYn"  th:value="${val.jb_idx}" th:checked="${val.jb_cancel_yn}=='Y'">
                                   <label th:for="'divisionRegister_termination_status_' + ${val.jb_idx}"></label>
                            </li>
                            <li class="content">
                                <!-- <input type="checkbox" name="togiBunhalDemise" id="divisionRegister_data_succession_01">
                                <label for="divisionRegister_data_succession_01"></label> -->
                                 <input type="checkbox" th:id="'divisionRegister_data_succession_' + ${val.jb_idx}" name="togiBunhalDemise"  th:value="${val.jb_idx}" th:checked="${val.jb_demise}=='Y'">
                                   <label th:for="'divisionRegister_data_succession_' + ${val.jb_idx}"></label>
                            </li>
                            <li class="content middleWidth">
                                <button class="viewDetailButton">위치보기</button>
                            </li>
                            <li class="content middleWidth selectContentArea">
                                <div class="hiddenSelectBox">
                                    <!-- name도 추가 -->
                                    <select name="togiBunhalAccountYn" id="divisionRegistSelectBox03" hidden>
                                        <option value="Y1">Y1</option>
                                        <option value="Y2">Y2</option>
                                        <option value="Y3">Y3</option>
                                        <option value="Y4">Y4</option>
                                        <option value="Y5">Y5</option>
                                        <option value="Y6">Y6</option>
                                        <option value="Y7">Y7</option>
                                        <option value="Y8">Y8</option>
                                        <option value="Y9">Y9</option>
                                        <option value="Y10">Y10</option>
                                    </select>
                                </div>
                                <section class="customSelectBox">
                                    <button class="customSelectView">
                                        &#160
                                    </button>
                
                                    <ul class="customSelectBtns">
                                        <!-- createCustomLiDivisionRegist(); -->
                                    </ul>
                                </section>
                            </li>
                            <li class="content titleBtnWrap btnBox">
                                <!-- 수정하지 않을 때 -->
                                
                                <!-- <div class="editBefore"> -->
                                    <div class="btnWrap">
                                        <button class="addBtn miniBtn" id="addBtn">추가</button>
                                    </div>
                                    <!-- <div class="btnWrap">
                                        <button class="delBtn miniBtn">삭제</button>
                                    </div> -->
                                <!-- </div> -->
                                
                                <!-- 수정할 때 -->
    <!--                             
                                <div class="editAfter">
                                    <div class="newBtnWrap">
                                        <button class="registBtn miniBtn">추가</button>
                                    </div>
                                </div> -->
                            </li>
                        </ul>
                        
                        
                         <ul class="contents" id="tojiUl" th:if="${#lists.size(bunhalList)==0}" >
                        
                            <li class="content numInfoWidth">
                            	<input type="hidden" id="bunhalIndex" value="0">
                            	<input type="hidden" id="togisido_nm" th:value="${resultData.jm_sido_nm}">
                            	<input type="hidden" id="togisgg_nm" th:value="${resultData.jm_sgg_nm}">
                            	<input type="hidden" id="togiemd_nm" th:value="${resultData.jm_emd_nm}">
                            	<input type="hidden" id="togiri_nm" th:value="${resultData.jm_ri_nm}">
                            	<input type="hidden" id="togijibun" th:value="${resultData.jm_jibun}">
                            	<input type="hidden" id="togipnu" th:value="${resultData.jm_pnu}">
                                <input type="text" placeholder="1" readonly class="notWriteInput ulNumPlace">
                            </li>
                            <li class="content middleWidth">
                                <input type="text" placeholder="J_010598"  name="togiBunhalJisangNo" th:value="${resultData.jm_jisang_no}" readonly class="notWriteInput">
                            </li>
                            <li class="content addressInfoWidth">
                                <div class="addressData">
                                    <input type="text" placeholder="서울특별시 서초구 서초동 1" name="togiBunhalAddr" th:value="${resultData.address}" readonly id="bunhalSaddr" class="notWriteInput">
                                </div>
                                <button class="searchAddressBtn" id="searchAddressBtn">검색</button>
                            </li>
                            <li class="content middleWidth selectContentArea">
                                <div class="hiddenSelectBox">
                                    <!-- name도 추가 -->
                                    <select name="togiBunhalTogiType" id="divisionRegistSelectBox02" hidden>
                                        <option value="">전체</option>
                                        <option value="국유지">국유지</option>
                                        <option value="사유지">사유지</option>
                                       
                                    </select>
                                </div>
                                <section class="customSelectBox">
                                    <button class="customSelectView">
                                        선택
                                    </button>
                                
                                    <ul class="customSelectBtns">
                                       [[${resultData.jm_toji_type}]]
                                        <!-- createCustomLiDivisionRegist(); -->
                                    </ul>
                                </section>
                            </li>
                            <li class="content contentBox">
                                <ul class="secondContents">
                                    <li class="secondContent"><input type="text" name="togiBunhalJimokText" th:value="${resultData.jm_jimok_text}"></li>
                                    <li class="secondContent"><input type="text" name="togiBunhalJiJukArea" th:value="${resultData.jm_jijuk_area}"></li>
                                    <li class="secondContent"><input type="text" name="togiBunhalPyeonibArea" th:value="${resultData.jm_pyeonib_area}"></li>
                                    <li class="secondContent"><input type="text" name="togiBunhalJasanNo" th:value="${resultData.jm_jasan_no}"></li>
                                </ul>
                            </li>
                            <li class="content">
                                <input type="checkbox" name="togiBunhalPipeYn" id="divisionRegister_pipeline_interference_01" th:checked="${resultData.jm_pipe_yn=='Y'}">
                                <label for="divisionRegister_pipeline_interference_01"></label>
                            </li>
                            <li class="content">
                                <input type="checkbox" name="togiBunhalCancelYn" id="divisionRegister_termination_status_01" th:checked="${resultData.jm_cancel_yn=='Y'}">
                                <label for="divisionRegister_termination_status_01"></label>
                            </li>
                            <li class="content">
                                <input type="checkbox" name="togiBunhalDemise" id="divisionRegister_data_succession_01">
                                <label for="divisionRegister_data_succession_01"></label>
                            </li>
                            <li class="content middleWidth">
                                <button class="viewDetailButton">위치보기</button>
                            </li>
                            <li class="content middleWidth selectContentArea">
                                <div class="hiddenSelectBox">
                                    <!-- name도 추가 -->
                                    <select name="togiBunhalAccountYn" id="divisionRegistSelectBox03" hidden>
                                        <option value="">선택</option>
                                        <option value="Y">Y</option>
                                        <option value="N">N</option>
                                        
                                    </select>
                                </div>
                                <section class="customSelectBox">
                                    <button class="customSelectView">
                                        [[${resultData.jm_account_yn}?:'선택']]
                                    </button>
                
                                    <ul class="customSelectBtns">
                                        <!-- createCustomLiDivisionRegist(); -->
                                    </ul>
                                </section>
                            </li>
                            <li class="content titleBtnWrap btnBox">
                                <!-- 수정하지 않을 때 -->
                                
                                <!-- <div class="editBefore"> -->
                                    <div class="btnWrap">
                                        <button class="addBtn miniBtn" id="addBtn" >추가</button>
                                    </div>
                                    <!-- <div class="btnWrap">
                                        <button class="delBtn miniBtn">삭제</button>
                                    </div> -->
                                <!-- </div> -->
                                
                                <!-- 수정할 때 -->
    <!--                             
                                <div class="editAfter">
                                    <div class="newBtnWrap">
                                        <button class="registBtn miniBtn">추가</button>
                                    </div>
                                </div> -->
                            </li>
                        </ul>
                        
                        
                        
                        
                    </div>
                    <!-- <ul class="contents lastContents">
                        <li class="content numInfoWidth">
                            <input type="text" placeholder="2" readonly class="notWriteInput">
                        </li>
                        <li class="content middleWidth"><input type="text" placeholder="신규" readonly class="notWriteInput"></li>
                        <li class="content addressInfoWidth">
                            <div class="addressData"><input type="text" placeholder="서울특별시 서초구 서초동 1" readonly class="notWriteInput"></div>
                            <button class="searchAddressBtn">검색</button>
                        </li>
                        <li class="content middleWidth selectContentArea">
                            <div class="hiddenSelectBox">
                                name도 추가
                                <select name="divisionRegistSelectBox04" id="divisionRegistSelectBox04" hidden>
                                    <option value="선택1">선택1</option>
                                    <option value="선택2">선택2</option>
                                    <option value="선택3">선택3</option>
                                    <option value="선택4">선택4</option>
                                    <option value="선택5">선택5</option>
                                    <option value="선택6">선택6</option>
                                    <option value="선택7">선택7</option>
                                    <option value="선택8">선택8</option>
                                    <option value="선택9">선택9</option>
                                    <option value="선택10">선택10</option>
                                </select>
                            </div>
                            <section class="customSelectBox">
                                <button class="customSelectView">
                                    선택
                                </button>
                            
                                <ul class="customSelectBtns">
                                    createCustomLiDivisionRegist();
                                </ul>
                            </section>
                        </li>
                        <li class="content contentBox">
                            <ul class="secondContents">
                                <li class="secondContent"><input type="text"></li>
                                <li class="secondContent"><input type="text"></li>
                                <li class="secondContent"><input type="text"></li>
                                <li class="secondContent"><input type="text"></li>
                            </ul>
                        </li>
                        <li class="content">
                            <input type="checkbox" name="divisionRegisterPipeLineInterferenceNameHere02" id="divisionRegister_pipeline_interference_02">
                            <label for="divisionRegister_pipeline_interference_02"></label>
                        </li>
                        <li class="content">
                            <input type="checkbox" name="divisionRegisterTerminationStatusNameHere02" id="divisionRegister_termination_status_02">
                            <label for="divisionRegister_termination_status_02"></label>
                        </li>
                        <li class="content">
                            <input type="checkbox" name="divisionRegisterDataSuccessionNameHere02" id="divisionRegister_data_succession_02">
                            <label for="divisionRegister_data_succession_02"></label>
                        </li>
                        <li class="content middleWidth">
                            <button class="viewDetailButton">위치보기</button>
                        </li>
                        <li class="content middleWidth selectContentArea">
                            <div class="hiddenSelectBox">
                               name도 추가
                                <select name="divisionRegistSelectBox05" id="divisionRegistSelectBox05" hidden>
                                    <option value="Y1">Y1</option>
                                    <option value="Y2">Y2</option>
                                    <option value="Y3">Y3</option>
                                    <option value="Y4">Y4</option>
                                    <option value="Y5">Y5</option>
                                    <option value="Y6">Y6</option>
                                    <option value="Y7">Y7</option>
                                    <option value="Y8">Y8</option>
                                    <option value="Y9">Y9</option>
                                    <option value="Y10">Y10</option>
                                </select>
                            </div>
                            <section class="customSelectBox">
                                <button class="customSelectView">
                                    &#160
                                </button>
            
                                <ul class="customSelectBtns">
                                   createCustomLiDivisionRegist();
                                </ul>
                            </section>
                        </li>
                        <li class="content titleBtnWrap btnBox">
                           수정하지 않을 때
                            
                            <div class="editBefore">
                                <div class="btnWrap">
                                    <button class="addBtn miniBtn">추가</button>
                                </div>
                                <div class="btnWrap">
                                    <button class="delBtn miniBtn">삭제</button>
                                </div>
                            </div>
                            
                           수정할 때
                            
                            <div class="editAfter">
                                <div class="newBtnWrap">
                                    <button class="registBtn miniBtn">추가</button>
                                </div>
                            </div>
                        </li>
                    </ul> -->
                </div>
            
            </div>
        </section>

        <!-- 해지정보 -->
        <section class="terminationInfo">
            <div class="subTitle">
                해지정보
            </div>

            <div class="contWrap">
                <div class="depth1" id="cancelInfoDiv">
                    <ul class="titles">
                        <li class="title addressInfoWidth">주소</li>
                        <li class="title middleWidth">토지유형</li>
                        <li class="title titleBox">
                            자산가액
                            <ul class="secondTitles">
                                <li class="secondTitle">취득금액</li>
                                <li class="secondTitle">감가상각충당금</li>
                                <li class="secondTitle">잔존가액</li>
                            </ul>
                        </li>
                        <li class="title titleBox">
                            해지보상
                            <ul class="secondTitles">
                                <li class="secondTitle">
                                    보상금액
                                </li>
                                <li class="secondTitle">
                                    보상손익
                                </li>
                            </ul>
                        </li>
                        <li class="title middleWidth">회계처리필요여부</li>
                    </ul>

                    <ul class="contents lastContents" id="cancelInfoHiddenUl" style="display:none">
                        <li class="content addressInfoWidth">
                            <div class="addressData">
                                <input type="text" name="cancelAddress" placeholder="경기도 평택시 동천리 606-132" th:value="${resultData.address}" readonly class="notWriteInput">
                            </div>
                        </li>
                        <li class="content middleWidth">
                            <input type="text" name="cancelTojiType" th:value="${resultData.jm_toji_type}">
                        </li>
                        <li class="content contentBox">
                            <ul class="secondContents">
                                <li class="secondContent"><input type="text" name="cancelChuideukMoney" th:value="${resultData.jm_chuideuk_money}"></li>
                                <li class="secondContent"><input type="text" name="cancelGammoney" th:value="${resultData.jm_gammoney}"></li>
                                <li class="secondContent"><input type="text" name="cancelRemainderMoney" th:value="${resultData.jm_remainder_money}"></li>
                            </ul>
                        </li>
                        <li class="content contentBox">
                            <ul class="secondContents">
                                <li class="secondContent"><input type="text" name="cancelBosangMoney"></li>
                                <li class="secondContent"><input type="text" name="cancelProfitLoss"></li>
                            </ul>
                        </li>
                        <li class="content middleWidth selectContentArea">
                            <div class="hiddenSelectBox">
                                <!-- name도 추가 -->
                                <select name="cancelAccountYn" id="divisionRegistSelectBox06" hidden>
                                    <option value="">선택</option>
                                    <option value="Y">Y</option>
                                    <option value="N">N</option>
                                   
                                </select>
                            </div>
                            <section class="customSelectBox">
                                <button class="customSelectView">
                                    선택
                                </button>
                        
                                <ul class="customSelectBtns">
                                    <!-- createCustomLiDivisionRegist(); -->
                                </ul>
                            </section>
                        </li>
                    </ul>
                    <ul class="contents lastContents" id="cancelInfoUl">
                        <li class="content addressInfoWidth">
                            <div class="addressData">
                                <input type="text" name="cancelAddress" placeholder="경기도 평택시 동천리 606-132" th:value="${resultData.address}" readonly class="notWriteInput">
                            </div>
                        </li>
                        <li class="content middleWidth">
                            <input type="text" name="cancelTojiType" th:value="${resultData.jm_toji_type}">
                        </li>
                        <li class="content contentBox">
                            <ul class="secondContents">
                                <li class="secondContent"><input type="text" name="cancelChuideukMoney" th:value="${resultData.jm_chuideuk_money}"></li>
                                <li class="secondContent"><input type="text" name="cancelGammoney" th:value="${resultData.jm_gammoney}"></li>
                                <li class="secondContent"><input type="text" name="cancelRemainderMoney" th:value="${resultData.jm_remainder_money}"></li>
                            </ul>
                        </li>
                        <li class="content contentBox">
                            <ul class="secondContents">
                                <li class="secondContent"><input type="text" name="cancelBosangMoney"></li>
                                <li class="secondContent"><input type="text" name="cancelProfitLoss"></li>
                            </ul>
                        </li>
                        <li class="content middleWidth selectContentArea">
                            <div class="hiddenSelectBox">
                                <!-- name도 추가 -->
                                <select name="cancelAccountYn" id="divisionRegistSelectBox06" hidden>
                                    <option value="">선택</option>
                                    <option value="Y">Y</option>
                                    <option value="N">N</option>
                                   
                                </select>
                            </div>
                            <section class="customSelectBox">
                                <button class="customSelectView">
                                    선택
                                </button>
                        
                                <ul class="customSelectBtns">
                                    <!-- createCustomLiDivisionRegist(); -->
                                </ul>
                            </section>
                        </li>
                    </ul>
                </div>
            </div>
        </section>

        <!-- 분할사유 및 검토의견 -->
        <section class="reasonTermination">
            <div class="subTitle">
                분할사유 및 검토의견
            </div>

            <div class="contWrap">
                <div class="depth1">
                    <ul class="rowListBox">
                        <li class="title">분할일자</li>
                        <li class="content">
                            <div class="dateInputWrap">
                                <input type="date" name="bunhalDate" data-placeholder="24/01/01"  aria-required="true">
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="depth2 lastRowList">
                    <ul class="rowListBox">
                        <li class="title">분할사유</li>
                        <li class="content inputWrap">
                            <textarea placeholder="직접입력" name="bunhal_reason"></textarea>
                        </li>
                    </ul>
                    <ul class="rowListBox">
                        <li class="title">검토의견</li>
                        <li class="content lastRowList">
                            <textarea placeholder="직접입력" name="bunhal_comment"></textarea>
                        </li>
                    </ul>
                </div>
            </div>


        </section>

        <section class="attachDocuments">
            <div class="subTitle">
                첨부 서류
            </div>

            <div class="contWrap">
                <div class="depth1">
                    <ul class="titles">
                        <li class="title">파일내용</li>
                    </ul>

                    <div class="contentListBox">
                        <div class="essentialDocument">
                            <input type="text" placeholder="필수 증빙서류" readonly class="notWriteInput">
                        </div>

                        <ul class="essentialDocuList">
                            <li class="content">
                                <input type="text" placeholder="1. 등기사항 전부 증명서" readonly class="notWriteInput">
                            </li>
                            <li class="content">
                                <input type="text" placeholder="2. 토지대장" readonly class="notWriteInput">
                            </li>
                            <li class="content">
                                <input type="text" placeholder="3. 지적도 (관로표기)" readonly class="notWriteInput">
                            </li>
                            <li class="content">
                                <input type="text" placeholder="4. 현장사진" readonly class="notWriteInput">
                            </li>
                            <li class="content">
                                <input type="text" placeholder="5. 검토의견서" readonly class="notWriteInput">
                            </li>
                            <li class="content">
                                <input type="text" placeholder="6. 도면, 민원인 관계서류 등" readonly class="notWriteInput">
                            </li>
                            <li class="content">
                                <input type="text" placeholder="7. 분할, 합병/토지분할 소멸 승낙서" readonly class="notWriteInput">
                            </li>
                            <li class="content">
                                <input type="text" placeholder="8. 분할, 합병 요청공문" readonly class="notWriteInput">
                            </li>
                        </ul>
                    </div>

                </div>
                <div class="depth2" id="req_Doc_Div">
              <ul class="titles">
                <li class="title">파일명</li>
                <li class="title delContWidth">삭제</li>
                <li class="title selectFileWidth">파일선택</li>
              </ul>

              <ul class="contents">
                <li class="content">
                <input type="hidden" id="fseq" value="1">
                  <input name="req_doc_file01" id="req_doc_file01"
                    type="text"
                    th:if="${#lists.size(atcfileList)>=1}" th:value="${atcfileList[0].jrd_fname}"
                    readonly
                    class="notWriteInput" style="text-align:center"/>
                    <input name="req_doc_file01" id="req_doc_file01"
                    type="text"
                    th:if="${#lists.size(atcfileList)<1}" placeholder=""
                    readonly
                    class="notWriteInput" style="text-align:center"/>
                </li>
                <li class="content delContWidth">
                  <button class="attachDelBtn miniBtn" id="docFileDelBtn">삭제</button>
                </li>
                <li class="content selectFileWidth lightfileBtnWrap">
                  <!-- 파일보기 -> 파일선택으로 text 변경 -->
                  <input type="file" name="landTerminationRegistration_myPcFiles01"
                    id="landTerminationRegistration_myPcFiles01" />
                  <label for="landTerminationRegistration_myPcFiles01">파일선택</label>
                </li>
              </ul>
              <ul class="contents">
                <li class="content">
                <input type="hidden" id="fseq" value="2">
                  <input  name="req_doc_file02" id="req_doc_file02"
                    type="text"
                    th:if="${#lists.size(atcfileList)>=2}" th:value="${atcfileList[1].jrd_fname!=null?atcfileList[1].jrd_fname:''}"
                    readonly
                    class="notWriteInput" style="text-align:center"/>
                    <input  name="req_doc_file02" id="req_doc_file02"
                    type="text"
                    th:if="${#lists.size(atcfileList)<2}" placeholder=""
                    readonly
                    class="notWriteInput" style="text-align:center"/>
                </li>
                <li class="content delContWidth">
                  <button class="attachDelBtn miniBtn" id="docFileDelBtn">삭제</button>
                </li>
                <li class="content selectFileWidth lightfileBtnWrap">
                 <!-- 파일보기 -> 파일선택으로 text 변경 -->
                  <input type="file" name="landTerminationRegistration_myPcFiles02"
                    id="landTerminationRegistration_myPcFiles02" />
                  <label for="landTerminationRegistration_myPcFiles02">파일선택</label>
                </li>
              </ul>
              <ul class="contents">
                <li class="content"  >
                <input type="hidden" id="fseq" value="3">
                  <input  name="req_doc_file03" id="req_doc_file03"
                    type="text"
                    th:if="${#lists.size(atcfileList)>=3}" th:value="${atcfileList[2].jrd_fname!=null?atcfileList[2].jrd_fname:''}"
                    readonly
                    class="notWriteInput" style="text-align:center"/>
                    <input  name="req_doc_file03" id="req_doc_file03"
                    type="text"
                    th:if="${#lists.size(atcfileList)<3}" placeholder=""
                    readonly
                    class="notWriteInput" style="text-align:center"/>
                </li>
                <li class="content delContWidth">
                  <button class="attachDelBtn miniBtn" id="docFileDelBtn">삭제</button>
                </li>
                <li class="content selectFileWidth lightfileBtnWrap">
                  <!-- 파일보기 -> 파일선택으로 text 변경 -->
                  <input type="file" name="landTerminationRegistration_myPcFiles03"
                    id="landTerminationRegistration_myPcFiles03" />
                  <label for="landTerminationRegistration_myPcFiles03">파일선택</label>
                </li>
              </ul>
              <ul class="contents">
                <li class="content">
                <input type="hidden" id="fseq" value="4">
                  <input type="text"  name="req_doc_file04" id="req_doc_file04"
                    th:if="${#lists.size(atcfileList)>=4}" th:value="${atcfileList[3].jrd_fname!=null?atcfileList[3].jrd_fname:''}"
                    readonly class="notWriteInput" style="text-align:center"/>
                    <input type="text"  name="req_doc_file04" id="req_doc_file04"
                    th:if="${#lists.size(atcfileList)<4}" placeholder=""
                    readonly class="notWriteInput" style="text-align:center"/>
                </li>
                <li class="content delContWidth">
                  <button class="attachDelBtn miniBtn" id="docFileDelBtn">삭제</button>
                </li>
                <li class="content selectFileWidth lightfileBtnWrap">
                  <!-- 파일보기 -> 파일선택으로 text 변경 -->
                  <input type="file" name="landTerminationRegistration_myPcFiles04"
                    id="landTerminationRegistration_myPcFiles04" />
                  <label for="landTerminationRegistration_myPcFiles04">파일선택</label>
                </li>
              </ul>
              <ul class="contents">
                <li class="content">
                <input type="hidden" id="fseq" value="5">
                  <input
                    type="text"  name="req_doc_file05" id="req_doc_file05"
                    th:if="${#lists.size(atcfileList)>=5}" th:value="${atcfileList[4].jrd_fname!=null?atcfileList[4].jrd_fname:''}"
                    readonly
                    class="notWriteInput" style="text-align:center"/>
                    <input
                    type="text"  name="req_doc_file05" id="req_doc_file05"
                    th:if="${#lists.size(atcfileList)<5}" placeholder=""
                    readonly
                    class="notWriteInput" style="text-align:center"/>
                </li>
                <li class="content delContWidth">
                  <button class="attachDelBtn miniBtn" id="docFileDelBtn">삭제</button>
                </li>
                <li class="content selectFileWidth lightfileBtnWrap">
                 <!-- 파일보기 -> 파일선택으로 text 변경 -->
                  <input type="file" name="landTerminationRegistration_myPcFiles05"
                    id="landTerminationRegistration_myPcFiles05" />
                  <label for="landTerminationRegistration_myPcFiles05">파일선택</label>
                </li>
              </ul>
              <ul class="contents">
                <li class="content">
                <input type="hidden" id="fseq" value="6">
                  <input
                    type="text"  name="req_doc_file06" id="req_doc_file06"
                    th:if="${#lists.size(atcfileList)>=6}" th:value="${atcfileList[5].jrd_fname!=null?atcfileList[5].jrd_fname:''}"
                    readonly
                    class="notWriteInput" style="text-align:center"/>
                    <input
                    type="text"  name="req_doc_file06" id="req_doc_file06"
                    th:if="${#lists.size(atcfileList)<6}" placeholder=""
                    readonly
                    class="notWriteInput" style="text-align:center"/>
                </li>
                <li class="content delContWidth">
                  <button class="attachDelBtn miniBtn" id="docFileDelBtn">삭제</button>
                </li>
                <li class="content selectFileWidth lightfileBtnWrap">
                 <!-- 파일보기 -> 파일선택으로 text 변경 -->
                  <input type="file" name="landTerminationRegistration_myPcFiles06"
                    id="landTerminationRegistration_myPcFiles06" />
                  <label for="landTerminationRegistration_myPcFiles06">파일선택</label>
                </li>
              </ul>
              <ul class="contents">
                <li class="content">
                <input type="hidden" id="fseq" value="7">
                  <input
                    type="text"  name="req_doc_file07" id="req_doc_file07"
                    th:if="${#lists.size(atcfileList)>=7}" th:value="${atcfileList[6].jrd_fname!=null?atcfileList[6].jrd_fname:''}"
                    readonly
                    class="notWriteInput" style="text-align:center"/>
                    <input
                    type="text"  name="req_doc_file07" id="req_doc_file07"
                    th:if="${#lists.size(atcfileList)<7}" placeholder=""
                    readonly
                    class="notWriteInput" style="text-align:center"/>
                </li>
                <li class="content delContWidth">
                  <button class="attachDelBtn miniBtn" id="docFileDelBtn">삭제</button>
                </li>
                <li class="content selectFileWidth lightfileBtnWrap">
                 <!-- 파일보기 -> 파일선택으로 text 변경 -->
                 <!-- 파일보기 -> 파일선택으로 text 변경 -->
                  <input
                    type="file" name="landTerminationRegistration_myPcFiles07"
                    id="landTerminationRegistration_myPcFiles07" />
                  <label for="landTerminationRegistration_myPcFiles07"
                    >파일선택</label
                  >
                </li>
              </ul>
              <ul class="contents">
                <li class="content">
                  <input type="hidden" id="fseq" value="8">
                  <input
                    type="text"  name="req_doc_file08" id="req_doc_file08"
                    th:if="${#lists.size(atcfileList)>=8}" th:value="${atcfileList[7].jrd_fname!=null?atcfileList[7].jrd_fname:''}"
                    readonly
                    class="notWriteInput" style="text-align:center"/>
                    <input
                    type="text"  name="req_doc_file08" id="req_doc_file08"
                    th:if="${#lists.size(atcfileList)<8}" placeholder=""
                    readonly
                    class="notWriteInput" style="text-align:center"/>
                </li>
                <li class="content delContWidth">
                  <button class="attachDelBtn miniBtn" id="docFileDelBtn">삭제</button>
                </li>
                <li class="content selectFileWidth lightfileBtnWrap">
                  <!-- 파일보기 -> 파일선택으로 text 변경 -->
                  <input
                    type="file" name="landTerminationRegistration_myPcFiles08"
                    id="landTerminationRegistration_myPcFiles08" />
                  <label for="landTerminationRegistration_myPcFiles08"
                    >파일선택</label
                  >
                </li>
              </ul>
              
              
            </div>
            </div>
        </section>

        </div>

        <div class="finalBtnBox btnWrap">
            <button class="backBtn grayBtn finalBtn">이전</button>
            <button class="temporarySaveBtn vividBlueBtn finalBtn">임시저장</button>
            <button class="lightBlueBtn approvalBtn finalBtn" id="sangsinBtn">상신</button>
        </div>


	</form>
    </main>
    
</div>

    <!-- 추가  -->
    <div class="divisionRegistSearchPopWrappers" id="searchResultPopDiv">
    	<link rel="stylesheet" href="/assets/css/popup/issuePopup.css">
	      <div id="searchResultsPopup">
	        <div class="popupWrap" id="popupWrap">
	          <h2>
	            <p>검색결과</p>
	            <span class="topCloseBtn"></span>
	          </h2>
	
	          <div class="popupCont">
	            <ul class="popTitles">
	              <li class="popTitle01">PNU</li>
	              <li class="popTitle02">주소</li>
	              <li class="popTitle03">지번</li>
	              <li class="popTitle04">선택</li>
	            </ul>
	            <div class="popContentBox" >
	              <ul class="popContents" th:each="val:${addressList}">
	                <li class="popContent01"> [[${val.pnu}]]</li>
	                <li class="popContent02"> [[${val.sido_nm +" "+val.sgg_nm+" "+val.emd_nm+" "+val.jibun}]]</li>
	                <ii class="popContent0201" hidden>[[${val.sido_nm}]]</ii>
	                <ii class="popContent0202" hidden>[[${val.sgg_nm}]]</ii>
	                <ii class="popContent0203" hidden>[[${val.emd_nm}]]</ii>
	                <ii class="popContent0204" hidden>[[${val.ri_nm}]]</ii>
	                <li class="popContent03">[[${val.jibun}]]</li>
	                <li class="popContent04">
	
	                  <button class="resultSelectBtn" >선택</button>
	                </li>
	              </ul>
	
	
	            </div>
	          </div>
	
	          <div class="lastBtnBox btnWrap">
	            <button class="backBtn finalBtn" id="popupCloseBtn">닫기</button>
	            <button class="saveBtn finalBtn">PNU 없이 선택</button>
	          </div>
	
	      </div>
	    </div>
    </div>
    <!-- script -->
    <script src="/js/jisang/divisionRegister.js"></script>
    <script type="module" src="/js/module/surfaceMain.js"></script>
</th:block>
</html>