<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- 팝업 공통 css -->
    <link rel="stylesheet" href="/assets/css/popup/popupEasementModification.css" />
</head>

<body>
    <!-- 사용승락 팝업 -->
    <div id="land_searchResultsPopup">
        <div class="popupWrap">
            <h2>
                <p>토지 추가 검색</p>
                <span class="topCloseBtn"></span>
            </h2>
            <div class="selectInfo">
                <div class="depth1">
                    <div class="selectContBox">
                        <div class="selectCont">
                            <ul class="titles">
                                <li class="title">지사</li>
                            </ul>
                            <ul class="contents">
                                <li class="content popSelectWrap">
                                    <div class="hiddenSelectBox">
                                        <!-- name도 추가 -->
                                        <select name="landSearchSelectBox01" id="landSearchSelectBox01" hidden>
                                            <option value="충청지사1">충청지사1</option>
                                            <option value="충청지사2">충청지사2</option>
                                            <option value="충청지사3">충청지사3</option>
                                            <option value="충청지사4">충청지사4</option>
                                            <option value="충청지사5">충청지사5</option>
                                            <option value="충청지사6">충청지사6</option>
                                            <option value="충청지사7">충청지사7</option>
                                            <option value="충청지사8">충청지사8</option>
                                            <option value="충청지사9">충청지사9</option>
                                            <option value="충청지사10">충청지사10</option>
                                        </select>
                                    </div>
                                    <section class="PopupCustomSelectBox">
                                        <button class="PopupCustomSelectView">충청지사</button>

                                        <ul class="PopupCustomSelectBtns">
                                            <!-- <li><button class="PopupMoreSelectBtn">충청지사1</button></li>
                                            <li><button class="PopupMoreSelectBtn">충청지사2</button></li>
                                            <li><button class="PopupMoreSelectBtn">충청지사3</button></li> -->
                                        </ul>
                                    </section>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="depth2">
                    <div class="selectContBox">
                        <div class="selectCont">
                            <ul class="titles">
                                <li class="title">주소</li>
                            </ul>
                            <ul class="contents">
                                <li class="content popSelectWrap">
                                    <div class="hiddenSelectBox">
                                        <!-- name도 추가 -->
                                        <select name="landSearchSelectBox02" id="landSearchSelectBox02" hidden>
                                            <option value="선택1">선택1</option>
                                            <option value="선택2">선택2</option>
                                            <option value="선택3">선택3</option>
                                            <option value="선택4">선택4</option>
                                            <option value="선택5">선택5</option>
                                            <option value="선택6">선택6</option>
                                            <option value="선택7">선택7</option>
                                            <option value="선택8">선택8</option>
                                            <option value="선택9">선택9</option>
                                            <option value="선택10">선택10</option>
                                        </select>
                                    </div>
                                    <section class="PopupCustomSelectBox">
                                        <button class="PopupCustomSelectView">선택</button>

                                        <ul class="PopupCustomSelectBtns">
                                            <!-- <li><button class="PopupMoreSelectBtn">선택1</button></li>
                                            <li><button class="PopupMoreSelectBtn">선택2</button></li>
                                            <li><button class="PopupMoreSelectBtn">선택3</button></li> -->
                                        </ul>
                                    </section>
                                </li>
                                <li class="content popSelectWrap">
                                    <div class="hiddenSelectBox">
                                        <!-- name도 추가 -->
                                        <select name="landSearchSelectBox03" id="landSearchSelectBox03" hidden>
                                            <option value="선택1">선택1</option>
                                            <option value="선택2">선택2</option>
                                            <option value="선택3">선택3</option>
                                            <option value="선택4">선택4</option>
                                            <option value="선택5">선택5</option>
                                            <option value="선택6">선택6</option>
                                            <option value="선택7">선택7</option>
                                            <option value="선택8">선택8</option>
                                            <option value="선택9">선택9</option>
                                            <option value="선택10">선택10</option>
                                        </select>
                                    </div>
                                    <section class="PopupCustomSelectBox">
                                        <button class="PopupCustomSelectView">선택</button>

                                        <ul class="PopupCustomSelectBtns">
                                            <li>
                                                <button class="PopupMoreSelectBtn">선택1</button>
                                            </li>
                                            <li>
                                                <button class="PopupMoreSelectBtn">선택2</button>
                                            </li>
                                            <li>
                                                <button class="PopupMoreSelectBtn">선택3</button>
                                            </li>
                                        </ul>
                                    </section>
                                </li>
                                <li class="content popSelectWrap">
                                    <div class="hiddenSelectBox">
                                        <!-- name도 추가 -->
                                        <select name="landSearchSelectBox04" id="landSearchSelectBox04" hidden>
                                            <option value="선택1">선택1</option>
                                            <option value="선택2">선택2</option>
                                            <option value="선택3">선택3</option>
                                            <option value="선택4">선택4</option>
                                            <option value="선택5">선택5</option>
                                            <option value="선택6">선택6</option>
                                            <option value="선택7">선택7</option>
                                            <option value="선택8">선택8</option>
                                            <option value="선택9">선택9</option>
                                            <option value="선택10">선택10</option>
                                        </select>
                                    </div>
                                    <section class="PopupCustomSelectBox">
                                        <button class="PopupCustomSelectView">선택</button>

                                        <ul class="PopupCustomSelectBtns">
                                            <!-- <li><button class="PopupMoreSelectBtn">선택1</button></li>
                                            <li><button class="PopupMoreSelectBtn">선택2</button></li>
                                            <li><button class="PopupMoreSelectBtn">선택3</button></li> -->
                                        </ul>
                                    </section>
                                </li>
                                <li class="content popSelectWrap">
                                    <div class="hiddenSelectBox">
                                        <!-- name도 추가 -->
                                        <select name="landSearchSelectBox05" id="landSearchSelectBox05" hidden>
                                            <option value="선택1">선택1</option>
                                            <option value="선택2">선택2</option>
                                            <option value="선택3">선택3</option>
                                            <option value="선택4">선택4</option>
                                            <option value="선택5">선택5</option>
                                            <option value="선택6">선택6</option>
                                            <option value="선택7">선택7</option>
                                            <option value="선택8">선택8</option>
                                            <option value="선택9">선택9</option>
                                            <option value="선택10">선택10</option>
                                        </select>
                                    </div>
                                    <section class="PopupCustomSelectBox">
                                        <button class="PopupCustomSelectView">선택</button>

                                        <ul class="PopupCustomSelectBtns">
                                            <!-- <li><button class="PopupMoreSelectBtn">선택1</button></li>
                                            <li><button class="PopupMoreSelectBtn">선택2</button></li>
                                            <li><button class="PopupMoreSelectBtn">선택3</button></li> -->
                                        </ul>
                                    </section>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="depth3">
                    <div class="selectContBox">
                        <div class="selectCont">
                            <ul class="titles">
                                <li class="title">지번</li>
                            </ul>
                            <ul class="contents">
                                <li class="content">
                                    <input type="text" placeholder="지번입력" />
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <button class="searchBtn finalBtn vividBlueBtn">조회하기</button>
            </div>

            <div class="popupCont">
                <ul class="popTitles">
                    <li class="selectLabel">선택</li>
                    <li class="popTitle_num">지상권 번호</li>
                    <li class="popTitle_address">주소</li>
                    <li class="popTitle_num">지번</li>
                </ul>
                <div class="popContentBox">
                    <ul class="popContents">
                        <li class="popContent selectLabel">
                            <input type="checkbox" id="PopupLandCheckBoxResult01" />
                            <label for="PopupLandCheckBoxResult01"></label>
                        </li>
                        <li class="popContent popTitle_num">J_014097</li>
                        <li class="popContent popTitle_address">
                            충청북도 청주시 홍덕구 수의동 62-14
                        </li>
                        <li class="popContent popTitle_num">62-14</li>
                    </ul>
                    <ul class="popContents">
                        <li class="popContent selectLabel">
                            <input type="checkbox" id="PopupLandCheckBoxResult02" />
                            <label for="PopupLandCheckBoxResult02"></label>
                        </li>
                        <li class="popContent popTitle_num">J_014097</li>
                        <li class="popContent popTitle_address">
                            충청북도 청주시 홍덕구 수의동 62-14
                        </li>
                        <li class="popContent popTitle_num">62-14</li>
                    </ul>
                    <ul class="popContents">
                        <li class="popContent selectLabel">
                            <input type="checkbox" id="PopupLandCheckBoxResult03" />
                            <label for="PopupLandCheckBoxResult03"></label>
                        </li>
                        <li class="popContent popTitle_num">J_014097</li>
                        <li class="popContent popTitle_address">
                            충청북도 청주시 홍덕구 수의동 62-14
                        </li>
                        <li class="popContent popTitle_num">62-14</li>
                    </ul>
                    <ul class="popContents">
                        <li class="popContent selectLabel">
                            <input type="checkbox" id="PopupLandCheckBoxResult04" />
                            <label for="PopupLandCheckBoxResult04"></label>
                        </li>
                        <li class="popContent popTitle_num">J_014097</li>
                        <li class="popContent popTitle_address">
                            충청북도 청주시 홍덕구 수의동 62-14
                        </li>
                        <li class="popContent popTitle_num">62-14</li>
                    </ul>
                    <ul class="popContents">
                        <li class="popContent selectLabel">
                            <input type="checkbox" id="PopupLandCheckBoxResult05" />
                            <label for="PopupLandCheckBoxResult05"></label>
                        </li>
                        <li class="popContent popTitle_num">J_014097</li>
                        <li class="popContent popTitle_address">
                            충청북도 청주시 홍덕구 수의동 62-14
                        </li>
                        <li class="popContent popTitle_num">62-14</li>
                    </ul>
                    <ul class="popContents">
                        <li class="popContent selectLabel">
                            <input type="checkbox" id="PopupLandCheckBoxResult06" />
                            <label for="PopupLandCheckBoxResult06"></label>
                        </li>
                        <li class="popContent popTitle_num">J_014097</li>
                        <li class="popContent popTitle_address">
                            충청북도 청주시 홍덕구 수의동 62-14
                        </li>
                        <li class="popContent popTitle_num">1-14</li>
                    </ul>
                    <ul class="popContents">
                        <li class="popContent selectLabel">
                            <input type="checkbox" id="PopupLandCheckBoxResult07" />
                            <label for="PopupLandCheckBoxResult07"></label>
                        </li>
                        <li class="popContent popTitle_num">J_014097</li>
                        <li class="popContent popTitle_address">
                            충청북도 청주시 홍덕구 수의동 62-14
                        </li>
                        <li class="popContent popTitle_num">62-14</li>
                    </ul>
                    <ul class="popContents">
                        <li class="popContent selectLabel">
                            <input type="checkbox" id="PopupLandCheckBoxResult08" />
                            <label for="PopupLandCheckBoxResult08"></label>
                        </li>
                        <li class="popContent popTitle_num">J_014097</li>
                        <li class="popContent popTitle_address">
                            충청북도 청주시 홍덕구 수의동 62-14
                        </li>
                        <li class="popContent popTitle_num">1-1</li>
                    </ul>
                    <ul class="popContents">
                        <li class="popContent selectLabel">
                            <input type="checkbox" id="PopupLandCheckBoxResult09" />
                            <label for="PopupLandCheckBoxResult09"></label>
                        </li>
                        <li class="popContent popTitle_num">J_014097</li>
                        <li class="popContent popTitle_address">
                            충청북도 청주시 홍덕구 수의동 62-14
                        </li>
                        <li class="popContent popTitle_num">62-14</li>
                    </ul>
                    <ul class="popContents">
                        <li class="popContent selectLabel">
                            <input type="checkbox" id="PopupLandCheckBoxResult10" />
                            <label for="PopupLandCheckBoxResult10"></label>
                        </li>
                        <li class="popContent popTitle_num">J_014097</li>
                        <li class="popContent popTitle_address">
                            충청북도 청주시 홍덕구 수의동 62-14
                        </li>
                        <li class="popContent popTitle_num">62-14</li>
                    </ul>
                    <ul class="popContents">
                        <li class="popContent selectLabel">
                            <input type="checkbox" id="PopupLandCheckBoxResult11" />
                            <label for="PopupLandCheckBoxResult11"></label>
                        </li>
                        <li class="popContent popTitle_num">J_014097</li>
                        <li class="popContent popTitle_address">
                            충청북도 청주시 홍덕구 수의동 62-14
                        </li>
                        <li class="popContent popTitle_num">62-14</li>
                    </ul>
                    <ul class="popContents">
                        <li class="popContent selectLabel">
                            <input type="checkbox" id="PopupLandCheckBoxResult12" />
                            <label for="PopupLandCheckBoxResult12"></label>
                        </li>
                        <li class="popContent popTitle_num">J_014097</li>
                        <li class="popContent popTitle_address">
                            충청북도 청주시 홍덕구 수의동 62-14
                        </li>
                        <li class="popContent popTitle_num">62-14</li>
                    </ul>
                    <ul class="popContents">
                        <li class="popContent selectLabel">
                            <input type="checkbox" id="PopupLandCheckBoxResult13" />
                            <label for="PopupLandCheckBoxResult13"></label>
                        </li>
                        <li class="popContent popTitle_num">J_014097</li>
                        <li class="popContent popTitle_address">
                            충청북도 청주시 홍덕구 수의동 62-14
                        </li>
                        <li class="popContent popTitle_num">62-14</li>
                    </ul>
                </div>
            </div>

            <div class="lastBtnBox btnWrap">
                <button class="backBtn grayBtn finalBtn">닫기</button>
                <button class="vividBlueBtn finalBtn">선택등록</button>
            </div>
        </div>
    </div>
    <script>
        const landcreatePopCustomLiResult = () => {
            // hiddenSelectBox와 PopupCustomSelectBox를 묶는 큰 wrap
            const popSelectWrapItems = document.querySelectorAll(
                "#land_searchResultsPopup .popSelectWrap"
            );

            popSelectWrapItems.forEach((contentItem) => {
                // 그 안에 있는 select를 선택
                const nowIssueSelectBox = contentItem.querySelector("select");
                // select가 없으면 return
                if (!nowIssueSelectBox) return;

                const popCustomSelectBox = contentItem.querySelector(
                    ".PopupCustomSelectBox"
                );
                const popCustomSelectBtns = popCustomSelectBox.querySelector(
                    ".PopupCustomSelectBtns"
                );

                for (let i = 0; i < nowIssueSelectBox.length; i++) {
                    const optionValue = nowIssueSelectBox.options[i].value;
                    const li = document.createElement("li");
                    const button = document.createElement("button");
                    button.classList.add("PopupMoreSelectBtn");
                    button.type = "button";
                    button.textContent = optionValue;
                    li.appendChild(button);
                    popCustomSelectBtns.appendChild(li);
                }
            });
        };

        landcreatePopCustomLiResult();

        // 팝업 select click 시 .PopupCustomSelectBtns 나오게

        const customSelectView = document.querySelectorAll(
            "#land_searchResultsPopup .PopupCustomSelectView"
        );

        customSelectView.forEach((btn) => {
            btn.addEventListener("click", function() {
                btn.classList.toggle("active");
                if (btn.nextElementSibling) {
                    btn.nextElementSibling.classList.toggle("active");
                }
            });
        });

        // 대분류, 중분류, 소분류 안에 button click 했을 때 해당 내용으로 바뀌게하기

        const PopupMoreSelectBtn = document.querySelectorAll(
            "#land_searchResultsPopup .PopupMoreSelectBtn"
        );

        PopupMoreSelectBtn.forEach((moreBtn) => {
            moreBtn.addEventListener("click", function() {
                var moreBtnText = moreBtn.innerText;
                console.log(moreBtnText);
                const parentMoreBtn = moreBtn.closest(".PopupCustomSelectBtns");
                const editViewBtn = parentMoreBtn.previousElementSibling;

                while (editViewBtn.firstChild) {
                    editViewBtn.removeChild(editViewBtn.firstChild);
                }

                const textNode = document.createTextNode(moreBtnText);
                editViewBtn.appendChild(textNode);

                editViewBtn.classList.remove("active");
                parentMoreBtn.classList.remove("active");

                // 선택한 걸 select의 value값으로 변경하기

                // 팝업은 popSelectWrap로 묶는다
                const nearByContent = moreBtn.closest(".popSelectWrap");
                const nearBySelectBox = nearByContent.querySelector("select");
                nearBySelectBox.value = moreBtn.textContent;
                console.log(`Selected value: ${nearBySelectBox.value}`);
            });
        });

        // 저장, 닫기 버튼 click시 팝업 사라지게

        const landPopupFinalBtns = document.querySelector(
            "#land_searchResultsPopup .popupWrap .lastBtnBox .finalBtn"
        );

        landPopupFinalBtns.addEventListener("click", function() {
            const PopupWrap = landPopupFinalBtns.closest(".popupWrap");
            PopupWrap.classList.remove("active");
        });


        // x 버튼 click시 팝업 사라지게
        const landtopCloseBtn = document.querySelector(
            "#land_searchResultsPopup .popupWrap .topCloseBtn"
        );

        landtopCloseBtn.addEventListener("click", function() {
            const PopupWrap = landtopCloseBtn.closest(".popupWrap");
            PopupWrap.classList.remove("active");
        });
    </script>
</body>

</html>