<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/default_layout}">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" as="style" crossorigin
		href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css" />
	<link th:href="@{/css/common.css}" rel="stylesheet" />
	<link rel="stylesheet" href="/css/jisang/landRightMerge.css" />
	<!-- <script src="/js/songyu/menu01.js"></script> -->
	<!-- <script type="text/javascript" src="https://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
    <link rel="stylesheet" type="text/css" href="//code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css"> -->
    <style>
        div.dt-top-container {
  display: grid;
  grid-template-columns: auto auto auto;
}

div.dt-center-in-div {
  margin: 0 auto;
      float: right;
    margin-right: 30px;
   
}
div.dt-center-in-div>div{

display:inline;
}

div.dt-filter-spacer {
  margin: 10px 0;
  border:1px solid red;
}


.dt-title{

text-align:center;
width:180px;
float:left;

}
.dt-buttons{
display:inline-block;

width:180px;

}
.dt-length{
display:inline-block;
}
.dt-button{

color:white;
background-color:#4e5871;
font-size:15px;
font-weight:600;
border-radius:10px;
background-image:url(/assets/media/menu01/download.png);
background-size:11px;
background-repeat:no-repeat;
background-position:123px center;
text-aline:left;
margin-right:10px;
width:159px;
height:38px;

}

.dt-paging {
text-align: center;
}

.dt-paging-button {
  box-sizing: border-box;
  display: inline-block;
  min-width: 1.5em;
  padding: 0.5em 1em;
  margin-left: 2px;
  text-align: center;
  text-decoration: none !important;
  cursor: pointer;
  
  border: 1px solid transparent;
  border-radius: 2px;
  background: transparent;
  color: #007bff !important;
    font-size: 15px;
    font-weight: 600;
}

.bottom{
text-align:center;

}
.top{

text-align:right;
margin:10px;

}

    </style>

    <title>지상권 합필 등록</title>
</head>
<body>
<th:block layout:fragment="content">
    <!-- 지상권 합필 등록 -->
    <div class="landRightMergeWrappers">
       
    <main id="landRightMerge">
        <form name="saveForm" id="saveForm" onSubmit="return false;">
        <div class="mainTitle">
            <h1>지상권 합필 등록</h1>
        </div>

        <!-- 대상토지 -->
        <section class="targetLand">
            <div class="subTitle">
                대상토지
            </div>

            <div class="contWrap">

                <div class="depth1" id="tojiDiv">
                    <ul class="titles">
                        <li class="title">지상권번호</li>
                        <li class="title">대표지상권*</li>
                        <li class="title addressInfoWidth">주소</li>
                        <li class="title">토지유형*</li>
                        <li class="title titleBox ">
                            지상권설정
                            <ul class="secondTitles">
                                <li class="secondTitle">지목</li>
                                <li class="secondTitle">지적면적</li>
                                <li class="secondTitle">편입면적</li>
                                <li class="secondTitle largeSecondTitle">설정금액</li>
                                <li class="secondTitle">자산번호</li>
                            </ul>
                        </li>
                        <li class="title">소유자</li>
                        <li class="title">위치보기</li>
                        <li class="title">회계처리필요여부*</li>
                        <li class="title titleBtnWrap">추가/삭제</li>
                    </ul>
                    <div class="contentsBox">
                        <input type="hidden" id="lastIndex" th:value="${jisangList.size() - 1}">
                        <input type="hidden" id="repJisangNo" th:value="${repIdx}">
                        <ul class="contents" id="tojiUl" th:if="${jisangList.size()>0}" th:each="val, stat:${jisangList}">
													  <!--지상권 번호-->
                            <li class="content">
                                <input type="hidden" id="mergeIndex" th:value="${stat.index}">
                                <input type="hidden" id="togisido_nm" th:value="${val.sido_nm}">
                                <input type="hidden" id="togisgg_nm" th:value="${val.sgg_nm}">
                                <input type="hidden" id="togiemd_nm" th:value="${val.emd_nm}">
                                <input type="hidden" id="togiri_nm" th:value="${val.ri_nm}">
                                <input type="hidden" id="togijibun" th:value="${val.jibun}">
                                <input type="hidden" id="togipnu" th:value="${val.pnu}">
                                <input type="text" th:value="${val.jisang_no}" readonly class="notWriteInput" id="jisang_no">
                            </li>
														<!--대표지상권-->
                            <li class="content checkboxWrap">
                                <!-- 주석처리 -->
                                <!-- <input type="text" placeholder="O" readonly class="notWriteInput"> -->
                                 <input type="checkbox" th:id="'landRightMerge_checkbox_' + ${stat.index}" name="repLandRight" class="single-select-checkbox">
                                 <label th:for="'landRightMerge_checkbox_' + ${stat.index}"></label>
                            </li>
														<!--주소-->
                            <li class="content addressInfoWidth addressInfoBox">
                                <div class="addressData"><input type="text" th:value="|${val.sido_nm} ${val.sgg_nm} ${val.emd_nm} ${val.ri_nm} ${val.jibun}|" readonly class="notWriteInput" id="merge_address"></div>
                                <button class="searchAddressBtn">검색</button>
                            </li>
														<!--토지유형-->
                            <li class="content selectContentArea">
                                <div class="hiddenSelectBox">
                                    <!-- name도 추가 -->
                                    <select name="landMergeSelectBox01" id="landMergeSelectBox01" hidden>
                                        <option value="국유지">국유지</option>
                                        <option value="사유지">사유지</option>
                                    </select>
                                
                                </div>
                                <section class="customSelectBox">
                                    <button class="customSelectView" id="toji_type">
                                        [[${val.toji_type} == null ? '선택' : ${val.toji_type}]]
                                    </button>
                            
                                    <ul class="customSelectBtns">
                                        <!-- createCustomLiLandMerge() -->
                                    </ul>
                                </section>
                            </li>
														<!--지상권설정-->
                            <li class="content contentBox">
                                <ul class="secondContents">
                                    <li class="secondContent"><input type="text" th:value="${val.jimok_text}" readonly class="notWriteInput" id="jimok_text"></li>
                                    <li class="secondContent"><input type="text" th:value="${val.jijuk_area}" readonly class="notWriteInput" id="jijuk_area"></li>
                                    <li class="secondContent"><input type="text" th:value="${val.pyeonib_area}" readonly class="notWriteInput" id="pyeonib_area"></li>
                                    <li class="secondContent largeSecondTitle"><input type="text" th:value="${val.set_money}" readonly class="notWriteInput" id="set_money"></li>
                                    <li class="secondContent"><input type="text" th:value="${val.jasan_no}" readonly class="notWriteInput" id="jasan_no"></li>
                                </ul>
                            </li>
														<!--소유자-->
                            <li class="content"><input type="text" th:value="${val.soyuList.size() > 0 ? val.soyuList[0].js_souja_name : ''}" readonly class="notWriteInput" id="souja"></li>
                            <!--위치보기-->
														<li class="content">
                                <button class="viewDetailButton" th:x="${val.x == null ? 'null' : val.x}" th:y="${val.y == null ? 'null' : val.y}" >위치보기</button>
                            </li>
														<!--회계처리필요여부-->
                            <li class="content selectContentArea">
                                <div class="hiddenSelectBox">
                                    <!-- name도 추가 -->
                                    <select name="landMergeSelectBox02" id="landMergeSelectBox02" hidden>
                                        <option value="Y" th:selected="${val.account_yn=='Y'}">Y</option>
                                        <option value="N" th:selected="${val.account_yn=='N'}">N</option>
                                    </select>
                                </div>
                                <section class="customSelectBox">
                                    <button class="customSelectView" id="account_yn" th:text="${val.account_yn !=null? val.account_yn : '선택'}">선택</button>
                                    <ul class="customSelectBtns">
                                        <!-- createCustomLiLandMerge() -->
                                    </ul>
                                </section>
                            </li>
                            <li class="content titleBtnWrap btnBox">
                                <!-- 수정하지 않을 때 -->
    <!--                         
                                <div class="editBefore"> -->
                                    <div class="btnWrap">
                                        <button class="addBtn miniBtn">추가</button>
                                    </div>
                                    <!-- <div class="btnWrap">
                                        <button class="delBtn miniBtn">삭제</button>
                                    </div> -->
                                <!-- </div> -->
                            
                                <!-- 수정할 때 -->
                            
                                <!-- <div class="editAfter">
                                    <div class="newBtnWrap">
                                        <button class="registBtn miniBtn">추가</button>
                                    </div>
                                </div> -->
                            </li>
    
                        </ul>
                    </div>
                    <!-- <ul class="contents lastContents">
                        <li class="content"><input type="text" placeholder="신규" readonly class="notWriteInput"></li>
                        <li class="content"><input type="text" placeholder="O" readonly class="notWriteInput"></li>
                        <li class="content addressInfoWidth addressInfoBox">
                            <div class="addressData"><input type="text" placeholder="서울특별시 서초구 서초동 1" readonly class="notWriteInput"></div>
                            <button class="searchAddressBtn">검색</button>
                        </li>
                        <li class="content selectContentArea">
                            <div class="hiddenSelectBox">
                                name도 추가
                                <select name="landMergeSelectBox03" id="landMergeSelectBox03" hidden>
                                    <option value="선택1">선택1</option>
                                    <option value="선택2">선택2</option>
                                    <option value="선택3">선택3</option>
                                    <option value="선택4">선택4</option>
                                    <option value="선택5">선택5</option>
                                    <option value="선택6">선택6</option>
                                    <option value="선택7">선택7</option>
                                    <option value="선택8">선택8</option>
                                    <option value="선택9">선택9</option>
                                    <option value="선택10">선택10</option>
                                </select>
                            
                            </div>
                            <section class="customSelectBox">
                                <button class="customSelectView">
                                    선택
                                </button>
                        
                                <ul class="customSelectBtns">
                                    createCustomLiLandMerge()
                                </ul>
                            </section>
                        </li>
                        <li class="content contentBox">
                            <ul class="secondContents">
                                <li class="secondContent"><input type="text" placeholder="전" readonly class="notWriteInput"></li>
                                <li class="secondContent"><input type="text" placeholder="1544" readonly class="notWriteInput"></li>
                                <li class="secondContent"><input type="text" placeholder="20" readonly class="notWriteInput"></li>
                                <li class="secondContent largeSecondTitle"><input type="text" placeholder="10,000,000" readonly class="notWriteInput"></li>
                                <li class="secondContent"><input type="text" placeholder="9010238" readonly class="notWriteInput"></li>
                            </ul>
                        </li>
                        <li class="content"><input type="text" placeholder="김순자" readonly class="notWriteInput"></li>
                        <li class="content">
                            <button class="viewDetailButton">위치보기</button>
                        </li>
                        <li class="content selectContentArea">
                            <div class="hiddenSelectBox">
                                name도 추가
                                <select name="landMergeSelectBox04" id="landMergeSelectBox04" hidden>
                                    <option value="Y1">Y1</option>
                                    <option value="Y2">Y2</option>
                                    <option value="Y3">Y3</option>
                                    <option value="Y4">Y4</option>
                                    <option value="Y5">Y5</option>
                                    <option value="Y6">Y6</option>
                                    <option value="Y7">Y7</option>
                                    <option value="Y8">Y8</option>
                                    <option value="Y9">Y9</option>
                                    <option value="Y10">Y10</option>
                                </select>
                            
                            </div>
                            <section class="customSelectBox">
                                <button class="customSelectView">
                                    &#160
                                </button>
                            
                                <ul class="customSelectBtns">
                                    createCustomLiLandMerge()
                                </ul>
                            </section>
                        </li>
                        <li class="content titleBtnWrap btnBox">
                            수정하지 않을 때
                        
                            <div class="editBefore">
                                <div class="btnWrap">
                                    <button class="addBtn miniBtn">추가</button>
                                </div>
                                <div class="btnWrap">
                                    <button class="delBtn miniBtn">삭제</button>
                                </div>
                            </div>
                        
                            수정할 때
                        
                            <div class="editAfter">
                                <div class="newBtnWrap">
                                    <button class="registBtn miniBtn">추가</button>
                                </div>
                            </div>
                        </li>

                    </ul> -->
                </div>
                
            </div>
        </section>

        <!-- 합병토지 -->
        <section class="landDivision">
            <div class="subTitle">
                합병토지
            </div>

            <div class="contWrap">
            
                <div class="depth1">
                    <ul class="titles">
                        <li class="title middleWidth">지상권번호</li>
                        <li class="title addressInfoWidth">주소</li>
                        <li class="title titleBox">
                            지상권설정
                            <ul class="secondTitles">
                                <li class="secondTitle">지목</li>
                                <li class="secondTitle">지적면적</li>
                                <li class="secondTitle">편입면적</li>
                                <li class="secondTitle">설정금액</li>
                                <li class="secondTitle">자산번호</li>
                            </ul>
                        </li>
                        <li class="title">소유자</li>
                        <li class="title middleWidth">회계처리필요여부</li>
                    </ul>
                    <ul class="contents lastContents">
                        <li class="content middleWidth"><input type="text" placeholder="" readonly class="notWriteInput" id="mergeToji_no"></li>
                        <li class="content addressInfoWidth">
                            <div class="addressData"><input type="text" placeholder="" readonly class="notWriteInput" id="mergeToji_address"></div>
                        </li>
                        <li class="content contentBox">
                            <ul class="secondContents">
                                <li class="secondContent"><input type="text" id="mergeToji_jimok" readonly class="notWriteInput"></li>
                                <li class="secondContent"><input type="text" id="mergeToji_jijuk" readonly class="notWriteInput"></li>
                                <li class="secondContent"><input type="text" id="mergeToji_pyeonib_area" readonly class="notWriteInput"></li>
                                <li class="secondContent"><input type="text" id="mergeToji_set_money" readonly class="notWriteInput"></li>
                                <li class="secondContent"><input type="text" id="mergeToji_jasan_money" readonly class="notWriteInput"></li>
                            </ul>
                        </li>
                        <li class="content">
                            <input type="text" placeholder="" readonly class="notWriteInput" id="mergeToji_souja">
                        </li>
                        <li class="content middleWidth selectContentArea">
                            <div class="hiddenSelectBox">
                                <!-- name도 추가 -->
                                <select name="landMergeSelectBox05" id="landMergeSelectBox05" hidden>
                                    <option value="Y">Y</option>
                                    <option value="N">N</option>
                                </select>
                            
                            </div>
                            <section class="customSelectBox">
                                <button class="customSelectView" id="mergeToji_accountYn">
                                    선택
                                </button>
            
                                <ul class="customSelectBtns">
                                    <!-- createCustomLiLandMerge() -->
                                </ul>
                            </section>
                        </li>
                    </ul>
                </div>
            
            </div>
        </section>



        <!-- 합병사유 및 검토의견 -->
        <section class="mergeTermination">
            <div class="subTitle">
                합병사유 및 검토의견*
            </div>

            <div class="contWrap">
                <div class="depth1">
                    <ul class="rowListBox">
                        <li class="title">합병사유</li>
                        <li class="content inputWrap">
                            <input type="text" placeholder="직접입력 (최소 10자 이상)" id="merge_reason">
                        </li>
                    </ul>
                </div>
                <div class="depth2 lastRowList">
                    <ul class="rowListBox">
                        <li class="title">검토의견</li>
                        <li class="content lastRowList">
                            <textarea placeholder="직접입력 (최소 10자 이상)" id="merge_comment"></textarea>
                        </li>
                    </ul>
                </div>
            </div>


        </section>

        <section class="attachDocuments">
            <div class="subTitle">
                첨부 서류*
            </div>

            <div class="contWrap">
                <div class="depth1">
                    <ul class="titles">
                        <li class="title">파일내용</li>
                    </ul>

                    <div class="contentListBox">
                        <div class="essentialDocument">
                            <input type="text" placeholder="필수 증빙서류" readonly class="notWriteInput">
                        </div>

                        <ul class="essentialDocuList">
                            <li class="content"><input type="text" placeholder="1. 등기사항 전부 증명서" readonly class="notWriteInput"></li>
                            <li class="content"><input type="text" placeholder="2. 토지대장" readonly class="notWriteInput"></li>
                            <li class="content"><input type="text" placeholder="3. 지적도 (관로표기)" readonly class="notWriteInput"></li>
                            <li class="content"><input type="text" placeholder="4. 현장사진" readonly class="notWriteInput"></li>
                            <li class="content"><input type="text" placeholder="5. 검토의견서" readonly class="notWriteInput"></li>
                            <li class="content"><input type="text" placeholder="6. 도면, 민원인 관계서류 등" readonly class="notWriteInput"></li>
                            <li class="content"><input type="text" placeholder="7. 분할, 합병/토지분할 소멸 승낙서" readonly class="notWriteInput"></li>
                            <li class="content"><input type="text" placeholder="8. 분할, 합병 요청공문" readonly class="notWriteInput"></li>
                        </ul>
                    </div>

                </div>
                <div class="depth2">
                    <ul class="titles">
                        <li class="title"><input type="text" placeholder="파일명" readonly class="notWriteInput"></li>
                        <li class="title delContWidth">삭제</li>
                        <li class="title selectFileWidth">파일선택</li>
                    </ul>

                    <ul class="contents">
                        <li class="content"  >
                        <input type="hidden" id="fseq" value="1">
                        <input name="req_doc_file01" id="req_doc_file01"
                               type="text"
                               th:if="${#lists.size(reqDoc1list)>=1}" th:value="${reqDoc1list[0].jrd_fname}"
                               readonly
                               class="notWriteInput" style="text-align:center"/>
                        <input name="req_doc_file01" id="req_doc_file01"
                               type="text"
                               th:if="${#lists.size(reqDoc1list)<1}" placeholder=""
                               readonly
                               class="notWriteInput" style="text-align:center"/>
                        </li>
                        <li class="content delContWidth">
                            <button class="attachDelBtn miniBtn" id="docFileDelBtn">삭제</button>
                        </li>
                        <li class="content selectFileWidth lightfileBtnWrap">
                            <input type="file" id="landRightMerge_myPcFiles01" name="landRightMerge_myPcFiles01">
                            <label for="landRightMerge_myPcFiles01">파일선택</label>
                        </li>
                    </ul>
                    <ul class="contents">
                        <li class="content"  >
                        <input type="hidden" id="fseq" value="2">
                        <input  name="req_doc_file02" id="req_doc_file02"
                                type="text"
                                th:if="${#lists.size(reqDoc1list)>=2}" th:value="${reqDoc1list[1].jrd_fname!=null?reqDoc1list[1].jrd_fname:''}"
                                readonly
                                class="notWriteInput" style="text-align:center"/>
                        <input  name="req_doc_file02" id="req_doc_file02"
                                type="text"
                                th:if="${#lists.size(reqDoc1list)<2}" placeholder=""
                                readonly
                                class="notWriteInput" style="text-align:center"/>
                        </li>
                        <li class="content delContWidth">
                            <button class="attachDelBtn miniBtn" id="docFileDelBtn">삭제</button>
                        </li>
                        <li class="content selectFileWidth lightfileBtnWrap">
                            <input type="file" id="landRightMerge_myPcFiles02" name="landRightMerge_myPcFiles02">
                            <label for="landRightMerge_myPcFiles02">파일선택</label>
                        </li>
                    </ul>
                    <ul class="contents">
                        <li class="content"  >
                            <input type="hidden" id="fseq" value="3">
                            <input  name="req_doc_file03" id="req_doc_file03"
                                    type="text"
                                    th:if="${#lists.size(reqDoc1list)>=3}" th:value="${reqDoc1list[2].jrd_fname!=null?reqDoc1list[2].jrd_fname:''}"
                                    readonly
                                    class="notWriteInput" style="text-align:center"/>
                            <input  name="req_doc_file03" id="req_doc_file03"
                                    type="text"
                                    th:if="${#lists.size(reqDoc1list)<3}" placeholder=""
                                    readonly
                                    class="notWriteInput" style="text-align:center"/>
                        </li>
                        <li class="content delContWidth">
                            <button class="attachDelBtn miniBtn" id="docFileDelBtn">삭제</button>
                        </li>
                        <li class="content selectFileWidth lightfileBtnWrap">
                            <input type="file" id="landRightMerge_myPcFiles03" name="landRightMerge_myPcFiles03">
                            <label for="landRightMerge_myPcFiles03">파일선택</label>
                        </li>
                    </ul>
                    <ul class="contents">
                        <li class="content">
                            <input type="hidden" id="fseq" value="4">
                            <input type="text"  name="req_doc_file04" id="req_doc_file04"
                                   th:if="${#lists.size(reqDoc1list)>=4}" th:value="${reqDoc1list[3].jrd_fname!=null?reqDoc1list[3].jrd_fname:''}"
                                   readonly class="notWriteInput" style="text-align:center"/>
                            <input type="text"  name="req_doc_file04" id="req_doc_file04"
                                   th:if="${#lists.size(reqDoc1list)<4}" placeholder=""
                                   readonly class="notWriteInput" style="text-align:center"/>
                        </li>
                        <li class="content delContWidth">
                            <button class="attachDelBtn miniBtn" id="docFileDelBtn">삭제</button>
                        </li>
                        <li class="content selectFileWidth lightfileBtnWrap">
                            <input type="file" id="landRightMerge_myPcFiles04" name="landRightMerge_myPcFiles04">
                            <label for="landRightMerge_myPcFiles04">파일선택</label>
                        </li>
                    </ul>
                    <ul class="contents">
                        <li class="content">
                            <input type="hidden" id="fseq" value="5">
                            <input
                                    type="text"  name="req_doc_file05" id="req_doc_file05"
                                    th:if="${#lists.size(reqDoc1list)>=5}" th:value="${reqDoc1list[4].jrd_fname!=null?reqDoc1list[4].jrd_fname:''}"
                                    readonly
                                    class="notWriteInput" style="text-align:center"/>
                            <input
                                    type="text"  name="req_doc_file05" id="req_doc_file05"
                                    th:if="${#lists.size(reqDoc1list)<5}" placeholder=""
                                    readonly
                                    class="notWriteInput" style="text-align:center"/>
                        </li>
                        <li class="content delContWidth">
                            <button class="attachDelBtn miniBtn" id="docFileDelBtn">삭제</button>
                        </li>
                        <li class="content selectFileWidth lightfileBtnWrap">
                            <input type="file" id="landRightMerge_myPcFiles05" name="landRightMerge_myPcFiles05">
                            <label for="landRightMerge_myPcFiles05">파일선택</label>
                        </li>
                    </ul>
                    <ul class="contents">
                        <li class="content">
                            <input type="hidden" id="fseq" value="6">
                            <input
                                    type="text"  name="req_doc_file06" id="req_doc_file06"
                                    th:if="${#lists.size(reqDoc1list)>=6}" th:value="${reqDoc1list[5].jrd_fname!=null?reqDoc1list[5].jrd_fname:''}"
                                    readonly
                                    class="notWriteInput" style="text-align:center"/>
                            <input
                                    type="text"  name="req_doc_file06" id="req_doc_file06"
                                    th:if="${#lists.size(reqDoc1list)<6}" placeholder=""
                                    readonly
                                    class="notWriteInput" style="text-align:center"/>
                        </li>
                        <li class="content delContWidth">
                            <button class="attachDelBtn miniBtn" id="docFileDelBtn">삭제</button>
                        </li>
                        <li class="content selectFileWidth lightfileBtnWrap">
                            <input type="file" id="landRightMerge_myPcFiles06" name="landRightMerge_myPcFiles06">
                            <label for="landRightMerge_myPcFiles06">파일선택</label>
                        </li>
                    </ul>
                    <ul class="contents">
                        <li class="content">
                            <input type="hidden" id="fseq" value="7">
                            <input
                                    type="text"  name="req_doc_file07" id="req_doc_file07"
                                    th:if="${#lists.size(reqDoc1list)>=7}" th:value="${reqDoc1list[6].jrd_fname!=null?reqDoc1list[6].jrd_fname:''}"
                                    readonly
                                    class="notWriteInput" style="text-align:center"/>
                            <input
                                    type="text"  name="req_doc_file07" id="req_doc_file07"
                                    th:if="${#lists.size(reqDoc1list)<7}" placeholder=""
                                    readonly
                                    class="notWriteInput" style="text-align:center"/>
                        </li>
                        <li class="content delContWidth">
                            <button class="attachDelBtn miniBtn" id="docFileDelBtn">삭제</button>
                        </li>
                        <li class="content selectFileWidth lightfileBtnWrap">
                            <input type="file" id="landRightMerge_myPcFiles07" name="landRightMerge_myPcFiles07">
                            <label for="landRightMerge_myPcFiles07">파일선택</label>
                        </li>
                    </ul>
                    <ul class="contents">
                        <li class="content">
                            <input type="hidden" id="fseq" value="8">
                            <input
                                    type="text"  name="req_doc_file08" id="req_doc_file08"
                                    th:if="${#lists.size(reqDoc1list)>=8}" th:value="${reqDoc1list[7].jrd_fname!=null?reqDoc1list[7].jrd_fname:''}"
                                    readonly
                                    class="notWriteInput" style="text-align:center"/>
                            <input
                                    type="text"  name="req_doc_file08" id="req_doc_file08"
                                    th:if="${#lists.size(reqDoc1list)<8}" placeholder=""
                                    readonly
                                    class="notWriteInput" style="text-align:center"/>
                        </li>
                        <li class="content delContWidth">
                            <button class="attachDelBtn miniBtn" id="docFileDelBtn">삭제</button>
                        </li>
                        <li class="content selectFileWidth lightfileBtnWrap">
                            <input type="file" id="landRightMerge_myPcFiles08" name="landRightMerge_myPcFiles08">
                            <label for="landRightMerge_myPcFiles08">파일선택</label>
                        </li>
                    </ul>
                </div>
            </div>
        </section>

        

        <div class="finalBtnBox btnWrap">
            <button class="backBtn finalBtn" onclick="history.back();">이전</button>
            <button class="temporarySaveBtn finalBtn">임시저장</button>
            <button class="lightBlueBtn approvalBtn finalBtn">상신</button>
        </div>

</form>

    </main>
</div>

<!-- 추가 -->
    <div class="divisionRegistSearchPopWrappers" id="searchResultPopDiv">
        <link rel="stylesheet" href="/assets/css/popup/issuePopup.css">
        <div id="searchResultsPopup">
            <div class="popupWrap" id="popupWrap">
                <h2>
                    <p>검색결과</p>
                    <span class="topCloseBtn"></span>
                </h2>

                <div class="popupCont">
                    <ul class="popTitles">
                        <li class="popTitle01">PNU</li>
                        <li class="popTitle02">주소</li>
                        <li class="popTitle03">지번</li>
                        <li class="popTitle04">선택</li>
                    </ul>
                    <div class="popContentBox" >
                        <ul class="popContents" th:each="val:${addressList}">
                            <li class="popContent01"> [[${val.pnu}]]</li>
                            <li class="popContent02"> [[${val.sido_nm +" "+val.sgg_nm+" "+val.emd_nm+" "+val.jibun}]]</li>
                            <ii class="popContent0201" hidden>[[${val.sido_nm}]]</ii>
                            <ii class="popContent0202" hidden>[[${val.sgg_nm}]]</ii>
                            <ii class="popContent0203" hidden>[[${val.emd_nm}]]</ii>
                            <ii class="popContent0204" hidden>[[${val.ri_nm}]]</ii>
                            <ii class="popContent0205" hidden>[[${val.bcode}]]</ii>
                            <ii class="popContent0206" hidden>[[${val.jibun_full}]]</ii>
                            <li class="popContent03">[[${val.jibun}]]</li>
                            <li class="popContent04">
                                <button class="resultSelectBtn" >선택</button>
                            </li>
                            <ii class="popContent05" hidden>[[${val.jimok_text}]]</ii>
                        </ul>


                    </div>
                </div>

                <div class="lastBtnBox btnWrap">
                    <button class="backBtn finalBtn" id="popupCloseBtn">닫기</button>
                    <button class="saveBtn finalBtn">PNU 없이 선택</button>
                </div>

            </div>
        </div>
    </div>
    <!-- script -->
    <script src="/js/jisang/landRightMerge.js"></script>
    <script type="module" src="/js/module/surfaceMain.js"></script>
    </th:block>
</body>
</html>