<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- 팝업 공통 css -->
    <link rel="stylesheet" href="/assets/css/popup/popupEasementModification2.css" />
    <!-- js 테스트 -->
    <script src="/js/common/land_searchResultsPopup2.js"></script>
</head>

<body>
    <!-- 사용승락 팝업 -->
    <div id="land_searchResultsPopup">
        <div class="popupWrap open active">
            <h2>
                <p>주소 검색 - [N] - [[${test}]]</p>
                <span class="topCloseBtn"></span>
            </h2>
            <div class="selectInfo">
                
                <div class="depth2">
                    <div class="selectContBox">
                        <div class="selectCont">
                            <ul class="titles">
                                <li class="title">주소</li>
                            </ul>
                            <ul class="contents">
                            	<!-- 시도 [S] -->
                                <li class="content popSelectWrap">
                                    <div class="hiddenSelectBox">
                                        <!-- name도 추가 -->
                                        <select name="landSearchSelectBox02" id="sidoSelectBox" th:each="val:${sidoList}" hidden>
                                            <option th:value="${val.sido_nm}">[[${val.sido_nm}]]</option>
                                        </select>
                                    </div>
                                    <section class="PopupCustomSelectBox" onclick="selectSido(this)">
                                        <button class="PopupCustomSelectView" id="sidoSelectValue">선택</button>
                                        <ul class="PopupCustomSelectBtns" id="sidoSelectUl">
                                            <!-- <li><button class="PopupMoreSelectBtn">선택1</button></li>
                                            <li><button class="PopupMoreSelectBtn">선택2</button></li>
                                            <li><button class="PopupMoreSelectBtn">선택3</button></li> -->
                                        </ul>
                                    </section>
                                </li>
                                <!-- 시도 [E] -->
                                
                                <!-- 시군구 [S] -->
                                <li class="content popSelectWrap">
                                    <div class="hiddenSelectBox">
                                        <!-- name도 추가 -->
                                        <select name="landSearchSelectBox03" id="sigunguSelectBox" hidden>
                                            <option value="선택1">선택1</option>
                                            <option value="선택2">선택2</option>
                                            <option value="선택3">선택3</option>
                                        </select>
                                    </div>
                                    <section class="PopupCustomSelectBox" onclick="selectSigungu(this)">
                                        <button class="PopupCustomSelectView" id="sigunguSelectValue">선택</button>
                                        <ul class="PopupCustomSelectBtns" id="sigunguSelectUl">
                                            <li>
                                                <button class="PopupMoreSelectBtn">선택1</button>
                                            </li>
                                            <li>
                                                <button class="PopupMoreSelectBtn">선택2</button>
                                            </li>
                                            <li>
                                                <button class="PopupMoreSelectBtn">선택3</button>
                                            </li>
                                        </ul>
                                    </section>
                                </li>
                                <!-- 시군구 [E] -->
                                
                                <!-- 읍면동 [S] -->
                                <li class="content popSelectWrap">
                                    <div class="hiddenSelectBox">
                                        <!-- name도 추가 -->
                                        <select name="landSearchSelectBox04" id="emdSelectBox" hidden>
                                            <option value="선택1">선택1</option>
                                            <option value="선택2">선택2</option>
                                            <option value="선택3">선택3</option>
                                        </select>
                                    </div>
                                    <section class="PopupCustomSelectBox" onclick="selectEmd(this)">
                                        <button class="PopupCustomSelectView" id="emdSelectValue">선택</button>
                                        <ul class="PopupCustomSelectBtns" id="emdSelectUl">
                                            <!-- <li><button class="PopupMoreSelectBtn">선택1</button></li>
                                            <li><button class="PopupMoreSelectBtn">선택2</button></li>
                                            <li><button class="PopupMoreSelectBtn">선택3</button></li> -->
                                        </ul>
                                    </section>
                                </li>
                                <!-- 읍면동 [E] -->
                                
                                <!-- 리 [S] -->
                                <li class="content popSelectWrap">
                                    <div class="hiddenSelectBox">
                                        <!-- name도 추가 -->
                                        <select name="landSearchSelectBox05" id="riSelectBox" hidden>
                                            <option value="선택1">선택1</option>
                                            <option value="선택2">선택2</option>
                                            <option value="선택3">선택3</option>
                                        </select>
                                    </div>
                                    <section class="PopupCustomSelectBox" onclick="selectRi(this)">
                                        <button class="PopupCustomSelectView" id="riSelectValue">선택</button>

                                        <ul class="PopupCustomSelectBtns" id="riSelectUl">
                                            <!-- <li><button class="PopupMoreSelectBtn">선택1</button></li>
                                            <li><button class="PopupMoreSelectBtn">선택2</button></li>
                                            <li><button class="PopupMoreSelectBtn">선택3</button></li> -->
                                        </ul>
                                    </section>
                                </li>
                                <!-- 리 [E] -->
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="depth3" style="display:flex;">
                	<!-- 산여부[S] -->
                	<div class="selectContBox" style="padding-right:30px;">
                        <div class="selectCont">
                            <ul class="titles">
                                <li class="title">산여부</li>
                            </ul>
                            <ul class="contents">
                                <li class="content">
                                    <input type="checkbox" id="sanCheckYn" />
                                    <label for="sanCheckYn" style="background: #adb6c1; margin-top:10px; margin-left:8px;"></label>
                                </li>
                            </ul>
                        </div>
                    </div>
                	<!-- 산여부[E] -->
                	<!-- 본번[S] -->
                	<div class="selectContBox">
                        <div class="selectCont">
                            <ul class="titles">
                                <li class="title">본번</li>
                            </ul>
                            <ul class="contents">
                                <li class="content">
                                    <input type="text" placeholder="본번입력" id="bonbunInputBox" maxlength="4" oninput="onlyNumberInput(this)"/>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- 본번[E] -->
                    <!-- 부번[S] -->
                    <div class="selectContBox">
                        <div class="selectCont">
                            <ul class="titles">
                                <li class="title">부번</li>
                            </ul>
                            <ul class="contents">
                                <li class="content">
                                    <input type="text" placeholder="부번입력" id="bubunInputBox" maxlength="4" oninput="onlyNumberInput(this)"/>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- 부번[E] -->
                </div>
                <button class="searchBtn finalBtn vividBlueBtn" onclick="commonAddressSearchGo()">조회하기</button>
            </div>

            <div class="popupCont">
                <ul class="popTitles">
                    <li class="selectLabel">선택</li>
                    <li class="popTitle_address">주소</li>
                    <li class="popTitle_num">지번</li>
                </ul>
                <div class="popContentBox" id="targetSearchAddrList_body">
                    <ul class="popContents">
                        <li class="popContent selectLabel">
                            <input type="checkbox" id="PopupLandCheckBoxResult01" />
                            <label for="PopupLandCheckBoxResult01"></label>
                        </li>
                        <li class="popContent popTitle_address">
                            충청북도 청주시 홍덕구 수의동 62-14
                        </li>
                        <li class="popContent popTitle_num">62-14</li>
                    </ul>
                    
                    <ul class="popContents">
                        <li class="popContent selectLabel">
                            <input type="checkbox" id="PopupLandCheckBoxResult11" />
                            <label for="PopupLandCheckBoxResult11"></label>
                        </li>
                        <li class="popContent popTitle_address">
                            충청북도 청주시 홍덕구 수의동 62-14
                        </li>
                        <li class="popContent popTitle_num">62-14</li>
                    </ul>
                    
                    <ul class="popContents">
                        <li class="popContent selectLabel">
                            <input type="checkbox" id="PopupLandCheckBoxResult12" />
                            <label for="PopupLandCheckBoxResult12"></label>
                        </li>
                        <li class="popContent popTitle_address">
                            충청북도 청주시 홍덕구 수의동 62-14
                        </li>
                        <li class="popContent popTitle_num">62-14</li>
                    </ul>
                    
                    <ul class="popContents">
                        <li class="popContent selectLabel">
                            <input type="checkbox" id="PopupLandCheckBoxResult13" />
                            <label for="PopupLandCheckBoxResult13"></label>
                        </li>
                        <li class="popContent popTitle_address">
                            충청북도 청주시 홍덕구 수의동 62-14
                        </li>
                        <li class="popContent popTitle_num">62-14</li>
                    </ul>
                </div>
            </div>

            <div class="lastBtnBox btnWrap">
            	<!-- 닫기 버튼은 common.js에서 작동 -->
                <button class="backBtn grayBtn finalBtn" onclick="commonAddressSearchPopupClose()">닫기</button>
                <button class="vividBlueBtn finalBtn" onclick="selectTargetAddress()">선택등록</button>
                <button class="grayBtn finalBtn" id="makeNewPNU_Btn" onclick="makeNewPNU_Go()">PNU 생성</button>
            </div>
        </div>
    </div>
    <script>
    /*
    const landcreatePopCustomLiResult = () => {
        // hiddenSelectBox와 PopupCustomSelectBox를 묶는 큰 wrap
        const popSelectWrapItems = document.querySelectorAll(
            "#land_searchResultsPopup .popSelectWrap"
        );

        popSelectWrapItems.forEach((contentItem) => {
            // 그 안에 있는 select를 선택
            const nowIssueSelectBox = contentItem.querySelector("select");
            // select가 없으면 return
            if (!nowIssueSelectBox) return;

            const popCustomSelectBox = contentItem.querySelector(
                ".PopupCustomSelectBox"
            );
            const popCustomSelectBtns = popCustomSelectBox.querySelector(
                ".PopupCustomSelectBtns"
            );

            for (let i = 0; i < nowIssueSelectBox.length; i++) {
                const optionValue = nowIssueSelectBox.options[i].value;
                const li = document.createElement("li");
                const button = document.createElement("button");
                button.classList.add("PopupMoreSelectBtn");
                button.type = "button";
                button.textContent = optionValue;
                li.appendChild(button);
                popCustomSelectBtns.appendChild(li);
            }
        });
    };
	*/
	
    //landcreatePopCustomLiResult();

    // 팝업 select click 시 .PopupCustomSelectBtns 나오게
	/*
    const customSelectView = document.querySelectorAll(
        "#land_searchResultsPopup .PopupCustomSelectView"
    );

    customSelectView.forEach((btn) => {
        btn.addEventListener("click", function() {
            btn.classList.toggle("active");
            if (btn.nextElementSibling) {
                btn.nextElementSibling.classList.toggle("active");
            }
        });
    });
	*/
    // 대분류, 중분류, 소분류 안에 button click 했을 때 해당 내용으로 바뀌게하기
	/*
    const PopupMoreSelectBtn = document.querySelectorAll(
        "#land_searchResultsPopup .PopupMoreSelectBtn"
    );

    PopupMoreSelectBtn.forEach((moreBtn) => {
        moreBtn.addEventListener("click", function() {
            var moreBtnText = moreBtn.innerText;
            console.log(moreBtnText);
            const parentMoreBtn = moreBtn.closest(".PopupCustomSelectBtns");
            const editViewBtn = parentMoreBtn.previousElementSibling;

            while (editViewBtn.firstChild) {
                editViewBtn.removeChild(editViewBtn.firstChild);
            }

            const textNode = document.createTextNode(moreBtnText);
            editViewBtn.appendChild(textNode);

            editViewBtn.classList.remove("active");
            parentMoreBtn.classList.remove("active");

            // 선택한 걸 select의 value값으로 변경하기

            // 팝업은 popSelectWrap로 묶는다
            const nearByContent = moreBtn.closest(".popSelectWrap");
            const nearBySelectBox = nearByContent.querySelector("select");
            nearBySelectBox.value = moreBtn.textContent;
            console.log(`Selected value: ${nearBySelectBox.value}`);
        });
    });

    // 저장, 닫기 버튼 click시 팝업 사라지게

    const landPopupFinalBtns = document.querySelector(
        "#land_searchResultsPopup .popupWrap .lastBtnBox .finalBtn"
    );

    landPopupFinalBtns.addEventListener("click", function() {
        const PopupWrap = landPopupFinalBtns.closest(".popupWrap");
        PopupWrap.classList.remove("active");
    });


    // x 버튼 click시 팝업 사라지게
    const landtopCloseBtn = document.querySelector(
        "#land_searchResultsPopup .popupWrap .topCloseBtn"
    );

    landtopCloseBtn.addEventListener("click", function() {
        const PopupWrap = landtopCloseBtn.closest(".popupWrap");
        PopupWrap.classList.remove("active");
    });
    */
    </script>
</body>

</html>