<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      
      layout:decorate="~{layout/default_layout}">
 <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css" />  
	<link th:href="@{/css/common.css}" rel="stylesheet" />
 <!--<link rel="stylesheet" href="/css/menu01/menu01_1.css" />-->
	<link rel="stylesheet" href="/css/jisang/menu02_1.css" />
	  <script src="/vendor/exceljs.min.js"></script> 
	 <script src="/js/jisang/menu02_1.js"></script>
	 <!-- <script type="text/javascript" src="https://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
		<link rel="stylesheet" type="text/css" href="//code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css"> -->
		<style>
			div.dt-top-container {
				display: grid;
				grid-template-columns: auto auto auto;
			}
			div.dt-center-in-div {
			  margin: 0 auto;
			      float: right;
			    margin-right: 30px;
			}
			div.dt-center-in-div>div{
			display:inline;
			}
			div.dt-filter-spacer {
			  margin: 10px 0;
			  border:1px solid red;
			}
			.dt-title{
			text-align:center;
			width:180px;
			float:left;
			}
			.dt-buttons{
			display:inline-block;
			width:180px;
			}
			.dt-length{
			display:inline-block;
			}
			.dt-button{
			color:white;
			background-color:#4e5871;
			font-size:15px;
			font-weight:600;
			border-radius:10px;
			background-image:url(/assets/media/menu01/download.png);
			background-size:11px;
			background-repeat:no-repeat;
			background-position:123px center;
			/*text-align:left;*/
			margin-right:10px;
			width:159px;
			height:38px;
			}			
			.dt-paging {
			text-align: center;
			}			
			.dt-paging-button {
			  box-sizing: border-box;
			  display: inline-block;
			  min-width: 1.5em;
			  padding: 0.5em 1em;
			  margin-left: 2px;
			  text-align: center;
			  text-decoration: none !important;
			  cursor: pointer;
			  border: 1px solid transparent;
			  border-radius: 2px;
			  background: transparent;
			  color: #007bff !important;
			  font-size: 15px;
			  font-weight: 600;
			}			
			.bottom{
			text-align:center;
			}
			.top{
			text-align:right;
			margin:10px;
			}
		</style>
		<title>지상권 내역 조회</title>
	</head>
<th:block layout:fragment="content">
	<input type="hidden" id="loginJisa" th:value="${loginJisa}"/>
    <!-- Begin Page Content -->
    <!--권리확보현황-->
    <div id="dopcoSurfacePart">
      <!--header삽입-->

      <div class="surfacePartWrappers" style="margin-left:100px;">
        <div class="surfacePartTitleBoxs">
          <h5>지상권 내역 조회</h5>
        </div>
       <form id="searchForm" onSubmit="return false;">
      
        <section class="surfaceSectionBoxs">
          <div class="surfacePartSectionCont">
            <div class="surfacePartSectionContDevide">
            
              <!-- 지사 -->
              <ul class="selectContent sectionMenuListBoxs">
                <li class="selectTitle"><p>지사</p></li>
                <div class="selectWrappers">
                  <select name="jisa" class="menuHiddenSelect01" id="menuHiddenSelectBox01_1" hidden>
                    <option value="">전체</option>
                     <th:block th:each="val:${jisaList}">
	                    <option th:text="${val.jm_jisa_name}" th:value="${val.jm_jisa_name}"></option>
	                 </th:block>
                  </select>
                </div>
                <div class="surfaceSelects">
                  <button type="button" class="surfaceSelectsTitleBtn" id="jisaNameDiv">전체</button>
                  <div class="sufaceSelectList">
                    <ul class="surfaceSelectListMember" id="jisaUl">
                      <li>
                      	<p>전체</p>
                      </li>
	                      <th:block th:each="val:${jisaList}">
	                          <li><p th:text="${val.jm_jisa_name}"></p></li>
	                      </th:block>
                    </ul>
                  </div>
                </div>
              </ul>
							
							<!--소유자-->
              <ul class="inputControlBoxs sectionMenuListBoxs">
                <li class="selectTitle"><p>소유자</p></li>
                <div class="inputControlList">
                  <input type="text" name="souja"/>
                </div>
              </ul>
							
							<!--자산분류번호-->
              <ul class="inputControlBoxs sectionMenuListBoxs">
                <li class="selectTitle"><p>자산분류번호</p></li>
                <div class="inputControlList">
                  <input type="text" name="jasan_no"/>
                </div>
              </ul>

							<!--등기여부-->
              <ul class="selectContent sectionMenuListBoxs">
                <li class="selectTitle"><p>등기여부</p></li>
                <div class="selectWrappers">
                  <select
                    name="comple_yn"
                    class="menuHiddenSelect01"
                    id="menuHiddenSelectBox01_2"
                    hidden>
                    <option value="">전체</option>
                    <option value="Y">Y</option>
                    <option value="N">N</option>
                  </select>
                </div>
                <div class="surfaceSelects">
                  <button class="surfaceSelectsTitleBtn">전체</button>
                  <div class="sufaceSelectList smallHeight">
                    <ul class="surfaceSelectListMember">
                      <li><p>전체</p></li>
                      <li><p>Y</p></li>
                      <li><p>N</p></li>
                    </ul>
                  </div>
                </div>
              </ul>
							
							<!--취득기간-->
              <ul class="inputControlBoxs sectionMenuListBoxs">
                <li class="selectTitle"><p>취득기간</p></li>
                <div class="inputControlList dateListBox">
                  <input type="date" name="start_date"/>
                  <span>-</span>
                  <input type="date" name="end_date"/>
                </div>
              </ul>
							
							<!--회계처리 필요여부-->
							<ul class="selectContent sectionMenuListBoxs">
								<li class="selectTitle">
									<p>회계처리 필요여부</p>
								</li>
								<div class="selectWrappers">
									<select name="account_yn" class="menuHiddenSelect01" id="menuHiddenSelectBox01_3" hidden>
										<option value="">전체</option>
										<option value="Y">Y</option>
										<option value="N">N</option>
							
									</select>
								</div>
								<div class="surfaceSelects">
									<button class="surfaceSelectsTitleBtn">전체</button>
									<div class="sufaceSelectList smallHeight">
										<ul class="surfaceSelectListMember">
											<li>
												<p>전체</p>
											</li>
											<li>
												<p>Y</p>
											</li>
											<li>
												<p>N</p>
											</li>
										</ul>
									</div>
								</div>
							</ul>
							
							<!--지목-->
							<ul class="selectContent sectionMenuListBoxs">
									<li class="selectTitle">
										<p>지목</p>
									</li>
									
									<div class="selectWrappers">
										<select name="jimok_type" class="menuHiddenSelect01" id="menuHiddenSelectBox01_4" multiple="multiple" hidden>
											<th:block th:each="val:${resultJimokList}">
												<option th:text="${val.jm_name}" th:value="${val.jm_name}"></option>
											</th:block>
										</select>
									</div>
									
									<!--보여지는 셀렉박스-->
									<div class="surfaceSelects widthAdd">
										<button class="surfaceSelectsTitleBtn">전체</button>
										<div class="sufaceSelectList scrollAdd">
											<div class="hiddenBoxs">
												<div class="addChoiceBoxs">
													<h5>선택된 항목</h5>
													<button class="resetBtn">초기화</button>
												</div>
												<div class="addChoiceCont">
													<ul class="choiceCheckWrapper"></ul>
												</div>
												<div class="addChoiceBoxs">
													<h5>지목선택</h5>
												</div>
											</div>
											<ul class="surfaceSelectListMember checkBoxsContent">
												<th:block th:each="val, iterStat : ${resultJimokList}">
													<li>
														<input type="checkbox"
															th:id="${iterStat.index < 9} ? 'companylandCheckBox0' + ${iterStat.index + 1} : 'companylandCheckBox' + ${iterStat.index + 1}"
															name="inquireCheckCont01" />
														<!-- 인덱스를 이용하여 for 속성 값 동적 할당 -->
														<label
															th:for="${iterStat.index < 9} ? 'companylandCheckBox0' + ${iterStat.index + 1} : 'companylandCheckBox' + ${iterStat.index + 1}"></label>
														<p th:text="${val.jm_name}">지목</p>
													</li>
													<th:block>
											</ul>
										</div>
										<div class="checkboxRegisterBtnWrap">
											<div class="surfaceInquireSelectRegisterBtnBoxs">
												<button class="closeSelectCheckBtn">닫기</button>
												<button class="completeSelectCheckBtn">선택등록</button>
											</div>
										</div>
									</div>
								</ul>
            </div>
						
            <!-- 라디오버튼 있는 섹션-->
            <div class="surfacePartSectionContDevide">
              <p class="devideSecondTitles">주소</p>
              <div class="surfacePartSectionRadioBoxs">
                <ul class="radioBoxs">
                  <li>
                    <input type="radio" name="askMenu01" value="0" checked/><span>입력형</span>
                  </li>
                  <li class="addressInput">
                    <input name="addressFull"
                      type="search"
                      placeholder="주소입력"
                      class="searchInputBox01" />
                  </li>
                </ul>
                <ul class="radioBoxs menuRadioEvet01">
                  <li>
                    <input type="radio" name="askMenu01" value="1"/><span>선택형</span>
                  </li>
                  <li>
                  <div class="selectWrappers">
	                  <select name="sido" id="sido" hidden>
	                    <option value="">전체</option>
	                   <th:block th:each="val:${sidoList}">
	                    <option th:text="${val.sm_name}" th:value="${val.sm_name}"></option>
	                    </th:block>
	                  </select>
                	</div>
                    <div class="surfaceSelects">
                      <button class="surfaceSelectsTitleBtn" id="sidoText">전체</button>
                      <div class="sufaceSelectList smallHeight">
                        <ul class="surfaceSelectListMember">
                          <li><p>전체</p></li>
                          <th:block th:each="val:${sidoList}">
                          <li><p th:text="${val.sm_name}">Y</p></li>
                          <th:block>
                        </ul>
                      </div>
                    </div>
                  </li>
                  <li>
                  	<div class="selectWrappers">
	                  <select name="sgg" id="sgg" hidden>
	                   <option value="">전체</option>
	                  </select>
	                </div>
                    <div class="surfaceSelects">
                      <button class="surfaceSelectsTitleBtn" id="sggText">전체</button>
                      <div class="sufaceSelectList smallHeight">
                        <ul class="surfaceSelectListMember" id="sggUl">
                          <li><p>전체</p></li>
                        <!--   <th:block th:each="sido:${sidolist}">
                          	<li><p th:text="${sido.sm_name}"></p></li>
                          </th:block> -->
                        </ul>
                      </div>
                    </div>
                  </li>
                  <li>
                  	<div class="selectWrappers">
	                  <select name="emd" id="emd" hidden>
	                  <option value="">전체</option>
	                  </select>
	                </div>
                    <div class="surfaceSelects">
                      <button class="surfaceSelectsTitleBtn"  id="emdText">전체</button>
                      <div class="sufaceSelectList smallHeight">
                        <ul class="surfaceSelectListMember" id="emdUl">
                          <li><p>전체</p></li>
                        </ul>
                      </div>
                    </div>
                  </li>
                  <li>
                  	<div class="selectWrappers">
	                  <select name="ri" id="ri" hidden>
	                  <option value="">전체</option>
	                  </select>
	                </div>
                    <div class="surfaceSelects">
                      <button class="surfaceSelectsTitleBtn"  id="riText">전체</button>
                      <div class="sufaceSelectList smallHeight">
                        <ul class="surfaceSelectListMember" id="riUl">
                          <li><p>전체</p></li>
                        </ul>
                      </div>
                    </div>
                  </li>
                  <li style="padding: 0px 3px">
                    <div class="inputControlList">
                      <input name="jibun" id="jibun"
                        type="text"
                        placeholder="지번입력"
                        class="menuAdderssInput01" />
                    </div>
                  </li>
                </ul>
              </div>
              <!--surfacePartSectionRadioBoxs-->
              <div class="surfacePartSectionBtnBoxs">
                <button class="registerBtn" id="registerBtn">조회하기</button>
<!--                <a-->
<!--                  class="queryBtn"-->
<!--                  href="/land/songyu/notsetAdd"-->
<!--                  >미설정 / 미점용 등록</a>-->
              </div>
            </div>
          </div>
          <!--surfacePartSectionCont-->
        </section>
        </form>
        
      
        <main>
          <div class="surfaceMainContentWrapper">
            <div class="surfaceMainContent">
              <div class="dataTitles">
                <h5>총 검색 건 수<span id="dataTableTotalCount"></span>건</h5>
                  </div>
                </div>
              </div>
               
               <div class="">
				<table id="userTable" class="cell-border nowrap" style="width:120%;" >
				    <thead>
				        <tr>
				            <th >순번</th>
				            <th >담당지사</th>
				            <th >주소</th>
				            <th>자산분류번호</th>
				            
				            <th>지목</th>
				            <th>소유자</th>
				            <th>지적면적</th>
				            <th>편입면적</th>
				            <th>취득일</th>
				            <th>등기여부</th>
				            <th>등기일</th> <!-- 11 -->
				            <th>사용승락여부</th>
				            <th>지도</th>
				        </tr>
				    </thead>
				    <!-- tbody 태그 필요 없다. -->
				</table>
			  </div>
              
              <!-- 데이터박스 -->
              
              <!--dataBoxswrappers-->
              
              <!--boardPageBoxs-->
              
            </div>
          </div>
        </main>
      </div>
    </div>
    <script type="module" src="/js/module/surfaceMain.js"></script>
    <script src="/js/menu01/menuLinkEvet.js"></script>
    <script src="/js/menu01/radioEvet.js"></script>
    <script src="/js/menu01/resultPageEvet.js"></script>
</th:block>
</html>