<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      
      layout:decorate="~{layout/default_layout}">
 <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      as="style"
      crossorigin
      href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css" />
  



 
  
   
  
	  <link th:href="@{/css/common.css}" rel="stylesheet" />
	
 <link rel="stylesheet" href="/css/jisang/menu02_3.css" />
		<!-- <script type="text/javascript" src="https://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
		<link rel="stylesheet" type="text/css" href="//code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css"> -->
		<style>
		div.dt-top-container {
  display: grid;
  grid-template-columns: auto auto auto;
}

div.dt-center-in-div {
  margin: 0 auto;
      float: right;
    margin-right: 30px;
   
}
div.dt-center-in-div>div{

display:inline;
}

div.dt-filter-spacer {
  margin: 10px 0;
  border:1px solid red;
}


.dt-title{

text-align:center;
width:180px;
float:left;

}
.dt-buttons{
display:inline-block;

width:180px;

}
.dt-length{
display:inline-block;
}
.dt-button{

color:white;
background-color:#4e5871;
font-size:15px;
font-weight:600;
border-radius:10px;
background-image:url(/assets/media/menu01/download.png);
background-size:11px;
background-repeat:no-repeat;
background-position:123px center;
text-aline:left;
margin-right:10px;
width:159px;
height:38px;

}

.dt-paging {
text-align: center;
}

.dt-paging-button {
  box-sizing: border-box;
  display: inline-block;
  min-width: 1.5em;
  padding: 0.5em 1em;
  margin-left: 2px;
  text-align: center;
  text-decoration: none !important;
  cursor: pointer;
  
  border: 1px solid transparent;
  border-radius: 2px;
  background: transparent;
  color: #007bff !important;
    font-size: 15px;
    font-weight: 600;
    
    
}

.bottom{
text-align:center;

}
.top{

text-align:right;
margin:10px;

}

		</style>
		
    <title>지상권 내역 조회</title>
  </head>
<th:block layout:fragment="content">
    <!--지상권분할-->
    <div id="dopcosurfaceInquire03">
      <!--header삽입-->
      <div class="inquire_header03"></div>
      <div class="surfaceInquireWrappers">
        <div class="surfaceInquireTitleBoxs">
          <h5>지상권 분할</h5>
        </div>
        <form id="searchForm" onSubmit="return false;">
        <section class="surfaceInquireSectionBoxs">
          <div class="surfaceInquireSectionCont">
            <div class="surfaceInquireSectionContDevide">
              <ul class="selectContent sectionMenuListBoxs">
                <li class="selectTitle"><p>지사</p></li>
                <!--수정부분 지사-->
                <div class="surfaceInquireSelectWrappers">
                  <select
                    name="jisa"
                    class="surfaceInquireHiddenSelect03"
                    id="surfaceInquireSelectBox03_1"
                    hidden>
                    <option value="">전체</option>
                    <th:block th:each="val:${jisaList}">
                      <option th:text="${val.jm_jisa_name}" th:value="${val.jm_jisa_name}"></option>
                    </th:block>
                  </select>
                </div>
                <!--보여지는 셀렉박스-->
                <div class="surfaceInquireSelects">
                  <button class="surfaceInquireSelectsTitleBtn">전체</button>
                  <div class="sufaceSelectList">
                    <ul class="surfaceSelectListMember"> <li><p>전체</p></li>
                      <th:block th:each="val:${jisaList}">
                        <li><p th:text="${val.jm_jisa_name}">Y</p></li>
                      </th:block>
                    </ul>
                  </div>
                </div>
              </ul>
              <ul class="inputControlBoxs sectionMenuListBoxs">
                <li class="selectTitle"><p>소유자</p></li>
                <div class="inputControlList">
                  <input type="text"  name="souja" />
                </div>
              </ul>
              <ul class="inputControlBoxs sectionMenuListBoxs">
                <li class="selectTitle"><p>자산분류번호</p></li>
                <div class="inputControlList">
                  <input type="text" name="jasan_no"/>
                </div>
              </ul>
              <ul class="selectContent sectionMenuListBoxs">
                <li class="selectTitle"><p>회계처리 필요여부</p></li>
                <!--수정부분 지사-->
                <div class="surfaceInquireSelectWrappers">
                  <select
                    name="account_yn"
                    class="surfaceInquireHiddenSelect03"
                    id="surfaceInquireSelectBox03_2"
                    hidden>
                    <option value="">전체</option>
                    <option value="Y">Y</option>
                    <option value="N">N</option>
                  </select>
                </div>
                <!--보여지는 셀렉박스-->
                <div class="surfaceInquireSelects">
                  <button class="surfaceInquireSelectsTitleBtn">전체</button>
<!--                  <div class="sufaceSelectList extrasmallHeight">-->
<!--                    <ul class="surfaceSelectListMember selectChoice"></ul>-->
                  <div class="sufaceSelectList smallHeight">
                    <ul class="surfaceSelectListMember">
                      <li><p>전체</p></li>
                      <li><p>Y</p></li>
                      <li><p>N</p></li>
                    </ul>
                  </div>
                </div>
              </ul>
            </div>
            <!-- 라디오버튼 있는 섹션-->
            <div class="surfaceInquireSectionContDevide">
              <p class="devideSecondTitles">주소</p>
              <div class="surfaceInquireSectionRadioBoxs">
                <ul class="radioBoxs">
                  <li>
                    <input type="radio"  name="askMenu01" value="0" checked/><span >입력형</span >
                  </li>
                  <li class="addressInput">
                    <input name="addressFull"
                      type="search"
                      placeholder="주소입력"
                      class="searchInputBox03" />
                  </li>
                </ul>
                <ul class="radioBoxs menuRadioEvet03">
                  <li>
                    <input type="radio" name="askMenu01" value="1"/><span >선택형</span>
                  </li>
                  <li>
                    <!--수정부분 지사-->
                    <div class="surfaceInquireSelectWrappers">
                      <select name="sido" id="sido" hidden>
                        <option value="">전체</option>
                        <th:block th:each="val:${sidoList}">
                          <option th:text="${val.sm_name}" th:value="${val.sm_name}"></option>
                        </th:block>
                      </select>
                    </div>
                    <!--보여지는 셀렉박스-->
                    <div class="surfaceInquireSelects">
                      <button class="surfaceInquireSelectsTitleBtn" id="sidoText">전체</button>
                      <div class="sufaceSelectList smallHeight">
                        <ul class="surfaceSelectListMember">
                          <li><p>전체</p></li>
                          <th:block th:each="val:${sidoList}">
                            <li><p th:text="${val.sm_name}">Y</p></li>
                            <th:block>

                        </ul>
                      </div>
                    </div>
                  </li>
                  <li>
                    <!--수정부분 지사-->
                    <div class="surfaceInquireSelectWrappers">
                      <select name="sgg" id="sgg" hidden>
                        <option value="">전체</option>
                      </select>
                    </div>
                    <!--보여지는 셀렉박스-->
                    <div class="surfaceInquireSelects">
                      <button class="surfaceInquireSelectsTitleBtn" id="sggText">전체</button>
                      <div class="sufaceSelectList smallHeight">
                        <ul class="surfaceSelectListMember" id="sggUl">
                          <li><p>전체</p></li>
                          <!--   <th:block th:each="sido:${sidolist}">
                                <li><p th:text="${sido.sm_name}"></p></li>
                            </th:block> -->

                          <li><p>N</p></li>
                        </ul>
                      </div>
                    </div>
                  </li>
                  <li>
                    <!--수정부분 지사-->
                    <div class="surfaceInquireSelectWrappers">
                      <select name="emd" id="emd" hidden>
                        <option value="">전체</option>
                      </select>
                    </div>
                    <!--보여지는 셀렉박스-->
                    <div class="surfaceInquireSelects">
                      <button class="surfaceInquireSelectsTitleBtn" id="emdText">전체</button>
                      <div class="sufaceSelectList smallHeight">
                        <ul class="surfaceSelectListMember" id="emdUl">
                          <li><p>전체</p></li>
                          <li><p>Y</p></li>
                          <li><p>N</p></li>
                        </ul>
                      </div>
                    </div>
                  </li>
                  <li>
                    <!--수정부분 지사-->
                    <div class="surfaceInquireSelectWrappers">
                      <select name="ri" id="ri" hidden>
                        <option value="">전체</option>
                      </select>
                    </div>
                    <!--보여지는 셀렉박스-->
                    <div class="surfaceInquireSelects">
                      <button class="surfaceInquireSelectsTitleBtn" id="riText">전체</button>
                      <div class="sufaceSelectList smallHeight">
                        <ul class="surfaceSelectListMember" id="riUl">
                          <li><p>전체</p></li>
                          <li><p>Y</p></li>
                          <li><p>N</p></li>
                        </ul>
                      </div>
                    </div>
                  </li>
                  <li style="padding: 0px 3px">
                    <div class="inputControlList">
                      <input
                        type="text"
                        placeholder="지번입력"
                        class="menuAdderssInput03" />
                    </div>
                  </li>
                </ul>
              </div>
              <!--surfaceInquireSectionRadioBoxs-->
              <div class="surfaceInquireSectionBtnBoxs">
                <button class="surfaceInquireRegisterBtn" id="registerBtn">조회하기</button>
              </div>
            </div>
          </div>
          <!--surfaceInquireSectionCont-->
        </section>
        </form>
        <main>
          <div class="surfaceInquireMainContentWrapper">
            <div class="surfaceInquireMainContent">
              <div class="dataTitles">
                <h5>총 검색 건 수<span id="dataTableTotalCount">154</span>건</h5>
                  </div>
                </div>
              </div>

          <div class="">
            <table id="userTable" class="cell-border nowrap" style="width:130%;" >
              <thead>
              <tr>
                <th >순번</th>
                <th >담당지사</th>
                <th >주소</th>
                <th>자산분류번호</th>
                <th>지목</th>
                <th>소유자</th>
                <th>지적면적</th>
                <th>편입면적</th>
                <th>취득일</th>
                <th>등기일</th>
                <th>분할된 지번</th>
                <th>분할요청일</th>
                <th>지도</th>
                <th>ECHO 문서보기</th>


              </tr>
              </thead>
              <!-- tbody 태그 필요 없다. -->
            </table>

          </div>
            </div>
          </div>
        </main>
      </div>

  <div class="menu02_3JibunPopWrapper" id="searchResultPopDiv">

    <link rel="stylesheet" href="/assets/css/popup/issuePopup.css">
    <div id="searchResultsPopup">
      <div class="popupWrap" id="popupWrap">
        <h2>
          <p>지번 보기</p>
          <span class="topCloseBtn"></span>
        </h2>

        <div class="popupCont">
          <ul class="popTitles">
            <li class="popTitle01">주소</li>
            <li class="popTitle02">지번</li>
          </ul>

          <div class="popContentBox" >
            <ul class="popContents" th:each="val:${jibunList}">
              <li class="popContent01" th:text="${val.address}"></li>
              <li class="popContent02" th:text="${val.jibun}"></li>
            </ul>
<!--            <ul class="popContents">-->
<!--              <li class="popContent01">서울특별시 강서구 개화동</li>-->
<!--              <li class="popContent02">1-1</li>-->
<!--            </ul>-->
          </div>
        </div>

        <div class="lastBtnBox btnWrap">
          <button class="backBtn finalBtn">닫기</button>
        </div>
      </div>
    </div>

  </div>
    <div class="inquirePositionPopWrapper"></div>

    <script type="module" src="/components/surfaceMain.js"></script>
    <script src="/components/js/menu02/surfaceInquireLinkEvet.js"></script>
    <script src="/components/js/menu02/surfaceInquireradioEvet.js"></script>
    <script src="/components/js/menu01/resultPageEvet.js"></script>
<!--    <script src="/components/js/menu02/menu02_3.js"></script>-->
  <script src="/js/jisang/menu02_3.js"></script>
</th:block>
</html>
