<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default_layout}">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" as="style" crossorigin
	href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css" />

<link th:href="@{/css/common.css}" rel="stylesheet" />

<link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css" />
<link rel="stylesheet" href="/assets/css/popup//Issue_development_Popup.css" />

<link rel="stylesheet" href="/css/issue/complaintManage.css" />
<link rel="stylesheet" href="/css/issue/complaintRespond.css" />

<style>
div.dt-top-container {
	display: grid;
	grid-template-columns: auto auto auto;
}

div.dt-center-in-div {
	margin: 0 auto;
	float: right;
	margin-right: 30px;
}

div.dt-center-in-div>div {
	display: inline;
}

div.dt-filter-spacer {
	margin: 10px 0;
	border: 1px solid red;
}

.dt-title {
	text-align: center;
	width: 180px;
	float: left;
}

.dt-buttons {
	display: inline-block;
	width: 180px;
}

.dt-length {
	display: inline-block;
}

.dt-button {
	color: white;
	background-color: #4e5871;
	font-size: 15px;
	font-weight: 600;
	border-radius: 10px;
	background-image: url(/assets/media/menu01/download.png);
	background-size: 11px;
	background-repeat: no-repeat;
	background-position: 123px center;
	text-aline: left;
	margin-right: 10px;
	width: 159px;
	height: 38px;
}

.dt-paging {
	text-align: center;
}

.dt-paging-button {
	box-sizing: border-box;
	display: inline-block;
	min-width: 1.5em;
	padding: 0.5em 1em;
	margin-left: 2px;
	text-align: center;
	text-decoration: none !important;
	cursor: pointer;
	border: 1px solid transparent;
	border-radius: 2px;
	background: transparent;
	color: #007bff !important;
	font-size: 15px;
	font-weight: 600;
}

.bottom {
	text-align: center;
}

.top {
	text-align: right;
	margin: 10px;
}
.complaint_completed {
	width: 100% !important;
	padding: 0px !important;
	overflow-y: auto;
}

.complaintinfo_btns {
	clear: both !important;
}
/*// contentScr*/
.complaint_completed .popupWrap {
	height: 100%;
	overflow-y: auto;
}

.complaintManage_file,
.complaintManage_consult,
.complaintManage_togi {
	width: 100% !important;
	padding: 0px !important;
}

#complaint_completed ::-webkit-scrollbar {
	width: 4px;
}

#complaint_completed ::-webkit-scrollbar-thumb {
	height: 30%;
	border-radius: 10px;
	background: #d2d2d2;
}
</style>

<title>민원관리</title>
</head>
<th:block layout:fragment="content">
	<input type="hidden" id="serverName" th:value="${serverName}">
	<input type="hidden" id="minwon" th:value="${minwon}">
	<input type="hidden" id="minwonStatus" th:value="${minwon.mm_status}">
	<input type="hidden" id="minwonSeq" th:value="${minwon.mm_mw_seq}">
	<!-- 민원관리 -->
	<div class="complaintManageWrappers">
		<div class="complaintManageHeader"></div>
		<main id="complaintManage">
			<div class="mainTitle">
				<h1>민원관리</h1>
			</div>

			<div class="sectionBox contentScr">
				<section class="toolPlace">
					<div class="selectPlace">
						<div class="selectContentArea">
							<div class="hiddenSelectBox">
								<!-- id명, name명 변경 -->
								<select name="complaintManageSelectBox01" id="complaintManageSelectBox01" hidden>
									<option value="">민원발생보고</option>
									<option value="">민원대응방안수립보고</option>
									<option value="">민원완료보고</option>
								</select>
							</div>
							<section class="customSelectBox">
								<button class="customSelectView">문서선택</button>

								<ul class="customSelectBtns"></ul>
							</section>
						</div>
					</div>
					<!-- <button class="toolBtn viewBtn">문서보기</button> -->
					<button class="toolBtn viewBtn" th:if="${serverName == 'LOCAL'}" id="minwonResponsePopup">D_민원대응방안</button>
					<button class="toolBtn viewBtn" th:if="${serverName == 'LOCAL'}" onclick="minwonConsultPopupOpen()">D_민원협의</button>
					<button class="toolBtn viewBtn" th:if="${serverName == 'LOCAL'}" onclick="complaintPopupOpen()">D_민원완료</button>
					<button class="toolBtn viewBtn" th:if="${serverName == 'DEV'}">문서보기</button>
					<button class="toolBtn viewBtn" th:if="${serverName == 'REAL'}">문서보기</button>
					<button class="toolBtn completeBtn complainFinBtn">민원완료</button>
				</section>
				<section class="codeManagement">
					<div class="subTitle">
						<div class="subTitleText">민원 현황 상세</div>
					</div>

					<div class="contWrap">
						<div class="depth1">
							<ul class="rowListBox">
								<li class="title">민원 명</li>
								<li class="content">
									<input type="text" class="notWriteInput com_name" id="mwdetail_title" placeholder="" readonly />
								</li>
							</ul>
							<ul class="rowListBox">
								<li class="title">발생일자</li>
								<li class="content">
									<input type="text" class="notWriteInput occ_date" id="mwdetail_date" placeholder="" readonly />
								</li>
							</ul>
							<ul class="rowListBox">
								<li class="title">발생지사</li>
								<li class="content">
									<input type="text" class="notWriteInput jisa" id="mwdetail_jisa" placeholder="" readonly />
								</li>
							</ul>
							<ul class="rowListBox">
								<li class="title">이슈 유형</li>
								<li class="content">
									<input type="text" class="notWriteInput issue_type" id="mwdetail_issuetype" placeholder="" readonly />
								</li>
							</ul>
							<ul class="rowListBox">
								<li class="title">진행 현황</li>
								<li class="content">
									<input type="text" class="notWriteInput prog_status" id="mwdetail_prog_status" placeholder="" readonly />
								</li>
							</ul>
						</div>
						<div class="depth2">
							<div class="titleBox">
								<ul class="titles leftTitle">
									<li class="title divisionWidth">구분</li>
								</ul>
								<ul class="titles rightTitle">
									<li class="title smallWidth">순번</li>
									<li class="title smallWidth">성명</li>
									<li class="title">생년월일</li>
									<li class="title largeWidth">토지주와의 관계</li>
									<li class="title largeWidth">연락처</li>
									<li class="title">현장입회</li>
								</ul>
							</div>
							<div class="contentsWrap">
								<ul class="titles">
									<li class="title leftTitle">민원인/토지주</li>
								</ul>
								<div class="contentsBox" id="minwonin_tojiju_body">
								</div>
							</div>
						</div>
						<div class="depth3">
							<ul class="rowListBox">
								<li class="title">토지이력</li>
								<li class="content">
									<textarea readonly class="notWriteInput land_history" id="toji_history"></textarea>
								</li>
							</ul>
							<ul class="rowListBox">
								<li class="title">요구사항</li>
								<li class="content">
									<textarea readonly class="notWriteInput requirements" id="minwon_requirement"></textarea>
								</li>
							</ul>
							<ul class="rowListBox">
								<li class="title">내용</li>
								<li class="content">
									<textarea readonly class="notWriteInput land_contents"></textarea>
								</li>
							</ul>
						</div>
					</div>
				</section>

				<!-- 민원토지 -->
				<section class="complaintLand">
					<div class="subTitle">
						<div class="subTitleText">민원 토지</div>
					</div>

					<div class="contWrap">
						<div class="depth1">
							<ul class="titles">
								<li class="title">대표토지여부</li>
								<li class="title largeWidth">주소</li>
								<li class="title">등기 여부</li>
								<li class="title">계약 여부</li>
							</ul>
							<ul class="contents">
								<li class="content">
									<input type="text" readonly placeholder="" class="notWriteInput" />
								</li>
								<li class="content largeWidth">
									<input type="text" readonly placeholder="" class="notWriteInput" />
								</li>
								<li class="content">
									<input type="text" readonly placeholder="" class="notWriteInput" />
								</li>
								<li class="content">
									<input type="text" readonly placeholder="" class="notWriteInput" />
								</li>
							</ul>
						</div>
					</div>
				</section>

				<!-- 첨부파일 -->
				<section class="attachFileInfo">
					<div class="subTitle">
						<div class="subTitleText">첨부파일</div>
					</div>

					<div class="contWrap">
						<div class="depth1">
							<ul class="titles titleScr">
								<li class="title">날짜</li>
								<li class="title fileNameWidth">파일명</li>
								<li class="title">다운로드</li>
							</ul>
						</div>
					</div>
				</section>
				<!-- 협의내용 -->
				<section class="consultDetails">
					<div class="subTitle">
						<div class="subTitleText">협의 내용</div>
					</div>

					<div class="contWrap">
						<div class="depth1">
							<ul class="titles titleScr">
								<li class="title">일시</li>
								<li class="title smallWidth">진행 현황</li>
								<li class="title fileNameWidth">파일명</li>
								<li class="title">ECHO 문서보기</li>
							</ul>
						</div>
					</div>
				</section>
			</div>

			<div class="finalBtnBox btnWrap">
				<button class="backBtn" onclick="history.back();">이전</button>
				<button class="addBtn addComplainBtn">협의 추가</button>
			</div>
		</main>
	</div>
	<div class="complainManageaddComplainWrapper"></div>
	<div class="complainManageComplainFinishWrapper"></div>
	
	<!-- 민원 대응방안 수립[S] -->	
	<div id="complainRespondContentBoxs" style="display: none;">
        <div class="complainRespondPopWrap">
            <div class="complainRespondPopContent"  style="margin-bottom:900px">
                <div class="complainRespondPopTitles">
                    <h5>민원 대응방안 수립</h5>
                    <button class="complainRespondcloseBtn">
                        <img src="/assets/media/menu06/images/complaintResponMedia/closeBtn.png" alt="close" />
                    </button>
                </div>
                <div class="complainRespondBoxs">
                    <div class="complainRespondDatas">
                    		<!-- 민원명 -->
                        <ul class="complainRespondDataCont">
                            <li class="complainRespondDataTitle">
                                <p>민원명</p>
                            </li>
                            <li class="complainRespondNameBox"><input type="text" readonly th:value="${minwon.mm_mw_title}" /></li>
                        </ul>
                        <!-- 권리확보 -->
                        <ul class="complainRespondDataCont">
                            <li class="complainRespondDataTitle">
                                <p>권리확보</p>
                            </li>
                            <li>
                                <div class="complainRespondRadioBoxs">
                                    <input type="radio" name="complainRespondRights" value="지상권설정" /><span>지상권설정</span>
                                    <input type="radio" name="complainRespondRights" value="지상권미설정" /><span>지상권미설정</span>
                                    <input type="radio" name="complainRespondRights" value="점용" /><span>점용</span>
                                    <input type="radio" name="complainRespondRights" value="미점용" /><span>미점용</span>
                                </div>
                            </li>
                        </ul>
                        <!-- 계약여부 -->
                        <ul class="complainRespondDataCont">
                            <li class="complainRespondDataTitle">
                                <p>계약여부</p>
                            </li>
                            <li>
                                <div class="complainRespondRadioBoxs">
                                    <input type="radio" name="complainRespondContract" value="계약체결"><span>계약체결</span>
                                    <input type="radio" name="complainRespondContract" value="계약미체결"><span>계약미체결</span>
                                </div>
                            </li>
                        </ul>
                        <!-- 이슈유형 -->
                        <ul class="complainRespondDataCont">
                            <li class="complainRespondDataTitle">
                                <p>이슈유형</p>
                            </li>
                            <li class="complainRespondDataSelectWrapper">
                                <div class="complainRespondSelectBoxs">
                                    <ul class="complainRespondSelectContent">
                                        <!--수정부분 지사-->
                                        <div class="selectWrappers">
                                            <select name="" class="complainRespondHiddenSelect" id="complainRespondHiddenSelectBox01" multiple="multiple" hidden>
                                                <option value="대분류">대분류</option>
                                                <option value="이슈없음">이슈없음</option>
                                                <option value="추가보상 요구">추가보상 요구</option>
                                                <option value="지상권설정 오류">지상권설정 오류</option>
                                            </select>
                                        </div>
                                        <!--보여지는 셀렉박스-->
                                        <div class="surfaceSelects">
                                            <button class="complainRespondSelectTitleBtn"></button>
                                            <div class="sufaceSelectList">
                                                <ul class="surfaceSelectListMember"></ul>
                                            </div>
                                        </div>
                                    </ul>
                                    <ul class="complainRespondSelectContent">
                                        <!--수정부분 지사-->
                                        <div class="selectWrappers">
                                            <select name="" class="complainRespondHiddenSelect" id="complainRespondHiddenSelectBox02" multiple="multiple" hidden>
                                                <option value="중분류">중분류</option>
                                                <option value="중분류1">중분류1</option>
                                                <option value="중분류2">중분류2</option>
                                                <option value="중분류3">중분류3</option>
                                            </select>
                                        </div>
                                        <!--보여지는 셀렉박스-->
                                        <div class="surfaceSelects">
                                            <button class="complainRespondSelectTitleBtn"></button>
                                            <div class="sufaceSelectList">
                                                <ul class="surfaceSelectListMember"></ul>
                                            </div>
                                        </div>
                                    </ul>
                                    <ul class="complainRespondSelectContent">
                                        <!--수정부분 지사-->
                                        <div class="selectWrappers">
                                            <select name="" class="complainRespondHiddenSelect" id="complainRespondHiddenSelectBox03" multiple="multiple" hidden>
                                                <option value="소분류">소분류</option>
                                                <option value="소분류1">소분류1</option>
                                                <option value="소분류2">소분류2</option>
                                                <option value="소분류3">소분류3</option>
                                            </select>
                                        </div>
                                        <!--보여지는 셀렉박스-->
                                        <div class="surfaceSelects">
                                            <button class="complainRespondSelectTitleBtn"></button>
                                            <div class="sufaceSelectList">
                                                <ul class="surfaceSelectListMember"></ul>
                                            </div>
                                        </div>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                        <!-- 민원내용 -->
                        <ul class="complainRespondDataCont">
                            <li class="complainRespondDataTitle complainRespondTextareaTitle">
                                <p>민원내용</p>
                            </li>
                            <li class="complainRespondDataTextWrap">
                                <div class="complainRespondTextBoxs">
                                    <textarea placeholder="민원내용 입력칸입니다." th:text="${minwon.minwon_content}"></textarea>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="complainRespondBtnBoxs">
                    <button class="complainRespondDelete closeEvetBtn">삭제</button>
                    <button class="complainRespondSave closeEvetBtn">저장</button>
                    <button class="complainRespondReport closeEvetBtn">상신</button>
                    <button class="complainRespondClose closeEvetBtn complainRespondcloseBtn">닫기</button>
                </div>
            </div>

        </div>
    </div>
	<!-- 민원 대응방안 수립[E] -->
	
	<!-- 민원협의 내용 등록/수정 [S] -->
 <div id="complaint_register_Popup" class="complaint_register_Popup">
    <form id="saveFormPop" onsubmit="return false;">
        <div class="popupWrap">
            <h2>
                <p>민원협의 내용 등록/수정</p>
                <span class="topCloseBtn" onclick="minwonConsultPopupClose()"></span>
            </h2>
            <section class="complainant_contents_box">
                <h3>민원 내용</h3>
                <div class="complaints_contents_wrap">

                    <ul>
                        <li class="complaints_contents_titles">진행상태</li>
                        <li class="popSelectWrap">
                            <div class="hidden_SelectBox">
                                <select name="STATUS" id="complaint_register_Selectbox01" hidden>
                                    <option value="전체">전체</option>
                                    <option value="임시저장">임시저장</option>
                                    <option value="민원발생">민원발생</option>
                                    <option value="대응방안수립">대응방안수립</option>
                                    <option value="협의중">협의중</option>
                                    <option value="완료">완료</option>
                                </select>
                            </div>
                            <div class="Popup_Custom_SelectBox">
                                <button class="Popup_Custom_SelectView" onclick="complainSelectBoxOpen();">전체</button>
                                <ul class="Popup_Custom_SelectBtns" id="view_complaint_box">

                                </ul>
                            </div>
                        </li>
                    </ul>
                    <ul>
                        <li class="complaints_contents_titles">협의 날짜</li>
                        <li class="complaints_calender_box">
                            <div class="complaint_calender_wrap">
                                <input type="date" name="DATE" id="consult_date_field" data-placeholder="날짜선택" required aria-required="true">
                            </div>
                        </li>
                    </ul>
                    <ul>
                        <li class="complaints_contents_titles">협의 제목</li>
                        <li class="complaints_contents_inputs"><input name="TITLE" type="text"></li>
                    </ul>
                    <ul class="complaints_contents_minHeight1">
                        <li class="complaints_contents_titles">협의 내용</li>
                        <li class="complaints_contents_inputs"><textarea name="CONTENTS" type="text"></textarea></li>
                    </ul>
                    <ul class="complaints_contents_minHeight2">
                        <li class="complaints_contents_titles">첨부파일</li>
                        <!-- class 추가 -->
                        <li class="complaints_contents_fileBox complaintRegiFileInfo" style="overflow-y:auto;">
                            <!--  multiple 추가 -->
                            <input type="file" name="fileUpload" id="complaint_register_Popup_file" multiple hidden>
                            <!-- 추가 -->
                            <div class="popfileLargeWrap">
                                <!-- 파일이 첨부되지 않았을 때 모습 -->
                                <div class="popfileUploadWrap popfileUploadDisplay active">
                                    <label for="complaint_register_Popup_file" class="popfileUploadBox" id="minwonconsult_fileUploadBox">
                                        <img src="../../../assets/media/popup/images/file-upload.png" alt="파일 업로드 아이콘" class="fileUploadIcon" />
                                        <p>파일을 마우스로 끌어오세요.</p>
                                    </label>
                                </div>
                                <div class="popfileUploadAfterWrap popfileUploadDisplay active" style="top:125px;">
                                    <!-- 추가, 업로드시 나오는 거 -->
                                    <div class="popfileUploadAfter" id="fileTitleUl" style="overflow-y:auto;">
                                        <ul class="poptitles">
                                            <li class="popBtnbox">
                                                <button class="popAllDeleteFileBtn"></button>
                                            </li>
                                            <li class="poptitle popfilenameBox">
                                                <p>파일명</p>
                                            </li>
                                            <li class="poptitle">
                                                <p>업로드 상태</p>
                                            </li>
                                            <li class="poptitle">
                                                <p>용량</p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
            <div class="document_add_btnWrap">
                <button class="saveBtn">저장</button>
                <button class="sangsinBtn">상신</button>
                <button class="closeBtn finalBtn" onclick="minwonConsultPopupClose()">닫기</button>
            </div>
        </div>
    </form>
</div>
	<!-- 민원협의 내용 등록/수정 [E] -->
	
	<!-- 민원 완료 보고 [S] -->
	<div id="complaint_completed" class="complaint_completed">
    <div class="popupWrap">
        <h2>
            <p>민원 완료</p>
            <span class="topCloseBtn"></span>
        </h2>
        <section>
            <h3>민원 현황 상세</h3>
            <div class="complaint_completed_detail_wrap">
                <ul>
                    <li class="complaints_title">민원 명</li>
                    <li th:text="${minwon.mm_mw_title}"></li>
                </ul>
                <ul>
                    <li class="complaints_title">발생일자</li>
                    <li th:text="${minwon.mm_mw_occur_date}">2022-06-22</li>
                </ul>
                <ul>
                    <li class="complaints_title">발생지사</li>
                    <li th:text="${minwon.mm_jisa}">서울지사</li>
                </ul>
                <ul>
                    <li class="complaints_title">이슈 유형</li>
                    <li th:text="(${mm_mw_code1} != null ? ${mm_mw_code1} : '') + 
             			(${mm_mw_code2} != null ? ${mm_mw_code2} : '') + 
             			(${mm_mw_code3} != null ? ${mm_mw_code3} : '')"></li>
                </ul>
                <ul>
                    <li class="complaints_title">진행현황</li>
                    <li th:if="${minwon.mm_status} == 1" th:text="임시저장">
                    <li th:if="${minwon.mm_status} == 2" th:text="민원발생">
                    <li th:if="${minwon.mm_status} == 3" th:text="대응방안수립">
                    <li th:if="${minwon.mm_status} == 4" th:text="협의중">
                    <li th:if="${minwon.mm_status} == 5" th:text="완료">
                    
                    
                </ul>
                <ul class="complaint_completed_detail_title">
                    <li class="complaints_title">구분</li>
                    <li>순번</li>
                    <li>성명</li>
                    <li>생년월일</li>
                    <li>토지주와의 관계</li>
                    <li>연락처</li>
                    <li>현장입회</li>
                </ul>
                <ul class="complaint_completed_detail_box7">
                    <li class="complaints_title">민원인/토지주</li>
                    <li class="complainant_info_list" id="pop_minwonin_tojiju_nm">
                </ul>
                <ul class="complaint_completed_detail_box8">
                    <li class="complaints_title">토지이력</li>
                    <li class="complaints_content_box"><textarea readonly id="pop_toji_history"></textarea></li>
                </ul>
                <ul class="complaint_completed_detail_box9">
                    <li class="complaints_title">요구사항</li>
                    <li class="complaints_content_box"><textarea readonly id="pop_minwon_requirement"></textarea></li>
                </ul>
                <ul class="complaint_completed_detail_box10">
                    <li class="complaints_title">내용</li>
                    <li class="complaints_content_box"><textarea readonly class="notWriteInput land_contents"></textarea></li>
                </ul>
            </div>
        </section>
        <!-- 민원토지 -->
		<section id="complaintManage" class="complaintManage_togi">
			<h3>민원 토지</h3>
			<div class="complaintLand">
				<div class="contWrap">
					<div class="depth1">
						<ul class="titles">
							<li class="title">대표토지여부</li>
							<li class="title largeWidth">주소</li>
							<li class="title">등기 여부</li>
							<li class="title">계약 여부</li>
						</ul>
						<ul class="contents">
							<li class="content">
								<input type="text" readonly placeholder="" class="notWriteInput" />
							</li>
							<li class="content largeWidth">
								<input type="text" readonly placeholder="" class="notWriteInput" />
							</li>
							<li class="content">
								<input type="text" readonly placeholder="" class="notWriteInput" />
							</li>
							<li class="content">
								<input type="text" readonly placeholder="" class="notWriteInput" />
							</li>
						</ul>
					</div>
				</div>
			</div>
		</section>
		
		<!-- 첨부파일 -->
		<section id="complaintManage" class="complaintManage_file">
			<h3>첨부파일</h3>
			<div class="attachFileInfo">
				<div class="contWrap">
					<div class="depth1">
						<ul class="titles">
							<li class="title">날짜</li>
							<li class="title fileNameWidth">파일명</li>
							<li class="title">다운로드</li>
						</ul>
					</div>
				</div>
			</div>
		</section>
		
		<!-- 협의 내용 -->
		<section id="complaintManage" class="complaintManage_consult">
			<h3>협의 내용</h3>
			<div class="consultDetails">
				<div class="contWrap">
					<div class="depth1">
						<ul class="titles">
							<li class="title">일시</li>
							<li class="title smallWidth">진행 현황</li>
							<li class="title fileNameWidth">협의 내용</li>
							<li class="title">ECHO 문서보기</li>
						</ul>
					</div>
				</div>
			</div>
		</section>
		
        <div class="complaintinfo_btns">
            <button class="closeBtn finalBtn">닫기</button>
        </div>
    </div>
</div>
	<!-- 민원 완료 보고 [E] -->
	
	
	<!-- script -->
	<script type="module" src="/js/module/surfaceMain.js"></script>
	<script src="/components/js/menu06/complaintManage.js"></script>
	<script src="/js/common/common.js"></script>
	
	

</th:block>

</html>
