<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      
      layout:decorate="~{layout/default_layout}">
 <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      as="style"
      crossorigin
      href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css" />
    <link th:href="@{/css/common.css}" rel="stylesheet" />
	<link rel="stylesheet" href="/css/gover/masterReg.css" /> 
	<style>
		div.dt-top-container {
		  display: grid;
		  grid-template-columns: auto auto auto;
		}
		
		div.dt-center-in-div {
		  margin: 0 auto;
		      float: right;
		    margin-right: 30px;
		   
		}
		div.dt-center-in-div>div{
		
		display:inline;
		}
		
		div.dt-filter-spacer {
		  margin: 10px 0;
		  border:1px solid red;
		}
		
		
		.dt-title{
		
		text-align:center;
		width:180px;
		float:left;
		
		}
		.dt-buttons{
		display:inline-block;
		
		width:180px;
		
		}
		.dt-length{
		display:inline-block;
		}
		.dt-button{
		
		color:white;
		background-color:#4e5871;
		font-size:15px;
		font-weight:600;
		border-radius:10px;
		background-image:url(/assets/media/menu01/download.png);
		background-size:11px;
		background-repeat:no-repeat;
		background-position:123px center;
		text-aline:left;
		margin-right:10px;
		width:159px;
		height:38px;
		
		}
		
		.dt-paging {
		text-align: center;
		}
		
		.dt-paging-button {
		  box-sizing: border-box;
		  display: inline-block;
		  min-width: 1.5em;
		  padding: 0.5em 1em;
		  margin-left: 2px;
		  text-align: center;
		  text-decoration: none !important;
		  cursor: pointer;
		  
		  border: 1px solid transparent;
		  border-radius: 2px;
		  background: transparent;
		  color: #007bff !important;
		    font-size: 15px;
		    font-weight: 600;
		    
		    
		}
		
		.bottom{
		text-align:center;
		
		}
		.top{
		
		text-align:right;
		margin:10px;
		
		}
	</style>
    <title>점용 마스터</title>
  </head>
<th:block layout:fragment="content">
    <!-- 점용 마스터 등록 -->
    <div class="masterRegWrappers">
     
      <main id="masterReg">
		<form id="saveForm" onSubmit="return false;">
        <div class="mainTitle">
          <h1>점용 마스터 등록</h1>
        </div>

        <section class="defaultInfo">
          <div class="subTitle">
            <div class="subTitleText">기본 정보</div>
          </div>

          <div class="contWrap">
            <div class="depth1">
              <ul class="titles">
                <li class="title">담당지사*</li>
                <li class="title largeTitle">허가관청*</li>
                <li class="title largeTitle">관리기관*</li>
                <li class="title largeTitle">부서*</li>
                <li class="title">담당자*</li>
                <li class="title largeTitle">연락처*</li>
                <li class="title">용도*</li>
                <li class="title largeTitle">관로명(구간)*</li>
                <li class="title">단/복선*</li>
                <li class="title">관경*</li>
                <li class="title">감면여부*</li>
              </ul>
              <ul class="contents">
				
				<!-- 담당지사 -->
                <li class="content selectContentArea">
                  <div class="hiddenSelectBox">
                    <!-- name도 추가 -->
                    <select
                      name="jisa"
                      id="masterRegSelectBox01"
                      hidden>
                      <option value="전체">전체</option>
                      <option value="서울지사">서울지사</option>
                      <option value="경인지사">경인지사</option>
                      <option value="대전지사">대전지사</option>
                      <option value="충청지사">충청지사</option>
                      <option value="영남지사">영남지사</option>
                      <option value="전남지사">전남지사</option>
                      <option value="전북지사">전북지사</option>
                      <option value="경남지사">경남지사</option>
                      <option value="강원지사">강원지사</option>
                    </select>
                  </div>
                  <section class="customSelectBox">
                    <button class="customSelectView">선택</button>

                    <ul class="customSelectBtns"></ul>
                  </section>
                </li>
				
				<!-- 허가관청 -->
                <li class="content largeTitle selectContentArea">
                  <div class="hiddenSelectBox">
                    <!-- name도 추가 -->
                    <select
                      name="pmt_office"
                      id="masterRegSelectBox02"
                      hidden>
                      <option value="전체">전체</option>
                      <option value="경기고속도로(주)">경기고속도로(주)</option>
                      <option value="과천시">과천시</option>
                      <option value="서울특별시">서울특별시</option>
                      <option value="성남시">성남시</option>
                      <option value="수원시">수원시</option>
                      <option value="안성시">안성시</option>
                    </select>
                  </div>
                  <section class="customSelectBox">
                    <button class="customSelectView">선택</button>

                    <ul class="customSelectBtns"></ul>
                  </section>
                </li>
				
				<!-- 관리기관 -->
                <li class="content largeTitle selectContentArea">
                  <div class="hiddenSelectBox">
                    <!-- name도 추가 -->
                    <select
                      name="adm_office"
                      id="masterRegSelectBox03"
                      hidden>
                      <option value="전체">전체</option>
                      <option value="하천팀">하천팀</option>
                      <option value="공원농림과">공원농림과</option>
                    </select>
                  </div>
                  <section class="customSelectBox">
                    <button class="customSelectView">선택</button>

                    <ul class="customSelectBtns"></ul>
                  </section>
                </li>
				
				<!-- 부서 -->
                <li class="content largeTitle">
                  <input type="text" name="office_depart" />
                </li>
				<!-- 담당자 -->
                <li class="content">
                  <input type="text" name="office_charege"/>
                </li>
				<!-- 연락처 -->
                <li class="content largeTitle">
                  <input type="text" name="office_contact"/>
                </li>
				<!-- 용도 -->
                <li class="content selectContentArea">
                  <div class="hiddenSelectBox">
                    <!-- name도 추가 -->
                    <select
                      name="yongdo"
                      id="masterRegSelectBox04"
                      hidden>
                      <option value="선택">선택</option>
                      <option value="송유관로">송유관로</option>
                      <option value="밸브박스">밸브박스</option>
                      <option value="가압소">가압소</option>
                      <option value="저유소">저유소</option>
                      <option value="펌프장">펌프장</option>
                      <option value="시설물">시설물</option>
                    </select>
                  </div>
                  <section class="customSelectBox">
                    <button class="customSelectView">선택</button>

                    <ul class="customSelectBtns"></ul>
                  </section>
                </li>
				<!-- 관로명 -->
                <li class="content largeTitle selectContentArea">
                  <div class="hiddenSelectBox">
                    <!-- name도 추가 -->
                    <select
                      name="pipe_name"
                      id="masterRegSelectBox05"
                      hidden>
                      <option value="전체">전체</option>
                      <option value="SNP 구간">SNP 구간</option>
                      <option value="광주지선">광주지선</option>
                    </select>
                  </div>
                  <section class="customSelectBox">
                    <button class="customSelectView">선택</button>

                    <ul class="customSelectBtns"></ul>
                  </section>
                </li>
				<!-- 단/복선 -->
				<li class="content selectContentArea">
				  <div class="hiddenSelectBox">
				    <select name="sun_gubun" id="masterRegSelectBox06" hidden>
				      <option value="단선" selected>단선</option>
				      <option value="복선">복선</option>
				    </select>
				  </div>
				  <section class="customSelectBox">
				    <button class="customSelectView">선택</button>
				    <ul class="customSelectBtns"></ul>
				  </section>
				</li>
                <!-- 관경 -->
                <li class="content lineWrap inputArea">
                  <div class="doubleLine">
                    <div class="inputWrap">
                      <input type="text" name="pipe_meter"/>
                    </div>
                    <div class="inputWrap">
                      <input type="text" name="pipe_meter2"/>
                    </div>
                  </div>
                  <div class="singleLine">
                    <div class="inputWrap">
                      <input type="text" name="pipe_meter_single"/>
                    </div>
                  </div>
                </li>
				<!-- 감면여부 -->
                <li class="content selectContentArea">
                  <div class="hiddenSelectBox">
                    <!-- name도 추가 -->
                    <select
                      name="exemptionyn"
                      id="masterRegSelectBox07"
                      hidden>
                      <option value="Y">Y</option>
                      <option value="N">N</option>
                    </select>
                  </div>
                  <section class="customSelectBox">
                    <button class="customSelectView">Y/N</button>

                    <ul class="customSelectBtns"></ul>
                  </section>
                </li>
              </ul>
            </div>
            <div class="depth2">
              <ul class="titles">
                <li class="title">점용 구분*</li>
                <li class="title dateLargeTitle">점용 기간*</li>
                <li class="title">점용갱신주기</li>
                <li class="title">신규등록사유*</li>
                <li class="title">허가증보유여부*</li>
                <li class="title">점용료미납부사유</li>
                <li class="title">점용료 선납 여부</li>
                <li class="title">선납기한</li>
              </ul>
              <ul class="contents">
				<!-- 점용구분 -->
                <li class="content selectContentArea">
                  <div class="hiddenSelectBox">
                    <!-- name도 추가 -->
                    <select
                      name="use_purpos"
                      id="masterRegSelectBox08"
                      hidden>
                      <option value="전체">전체</option>
                      <option value="공원부지점용">공원부지점용</option>
                      <option value="국유지사용">국유지사용</option>
                      <option value="녹지점용">녹지점용</option>
                      <option value="국유림점용">국유림점용</option>
                      <option value="농업수자원부지사용">
                        농업수자원부지사용
                      </option>
                      <option value="농업시설목적외사용">
                        농업시설목적외사용
                      </option>
                      <option value="도로점용">도로점용</option>
                      <option value="고속도로점용">고속도로점용</option>
                      <option value="철도부지점용">철도부지점용</option>
                      <option value="하천점용">하천점용</option>
                      <option value="구거점용 등">구거점용 등</option>
                      <option value="항만시설사용">항만시설사용</option>
                      <option value="공유수면사용">공유수면사용</option>
                    </select>
                  </div>
                  <section class="customSelectBox">
                    <button class="customSelectView">선택</button>
                    <ul class="customSelectBtns"></ul>
                  </section>
                </li>
				<!-- 점용기간 -->
                <li class="content inputWrap dateLargeTitle">
                  <div class="dateInputBox">
                    <div class="dateInputWrap">
                      <input name="gover_st_date"
                        type="date"
                        aria-required="true" />
                    </div>
                    <span class="dateBar"></span>
                    <div class="dateInputWrap">
                      <input name="gover_ed_date"
                        type="date"
                        aria-required="true" />
                    </div>
                  </div>
                </li>
				<!-- 점용갱신주기 -->
                <li class="content">
                  <input type="text" name="gover_period"/>
                </li>
				<!-- 신규등록사유 -->
                <li class="content selectContentArea">
                  <div class="hiddenSelectBox">
                    <!-- name도 추가 -->
                    <select
                      name="newregreason"
                      id="masterRegSelectBox09"
                      hidden>
                      <option value="선택">선택</option>
                      <option value="사유지의 국유지 편입">
                        사유지의 국유지 편입
                      </option>
                      <option value="ILI결과 발견지번">ILI결과 발견지번</option>
                    </select>
                  </div>
                  <section class="customSelectBox">
                    <button class="customSelectView">선택</button>
                    <ul class="customSelectBtns"></ul>
                  </section>
                </li>
				<!-- 허가증보유여부 -->
                <li class="content selectContentArea">
                  <div class="hiddenSelectBox">
                    <!-- name도 추가 -->
                    <select
                      name="permpossyn"
                      id="masterRegSelectBox10"
                      hidden>
                      <option value="Y">Y</option>
                      <option value="N">N</option>
                    </select>
                  </div>
                  <section class="customSelectBox">
                    <button class="customSelectView">Y/N</button>

                    <ul class="customSelectBtns"></ul>
                  </section>
                </li>
				<!-- 점용료미납부사유 -->
                <li class="content selectContentArea">
                  <div class="hiddenSelectBox">
                    <!-- name도 추가 -->
                    <select
                      name="occunonpayreason"
                      id="masterRegSelectBox11"
                      hidden>
                      <option value="선택">선택</option>
                      <option value="영구 무상점용">영구 무상점용</option>
                      <option value="소액 미청구">소액 미청구</option>
                      <option value="관할관청의 미청구">
                        관할관청의 미청구
                      </option>
                    </select>
                  </div>
                  <section class="customSelectBox">
                    <button class="customSelectView">선택</button>
                    <ul class="customSelectBtns"></ul>
                  </section>
                </li>
				<!-- 점용료 선납 여부 -->
                <li class="content checkboxWrap">
                  <input type="checkbox" id="masterRegSelectBox_Checkbox01" name="occuprepayyn"/>
                  <label for="masterRegSelectBox_Checkbox01"></label>
                </li>
				<!-- 선납기한 -->
                <li class="content">
                  <div class="dateInputWrap">
                    <input name="occuprepaydate"
                      type="date"
                      aria-required="true" />
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </section>
		
		<!-- 소속 토지 정보 -->
		
		<section class="landAdressInfo">
		  <div class="subTitle">
		    <div class="subTitleText">소속 토지 정보*</div>
		    <div class="subTitleBtnBox">
		      <button class="middleBtn navyBtn excelDownBtn">엑셀 다운로드</button>
		      <button class="middleBtn whiteBtn excelUpBtn ExcelPopBtn">엑셀 업로드</button>
		    </div>
		  </div>

		  <div class="contWrap">
		    <div class="depth1" id="goverUlDiv">
		      <ul class="titles">
		        <li class="title smallWidth">순번</li>
		        <li class="title largeWidth">관리기관</li>
		        <li class="title middleWidth">국공유지 여부</li>
		        <li class="title">대표필지</li>
		        <li class="title addressInfoWidth">주소</li>
		        <li class="title middleWidth">PNU</li>
		        <li class="title">지목</li>
		        <li class="title">점용연장</li>
		        <li class="title">점용면적</li>
		        <li class="title middleWidth">관로일치 여부</li>
		        <li class="title">보기</li>
		        <li class="title middleWidth">추가/삭제</li>
		      </ul>

		      <!-- 첫 번째 고정된 줄 -->
		      <ul class="contents" id="goverUl">
		        <!-- 순번 -->
		        <li class="content smallWidth">
		          <input type="text" class="notWriteInput" readonly placeholder="1" />
		        </li>
		        <!-- 관리기관 -->
		        <li class="content largeWidth selectContentArea">
		          <div class="hiddenSelectBox">
		            <select name="adm_office" id="masterRegSelectBox12" hidden>
		              <option value="전체">전체</option>
		              <option value="강서구-건설과">강서구-건설과</option>
		              <option value="한강사업본부-운영총괄과">한강사업본부-운영총괄과</option>
		              <option value="안전건설과">안전건설과</option>
		              <option value="덕양구-안전건설과">덕양구-안전건설과</option>
		              <option value="전체6">전체6</option>
		              <option value="전체7">전체7</option>
		              <option value="전체8">전체8</option>
		              <option value="전체9">전체9</option>
		              <option value="전체10">전체10</option>
		            </select>
		          </div>
		          <section class="customSelectBox">
		            <button class="customSelectView">전체</button>
		            <ul class="customSelectBtns"></ul>
		          </section>
		        </li>
		        <!-- 국공유지 여부 -->
		        <li class="content middleWidth selectContentArea">
		          <div class="hiddenSelectBox">
		            <select name="gover_own_yn" id="masterRegSelectBox13" hidden>
		              <option value="국유지">국유지</option>
		              <option value="사유지">사유지</option>
		            </select>
		          </div>
		          <section class="customSelectBox">
		            <button class="customSelectView">선택</button>
		            <ul class="customSelectBtns"></ul>
		          </section>
		        </li>
		        <!-- 대표필지 -->
		        <li class="content checkboxWrap">
		          <input type="checkbox" id="masterRegSelectBox_Checkbox02" name="rep_flag" />
		          <label for="masterRegSelectBox_Checkbox02"></label>
		        </li>
		        <!-- 주소 -->
		        <li class="content addressInfoWidth">
		          <!--<div class="addressData">-->
					<!-- text 창 높이를 위해 주석처리 -->
		            <input type="text" name="주소" />
		          <!--</div>-->
		          <button class="searchAddressBtn">검색</button>
		        </li>
		        <!-- PNU -->
		        <li class="content middleWidth">
		          <input type="text" name="pnu" />
		        </li>
		        <!-- 지목 -->
		        <li class="content selectContentArea">
		          <div class="hiddenSelectBox">
		            <select name="jimok_text" id="masterRegSelectBox14" hidden>
		              <option value="전1">전1</option>
		              <option value="전2">전2</option>
		              <option value="전3">전3</option>
		              <option value="전4">전4</option>
		              <option value="전5">전5</option>
		              <option value="전6">전6</option>
		              <option value="전7">전7</option>
		              <option value="전8">전8</option>
		              <option value="전9">전9</option>
		              <option value="전10">전10</option>
		            </select>
		          </div>
		          <section class="customSelectBox">
		            <button class="customSelectView">전</button>
		            <ul class="customSelectBtns"></ul>
		          </section>
		        </li>
		        <!-- 점용연장 -->
		        <li class="content">
		          <input type="text" name="gover_length" />
		        </li>
		        <!-- 점용면적 -->
		        <li class="content">
		          <input type="text" name="gover_area" />
		        </li>
		        <!-- 관로일치 여부 -->
		        <li class="content middleWidth selectContentArea">
		          <div class="hiddenSelectBox">
		            <select name="관로일치 여부" id="masterRegSelectBox15" hidden>
		              <option value="지사선택필요1">지사선택필요1</option>
		              <option value="지사선택필요2">지사선택필요2</option>
		              <option value="지사선택필요3">지사선택필요3</option>
		              <option value="지사선택필요4">지사선택필요4</option>
		              <option value="지사선택필요5">지사선택필요5</option>
		              <option value="지사선택필요6">지사선택필요6</option>
		              <option value="지사선택필요7">지사선택필요7</option>
		              <option value="지사선택필요8">지사선택필요8</option>
		              <option value="지사선택필요9">지사선택필요9</option>
		              <option value="지사선택필요10">지사선택필요10</option>
		            </select>
		          </div>
		          <section class="customSelectBox">
		            <button class="customSelectView">지사선택필요</button>
		            <ul class="customSelectBtns"></ul>
		          </section>
		        </li>
		        <!-- 보기 -->
		        <li class="content btnBox">
		          <button class="miniBtn lightBlueBtn viewDetailButton">위치보기</button>
		        </li>
		        <!-- 추가 버튼 -->
		        <li class="middleWidth content btnBox">
		          <div class="newBtnWrap">
		            <button class="addBtn miniBtn" onclick="addRow()">추가</button>
		          </div>
		        </li>
		      </ul>

		      <!-- 숨겨진 템플릿 줄 -->
		      <ul class="contents" id="row-template" style="display: none;">
		        <li class="content smallWidth">
		          <!-- 순번 -->
		          <input type="text" class="notWriteInput" readonly placeholder="1" />
		        </li>
		        <li class="content largeWidth selectContentArea">
		          <!-- 관리기관 -->
		          <div class="hiddenSelectBox">
		            <select name="masterRegSelectBox16" id="masterRegSelectBox16" hidden>
		              <option value="전체">전체</option>
		              <option value="강서구-건설과">강서구-건설과</option>
		              <option value="한강사업본부-운영총괄과">한강사업본부-운영총괄과</option>
		              <option value="안전건설과">안전건설과</option>
		              <option value="덕양구-안전건설과">덕양구-안전건설과</option>
		              <option value="전체6">전체6</option>
		              <option value="전체7">전체7</option>
		              <option value="전체8">전체8</option>
		              <option value="전체9">전체9</option>
		              <option value="전체10">전체10</option>
		            </select>
		          </div>
		          <section class="customSelectBox">
		            <button class="customSelectView">전체</button>
		            <ul class="customSelectBtns"></ul>
		          </section>
		        </li>
		        <!-- 국공유지 여부 -->
		        <li class="content middleWidth selectContentArea">
		          <div class="hiddenSelectBox">
		            <select name="masterRegSelectBox17" id="masterRegSelectBox17" hidden>
		              <option value="국유지">국유지</option>
		              <option value="사유지">사유지</option>
		            </select>
		          </div>
		          <section class="customSelectBox">
		            <button class="customSelectView">선택</button>
		            <ul class="customSelectBtns"></ul>
		          </section>
		        </li>
		        <!-- 대표필지 -->
		        <li class="content checkboxWrap">
		          <input type="checkbox" id="masterRegSelectBox_" />
		          <label for="masterRegSelectBox_"></label>
		        </li>
		        <!-- 주소 -->
		        <li class="content addressInfoWidth">
		          <!--<div class="addressData">-->
		            <input type="text" />
		          <!--</div>-->
		          <button class="searchAddressBtn">검색</button>
		        </li>
		        <!-- PNU -->
		        <li class="content middleWidth">
		          <input type="text" />
		        </li>
		        <!-- 지목 -->
		        <li class="content selectContentArea">
		          <div class="hiddenSelectBox">
		            <select name="masterRegSelectBox18" id="masterRegSelectBox18" hidden>
		              <option value="전1">전1</option>
		              <option value="전2">전2</option>
		              <option value="전3">전3</option>
		              <option value="전4">전4</option>
		              <option value="전5">전5</option>
		              <option value="전6">전6</option>
		              <option value="전7">전7</option>
		              <option value="전8">전8</option>
		              <option value="전9">전9</option>
		              <option value="전10">전10</option>
		            </select>
		          </div>
		          <section class="customSelectBox">
		            <button class="customSelectView">전</button>
		            <ul class="customSelectBtns"></ul>
		          </section>
		        </li>
		        <!-- 점용연장 -->
		        <li class="content">
		          <input type="text" />
		        </li>
		        <!-- 점용면적 -->
		        <li class="content">
		          <input type="text" />
		        </li>
		        <!-- 관로일치 여부 -->
		        <li class="content middleWidth selectContentArea">
		          <div class="hiddenSelectBox">
		            <select name="masterRegSelectBox19" id="masterRegSelectBox19" hidden>
		              <option value="지사선택필요1">지사선택필요1</option>
		              <option value="지사선택필요2">지사선택필요2</option>
		              <option value="지사선택필요3">지사선택필요3</option>
		              <option value="지사선택필요4">지사선택필요4</option>
		              <option value="지사선택필요5">지사선택필요5</option>
		              <option value="지사선택필요6">지사선택필요6</option>
		              <option value="지사선택필요7">지사선택필요7</option>
		              <option value="지사선택필요8">지사선택필요8</option>
		              <option value="지사선택필요9">지사선택필요9</option>
		              <option value="지사선택필요10">지사선택필요10</option>
		            </select>
		          </div>
		          <section class="customSelectBox">
		            <button class="customSelectView">지사선택필요</button>
		            <ul class="customSelectBtns"></ul>
		          </section>
		        </li>
		        <!-- 보기 -->
		        <li class="content btnBox">
		          <button class="miniBtn lightBlueBtn viewDetailButton">위치보기</button>
		        </li>
		        <li class="middleWidth content btnBox">
		          <div class="btnWrap">
		            <button class="addBtn miniBtn" onclick="addRow()">추가</button>
		          </div>
		          <div class="btnWrap">
		            <button class="delBtn miniBtn" onclick="deleteRow(this)">삭제</button>
		          </div>
		        </li>
		      </ul>
		    </div>
		  </div>
		</section>

		<!-- 첨부파일 -->
		
		<section class="attachFileInfo">
		                    <!--  <form name="uploadForm" method="post" enctype="multipart/form-data"> -->
		                    <div class="subTitle">
		                        첨부파일
		                        <div class="fileBtnWrap">
		                            <input type="file" name="fileUpload" id="easementModification_myPcFiles">
		                            <label for="easementModification_myPcFiles">내 PC</label>
		                        </div>
		                    </div>

		                    <div class="fileUploadWrap">
		                        <div class="fileUploadBox">
		                            <img src="/assets/media/menu02/images/file-upload.png" alt="파일 업로드 아이콘" class="fileUploadIcon">
		                            <p>파일을 마우스로 끌어오세요.</p>
		                        </div>
		                    </div>
		                 
		                    <div class="contWrap">
		                        <div class="depth1" id="fileListDiv">
		                            <ul class="titles" id="fileTitleUl">
		                                <li class="title01 allSelectCheck">
		                                    <!-- 선택 -->

		                                    <input type="checkbox" id="landRightsRegistration_file_select_all" name="landRightsRegistration_file_select_all">
		                                    <label for="landRightsRegistration_file_select_all"></label>
		                                </li>
		                                <li class="title02">파일명</li>
		                            </ul>



		                        </div>
		                    </div>

		                    <div class="btnWrap">
		                        <button class="fileDelBtn delBtn" id="deleteFileBtn">선택파일 삭제</button>
		                    </div>


		                </section>

        <section class="memoSection">
          <div class="subTitle">
            <div class="subTitleText">등록 메모</div>
          </div>

          <textarea
            placeholder="내용을 입력해주세요. (200자 이내)"
            maxlength="200"></textarea>
        </section>

        <div class="finalBtnBox btnWrap">
          <button class="backBtn grayBtn finalBtn">이전</button>
          <button class="newIssueBtn blueBorderBtn finalBtn">
            이슈신규생성
          </button>
          <button class="draftSaveBtn lightBlueBtn finalBtn" id="draftSaveBtn">임시저장</button>
          <button class="requestBtn vividBlueBtn finalBtn" id="requestBtn">승인요청</button>
        </div>
		</form>
      </main>
    </div>
    <div class="masterRegExcelPopWrapper"></div>
    <!-- script -->
    <script type="module" src="/js/module/surfaceMain.js"></script>
    <script src="/js/gover/masterReg.js"></script>
 </th:block>
</html>
