<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>관리기관 관리</title>
    <link rel="stylesheet" href="/assets/css/header.css" />
    <link rel="stylesheet" href="/assets/css/menu03/orgAdmin.css" />
  </head>
  <body>
    <!-- 관리기관 관리 -->
    <div class="orgAdminWrappers">
      <div class="orgAdminHeader"></div>
      <main id="orgAdmin">
        <div class="mainTitle">
          <h1>관리기관 관리</h1>
        </div>

        <section class="tableArea">
          <div class="contWrap contentScr">
            <table>
              <caption class="hiddenCaption">
                관리기관 관리
              </caption>

              <thead>
                <tr>
                  <th class="smallWidth">순번</th>
                  <th>담당지사</th>
                  <th>허가관청</th>
                  <th>관리기관</th>
                  <th>등록현황</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="smallWidth">
                    <input
                      type="text"
                      placeholder="1"
                      class="notWriteInput"
                      readonly />
                  </td>
                  <td rowspan="13">
                    <input
                      type="text"
                      placeholder="경인지사"
                      class="notWriteInput"
                      readonly />
                  </td>
                  <td>
                    <input
                      type="text"
                      placeholder="당진시"
                      class="notWriteInput"
                      readonly />
                  </td>
                  <td>
                    <input
                      type="text"
                      placeholder="하천계획과"
                      class="notWriteInput"
                      readonly />
                  </td>
                  <td>
                    <div class="btnWrap">
                      <div class="btnBox">
                        <button class="pendingApprovalBtn">승인대기</button>
                      </div>
                      <div class="btnBox">
                        <button class="deleteBtn">삭제</button>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class="smallWidth">
                    <input
                      type="text"
                      placeholder="2"
                      readonly
                      class="notWriteInput" />
                  </td>
                  <td>
                    <input
                      type="text"
                      placeholder="당진시"
                      readonly
                      class="notWriteInput" />
                  </td>
                  <td>
                    <input
                      type="text"
                      placeholder="하천계획과"
                      readonly
                      class="notWriteInput" />
                  </td>
                  <td>
                    <div class="btnWrap">
                      <div class="btnWrap">
                        <div class="btnBox">
                          <button class="pendingApprovalBtn">승인대기</button>
                        </div>
                        <div class="btnBox">
                          <button class="deleteBtn">삭제</button>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class="smallWidth">
                    <input
                      type="text"
                      placeholder="3"
                      readonly
                      class="notWriteInput" />
                  </td>
                  <td>
                    <input
                      type="text"
                      placeholder="당진시"
                      readonly
                      class="notWriteInput" />
                  </td>
                  <td>
                    <input
                      type="text"
                      placeholder="하천계획과"
                      readonly
                      class="notWriteInput" />
                  </td>
                  <td>
                    <div class="btnWrap">
                      <div class="btnWrap">
                        <div class="btnBox">
                          <button class="pendingApprovalBtn">승인대기</button>
                        </div>
                        <div class="btnBox">
                          <button class="deleteBtn">삭제</button>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class="smallWidth">
                    <input
                      type="text"
                      placeholder="4"
                      readonly
                      class="notWriteInput" />
                  </td>
                  <td>
                    <input
                      type="text"
                      placeholder="당진시"
                      readonly
                      class="notWriteInput" />
                  </td>
                  <td>
                    <input
                      type="text"
                      placeholder="하천계획과"
                      readonly
                      class="notWriteInput" />
                  </td>
                  <td>
                    <div class="btnWrap">
                      <div class="btnWrap">
                        <div class="btnBox">
                          <button class="pendingApprovalBtn">승인대기</button>
                        </div>
                        <div class="btnBox">
                          <button class="deleteBtn">삭제</button>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class="smallWidth">
                    <input
                      type="text"
                      placeholder="5"
                      readonly
                      class="notWriteInput" />
                  </td>
                  <td>
                    <input
                      type="text"
                      placeholder="당진시"
                      readonly
                      class="notWriteInput" />
                  </td>
                  <td>
                    <input
                      type="text"
                      placeholder="하천계획과"
                      readonly
                      class="notWriteInput" />
                  </td>
                  <td>
                    <div class="btnWrap">
                      <div class="btnWrap">
                        <div class="btnBox">
                          <button class="pendingApprovalBtn">승인대기</button>
                        </div>
                        <div class="btnBox">
                          <button class="deleteBtn">삭제</button>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class="smallWidth">
                    <input
                      type="text"
                      placeholder="6"
                      readonly
                      class="notWriteInput" />
                  </td>
                  <td>
                    <input
                      type="text"
                      placeholder="당진시"
                      readonly
                      class="notWriteInput" />
                  </td>
                  <td>
                    <input
                      type="text"
                      placeholder="하천계획과"
                      readonly
                      class="notWriteInput" />
                  </td>
                  <td>
                    <div class="btnWrap">
                      <div class="btnWrap">
                        <div class="btnBox">
                          <button class="pendingApprovalBtn">승인대기</button>
                        </div>
                        <div class="btnBox">
                          <button class="deleteBtn">삭제</button>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class="smallWidth">
                    <input
                      type="text"
                      placeholder="7"
                      readonly
                      class="notWriteInput" />
                  </td>
                  <td>
                    <input
                      type="text"
                      placeholder="당진시"
                      readonly
                      class="notWriteInput" />
                  </td>
                  <td>
                    <input
                      type="text"
                      placeholder="하천계획과"
                      readonly
                      class="notWriteInput" />
                  </td>
                  <td>
                    <div class="btnWrap">
                      <div class="btnWrap">
                        <div class="btnBox">
                          <button class="pendingApprovalBtn">승인대기</button>
                        </div>
                        <div class="btnBox">
                          <button class="deleteBtn">삭제</button>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class="smallWidth">
                    <input
                      type="text"
                      placeholder="8"
                      readonly
                      class="notWriteInput" />
                  </td>
                  <td>
                    <input
                      type="text"
                      placeholder="당진시"
                      readonly
                      class="notWriteInput" />
                  </td>
                  <td>
                    <input
                      type="text"
                      placeholder="하천계획과"
                      readonly
                      class="notWriteInput" />
                  </td>
                  <td>
                    <div class="btnWrap">
                      <div class="btnWrap">
                        <div class="btnBox">
                          <button class="pendingApprovalBtn">승인대기</button>
                        </div>
                        <div class="btnBox">
                          <button class="deleteBtn">삭제</button>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class="smallWidth">
                    <input
                      type="text"
                      placeholder="9"
                      readonly
                      class="notWriteInput" />
                  </td>
                  <td>
                    <input
                      type="text"
                      placeholder="당진시"
                      readonly
                      class="notWriteInput" />
                  </td>
                  <td>
                    <input
                      type="text"
                      placeholder="하천계획과"
                      readonly
                      class="notWriteInput" />
                  </td>
                  <td>
                    <div class="btnWrap">
                      <div class="btnWrap">
                        <div class="btnBox">
                          <button class="pendingApprovalBtn">승인대기</button>
                        </div>
                        <div class="btnBox">
                          <button class="deleteBtn">삭제</button>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class="smallWidth">
                    <input
                      type="text"
                      placeholder="10"
                      readonly
                      class="notWriteInput" />
                  </td>
                  <td>
                    <input
                      type="text"
                      placeholder="당진시"
                      readonly
                      class="notWriteInput" />
                  </td>
                  <td>
                    <input
                      type="text"
                      placeholder="하천계획과"
                      readonly
                      class="notWriteInput" />
                  </td>
                  <td>
                    <div class="btnWrap">
                      <div class="btnWrap">
                        <div class="btnBox">
                          <button class="pendingApprovalBtn">승인대기</button>
                        </div>
                        <div class="btnBox">
                          <button class="deleteBtn">삭제</button>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class="smallWidth">
                    <input
                      type="text"
                      placeholder="11"
                      readonly
                      class="notWriteInput" />
                  </td>
                  <td>
                    <input
                      type="text"
                      placeholder="당진시"
                      readonly
                      class="notWriteInput" />
                  </td>
                  <td>
                    <input
                      type="text"
                      placeholder="하천계획과"
                      readonly
                      class="notWriteInput" />
                  </td>
                  <td>
                    <div class="btnWrap">
                      <div class="btnWrap">
                        <div class="btnBox">
                          <button class="pendingApprovalBtn">승인대기</button>
                        </div>
                        <div class="btnBox">
                          <button class="deleteBtn">삭제</button>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class="smallWidth">
                    <input
                      type="text"
                      placeholder="12"
                      readonly
                      class="notWriteInput" />
                  </td>
                  <td>
                    <input
                      type="text"
                      placeholder="당진시"
                      readonly
                      class="notWriteInput" />
                  </td>
                  <td>
                    <input
                      type="text"
                      placeholder="하천계획과"
                      readonly
                      class="notWriteInput" />
                  </td>
                  <td>
                    <div class="btnWrap">
                      <div class="btnWrap">
                        <div class="btnBox">
                          <button class="pendingApprovalBtn">승인대기</button>
                        </div>
                        <div class="btnBox">
                          <button class="deleteBtn">삭제</button>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class="smallWidth">
                    <input
                      type="text"
                      placeholder="13"
                      readonly
                      class="notWriteInput" />
                  </td>
                  <td>
                    <input
                      type="text"
                      placeholder="당진시"
                      readonly
                      class="notWriteInput" />
                  </td>
                  <td>
                    <input
                      type="text"
                      placeholder="하천계획과"
                      readonly
                      class="notWriteInput" />
                  </td>
                  <td>
                    <div class="btnWrap">
                      <div class="btnWrap">
                        <div class="btnBox">
                          <button class="pendingApprovalBtn">승인대기</button>
                        </div>
                        <div class="btnBox">
                          <button class="deleteBtn">삭제</button>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class="smallWidth">
                    <input
                      type="text"
                      placeholder="14"
                      readonly
                      class="notWriteInput" />
                  </td>
                  <td rowspan="13">
                    <input
                      type="text"
                      placeholder="충청지사"
                      class="notWriteInput"
                      readonly />
                  </td>
                  <td>
                    <input
                      type="text"
                      placeholder="당진시"
                      readonly
                      class="notWriteInput" />
                  </td>
                  <td>
                    <input
                      type="text"
                      placeholder="하천계획과"
                      readonly
                      class="notWriteInput" />
                  </td>
                  <td>
                    <div class="btnWrap">
                      <div class="btnWrap">
                        <div class="btnBox">
                          <button class="pendingApprovalBtn">승인대기</button>
                        </div>
                        <div class="btnBox">
                          <button class="deleteBtn">삭제</button>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class="smallWidth">
                    <input
                      type="text"
                      placeholder="15"
                      readonly
                      class="notWriteInput" />
                  </td>
                  <td>
                    <input
                      type="text"
                      placeholder="당진시"
                      readonly
                      class="notWriteInput" />
                  </td>
                  <td>
                    <input
                      type="text"
                      placeholder="하천계획과"
                      readonly
                      class="notWriteInput" />
                  </td>
                  <td>
                    <div class="btnWrap">
                      <div class="btnWrap">
                        <div class="btnBox">
                          <button class="pendingApprovalBtn">승인대기</button>
                        </div>
                        <div class="btnBox">
                          <button class="deleteBtn">삭제</button>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class="smallWidth">
                    <input
                      type="text"
                      placeholder="16"
                      readonly
                      class="notWriteInput" />
                  </td>
                  <td>
                    <input
                      type="text"
                      placeholder="당진시"
                      readonly
                      class="notWriteInput" />
                  </td>
                  <td>
                    <input
                      type="text"
                      placeholder="하천계획과"
                      readonly
                      class="notWriteInput" />
                  </td>
                  <td>
                    <div class="btnWrap">
                      <div class="btnWrap">
                        <div class="btnBox">
                          <button class="pendingApprovalBtn">승인대기</button>
                        </div>
                        <div class="btnBox">
                          <button class="deleteBtn">삭제</button>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class="smallWidth">
                    <input
                      type="text"
                      placeholder="17"
                      readonly
                      class="notWriteInput" />
                  </td>
                  <td>
                    <input
                      type="text"
                      placeholder="당진시"
                      readonly
                      class="notWriteInput" />
                  </td>
                  <td>
                    <input
                      type="text"
                      placeholder="하천계획과"
                      readonly
                      class="notWriteInput" />
                  </td>
                  <td>
                    <div class="btnWrap">
                      <div class="btnWrap">
                        <div class="btnBox">
                          <button class="pendingApprovalBtn">승인대기</button>
                        </div>
                        <div class="btnBox">
                          <button class="deleteBtn">삭제</button>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class="smallWidth">
                    <input
                      type="text"
                      placeholder="18"
                      readonly
                      class="notWriteInput" />
                  </td>
                  <td>
                    <input
                      type="text"
                      placeholder="당진시"
                      readonly
                      class="notWriteInput" />
                  </td>
                  <td>
                    <input
                      type="text"
                      placeholder="하천계획과"
                      readonly
                      class="notWriteInput" />
                  </td>
                  <td>
                    <div class="btnWrap">
                      <div class="btnWrap">
                        <div class="btnBox">
                          <button class="pendingApprovalBtn">승인대기</button>
                        </div>
                        <div class="btnBox">
                          <button class="deleteBtn">삭제</button>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class="smallWidth">
                    <input
                      type="text"
                      placeholder="19"
                      readonly
                      class="notWriteInput" />
                  </td>
                  <td>
                    <input
                      type="text"
                      placeholder="당진시"
                      readonly
                      class="notWriteInput" />
                  </td>
                  <td>
                    <input
                      type="text"
                      placeholder="하천계획과"
                      readonly
                      class="notWriteInput" />
                  </td>
                  <td>
                    <div class="btnWrap">
                      <div class="btnWrap">
                        <div class="btnBox">
                          <button class="pendingApprovalBtn">승인대기</button>
                        </div>
                        <div class="btnBox">
                          <button class="deleteBtn">삭제</button>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class="smallWidth">
                    <input
                      type="text"
                      placeholder="20"
                      readonly
                      class="notWriteInput" />
                  </td>
                  <td>
                    <input
                      type="text"
                      placeholder="당진시"
                      readonly
                      class="notWriteInput" />
                  </td>
                  <td>
                    <input
                      type="text"
                      placeholder="하천계획과"
                      readonly
                      class="notWriteInput" />
                  </td>
                  <td>
                    <div class="btnWrap">
                      <div class="btnWrap">
                        <div class="btnBox">
                          <button class="pendingApprovalBtn">승인대기</button>
                        </div>
                        <div class="btnBox">
                          <button class="deleteBtn">삭제</button>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </section>

        <div class="finalBtnBox btnWrap">
          <!-- 관리기관 등록 팝업 호출 -->
          <button class="vividBlueBtn finalBtn">등록</button>
        </div>
      </main>
    </div>
    <div class="orgAdminRegisterPopWrapper"></div>
    <div class="orgAdminApprovePopWrapper"></div>
    <div class="orgAdminRevisePopWrapper"></div>
    <div class="orgAdminRegisterApprovePopWrapper"></div>
    <script type="module" src="/components/surfaceMain.js"></script>
    <script src="/components/js/menu03/orgAdmin.js"></script>
  </body>
</html>
