<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>점용 내역 상세정보</title>
    <link rel="stylesheet" href="/assets/css/header.css" />
    <link rel="stylesheet" href="css/gover/useDetail.css" />
  </head>

  <th:block layout:fragment="content">
    <!-- 점용 내역 상세정보 -->
    <div class="useDetailWrappers">
      <div class="useDetailHeader"></div>
      <main id="useDetail">
        <div class="mainTitle">
          <h1>점용 내역 상세정보</h1>
        </div>
        <!-- 기본 정보 -->
        <section class="defaultInfo">
          <div class="subTitle">
            <div class="subTitleText">기본 정보</div>

            <div class="btnbox">
              <button class="authHistBtn vividBlueBtn useDetailHistoryBtn">
                허가관청 이력보기
              </button>
            </div>
          </div>

          <div class="contWrap">
            <div class="depth1">
              <ul class="titles">
                <li class="title">관리번호</li>
                <li class="title">담당지사</li>
                <li class="title">용도</li>
                <li class="title">관로명(구간)</li>
                <li class="title">관경</li>
                <li class="title">단/복선</li>
                <li class="title">점용목적</li>
                <li class="title largeWidth">점용기간</li>
              </ul>
              <ul class="contents">
                <li class="content">
                  <input
                    type="text"
                    placeholder="G_000115"
                    readonly
                    class="notWriteInput" />
                </li>
                <li class="content">
                  <input
                    type="text"
                    placeholder="경인지사"
                    readonly
                    class="notWriteInput" />
                </li>
                <li class="content">
                  <input
                    type="text"
                    placeholder="송유관로"
                    readonly
                    class="notWriteInput" />
                </li>
                <li class="content">
                  <input
                    type="text"
                    placeholder="경인구간"
                    readonly
                    class="notWriteInput" />
                </li>
                <li class="content">
                  <input
                    type="text"
                    placeholder="660"
                    readonly
                    class="notWriteInput" />
                </li>
                <li class="content">
                  <input
                    type="text"
                    placeholder="단선"
                    readonly
                    class="notWriteInput" />
                </li>
                <li class="content">
                  <input
                    type="text"
                    placeholder="항만사용허가"
                    readonly
                    class="notWriteInput" />
                </li>
                <li class="content largeWidth">
                  <input
                    type="text"
                    placeholder="2018-01-01 ~2027-12-31"
                    readonly
                    class="notWriteInput" />
                </li>
              </ul>
            </div>
          </div>
        </section>
        <!-- 소속 토지 정보 -->
        <section class="landAdressInfo">
          <div class="subTitle">
            <div class="subTitleText">소속 토지 정보</div>
          </div>

          <div class="contWrap">
            <div class="depth1">
              <ul class="titles">
                <li class="title smallWidth">순번</li>
                <li class="title largeWidth">주소</li>
                <li class="title">전체면적</li>
                <li class="title">연장</li>
                <li class="title">면적</li>
                <li class="title">지도</li>
              </ul>
              <ul class="contents">
                <li class="content smallWidth">
                  <!-- 순번 -->
                  <input
                    type="text"
                    class="notWriteInput"
                    readonly
                    placeholder="1" />
                </li>
                <li class="content largeWidth">
                  <!-- 주소 -->
                  <input
                    type="text"
                    class="notWriteInput"
                    readonly
                    placeholder="경기도 고양시 덕양구 강매동 3-1" />
                </li>
                <li class="content">
                  <!-- 전체면적 -->
                  <input
                    type="text"
                    class="notWriteInput"
                    readonly
                    placeholder="이슈 삭제" />
                </li>
                <li class="content">
                  <!-- 연장 -->
                  <input
                    type="text"
                    class="notWriteInput"
                    readonly
                    placeholder="0" />
                </li>
                <li class="content">
                  <!-- 면적 -->
                  <input
                    type="text"
                    class="notWriteInput"
                    readonly
                    placeholder="1,276" />
                </li>
                <li class="content btnBox">
                  <!-- 지도 -->
                  <button class="lightBlueBtn viewDetailButton">
                    위치보기
                  </button>
                </li>
              </ul>
              <ul class="contents">
                <li class="content smallWidth">
                  <!-- 순번 -->
                  <input
                    type="text"
                    class="notWriteInput"
                    readonly
                    placeholder="2" />
                </li>
                <li class="content largeWidth">
                  <!-- 주소 -->
                  <input
                    type="text"
                    class="notWriteInput"
                    readonly
                    placeholder="경기도 고양시 덕양구 도내동 723-2" />
                </li>
                <li class="content">
                  <!-- 전체면적 -->
                  <input
                    type="text"
                    class="notWriteInput"
                    readonly
                    placeholder="이슈 수정" />
                </li>
                <li class="content">
                  <!-- 연장 -->
                  <input
                    type="text"
                    class="notWriteInput"
                    readonly
                    placeholder="0" />
                </li>
                <li class="content">
                  <!-- 면적 -->
                  <input
                    type="text"
                    class="notWriteInput"
                    readonly
                    placeholder="208" />
                </li>
                <li class="content btnBox">
                  <!-- 지도 -->
                  <button class="lightBlueBtn viewDetailButton">
                    위치보기
                  </button>
                </li>
              </ul>
            </div>
          </div>
        </section>
        <!-- 점용 허가 정보 -->
        <section class="permitInfo">
          <div class="subTitle">
            <div class="subTitleText">점용 허가 정보</div>
          </div>

          <div class="contWrap">
            <div class="depth1">
              <ul class="titles">
                <li class="title">순번</li>
                <li class="title largeWidth">허가번호</li>
                <li class="title largeWidth">허가명</li>
                <li class="title middleWidth">시설명칭</li>
                <li class="title largeWidth">허가관청</li>
                <li class="title middleWidth">관리청</li>
                <li class="title">연장</li>
                <li class="title">면적</li>
                <li class="title middleWidth">도시계획 결정여부</li>
                <li class="title middleWidth">결재문서 조회</li>
              </ul>

              <ul class="contents">
                <li class="content">
                  <input
                    type="text"
                    placeholder="1"
                    class="notWriteInput"
                    readonly />
                </li>
                <li class="content largeWidth">
                  <input
                    type="text"
                    placeholder="제녹 2022-8호"
                    class="notWriteInput"
                    readonly />
                </li>
                <li class="content largeWidth">
                  <input
                    type="text"
                    placeholder="녹지점용허가"
                    class="notWriteInput"
                    readonly />
                </li>
                <li class="content middleWidth">
                  <input
                    type="text"
                    placeholder="송유관로"
                    class="notWriteInput"
                    readonly />
                </li>
                <li class="content largeWidth">
                  <input
                    type="text"
                    placeholder="인천지방해양수산청"
                    class="notWriteInput"
                    readonly />
                </li>
                <li class="content middleWidth">
                  <input
                    type="text"
                    placeholder="해양수산환경과"
                    class="notWriteInput"
                    readonly />
                </li>
                <li class="content">
                  <input
                    type="text"
                    placeholder="29.04"
                    class="notWriteInput"
                    readonly />
                </li>
                <li class="content">
                  <input
                    type="text"
                    placeholder="319.5"
                    class="notWriteInput"
                    readonly />
                </li>
                <li class="content middleWidth">
                  <input
                    type="text"
                    placeholder="Y"
                    class="notWriteInput"
                    readonly />
                </li>
                <li class="content middleWidth btnBox">
                  <button class="lightBlueBtn viewDetailButton">
                    상세보기
                  </button>
                </li>
              </ul>
              <ul class="contents">
                <li class="content">
                  <input
                    type="text"
                    placeholder="2"
                    class="notWriteInput"
                    readonly />
                </li>
                <li class="content largeWidth">
                  <input
                    type="text"
                    placeholder="제녹 2022-8호"
                    class="notWriteInput"
                    readonly />
                </li>
                <li class="content largeWidth">
                  <input
                    type="text"
                    placeholder="항만사용허가"
                    class="notWriteInput"
                    readonly />
                </li>
                <li class="content middleWidth">
                  <input
                    type="text"
                    placeholder="송유관로"
                    class="notWriteInput"
                    readonly />
                </li>
                <li class="content largeWidth">
                  <input
                    type="text"
                    placeholder="인천지방해양수산청"
                    class="notWriteInput"
                    readonly />
                </li>
                <li class="content middleWidth">
                  <input
                    type="text"
                    placeholder="해양수산환경과"
                    class="notWriteInput"
                    readonly />
                </li>
                <li class="content">
                  <input
                    type="text"
                    placeholder="29.04"
                    class="notWriteInput"
                    readonly />
                </li>
                <li class="content">
                  <input
                    type="text"
                    placeholder="319.5"
                    class="notWriteInput"
                    readonly />
                </li>
                <li class="content middleWidth">
                  <input
                    type="text"
                    placeholder="Y"
                    class="notWriteInput"
                    readonly />
                </li>
                <li class="content middleWidth btnBox">
                  <button class="lightBlueBtn viewDetailButton">
                    상세보기
                  </button>
                </li>
              </ul>
            </div>
          </div>
        </section>
        <!-- 점용 허가 및 점용료 납부현황 -->
        <section class="permFeeStat">
          <div class="subTitle">
            <div class="subTitleText">점용 허가 및 점용료 납부현황</div>
          </div>

          <div class="contWrap">
            <!-- <div class="depth1">
                    <ul class="titles">
                        <li class="title"></li>
                        <li class="title"></li>
                    </ul>
                </div> -->

            <table>
              <caption class="hiddenCaption">
                점용 허가 및 점용료 납부현황
              </caption>
              <thead>
                <tr>
                  <th rowspan="2" class="smallWidth">순번</th>
                  <th colspan="3">점용허가 유효기간</th>
                  <th colspan="2">허가기관 담당 부서</th>
                  <th colspan="3">점용료 납부현황</th>
                </tr>
                <tr>
                  <th>시작일</th>
                  <th>종료일</th>
                  <th class="largeWidth">부서</th>
                  <th class="middleWidth">담당자</th>
                  <th class="largeWidth">연락처</th>
                  <th>납부방법</th>
                  <th>납부연월일</th>
                  <th>금액</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="smallWidth">
                    <input
                      type="text"
                      placeholder="1"
                      class="notWriteInput"
                      readonly />
                  </td>
                  <td>
                    <input
                      type="text"
                      placeholder="2018-01-01"
                      class="notWriteInput"
                      readonly />
                  </td>
                  <td>
                    <input type="text" class="notWriteInput" readonly />
                  </td>
                  <td class="largeWidth">
                    <input type="text" class="notWriteInput" readonly />
                  </td>
                  <td class="middleWidth">
                    <input type="text" class="notWriteInput" readonly />
                  </td>
                  <td class="largeWidth">
                    <input type="text" class="notWriteInput" readonly />
                  </td>
                  <td>
                    <input
                      type="text"
                      placeholder="가상계좌"
                      class="notWriteInput"
                      readonly />
                  </td>
                  <td>
                    <input
                      type="text"
                      placeholder="2018-03-27"
                      class="notWriteInput"
                      readonly />
                  </td>
                  <td>
                    <input
                      type="text"
                      placeholder="943,800"
                      class="notWriteInput"
                      readonly />
                  </td>
                </tr>
                <!-- 2번째 줄 -->
                <tr>
                  <td class="smallWidth">
                    <input
                      type="text"
                      placeholder="2"
                      class="notWriteInput"
                      readonly />
                  </td>
                  <td>
                    <input
                      type="text"
                      placeholder="2018-01-01"
                      class="notWriteInput"
                      readonly />
                  </td>
                  <td>
                    <input type="text" class="notWriteInput" readonly />
                  </td>
                  <td class="largeWidth">
                    <input type="text" class="notWriteInput" readonly />
                  </td>
                  <td class="middleWidth">
                    <input type="text" class="notWriteInput" readonly />
                  </td>
                  <td class="largeWidth">
                    <input type="text" class="notWriteInput" readonly />
                  </td>
                  <td>
                    <input
                      type="text"
                      placeholder="가상계좌"
                      class="notWriteInput"
                      readonly />
                  </td>
                  <td>
                    <input
                      type="text"
                      placeholder="2018-03-27"
                      class="notWriteInput"
                      readonly />
                  </td>
                  <td>
                    <input
                      type="text"
                      placeholder="15,566,040"
                      class="notWriteInput"
                      readonly />
                  </td>
                </tr>
                <!-- 3번째 줄 -->
                <tr>
                  <td class="smallWidth">
                    <input
                      type="text"
                      placeholder="3"
                      class="notWriteInput"
                      readonly />
                  </td>
                  <td>
                    <input
                      type="text"
                      placeholder="2018-01-01"
                      class="notWriteInput"
                      readonly />
                  </td>
                  <td>
                    <input type="text" class="notWriteInput" readonly />
                  </td>
                  <td class="largeWidth">
                    <input
                      type="text"
                      class="notWriteInput"
                      readonly
                      placeholder="건설과" />
                  </td>
                  <td class="middleWidth">
                    <input
                      type="text"
                      class="notWriteInput"
                      readonly
                      placeholder="김철수" />
                  </td>
                  <td class="largeWidth">
                    <input
                      type="text"
                      class="notWriteInput"
                      readonly
                      placeholder="062-960-8681" />
                  </td>
                  <td>
                    <input
                      type="text"
                      placeholder="지로납부"
                      class="notWriteInput"
                      readonly />
                  </td>
                  <td>
                    <input
                      type="text"
                      placeholder="2018-03-27"
                      class="notWriteInput"
                      readonly />
                  </td>
                  <td>
                    <input
                      type="text"
                      placeholder="15,566,040"
                      class="notWriteInput"
                      readonly />
                  </td>
                </tr>
                <!-- 4번째 줄 -->
                <tr>
                  <td class="smallWidth">
                    <input
                      type="text"
                      placeholder="4"
                      class="notWriteInput"
                      readonly />
                  </td>
                  <td>
                    <input
                      type="text"
                      placeholder="2018-01-01"
                      class="notWriteInput"
                      readonly />
                  </td>
                  <td>
                    <input type="text" class="notWriteInput" readonly />
                  </td>
                  <td class="largeWidth">
                    <input
                      type="text"
                      class="notWriteInput"
                      readonly
                      placeholder="건설과" />
                  </td>
                  <td class="middleWidth">
                    <input
                      type="text"
                      class="notWriteInput"
                      readonly
                      placeholder="김철수" />
                  </td>
                  <td class="largeWidth">
                    <input
                      type="text"
                      class="notWriteInput"
                      readonly
                      placeholder="062-960-8681" />
                  </td>
                  <td>
                    <input
                      type="text"
                      placeholder="지로납부"
                      class="notWriteInput"
                      readonly />
                  </td>
                  <td>
                    <input
                      type="text"
                      placeholder="2018-03-27"
                      class="notWriteInput"
                      readonly />
                  </td>
                  <td>
                    <input
                      type="text"
                      placeholder="15,566,040"
                      class="notWriteInput"
                      readonly />
                  </td>
                </tr>
                <!-- 5번째 줄 -->
                <tr>
                  <td class="smallWidth">
                    <input
                      type="text"
                      placeholder="5"
                      class="notWriteInput"
                      readonly />
                  </td>
                  <td>
                    <input
                      type="text"
                      placeholder="2018-01-01"
                      class="notWriteInput"
                      readonly />
                  </td>
                  <td>
                    <input type="text" class="notWriteInput" readonly />
                  </td>
                  <td class="largeWidth">
                    <input
                      type="text"
                      class="notWriteInput"
                      readonly
                      placeholder="건설과" />
                  </td>
                  <td class="middleWidth">
                    <input
                      type="text"
                      class="notWriteInput"
                      readonly
                      placeholder="김철수" />
                  </td>
                  <td class="largeWidth">
                    <input
                      type="text"
                      class="notWriteInput"
                      readonly
                      placeholder="062-960-8681" />
                  </td>
                  <td>
                    <input
                      type="text"
                      placeholder="지로납부"
                      class="notWriteInput"
                      readonly />
                  </td>
                  <td>
                    <input
                      type="text"
                      placeholder="2018-03-27"
                      class="notWriteInput"
                      readonly />
                  </td>
                  <td>
                    <input
                      type="text"
                      placeholder="15,566,040"
                      class="notWriteInput"
                      readonly />
                  </td>
                </tr>
                <!-- 6번째 줄 -->
                <tr>
                  <td class="smallWidth">
                    <input
                      type="text"
                      placeholder="6"
                      class="notWriteInput"
                      readonly />
                  </td>
                  <td>
                    <input
                      type="text"
                      placeholder="2018-01-01"
                      class="notWriteInput"
                      readonly />
                  </td>
                  <td>
                    <input type="text" class="notWriteInput" readonly />
                  </td>
                  <td class="largeWidth">
                    <input
                      type="text"
                      class="notWriteInput"
                      readonly
                      placeholder="건설과" />
                  </td>
                  <td class="middleWidth">
                    <input
                      type="text"
                      class="notWriteInput"
                      readonly
                      placeholder="김철수" />
                  </td>
                  <td class="largeWidth">
                    <input
                      type="text"
                      class="notWriteInput"
                      readonly
                      placeholder="062-960-8681" />
                  </td>
                  <td>
                    <input
                      type="text"
                      placeholder="지로납부"
                      class="notWriteInput"
                      readonly />
                  </td>
                  <td>
                    <input
                      type="text"
                      placeholder="2018-03-27"
                      class="notWriteInput"
                      readonly />
                  </td>
                  <td>
                    <input
                      type="text"
                      placeholder="15,566,040"
                      class="notWriteInput"
                      readonly />
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </section>

        <!-- 첨부파일 -->
        <section class="attachFileInfo">
          <div class="subTitle">
            <div class="subTitleText">첨부파일</div>
          </div>
          <div class="contWrap">
            <div class="depth1">
              <ul class="titles titleScr">
                <li class="title">날짜</li>
                <li class="title fileNameWidth">파일명</li>
                <li class="title">파일보기</li>
              </ul>
              <div class="contentScr">
                <ul class="contents">
                  <li class="content">
                    <input
                      type="text"
                      placeholder="2022-06-30"
                      readonly
                      class="notWriteInput" />
                  </li>
                  <li class="content fileNameWidth">
                    <input
                      type="text"
                      placeholder="경과보고 4. hwp"
                      readonly
                      class="notWriteInput" />
                  </li>
                  <li class="content btnBox">
                    <button class="viewDetailButton lightBlueBtn">
                      상세보기 <span class="downloadIcon"></span>
                    </button>
                  </li>
                </ul>
                <ul class="contents">
                  <li class="content">
                    <input
                      type="text"
                      placeholder="2022-06-21"
                      readonly
                      class="notWriteInput" />
                  </li>
                  <li class="content fileNameWidth">
                    <input
                      type="text"
                      placeholder="지적측량 결과 - 평택시 월곡동 산32-6번지.pdf"
                      readonly
                      class="notWriteInput" />
                  </li>
                  <li class="content btnBox">
                    <button class="viewDetailButton lightBlueBtn">
                      상세보기 <span class="downloadIcon"></span>
                    </button>
                  </li>
                </ul>
                <ul class="contents">
                  <li class="content">
                    <input
                      type="text"
                      placeholder="2022-06-21"
                      readonly
                      class="notWriteInput" />
                  </li>
                  <li class="content fileNameWidth">
                    <input
                      type="text"
                      placeholder="송유관 측량 표시.hwp"
                      readonly
                      class="notWriteInput" />
                  </li>
                  <li class="content btnBox">
                    <button class="viewDetailButton lightBlueBtn">
                      상세보기 <span class="downloadIcon"></span>
                    </button>
                  </li>
                </ul>
                <ul class="contents">
                  <li class="content">
                    <input
                      type="text"
                      placeholder="2022-06-21"
                      readonly
                      class="notWriteInput" />
                  </li>
                  <li class="content fileNameWidth">
                    <input
                      type="text"
                      placeholder="송유관 측량 표시.hwp"
                      readonly
                      class="notWriteInput" />
                  </li>
                  <li class="content btnBox">
                    <button class="viewDetailButton lightBlueBtn">
                      상세보기 <span class="downloadIcon"></span>
                    </button>
                  </li>
                </ul>
                <ul class="contents">
                  <li class="content">
                    <input
                      type="text"
                      placeholder="2022-06-21"
                      readonly
                      class="notWriteInput" />
                  </li>
                  <li class="content fileNameWidth">
                    <input
                      type="text"
                      placeholder="송유관 측량 표시.hwp"
                      readonly
                      class="notWriteInput" />
                  </li>
                  <li class="content btnBox">
                    <button class="viewDetailButton lightBlueBtn">
                      상세보기 <span class="downloadIcon"></span>
                    </button>
                  </li>
                </ul>
                <ul class="contents">
                  <li class="content">
                    <input
                      type="text"
                      placeholder="2022-06-21"
                      readonly
                      class="notWriteInput" />
                  </li>
                  <li class="content fileNameWidth">
                    <input
                      type="text"
                      placeholder="송유관 측량 표시.hwp"
                      readonly
                      class="notWriteInput" />
                  </li>
                  <li class="content btnBox">
                    <button class="viewDetailButton lightBlueBtn">
                      상세보기 <span class="downloadIcon"></span>
                    </button>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </section>

        <!-- 변경이력 -->

        <section class="changeHistory">
          <div class="subTitle">
            <div class="subTitleText">변경이력</div>
          </div>

          <div class="contWrap">
            <div class="contBox">
              <div class="contentDetailBox">
                <div class="depth1">
                  <ul class="titles titleScr">
                    <li class="title smallWidth">순번</li>
                    <li class="title">변경일시</li>
                    <li class="title">구분</li>
                    <li class="title largeWidth">내용</li>
                  </ul>
                  <div class="contentScr">
                    <ul class="contents">
                      <li class="content smallWidth">
                        <input
                          type="text"
                          class="notWriteInput"
                          placeholder="1"
                          readonly />
                      </li>
                      <li class="content">
                        <input
                          type="text"
                          class="notWriteInput"
                          placeholder="2024-04-02 15:40:01"
                          readonly />
                      </li>
                      <li class="content">
                        <input
                          type="text"
                          class="notWriteInput"
                          placeholder="기본 정보"
                          readonly />
                      </li>
                      <li class="content largeWidth textareaWrap">
                        <input
                          type="text"
                          placeholder="국공유지 여부 변경 (‘N’ > ‘’)"
                          readonly
                          class="notWriteInput" />
                      </li>
                    </ul>
                    <ul class="contents">
                      <li class="content smallWidth">
                        <input
                          type="text"
                          class="notWriteInput"
                          placeholder="2"
                          readonly />
                      </li>
                      <li class="content">
                        <input
                          type="text"
                          class="notWriteInput"
                          placeholder="2024-04-02 15:40:01"
                          readonly />
                      </li>
                      <li class="content">
                        <input
                          type="text"
                          class="notWriteInput"
                          placeholder="기본정보"
                          readonly />
                      </li>
                      <li class="content largeWidth textareaWrap">
                        <textarea
                          readonly
                          placeholder="허가관청 변경 (‘’ -> 여수시)&#13;&#10;관리기관 변경 (‘’ -> ‘도로관리사업소')"></textarea>
                      </li>
                    </ul>
                    <ul class="contents">
                      <li class="content smallWidth">
                        <input
                          type="text"
                          class="notWriteInput"
                          placeholder="3"
                          readonly />
                      </li>
                      <li class="content">
                        <input
                          type="text"
                          class="notWriteInput"
                          placeholder="2024-04-02 15:40:01"
                          readonly />
                      </li>
                      <li class="content">
                        <input
                          type="text"
                          class="notWriteInput"
                          placeholder="기본정보"
                          readonly />
                      </li>
                      <li class="content largeWidth textareaWrap">
                        <textarea
                          readonly
                          placeholder="허가관청 변경 (‘’ -> 여수시)&#13;&#10;관리기관 변경 (‘’ -> ‘도로관리사업소')"></textarea>
                      </li>
                    </ul>
                    <ul class="contents">
                      <li class="content smallWidth">
                        <input
                          type="text"
                          class="notWriteInput"
                          placeholder="4"
                          readonly />
                      </li>
                      <li class="content">
                        <input
                          type="text"
                          class="notWriteInput"
                          placeholder="2024-04-02 15:40:01"
                          readonly />
                      </li>
                      <li class="content">
                        <input
                          type="text"
                          class="notWriteInput"
                          placeholder="기본정보"
                          readonly />
                      </li>
                      <li class="content largeWidth textareaWrap">
                        <textarea
                          readonly
                          placeholder="허가관청 변경 (‘’ -> 여수시)&#13;&#10;관리기관 변경 (‘’ -> ‘도로관리사업소')"></textarea>
                      </li>
                    </ul>
                    <ul class="contents">
                      <li class="content smallWidth">
                        <input
                          type="text"
                          class="notWriteInput"
                          placeholder="5"
                          readonly />
                      </li>
                      <li class="content">
                        <input
                          type="text"
                          class="notWriteInput"
                          placeholder="2024-04-02 15:40:01"
                          readonly />
                      </li>
                      <li class="content">
                        <input
                          type="text"
                          class="notWriteInput"
                          placeholder="기본정보"
                          readonly />
                      </li>
                      <li class="content largeWidth textareaWrap">
                        <textarea
                          readonly
                          placeholder="허가관청 변경 (‘’ -> 여수시)&#13;&#10;관리기관 변경 (‘’ -> ‘도로관리사업소')"></textarea>
                      </li>
                    </ul>
                    <ul class="contents lastContents">
                      <li class="content smallWidth">
                        <input
                          type="text"
                          class="notWriteInput"
                          placeholder="6"
                          readonly />
                      </li>
                      <li class="content">
                        <input
                          type="text"
                          class="notWriteInput"
                          placeholder="2024-04-02 15:40:01"
                          readonly />
                      </li>
                      <li class="content">
                        <input
                          type="text"
                          class="notWriteInput"
                          placeholder="파일 정보"
                          readonly />
                      </li>
                      <li class="content largeWidth textareaWrap">
                        <textarea
                          readonly
                          placeholder="허가관청 변경 (‘’ -> 여수시)&#13;&#10;관리기관 변경 (‘’ -> ‘도로관리사업소')"></textarea>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <div class="finalBtnBox btnWrap">
          <button class="backBtn grayBtn finalBtn">이전</button>
          <button class="vividBlueBtn finalBtn">출력</button>
          <button class="finalBtn deepGrayBtn">상신취소</button>
        </div>
      </main>
    </div>
    <div class="useDetailChangeHistoryWrapper"></div>
    <!-- script -->
    <script type="module" src="/js/module/surfaceMain.js"></script>
    <script src="/js/gover/useDetail.js"></script>
 </th:block>
</html>
